schema/Star/BODs/Standalone/ProcessPartsTransfer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1" xmlns:oacl="http://www.openapplications.org/oagis/9/codelists" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sqdt="http://www.starstandard.org/STAR/5/qualifieddatatypes/1.0" xmlns="http://www.starstandard.org/STAR/5" xmlns:ccts="urn:un:unece:uncefact:documentation:1.1" xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1" xmlns:scl="http://www.starstandard.org/STAR/5/codelists" xmlns:oagis="http://www.openapplications.org/oagis/9" xmlns:star="http://www.starstandard.org/STAR/5" targetNamespace="http://www.starstandard.org/STAR/5" elementFormDefault="qualified" attributeFormDefault="unqualified" blockDefault="#all">
    <xsd:import namespace="http://www.starstandard.org/STAR/5/qualifieddatatypes/1.0" schemaLocation="../../Resources/Components/Common/QualifiedDataTypes.xsd" />
    <xsd:import namespace="http://www.starstandard.org/STAR/5/codelists" schemaLocation="../../Resources/Components/Common/CodeLists.xsd" />
    <xsd:import namespace="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1" schemaLocation="../../Resources/Components/OAGIS/CoreComponents/QualifiedDataTypes.xsd" />
    <xsd:import namespace="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1" schemaLocation="../../Resources/Components/OAGIS/CoreComponents/UnqualifiedDataTypes.xsd" />
    <xsd:import namespace="http://www.openapplications.org/oagis/9/codelists" schemaLocation="../../Resources/Components/OAGIS/Common/CodeLists.xsd" />
    <xsd:import namespace="http://www.openapplications.org/oagis/9/currencycode/54217:2001" schemaLocation="../../Resources/Components/OAGIS/CoreComponents/CodeList_CurrencyCode_ISO_7_04.xsd" />
    <xsd:import namespace="http://www.openapplications.org/oagis/9/languagecode/5639:1988" schemaLocation="../../Resources/Components/OAGIS/CoreComponents/CodeList_LanguageCode_ISO_7_04.xsd" />
    <xsd:import namespace="http://www.openapplications.org/oagis/9/IANAMIMEMediaTypes:2003" schemaLocation="../../Resources/Components/OAGIS/CoreComponents/CodeList_MIMEMediaTypeCode_IANA_7_04.xsd" />
    <xsd:import namespace="http://www.openapplications.org/oagis/9/unitcode/66411:2001" schemaLocation="../../Resources/Components/OAGIS/CoreComponents/CodeList_UnitCode_UNECE_7_04.xsd" />
    <xsd:import namespace="http://www.openapplications.org/oagis/9" schemaLocation="../../Resources/Components/OAGIS/Common/Components.xsd" />
    <xsd:element name="AgencyRoleCode" type="sqdt:AgencyRoleCodeType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">The agency role that defined the Document ID. An example of an agency may be a manufacturer, a retail system provider, etc. This list does not contain specific entity names, only roles. See enumerated list.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="AlternateDocumentIdentification" type="DocumentIdentificationType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">An alternate identification that uniquely identifies this document in addition to the Document ID, e.g., Part Order Number, Parts Purchase Order Number or Parts Invoice Number.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ApplicableLocation" type="LocationABIEType">
        <xsd:annotation>
            <xsd:documentation>A location where a particular set of information applies. i.e. if found in the price component this specifies the location within a country that the price may apply.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ApplicationArea" type="ApplicationAreaType">
        <xsd:annotation>
            <xsd:documentation source="http://www.openapplications.org/oagis/9">Provides the information that an application may need to know in order to communicate in an integration of two or more business applications. The ApplicationArea is used at the applications layer of communication. While the integration frameworks web services and middleware provide the communication layer that OAGIS operates on top of.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="AreaNumber" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="AuthorizationID" type="udt:IdentifierType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="BODID" type="udt:IdentifierType">
        <xsd:annotation>
            <xsd:documentation source="http://www.openapplications.org/oagis/9">The BODId provides a place to carry a Globally Unique Identifier (GUID) that will make each Business Object Document instance uniquely identifiable. This is a critical success factor to enable software developers to use the Globally Unique Identifier (GUID) to build the following services or capabilities: 1. Legally binding transactions, 2. Transaction logging, 3. Exception handling, 4. Re-sending, 5. Reporting, 6. Confirmations, 7. Security.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ChargeAmount" type="udt:AmountType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">The monetary value of the price charged.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ComponentID" type="udt:IdentifierType">
        <xsd:annotation>
            <xsd:documentation source="http://www.openapplications.org/oagis/9">Provides a finer level of control than Logical Identifier and represents the business application that issued the Business Object Document. Its use is optional. The Open Applications Group has not constructed the list of valid Component names. A suggestion for naming is to use the application component names used in the scenario diagrams in section two of OAGIS. Example Components may be Inventory, or Payroll.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ConfirmationCode" type="scl:ConfirmationEnumeratedType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Confirmation</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="CountryID" type="sqdt:CountryCodeType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">A unique country identifier.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="CountryName" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">A name, expressed as text, of the country.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="CountrySubDivisionName" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">A name, expressed as text, of the sub-division of a country.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="CreationDateTime" type="udt:DateTimeType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="CreatorNameCode" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="CriticalTransferIndicator" type="udt:IndicatorType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Indicator to distinguish if transfer line item is critical for transfer-to location.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DealerCountryCode" type="scl:CountryEnumeratedType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DealerNumberID" type="udt:IdentifierType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DealerTargetCountry" type="scl:CountryEnumeratedType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DeliverPendingMailIndicator" type="udt:IndicatorType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="Description" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="Destination" type="DestinationType">
        <xsd:annotation>
            <xsd:documentation>Destination</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DestinationNameCode" type="udt:CodeType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Code for destination of file (i.e.Short Manufacturer or DSP code)</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DestinationSoftware" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DestinationSoftwareCode" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DestinationURI" type="qdt:URIType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DistrictID" type="udt:IdentifierType">
        <xsd:annotation>
            <xsd:documentation>An identifier for the District an organization resides.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DocumentDateTime" type="udt:DateTimeType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">The date and time that the event being documented, for example the Parts Order, occurred.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DocumentID" type="udt:IdentifierType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">The DocumentID is the identifier for the document. This identifier is a GUID or other unique identifier set by the creator of the document.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DocumentIdentification" type="DocumentIdentificationType">
        <xsd:annotation>
            <xsd:documentation>A group of identifications that uniquely identifies this document</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DocumentIdentificationGroup" type="DocumentIdentificationGroupType">
        <xsd:annotation>
            <xsd:documentation>A group of identifications that uniquely identifies this document</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DocumentReference" type="DocumentReferenceABIEType">
        <xsd:annotation>
            <xsd:documentation>The DocumentReference component represents information referenced documents, e.g., Orders, Leads, Invoices, etc.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="FreeFormTextGroup" type="FreeFormTextGroupType">
        <xsd:annotation>
            <xsd:documentation>This component allows for the free form entry of notes and text descriptions. Detailed data should use one of the existing fields or submit a modification request back to STAR to capture the appropriate data.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="LanguageCode" type="sqdt:LanguageCodeType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="LocationDescription" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">A free-form text description of a physical location.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="LocationID" type="udt:IdentifierType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Code identifying a physical location</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="LocationName" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">A name to identify the location.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="LocationReceiverID" type="udt:IdentifierType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="LocationTypeCode" type="sqdt:LocationTypeCodeType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Type of location.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="LogicalID" type="udt:IdentifierType">
        <xsd:annotation>
            <xsd:documentation source="http://www.openapplications.org/oagis/9">Provides the logical location of the server and applications from which the Business Object Document originated. It can be used to establish a logical to physical mapping, however its use is optional. Each system or combination of systems should maintain an external central reference table containing the logical names or logical addresses of the application systems in the integration configuration. This enables the logical names to be mapped to the physical network addresses of the resources needed on the network. Note: The technical implementation of this Domain Naming Service is not dictated by this specification. This logical to physical mapping may be done at execution time by the application itself or by a middleware transport mechanism, depending on the integration architecture used. This provides for a simple but effective directory access capability while maintaining application independence from the physical location of those resources on the network</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="Note" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Free-form text field describing a note.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="NounCountNumeric" type="udt:NumericType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">The number of nouns that are included in the BOD.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="PartsTransfer" type="PartsTransferType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Parts Transfer. This Noun communicates information regarding the transfer of parts from one dealer location to another dealer location.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="PartsTransferHeader" type="PartsTransferHeaderType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Part Transfer Header</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="PartsTransferLineItem" type="PartsTransferLineItemType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Parts Transfer Line Items</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="PartyID" type="udt:IdentifierType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Party identification number used to uniquely identify a party for example Dealer ID, Fleet, etc.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="PartyReceiverID" type="udt:IdentifierType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="Password" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="Price" type="PriceABIEType">
        <xsd:annotation>
            <xsd:documentation>Price information</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="PriceCode" type="scl:PriceEnumeratedType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Indicates the type of price.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="PriceDescription" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">A textual description of price.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="PriceHideIndicator" type="udt:IndicatorType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">This field indicates whether or not this price should be displayed.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="PriceSourceCode" type="udt:CodeType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Indicates the source (e.g., Quote, MSRP, Invoice, BlueBook) of the price type of this price.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="Pricing" type="PricingABIEType">
        <xsd:annotation>
            <xsd:documentation>Provides pricing infomation.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="PricingDeltaPercent" type="udt:PercentType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Used to express the price delta</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="PrimaryBinLocationTransferFrom" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Primary bin location for part at transfer-from dealer location.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="PrimaryBinLocationTransferTo" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Primary bin location for part at transfer-to dealer location.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="Process" type="oagis:ProcessType">
        <xsd:annotation>
            <xsd:documentation source="http://www.openapplications.org/oagis/9.0">The Process verb is used to request processing of the associated noun by the receiving application or business to party. In a typical external exchange scenario a Process BOD is considered to be a legally binding message. For example, if a customer sends a ProcessPurchaseOrder BOD to a supplier and the supplier acknowledges with a positive AcknowledgePurchaseOrder, then the customer is obligated to fulfill the agreement, unless of course other BODs are allowed to cancel or change the original order.</xsd:documentation>
            <xsd:documentation>The OAGIS Meta Data documentation has more information in regards to this verbs usage and structure.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ProcessPartsTransfer" type="ProcessPartsTransferType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Process Parts Transfer</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ProcessPartsTransferDataArea" type="ProcessPartsTransferDataAreaType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Process Parts Transfer Data Area</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="RecommendedTransferQuantity" type="udt:QuantityType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">The quantity that the inventory control system is recommending for transfer.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ReferenceID" type="udt:IdentifierType">
        <xsd:annotation>
            <xsd:documentation source="http://www.openapplications.org/oagis/9">Enables the sending application to indicate the instance identifier of the event or task that caused the BOD to be created. This allows drill back from the BOD message into the sending application. The may be required in environments where an audit trail must be maintained for all transactions.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="RouteMessageIndicator" type="udt:IndicatorType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">An indicator field used to dictate whether or not to route associated messages to corresponding locations.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="SecondaryDealerNumberID" type="udt:IdentifierType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Identifies secondary dealer number if different than primary "Dealer Number"</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="SecondaryPassword" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Secondary password used to validate access to the dealer information</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="Sender" type="SenderType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/">This identifies characteristics and control identifiers that relate to the application that created the Business Object Document.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="SenderNameCode" type="udt:CodeType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Additional information about the sending platform (i.e., Short Manufacturer or DSP code).</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ServiceID" type="udt:IdentifierType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">The Service Id field identifies the particular service to or from which a message is being sent, e.g., an inventory service.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ServiceMessageID" type="udt:IdentifierType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="StoreNumber" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="SystemVersion" type="qdt:StringType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="TaskID" type="udt:IdentifierType">
        <xsd:annotation>
            <xsd:documentation source="http://www.openapplications.org/oagis/9">Describes the business event that initiated the need for the Business Object Document to be created. Its use is optional. Although the Task may differ depending on the specific implementation, it is important to enable drill back capability. Example Tasks may be Receipt or Adjustment.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="TransferCode" type="udt:CodeType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">An identifier that indicates the type of transfer. (e.g., Direct Ship, Daily Ship, Transfer Order).</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="TransferFromCode" type="udt:CodeType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">The code for the dealer location from which parts will be transferred.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="TransferFromItemID" type="udt:IdentifierType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Part number reference for transfer-from dealer location.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="TransferFromPartManufacturer" type="udt:NameType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Part ownership / manufacturer reference for transfer-from dealer location.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="TransferFromType" type="TransferFromType">
        <xsd:annotation>
            <xsd:documentation>The TransferFromType component represents information about the part being transferred from a specific dealer location as well as information about that particular dealer location.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="TransferStatusCode" type="scl:TransferStatusEnumeratedType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">A code that that identifies the recommended transfer as either Processed or Unprocessed.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="TransferToCode" type="udt:CodeType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">The code for the dealer location to which parts will be transferred.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="TransferToItemID" type="udt:IdentifierType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Part number reference for transfer-to dealer location.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="TransferToPartManufacturer" type="udt:NameType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Part ownership / manufacturer reference for transfer-to dealer location.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="TransferToType" type="TransferToType">
        <xsd:annotation>
            <xsd:documentation>The TransferFromType component represents information about the part being transferred to a specific dealer location as well as information about the particular dealer location to which the part is being transferred.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="TransferType" type="TransferType">
        <xsd:annotation>
            <xsd:documentation>The TransferType component represents information about the part being transferred from a specific dealer location to a specific dealer location as well as information about the particular dealer location from and to which a part is being transferred.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="URI" type="qdt:URIType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="PartsTransferHeaderType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Parts Transfer Header information.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="HeaderBaseType">
                <xsd:sequence>
                    <xsd:element ref="FreeFormTextGroup" minOccurs="0" maxOccurs="1" />
                    <xsd:element name="TransferStatusCode" type="scl:TransferStatusEnumeratedType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation source="http://www.starstandard.org/STAR/5">A code that that identifies the recommended transfer as either Processed or Unprocessed.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element ref="DocumentReference" minOccurs="0" maxOccurs="unbounded" />
                    <xsd:element name="TransferCode" type="udt:CodeType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation source="http://www.starstandard.org/STAR/5">An identifier that indicates the type of transfer. (e.g., Direct Ship, Daily Ship, Transfer Order).</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="RouteMessageIndicator" type="udt:CodeType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation source="http://www.starstandard.org/STAR/5">An indicator field used to dictate whether or not to route associated messages to corresponding locations.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element ref="TransferType" minOccurs="0" maxOccurs="1" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="HeaderBaseType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="DocumentDateTime" type="udt:DateTimeType">
                <xsd:annotation>
                    <xsd:documentation>Is the date and time the document was last created. This is not the date and time that the BOD message instance was created.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="SecondaryPassword" type="udt:TextType">
                <xsd:annotation>
                    <xsd:documentation>Secondary password used to validate access to the dealer information</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="SecondaryDealerNumberID" type="udt:IdentifierType">
                <xsd:annotation>
                    <xsd:documentation>Identifies secondary dealer number if different than primary "Dealer Number"</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="1" ref="DocumentIdentificationGroup" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DocumentIdentificationGroupType">
        <xsd:annotation>
            <xsd:documentation>A list of identifications related to a particular document.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="DocumentIdentification" />
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="AlternateDocumentIdentification" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DocumentIdentificationType">
        <xsd:annotation>
            <xsd:documentation>An identifer for this document</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="DocumentID" type="udt:IdentifierType">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">The DocumentID is the identifier for the document. This identifier is a GUID or other unique identifier set by the creator of the document.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="AgencyRoleCode" type="sqdt:AgencyRoleCodeType">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">The agency role that defined the Document ID. An example of an agency may be a manufacturer, a retail system provider, etc. This list does not contain specific entity names, only roles. See enumerated list.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="FreeFormTextGroupType">
        <xsd:annotation>
            <xsd:documentation source="www.openapplications.org">The FreeFormTextGroupType component is used for providing free form text Notes and text Descriptions.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Note" type="udt:TextType">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">Free-form text field describing a note.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Description" type="udt:TextType">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org/STAR/5" />
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DocumentReferenceABIEType">
        <xsd:annotation>
            <xsd:documentation>The DocumentReferenceABIEType component represents information referenced documents, e.g., Orders, Leads, Invoices, etc.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" ref="DocumentIdentificationGroup" />
            <xsd:element maxOccurs="1" minOccurs="0" name="DocumentDateTime" type="udt:DateTimeType">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">The date and time that the event being documented, for example the Parts Order, occurred.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="TransferType">
        <xsd:annotation>
            <xsd:documentation>The TransferType component represents information about the part being transferred from a specific dealer location to a specific dealer location as well as information about the particular dealer location from and to which a part is being transferred.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="TransferFromType" />
            <xsd:element maxOccurs="unbounded" minOccurs="1" ref="TransferToType" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="TransferFromType">
        <xsd:annotation>
            <xsd:documentation>The TransferFromType component represents information about the part being transferred from a specific dealer location as well as information about that particular dealer location.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="TransferFromCode" type="udt:CodeType">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">The code for the dealer location from which parts will be transferred.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="TransferFromItemID" type="udt:IdentifierType">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">Part number reference for transfer-from dealer location.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="TransferFromPartManufacturer" type="udt:NameType">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">Part ownership / manufacturer reference for transfer-from dealer location.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="RecommendedTransferQuantity" type="udt:QuantityType">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">The quantity that the inventory control system is recommending for transfer.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="PrimaryBinLocationTransferFrom" type="udt:TextType">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">Primary bin location for part at transfer-from dealer location.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="TransferToType">
        <xsd:annotation>
            <xsd:documentation>The TransferFromType component represents information about the part being transferred to a specific dealer location as well as information about the particular dealer location to which the part is being transferred.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="TransferToCode" type="udt:CodeType">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">The code for the dealer location to which parts will be transferred.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="TransferToItemID" type="udt:IdentifierType">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">Part number reference for transfer-to dealer location.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="TransferToPartManufacturer" type="udt:NameType">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">Part ownership / manufacturer reference for transfer-to dealer location.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="RecommendedTransferQuantity" type="udt:QuantityType">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">The quantity that the inventory control system is recommending for transfer.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="PrimaryBinLocationTransferTo" type="udt:TextType">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">Primary bin location for part at transfer-to dealer location.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PartsTransferLineItemType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Parts Transfer Line items contain detail information about the individual parts being transferred.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="CriticalTransferIndicator" type="udt:IndicatorType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">Indicator to distinguish if transfer line item is critical for transfer-to location.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="FreeFormTextGroup" minOccurs="0" maxOccurs="1" />
            <xsd:element ref="Pricing" minOccurs="0" maxOccurs="1" />
            <xsd:element ref="TransferType" minOccurs="0" maxOccurs="1" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PricingABIEType">
        <xsd:annotation>
            <xsd:documentation />
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="PriceSourceCode" type="udt:CodeType">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">Indicates the source (e.g., Quote, MSRP, Invoice, BlueBook) of the price type of this price.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="PricingDeltaPercent" type="udt:PercentType">
                <xsd:annotation>
                    <xsd:documentation>Used to express delta between to multiple price types .</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="PriceHideIndicator" type="udt:IndicatorType">
                <xsd:annotation>
                    <xsd:documentation>This field indicates whether or not this price should be displayed.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="unbounded" minOccurs="1" ref="Price">
                <xsd:annotation>
                    <xsd:documentation>A sum of money for which something is or may be bought or sold.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PriceABIEType">
        <xsd:annotation>
            <xsd:documentation>A sum of money for which something is or may be bought or sold.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="PriceCode" type="scl:PriceEnumeratedType">
                <xsd:annotation>
                    <xsd:documentation>A code specifying the type of price.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="ChargeAmount" type="udt:AmountType">
                <xsd:annotation>
                    <xsd:documentation>The monetary value of the price charged.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="PriceDescription" type="udt:TextType">
                <xsd:annotation>
                    <xsd:documentation>A textual description of price.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="ApplicableLocation" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="LocationABIEType">
        <xsd:annotation>
            <xsd:documentation>A physical location or place</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="LocationID" type="udt:IdentifierType">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">Code identifying a physical location</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="LocationName" type="udt:TextType">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">A name to identify the location.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="LocationDescription" type="udt:TextType">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">A free-form text description of a physical location.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="DistrictID" type="udt:IdentifierType">
                <xsd:annotation>
                    <xsd:documentation>An identifier for the District an organization resides.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="LocationTypeCode" type="sqdt:LocationTypeCodeType">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">Type of location.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="CountryName" type="udt:TextType">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">A name, expressed as text, of the country.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="CountryID" type="sqdt:CountryCodeType">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">A unique country identifier.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="CountrySubDivisionName" type="udt:TextType">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">A name, expressed as text, of the sub-division of a country.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ProcessPartsTransferType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Process Parts Transfer Type</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="BusinessObjectDocumentType">
                <xsd:sequence>
                    <xsd:element ref="ProcessPartsTransferDataArea" minOccurs="1" maxOccurs="1" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="BusinessObjectDocumentType">
        <xsd:annotation>
            <xsd:documentation>Is the schema based inheritance for all BODs. The logical model would also include the DataArea.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="ApplicationArea">
                <xsd:annotation>
                    <xsd:documentation source="http://www.openapplications.org/oagis/9">Provides the information that an application may need to know in order to communicate in an integration of two or more business applications. The ApplicationArea is used at the applications layer of communication. While the integration frameworks web services and middleware provide the communication layer that OAGIS operates on top of.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="releaseID" type="udt:string" use="required">
            <xsd:annotation>
                <xsd:documentation source="http://www.openapplications.org/oagis/9.0">STAR Release this BOD Instances belongs. This should contain the STAR repository version in the following recommended format. 5.1.4_M20080328. Where the first part indicates the version of the STAR repository and anything after the "_" indicates the Milestone build that is being used. If referring to an official published version then only the STAR Repository version is required.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="versionID" type="udt:string" use="optional">
            <xsd:annotation>
                <xsd:documentation source="http://www.starstandard.org">Deprecated. Recommended to use releaseID to identify the repository and noun. This field may be removed in the next major version of the STAR repository.</xsd:documentation>
                <xsd:documentation source="http://www.openapplications.org/oagis/9">Indicates the version of the given BOD defintion.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute default="Production" name="systemEnvironmentCode" type="oacl:SystemEnvironmentCodeContentType" use="optional">
            <xsd:annotation>
                <xsd:documentation source="http://www.openapplications.org/oagis/9">Indicates whether this BOD is being sent in a "Test" or a "Production" mode. If the BOD is being sent in a test mode, it's information should not affect the business operation. However, if the BOD is sent in "Production" mode it is assumed that all test has been complete and the contents of the BOD are to affect the operation of the receiving business application(s).</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute default="en-US" name="languageCode" type="scl:LanguageEnumeratedType" use="optional">
            <xsd:annotation>
                <xsd:documentation source="http://www.openapplications.org/oagis/9">Indicates the language that the contents of the BOD is in unless otherwise stated.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="ApplicationAreaType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="Sender">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org/">This identifies characteristics and control identifiers that relate to the application that created the Business Object Document.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="1" name="CreationDateTime" type="udt:DateTimeType">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org">This is used as the creation moment of this Business Object Document.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" ref="oagis:Signature">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org">If the BOD is to be signed the signature element is included, otherwise it is not. Signature supports any digital signature that maybe used by an implementation of OAGIS. The qualifyingAgency identifies the agency that provided the format for the signature.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" ref="BODID">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org">The BODId provides a place to carry a Globally Unique Identifier (GUID) that will make each Business Object Document instance uniquely identifiable. This is a critical success factor to enable software developers to use the Globally Unique Identifier (GUID) to build services or capabilities:</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="1" ref="Destination">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org">This identifies characteristics and control identifiers that relate to the application that receives the Business Object Document.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SenderType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/">This identifies characteristics and control identifiers that relate to the application that created the Business Object Document.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="SenderBaseType">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="CreatorNameCode" type="udt:TextType">
                        <xsd:annotation>
                            <xsd:documentation source="http://www.starstandard.org">DCS Software Creator Code</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="1" name="SenderNameCode" type="udt:CodeType">
                        <xsd:annotation>
                            <xsd:documentation source="http://www.starstandard.org">Additional information about the sending platform (i.e., Short Manufacturer or DSP code).</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="URI" type="qdt:URIType">
                        <xsd:annotation>
                            <xsd:documentation source="http://www.starstandard.org">Physical address of the sender</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="DealerNumberID" type="udt:IdentifierType">
                        <xsd:annotation>
                            <xsd:documentation source="http://www.starstandard.org">Dealer Code of source of information</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="StoreNumber" type="udt:TextType">
                        <xsd:annotation>
                            <xsd:documentation source="http://www.starstandard.org">Dealer code store number (DMS assigned)</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="AreaNumber" type="udt:TextType">
                        <xsd:annotation>
                            <xsd:documentation source="http://www.starstandard.org">Dealer code area number (DMS vendor assigned)</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="DealerCountryCode" type="scl:CountryEnumeratedType">
                        <xsd:annotation>
                            <xsd:documentation source="http://www.starstandard.org">Source Dealer country location</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="LanguageCode" type="sqdt:LanguageCodeType">
                        <xsd:annotation>
                            <xsd:documentation source="http://www.starstandard.org">This code is used to define the language of the data used in this transaction</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="DeliverPendingMailIndicator" type="udt:IndicatorType">
                        <xsd:annotation>
                            <xsd:documentation source="http://www.starstandard.org">Indicates if the user requests to receive pending mail that has been stored and has yet not been delivered yet. By selecting 0, the user will only receive the response for the current transaction the user is performing.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Password" type="udt:TextType">
                        <xsd:annotation>
                            <xsd:documentation source="http://www.starstandard.org">Token for application specific authentication. Used to authenticate dealership/users through application specific security</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="SystemVersion" type="qdt:StringType">
                        <xsd:annotation>
                            <xsd:documentation source="http://www.starstandard.org">The sender's software version number.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="PartyID" type="udt:IdentifierType">
                        <xsd:annotation>
                            <xsd:documentation source="http://www.starstandard.org">The Party Id field uniquely identifies the Sender of the message. This element can be used for parties within the Automotive Community as well as external parties. Party Id is not intended as a replacement for the Dealer Number. Suggested formats for OEMs or other large institutions include: DUNs Number, ShortMfgCode + DUNs, or ShortMfgCode. The suggested format for Dealers is: ShortMfgCode+Dealer Number.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="LocationID" type="udt:IdentifierType">
                        <xsd:annotation>
                            <xsd:documentation source="http://www.starstandard.org">The Location Id field uniquely identifies the location of the Sender of a message. This Id may be aligned with a physical address or data centers. This field provides an additional level of granularity beyond the usage of the Party Id for additional routing and deliver of data.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ServiceID" type="udt:IdentifierType">
                        <xsd:annotation>
                            <xsd:documentation source="http://www.starstandard.org">The Service Id field identifies the particular service from which a message is being sent, e.g., an inventory service.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="NounCountNumeric" type="udt:NumericType">
                        <xsd:annotation>
                            <xsd:documentation source="http://www.starstandard.org/STAR/5">The number of nouns that are included in the BOD.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="SenderBaseType">
        <xsd:annotation>
            <xsd:documentation>Identifies the sender of the given BOD instance</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" ref="LogicalID">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org">This is the logical location of the server and application from which the Business Object Document originated.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" ref="ComponentID">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org">DCS software code name.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" ref="TaskID">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org">This describes the business event that initiated the need for the Business Object Document to be created.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" ref="ReferenceID">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org">Enables the sending application to indicate the instance identifier of the event or task that caused the BOD to be created.&#195;&#131;&#130;&#195;&#130;&#194;&#160; This is used to correlate a response BOD to an originating BOD. *The Sender of the originating application will populate the Reference Id with business level information. *Reference ID does not have to be a GUID. It must be a locally unique application value for the transaction type, for example a database sequence number. *The receiving application puts the value in Reference ID of the incoming message in the Reference ID of any acknowledgement messages. *The Reference Id will not be required to tie two collaborations together such as Parts Order and Parts Shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="ConfirmationCode" type="scl:ConfirmationEnumeratedType">
                <xsd:annotation>
                    <xsd:documentation />
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="AuthorizationID" type="udt:IdentifierType">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org">dentifies the authorization level of the user or application that is sending the Business Object Document Message. Used as User ID.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DestinationType">
        <xsd:annotation>
            <xsd:documentation>Destination</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="DestinationNameCode" type="udt:CodeType">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandards.org">Code for destination of file (i.e.Short Manufacturer or DSP code)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="DestinationURI" type="qdt:URIType">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandards.org">Physical address of the destination</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="DestinationSoftwareCode" type="udt:TextType">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandards.org">Additional information about the destination application</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="DestinationSoftware" type="udt:TextType">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandards.org">For which software destination file is intended (may not be known).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="DealerNumberID" type="udt:IdentifierType">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandards.org">Target Dealer Code receiving information</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="StoreNumber" type="udt:TextType">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandards.org">Dealer code store number (DMS assigned)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="AreaNumber" type="udt:TextType">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandards.org">Dealer code area number (DMS vendor assigned)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="DealerTargetCountry" type="scl:CountryEnumeratedType">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandards.org">Target Dealer country location</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="PartyReceiverID" type="udt:IdentifierType">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandards.org">The Party Receiver Id field uniquely identifies the Receiver of the message. This element can be used for parties within the Automotive Community as well as external parties. Party Id is not intended as a replacement for the Dealer Number. Suggested formats for OEMs or other large institutions include: DUNs Number, ShortMfgCode + DUNs, or ShortMfgCode. The suggested format for Dealers is: ShortMfgCode+Dealer Number.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="LocationReceiverID" type="udt:IdentifierType">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandards.org">The Location Receiver Id field uniquely identifies the location of the Receiver of a message. This Id may be aligned with a physical address or data centers. This field provides an additional level of granularity beyond the usage of the Party Id for additional routing and deliver of data.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="ServiceMessageID" type="udt:IdentifierType">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandards.org">The Service Message Id field identifies the particular service to which a message is being sent, e.g., an inventory service.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ProcessPartsTransferDataAreaType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Process Parts Transfer Data Area</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="Process" minOccurs="1" maxOccurs="1" />
            <xsd:element ref="PartsTransfer" minOccurs="1" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PartsTransferType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">This Noun was added to the repository starting with STAR 5.3.3.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="PartsTransferHeader" minOccurs="1" maxOccurs="1" />
            <xsd:element ref="PartsTransferLineItem" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
