schema/Star/BODs/Standalone/ShowVehicleDataAvailability.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1" xmlns:oacl="http://www.openapplications.org/oagis/9/codelists" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sqdt="http://www.starstandard.org/STAR/5/qualifieddatatypes/1.0" xmlns="http://www.starstandard.org/STAR/5" xmlns:ccts="urn:un:unece:uncefact:documentation:1.1" xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1" xmlns:scl="http://www.starstandard.org/STAR/5/codelists" xmlns:oagis="http://www.openapplications.org/oagis/9" xmlns:star="http://www.starstandard.org/STAR/5" targetNamespace="http://www.starstandard.org/STAR/5" elementFormDefault="qualified" attributeFormDefault="unqualified" blockDefault="#all">
    <xsd:import namespace="http://www.starstandard.org/STAR/5/qualifieddatatypes/1.0" schemaLocation="../../Resources/Components/Common/QualifiedDataTypes.xsd" />
    <xsd:import namespace="http://www.starstandard.org/STAR/5/codelists" schemaLocation="../../Resources/Components/Common/CodeLists.xsd" />
    <xsd:import namespace="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1" schemaLocation="../../Resources/Components/OAGIS/CoreComponents/QualifiedDataTypes.xsd" />
    <xsd:import namespace="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1" schemaLocation="../../Resources/Components/OAGIS/CoreComponents/UnqualifiedDataTypes.xsd" />
    <xsd:import namespace="http://www.openapplications.org/oagis/9/codelists" schemaLocation="../../Resources/Components/OAGIS/Common/CodeLists.xsd" />
    <xsd:import namespace="http://www.openapplications.org/oagis/9/currencycode/54217:2001" schemaLocation="../../Resources/Components/OAGIS/CoreComponents/CodeList_CurrencyCode_ISO_7_04.xsd" />
    <xsd:import namespace="http://www.openapplications.org/oagis/9/languagecode/5639:1988" schemaLocation="../../Resources/Components/OAGIS/CoreComponents/CodeList_LanguageCode_ISO_7_04.xsd" />
    <xsd:import namespace="http://www.openapplications.org/oagis/9/IANAMIMEMediaTypes:2003" schemaLocation="../../Resources/Components/OAGIS/CoreComponents/CodeList_MIMEMediaTypeCode_IANA_7_04.xsd" />
    <xsd:import namespace="http://www.openapplications.org/oagis/9/unitcode/66411:2001" schemaLocation="../../Resources/Components/OAGIS/CoreComponents/CodeList_UnitCode_UNECE_7_04.xsd" />
    <xsd:import namespace="http://www.openapplications.org/oagis/9" schemaLocation="../../Resources/Components/OAGIS/Common/Components.xsd" />
    <xsd:element name="AgencyRoleCode" type="sqdt:AgencyRoleCodeType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">The agency role that defined the Document ID. An example of an agency may be a manufacturer, a retail system provider, etc. This list does not contain specific entity names, only roles. See enumerated list.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="AlternateDocumentIdentification" type="DocumentIdentificationType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">An alternate identification that uniquely identifies this document in addition to the Document ID, e.g., Part Order Number, Parts Purchase Order Number or Parts Invoice Number.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ApplicationArea" type="ApplicationAreaType">
        <xsd:annotation>
            <xsd:documentation source="http://www.openapplications.org/oagis/9">Provides the information that an application may need to know in order to communicate in an integration of two or more business applications. The ApplicationArea is used at the applications layer of communication. While the integration frameworks web services and middleware provide the communication layer that OAGIS operates on top of.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="AreaNumber" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="AuthorizationID" type="udt:IdentifierType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="BODID" type="udt:IdentifierType">
        <xsd:annotation>
            <xsd:documentation source="http://www.openapplications.org/oagis/9">The BODId provides a place to carry a Globally Unique Identifier (GUID) that will make each Business Object Document instance uniquely identifiable. This is a critical success factor to enable software developers to use the Globally Unique Identifier (GUID) to build the following services or capabilities: 1. Legally binding transactions, 2. Transaction logging, 3. Exception handling, 4. Re-sending, 5. Reporting, 6. Confirmations, 7. Security.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ComponentID" type="udt:IdentifierType">
        <xsd:annotation>
            <xsd:documentation source="http://www.openapplications.org/oagis/9">Provides a finer level of control than Logical Identifier and represents the business application that issued the Business Object Document. Its use is optional. The Open Applications Group has not constructed the list of valid Component names. A suggestion for naming is to use the application component names used in the scenario diagrams in section two of OAGIS. Example Components may be Inventory, or Payroll.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ConfirmationCode" type="scl:ConfirmationEnumeratedType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Confirmation</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="CreationDateTime" type="udt:DateTimeType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="CreatorNameCode" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DealerCountryCode" type="scl:CountryEnumeratedType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DealerNumberID" type="udt:IdentifierType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DealerTargetCountry" type="scl:CountryEnumeratedType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DeliverPendingMailIndicator" type="udt:IndicatorType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="Destination" type="DestinationType">
        <xsd:annotation>
            <xsd:documentation>Destination</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DestinationNameCode" type="udt:CodeType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Code for destination of file (i.e.Short Manufacturer or DSP code)</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DestinationSoftware" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DestinationSoftwareCode" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DestinationURI" type="qdt:URIType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DocumentDateTime" type="udt:DateTimeType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">The date and time that the event being documented, for example the Parts Order, occurred.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DocumentID" type="udt:IdentifierType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">The DocumentID is the identifier for the document. This identifier is a GUID or other unique identifier set by the creator of the document.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DocumentIdentification" type="DocumentIdentificationType">
        <xsd:annotation>
            <xsd:documentation>A group of identifications that uniquely identifies this document</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DocumentIdentificationGroup" type="DocumentIdentificationGroupType">
        <xsd:annotation>
            <xsd:documentation>A group of identifications that uniquely identifies this document</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="LanguageCode" type="sqdt:LanguageCodeType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="LocationID" type="udt:IdentifierType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Code identifying a physical location</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="LocationReceiverID" type="udt:IdentifierType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="LogicalID" type="udt:IdentifierType">
        <xsd:annotation>
            <xsd:documentation source="http://www.openapplications.org/oagis/9">Provides the logical location of the server and applications from which the Business Object Document originated. It can be used to establish a logical to physical mapping, however its use is optional. Each system or combination of systems should maintain an external central reference table containing the logical names or logical addresses of the application systems in the integration configuration. This enables the logical names to be mapped to the physical network addresses of the resources needed on the network. Note: The technical implementation of this Domain Naming Service is not dictated by this specification. This logical to physical mapping may be done at execution time by the application itself or by a middleware transport mechanism, depending on the integration architecture used. This provides for a simple but effective directory access capability while maintaining application independence from the physical location of those resources on the network</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="NounCountNumeric" type="udt:NumericType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">The number of nouns that are included in the BOD.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="OriginalApplicationArea" type="ApplicationAreaType">
        <xsd:annotation>
            <xsd:documentation>A copy of the ApplicationArea for the original BOD that was processed. Present either as additional reference information, or for use in identifying the BOD in situations where a BODReference is not known.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="PartyID" type="udt:IdentifierType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Party identification number used to uniquely identify a party for example Dealer ID, Fleet, etc.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="PartyReceiverID" type="udt:IdentifierType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="Password" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ReferenceID" type="udt:IdentifierType">
        <xsd:annotation>
            <xsd:documentation source="http://www.openapplications.org/oagis/9">Enables the sending application to indicate the instance identifier of the event or task that caused the BOD to be created. This allows drill back from the BOD message into the sending application. The may be required in environments where an audit trail must be maintained for all transactions.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="SecondaryDealerNumberID" type="udt:IdentifierType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Identifies secondary dealer number if different than primary "Dealer Number"</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="SecondaryPassword" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Secondary password used to validate access to the dealer information</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="Sender" type="SenderType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/">This identifies characteristics and control identifiers that relate to the application that created the Business Object Document.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="SenderNameCode" type="udt:CodeType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Additional information about the sending platform (i.e., Short Manufacturer or DSP code).</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ServiceID" type="udt:IdentifierType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">The Service Id field identifies the particular service to or from which a message is being sent, e.g., an inventory service.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ServiceMessageID" type="udt:IdentifierType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="Show" type="ShowType">
        <xsd:annotation>
            <xsd:documentation source="http://www.openapplications.org/oagis/9.0">The Show verb is used when sending the information about a specific instance of a business document or entity. The Show verb may be used to respond to a Get request or it can be used in a publish scenario, where it pushes information to other applications based on a business event.Although BODs based on this verb do not commonly cause updates to occur, there may be times when the component receiving the Show decides to use the information it receives to update. This is entirely the decision of the receiving software component and is not forbidden.The behavior of the Show verb is quite straight forward with one exception. The Show response to any Get request needs to read the request carefully to ensure the response is returning the requested Data Types.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ShowVehicleDataAvailability" type="ShowVehicleDataAvailabilityType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Show Vehicle Data Availability</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ShowVehicleDataAvailabilityDataArea" type="ShowVehicleDataAvailabilityDataAreaType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Show Vehicle Data Availability Data Area</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="StoreNumber" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="SystemVersion" type="qdt:StringType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="TaskID" type="udt:IdentifierType">
        <xsd:annotation>
            <xsd:documentation source="http://www.openapplications.org/oagis/9">Describes the business event that initiated the need for the Business Object Document to be created. Its use is optional. Although the Task may differ depending on the specific implementation, it is important to enable drill back capability. Example Tasks may be Receipt or Adjustment.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="URI" type="qdt:URIType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="VehicleDataAvailability" type="VehicleDataAvailabilityType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">The Vehicle Data Availability BOD allows the DMS to submit a single inquiry to determine what information is available for retrieval. The DMS could then submit individual BOD request only for the data that is available. This will conserve bandwidth and system resources.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="VehicleDataAvailabilityDetail" type="VehicleDataAvailabilityDetailType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Component to list the different areas of the requested data. Example: If Warranty data was requested, the retuned data could have Open Recalls, Closed Recalls, etc. This data is defined in this component.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="VehicleDataAvailabilityHeader" type="VehicleDataAvailabilityHeaderType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Vehicle Data Availability Header</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="VehicleDataAvailabilityLineItem" type="VehicleDataAvailabilityLineItemType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Detail information regarding a vehicle for a particular invoice.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="VehicleDataAvailabilityNotes" type="VehicleDataAvailabilityNotesType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Component to list the different areas of the requested data. Example: If Warranty data was requested, the retuned data could have Open Recalls, Closed Recalls, etc. This data is defined in this component.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="VehicleDataAvailabilityStatus" type="VehicleDataAvailabilityStatusType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">The VehicleDataAvailabilityStatus contains that values to state the result of vehicle data request</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="VIN" type="sqdt:VINType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Depracated: Use VehicleID</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="VehicleDataAvailabilityHeaderType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="HeaderBaseType">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="VIN" type="sqdt:VINType">
                        <xsd:annotation>
                            <xsd:documentation source="http://www.starstandard.org/STAR/5">Vehicle Identification Number</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="HeaderBaseType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="DocumentDateTime" type="udt:DateTimeType">
                <xsd:annotation>
                    <xsd:documentation>Is the date and time the document was last created. This is not the date and time that the BOD message instance was created.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="SecondaryPassword" type="udt:TextType">
                <xsd:annotation>
                    <xsd:documentation>Secondary password used to validate access to the dealer information</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="SecondaryDealerNumberID" type="udt:IdentifierType">
                <xsd:annotation>
                    <xsd:documentation>Identifies secondary dealer number if different than primary "Dealer Number"</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="1" ref="DocumentIdentificationGroup" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DocumentIdentificationGroupType">
        <xsd:annotation>
            <xsd:documentation>A list of identifications related to a particular document.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="DocumentIdentification" />
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="AlternateDocumentIdentification" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DocumentIdentificationType">
        <xsd:annotation>
            <xsd:documentation>An identifer for this document</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="DocumentID" type="udt:IdentifierType">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">The DocumentID is the identifier for the document. This identifier is a GUID or other unique identifier set by the creator of the document.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="AgencyRoleCode" type="sqdt:AgencyRoleCodeType">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">The agency role that defined the Document ID. An example of an agency may be a manufacturer, a retail system provider, etc. This list does not contain specific entity names, only roles. See enumerated list.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="VehicleDataAvailabilityLineItemType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="VehicleDataAvailabilityStatus" maxOccurs="1" minOccurs="0" />
            <xsd:element ref="VehicleDataAvailabilityDetail" maxOccurs="unbounded" minOccurs="0" />
            <xsd:element ref="VehicleDataAvailabilityNotes" maxOccurs="1" minOccurs="0" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="VehicleDataAvailabilityStatusType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">The VehicleDataAvailabilityStatus contains that values to state the result of vehicle data request</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="VehicleDataRequestDescription" type="udt:TextType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">Description of the type of vehicle data being requested. Example: Warranty, Vehicle Specifications, Repair History...</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="VehicleRequestedDataStatus" type="udt:TextType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">Indicates the status of the data being requested. Example: Data Availble, Data Unavailable, Server not Available, Unknown...</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="VehicleDataAvailabilityDetailType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Component to list the different areas of the requested data. Example: If Warranty data was requested, the retuned data could have Open Recalls, Closed Recalls, etc. This data is defined in this component.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="VehicleDataAvailabilityDetailDescription" type="udt:TextType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">Descripton of the type of data subsets being returend. For example: Open Recalls, Close Redalls, in the event that Warranty data is being returned.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="VehicleDataAvailabilityDetailIndicator" type="udt:IndicatorType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">Indicates the status of the data being requested. Example: Data Availble, Data Unavailable, Server not Available, Unknown...</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="VehicleDataAvailabilityNotesType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">This component is used to describe notes or comments from the manufacturer</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="VehicleDataAvailabilityNotesText" type="udt:TextType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">This elemens contains the free form text with notes and comments available from the manufacturer</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ShowVehicleDataAvailabilityType">
        <xsd:annotation>
            <xsd:appinfo>STAR unique BOD</xsd:appinfo>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Show Vehicle Data Availability</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="BusinessObjectDocumentType">
                <xsd:sequence>
                    <xsd:element ref="ShowVehicleDataAvailabilityDataArea" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="BusinessObjectDocumentType">
        <xsd:annotation>
            <xsd:documentation>Is the schema based inheritance for all BODs. The logical model would also include the DataArea.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="ApplicationArea">
                <xsd:annotation>
                    <xsd:documentation source="http://www.openapplications.org/oagis/9">Provides the information that an application may need to know in order to communicate in an integration of two or more business applications. The ApplicationArea is used at the applications layer of communication. While the integration frameworks web services and middleware provide the communication layer that OAGIS operates on top of.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="releaseID" type="udt:string" use="required">
            <xsd:annotation>
                <xsd:documentation source="http://www.openapplications.org/oagis/9.0">STAR Release this BOD Instances belongs. This should contain the STAR repository version in the following recommended format. 5.1.4_M20080328. Where the first part indicates the version of the STAR repository and anything after the "_" indicates the Milestone build that is being used. If referring to an official published version then only the STAR Repository version is required.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="versionID" type="udt:string" use="optional">
            <xsd:annotation>
                <xsd:documentation source="http://www.starstandard.org">Deprecated. Recommended to use releaseID to identify the repository and noun. This field may be removed in the next major version of the STAR repository.</xsd:documentation>
                <xsd:documentation source="http://www.openapplications.org/oagis/9">Indicates the version of the given BOD defintion.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute default="Production" name="systemEnvironmentCode" type="oacl:SystemEnvironmentCodeContentType" use="optional">
            <xsd:annotation>
                <xsd:documentation source="http://www.openapplications.org/oagis/9">Indicates whether this BOD is being sent in a "Test" or a "Production" mode. If the BOD is being sent in a test mode, it's information should not affect the business operation. However, if the BOD is sent in "Production" mode it is assumed that all test has been complete and the contents of the BOD are to affect the operation of the receiving business application(s).</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute default="en-US" name="languageCode" type="scl:LanguageEnumeratedType" use="optional">
            <xsd:annotation>
                <xsd:documentation source="http://www.openapplications.org/oagis/9">Indicates the language that the contents of the BOD is in unless otherwise stated.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="ApplicationAreaType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="Sender">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org/">This identifies characteristics and control identifiers that relate to the application that created the Business Object Document.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="1" name="CreationDateTime" type="udt:DateTimeType">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org">This is used as the creation moment of this Business Object Document.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" ref="oagis:Signature">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org">If the BOD is to be signed the signature element is included, otherwise it is not. Signature supports any digital signature that maybe used by an implementation of OAGIS. The qualifyingAgency identifies the agency that provided the format for the signature.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" ref="BODID">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org">The BODId provides a place to carry a Globally Unique Identifier (GUID) that will make each Business Object Document instance uniquely identifiable. This is a critical success factor to enable software developers to use the Globally Unique Identifier (GUID) to build services or capabilities:</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="1" ref="Destination">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org">This identifies characteristics and control identifiers that relate to the application that receives the Business Object Document.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SenderType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/">This identifies characteristics and control identifiers that relate to the application that created the Business Object Document.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="SenderBaseType">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="CreatorNameCode" type="udt:TextType">
                        <xsd:annotation>
                            <xsd:documentation source="http://www.starstandard.org">DCS Software Creator Code</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="1" name="SenderNameCode" type="udt:CodeType">
                        <xsd:annotation>
                            <xsd:documentation source="http://www.starstandard.org">Additional information about the sending platform (i.e., Short Manufacturer or DSP code).</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="URI" type="qdt:URIType">
                        <xsd:annotation>
                            <xsd:documentation source="http://www.starstandard.org">Physical address of the sender</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="DealerNumberID" type="udt:IdentifierType">
                        <xsd:annotation>
                            <xsd:documentation source="http://www.starstandard.org">Dealer Code of source of information</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="StoreNumber" type="udt:TextType">
                        <xsd:annotation>
                            <xsd:documentation source="http://www.starstandard.org">Dealer code store number (DMS assigned)</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="AreaNumber" type="udt:TextType">
                        <xsd:annotation>
                            <xsd:documentation source="http://www.starstandard.org">Dealer code area number (DMS vendor assigned)</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="DealerCountryCode" type="scl:CountryEnumeratedType">
                        <xsd:annotation>
                            <xsd:documentation source="http://www.starstandard.org">Source Dealer country location</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="LanguageCode" type="sqdt:LanguageCodeType">
                        <xsd:annotation>
                            <xsd:documentation source="http://www.starstandard.org">This code is used to define the language of the data used in this transaction</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="DeliverPendingMailIndicator" type="udt:IndicatorType">
                        <xsd:annotation>
                            <xsd:documentation source="http://www.starstandard.org">Indicates if the user requests to receive pending mail that has been stored and has yet not been delivered yet. By selecting 0, the user will only receive the response for the current transaction the user is performing.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Password" type="udt:TextType">
                        <xsd:annotation>
                            <xsd:documentation source="http://www.starstandard.org">Token for application specific authentication. Used to authenticate dealership/users through application specific security</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="SystemVersion" type="qdt:StringType">
                        <xsd:annotation>
                            <xsd:documentation source="http://www.starstandard.org">The sender's software version number.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="PartyID" type="udt:IdentifierType">
                        <xsd:annotation>
                            <xsd:documentation source="http://www.starstandard.org">The Party Id field uniquely identifies the Sender of the message. This element can be used for parties within the Automotive Community as well as external parties. Party Id is not intended as a replacement for the Dealer Number. Suggested formats for OEMs or other large institutions include: DUNs Number, ShortMfgCode + DUNs, or ShortMfgCode. The suggested format for Dealers is: ShortMfgCode+Dealer Number.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="LocationID" type="udt:IdentifierType">
                        <xsd:annotation>
                            <xsd:documentation source="http://www.starstandard.org">The Location Id field uniquely identifies the location of the Sender of a message. This Id may be aligned with a physical address or data centers. This field provides an additional level of granularity beyond the usage of the Party Id for additional routing and deliver of data.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ServiceID" type="udt:IdentifierType">
                        <xsd:annotation>
                            <xsd:documentation source="http://www.starstandard.org">The Service Id field identifies the particular service from which a message is being sent, e.g., an inventory service.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="NounCountNumeric" type="udt:NumericType">
                        <xsd:annotation>
                            <xsd:documentation source="http://www.starstandard.org/STAR/5">The number of nouns that are included in the BOD.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="SenderBaseType">
        <xsd:annotation>
            <xsd:documentation>Identifies the sender of the given BOD instance</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" ref="LogicalID">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org">This is the logical location of the server and application from which the Business Object Document originated.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" ref="ComponentID">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org">DCS software code name.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" ref="TaskID">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org">This describes the business event that initiated the need for the Business Object Document to be created.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" ref="ReferenceID">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org">Enables the sending application to indicate the instance identifier of the event or task that caused the BOD to be created.&#195;&#131;&#130;&#195;&#130;&#194;&#160; This is used to correlate a response BOD to an originating BOD. *The Sender of the originating application will populate the Reference Id with business level information. *Reference ID does not have to be a GUID. It must be a locally unique application value for the transaction type, for example a database sequence number. *The receiving application puts the value in Reference ID of the incoming message in the Reference ID of any acknowledgement messages. *The Reference Id will not be required to tie two collaborations together such as Parts Order and Parts Shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="ConfirmationCode" type="scl:ConfirmationEnumeratedType">
                <xsd:annotation>
                    <xsd:documentation />
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="AuthorizationID" type="udt:IdentifierType">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org">dentifies the authorization level of the user or application that is sending the Business Object Document Message. Used as User ID.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DestinationType">
        <xsd:annotation>
            <xsd:documentation>Destination</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="DestinationNameCode" type="udt:CodeType">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandards.org">Code for destination of file (i.e.Short Manufacturer or DSP code)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="DestinationURI" type="qdt:URIType">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandards.org">Physical address of the destination</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="DestinationSoftwareCode" type="udt:TextType">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandards.org">Additional information about the destination application</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="DestinationSoftware" type="udt:TextType">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandards.org">For which software destination file is intended (may not be known).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="DealerNumberID" type="udt:IdentifierType">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandards.org">Target Dealer Code receiving information</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="StoreNumber" type="udt:TextType">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandards.org">Dealer code store number (DMS assigned)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="AreaNumber" type="udt:TextType">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandards.org">Dealer code area number (DMS vendor assigned)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="DealerTargetCountry" type="scl:CountryEnumeratedType">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandards.org">Target Dealer country location</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="PartyReceiverID" type="udt:IdentifierType">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandards.org">The Party Receiver Id field uniquely identifies the Receiver of the message. This element can be used for parties within the Automotive Community as well as external parties. Party Id is not intended as a replacement for the Dealer Number. Suggested formats for OEMs or other large institutions include: DUNs Number, ShortMfgCode + DUNs, or ShortMfgCode. The suggested format for Dealers is: ShortMfgCode+Dealer Number.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="LocationReceiverID" type="udt:IdentifierType">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandards.org">The Location Receiver Id field uniquely identifies the location of the Receiver of a message. This Id may be aligned with a physical address or data centers. This field provides an additional level of granularity beyond the usage of the Party Id for additional routing and deliver of data.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="ServiceMessageID" type="udt:IdentifierType">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandards.org">The Service Message Id field identifies the particular service to which a message is being sent, e.g., an inventory service.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ShowVehicleDataAvailabilityDataAreaType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Show Vehicle Data Availability</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="Show" />
            <xsd:element ref="VehicleDataAvailability" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ShowType">
        <xsd:complexContent>
            <xsd:extension base="ResponseVerbType">
                <xsd:attribute name="recordSetStartNumber" type="oagis:PositiveIntegerNumericType" use="optional" />
                <xsd:attribute name="recordSetCount" type="oagis:PositiveIntegerNumericType" use="optional" />
                <xsd:attribute name="recordSetTotal" type="oagis:PositiveIntegerNumericType" use="optional" />
                <xsd:attribute name="recordSetCompleteIndicator" type="udt:IndicatorType" use="optional" />
                <xsd:attribute name="recordSetReferenceId" type="qdt:NormalizedStringType" use="optional" />
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType abstract="true" name="ResponseVerbType">
        <xsd:complexContent>
            <xsd:extension base="oagis:VerbType">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" ref="OriginalApplicationArea" />
                    <xsd:element maxOccurs="unbounded" minOccurs="0" ref="oagis:ResponseCriteria">
                        <xsd:annotation>
                            <xsd:documentation>ResponseCriteria identifies the content that is returned, given a Get query success or the response from the Process. In essence, the expression here has the effect of filtering the part(s) of the found element(s) that are to be returned. ReturnCriteria plays no role in the query itself or the process. That is handled as a match against the request BOD's noun exemplar. ReturnCriteria allows the sender of the BOD to indicate which information (down to the field level) is requested to be returned, given that the query has been successful in matching the exemplar to existing nouns. That is, in a GetListPurchaseOrder, if one or more PurchaseOrders with a TotalPrice = $1M were found, ReturnCriteria tells the BOD recipient which parts of the PurchaseOrder should be populated with content when the response (ShowPurchaseOrder) is formulated. The expressionLanguage indicates the expression language being used. In order for the ReturnCriteria expression to be evaluable by the BOD recipient, the recipient must be capable of processing and interpreting the specified expression language. XPath is the default, due to its ubiquity among XML processing technologies.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="VehicleDataAvailabilityType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">STAR Version 3.0 - Draft</xsd:documentation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">STAR Version 2.1, STAR approved 04/20/2005; effective date 07/04/2005</xsd:documentation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">STAR Version 2.0, STAR approved 05/07/2004; effective date 07/04/2004</xsd:documentation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">STAR Version 1.0 STAR approved 11/22/2002; OAGI approved 3/15/2003; effective date 01/01/2003</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="VehicleDataAvailabilityHeader" />
            <xsd:element ref="VehicleDataAvailabilityLineItem" minOccurs="1" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
