schema/Star/Resources/Nouns/LaborOperations.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:star="http://www.starstandard.org/STAR/5"
   xmlns:oacl="http://www.openapplications.org/oagis/9/codelists" xmlns:sqdt="http://www.starstandard.org/STAR/5/qualifieddatatypes/1.0"
   xmlns="http://www.starstandard.org/STAR/5" xmlns:ccts="urn:un:unece:uncefact:documentation:1.1" xmlns:sudt="http://www.starstandard.org/STAR/5/unqualifieddatatypes/1.0"
   xmlns:scl="http://www.starstandard.org/STAR/5/codelists" targetNamespace="http://www.starstandard.org/STAR/5"
   elementFormDefault="qualified" attributeFormDefault="unqualified" blockDefault="#all"
   xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1"
   xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"   
>
   <xsd:annotation>
      <xsd:documentation source="http://www.starstandard.org/STAR/5"> This schema is made available under an Eclipse Public Licenses 1.0.
         This license may be found in the STAR/License directory as well as the STAR BOD Guidelines.</xsd:documentation>
   </xsd:annotation>
    <xsd:include schemaLocation="../Components/Common/Meta.xsd" />
   <xsd:import namespace="http://www.starstandard.org/STAR/5/qualifieddatatypes/1.0" schemaLocation="../Components/Common/QualifiedDataTypes.xsd"/>
   <xsd:import namespace="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1" schemaLocation="../Components/OAGIS/CoreComponents/UnqualifiedDataTypes.xsd"/>
   <xsd:import namespace="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1" schemaLocation="../Components/OAGIS/CoreComponents/QualifiedDataTypes.xsd"/>
   <xsd:import namespace="http://www.starstandard.org/STAR/5/codelists" schemaLocation="../Components/Common/CodeLists.xsd"/>
   <xsd:import namespace="http://www.openapplications.org/oagis/9" schemaLocation="../Components/OAGIS/Common/Components.xsd" />
   <xsd:element name="LaborOperations" type="LaborOperationsType">
      <xsd:annotation>
         <xsd:documentation source="http://www.starstandard.org/STAR/5">
         	LaborOperations provides real-time access to labor operation data 
         	through inquiries and searches. Labor Operations is the task of sending the labor 
         	operation information electronically between Dealer and OEM systems. 
         	For each LaborOperations represented in the Data Area of the LaborOperations 
         	Business Object Document, there must be one occurrence of the LaborOperations Component.
         </xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element name="LaborOperationsHeader" type="LaborOperationsHeaderType">
      <xsd:annotation>
         <xsd:documentation source="http://www.starstandard.org/STAR/5"> For each LaborOperations represented in the DataArea of the Labor
            Operations Business Object Document, there must be once occurrence of the Header Component.
         </xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element name="LaborOperationsDetail" type="LaborOperationsDetailType">
      <xsd:annotation>
         <xsd:documentation source="http://www.starstandard.org/STAR/5"> For each LaborOperations represented in the DataArea of the Labor
            Operations Business Object Document, there may be zero or many details.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:complexType name="LaborOperationsType">
      <xsd:annotation xmlns="http://www.starstandards.org/STAR">
         <xsd:documentation source="http://www.starstandard.org/STAR/5">STAR Version 3.0 - Draft</xsd:documentation>
         <xsd:documentation source="http://www.starstandard.org/STAR/5">STAR Version 2.1, STAR approved 04/20/2005; effective date
            07/04/2005</xsd:documentation>
         <xsd:documentation source="http://www.starstandard.org/STAR/5">STAR Version 2.0, STAR approved 05/07/2004; effective date
            07/04/2004</xsd:documentation>
         <xsd:documentation source="http://www.starstandard.org/STAR/5">STAR Version 1.0, STAR approved 10/4/2002; OAGI approved
            10/17/2002; effective date 1/01/2003</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element ref="LaborOperationsHeader" />
         <xsd:element ref="LaborOperationsDetail" minOccurs="0" maxOccurs="unbounded" />
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="LaborOperationsHeaderType">
      <xsd:annotation xmlns="http://www.starstandards.org/STAR">
         <xsd:documentation source="http://www.starstandard.org/STAR/5">.</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="VehicleID" type="udt:IdentifierType" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"
               xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1"
            >
               <xsd:documentation source="http://www.starstandard.org/STAR/5">The vehicle identification. This could be the VIN, HIN, or
                  some unique identifier for a vehicle.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="DeliveryTypeCode" type="sqdt:DeliveryTypeCodeType" minOccurs="0" maxOccurs="1">
            <xsd:annotation xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"
               xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1"
            >
               <xsd:documentation source="http://www.starstandard.org/STAR/5">Transaction request delivery type</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="RequestCode" type="scl:RequestEnumeratedType" minOccurs="0" maxOccurs="1">
            <xsd:annotation xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"
               xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1"
            >
               <xsd:documentation source="http://www.starstandard.org/STAR/5">Type of request</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="OriginalLanguageCode" type="sqdt:LanguageCodeType" minOccurs="0" maxOccurs="1">
            <xsd:annotation xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"
               xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1"
            >
               <xsd:documentation source="http://www.starstandard.org/STAR/5">The original source language.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element ref="LaborOperationsHeaderBase" />
         <xsd:element ref="LaborOperationCodes" minOccurs="0" maxOccurs="1" />
         <xsd:element ref="VehicleGroup" minOccurs="0" maxOccurs="unbounded" />
         <xsd:element ref="EmployeePerson" minOccurs="0" maxOccurs="1" />
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="LaborOperationsDetailType">
      <xsd:annotation>
         <xsd:documentation source="http://www.starstandard.org"> Contains the detailed information for each labor operation.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="LaborOperationID" type="udt:IdentifierType" minOccurs="0" maxOccurs="1">
            <xsd:annotation xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"
               xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1"
            >
               <xsd:documentation source="http://www.starstandard.org/STAR/5">Currently assigned code for this operation (preferably
                  manufacturer code)</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="LaborOperationPartID" type="udt:IdentifierType" minOccurs="0" maxOccurs="1">
            <xsd:annotation xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"
               xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1"
            >
               <xsd:documentation source="http://www.starstandard.org/STAR/5">The Part Identification for this Labor Operation. This
                  typicall is a four character code that indicates the diagram for this labor operation.
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="MajorGroupID" type="udt:IdentifierType" minOccurs="0" maxOccurs="1">
            <xsd:annotation xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"
               xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1"
            >
               <xsd:documentation source="http://www.stanstandard.org/">The major group unique identifier for a Major Group.
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ComponentGroupID" type="udt:IdentifierType" minOccurs="0" maxOccurs="1">
            <xsd:annotation xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"
               xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1"
            >
               <xsd:documentation>The component group unique identifier for the Component Group used typically in Labor
                  Operations.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element ref="ComponentID" minOccurs="0" maxOccurs="1" />
         <xsd:element name="LaborOperationDescription" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"
               xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1"
            >
               <xsd:documentation source="http://www.starstandard.org/STAR/5">Description of a particular operation code
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="LaborOperationSummaryDescription" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"
               xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1"
            >
               <xsd:documentation source="http://www.starstandard.org/STAR/5">A summary description for a particular Labor Operation.
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="RepairOrderOpenedDate" type="udt:DateType" minOccurs="0" maxOccurs="1">
            <xsd:annotation xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"
               xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1"
            >
               <xsd:documentation source="http://www.starstandard.org/STAR/5">System date when Repair Order was opened</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="WarrantyTypeCode" type="udt:CodeType" minOccurs="0" maxOccurs="1">
            <xsd:annotation xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"
               xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1"
            >
               <xsd:documentation source="http://www.starstandard.org/STAR/5">A code used to classify into coverage categories.
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="LaborAllowanceMeasure" type="sqdt:TimeMeasureType" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"
               xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1"
            >
               <xsd:documentation source="http://www.starstandard.org/STAR/5">Flat rate labor hour allowance for this operation
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="AdditionalAllowanceMeasure" type="sqdt:TimeMeasureType" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"
               xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1"
            >
               <xsd:documentation source="http://www.starstandard.org/STAR/5">Additional time allowed to complete.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="LaborActionCode" type="udt:CodeType" minOccurs="0" maxOccurs="1">
            <xsd:annotation xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"
               xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1"
            >
               <xsd:documentation source="http://www.starstandard.org/STAR/5">Manufacturer-assigned code to describe type of labor
                  performed</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="LaborActionDescription" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"
               xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1"
            >
               <xsd:documentation source="http://www.starstandard.org/STAR/5">Labor operation service action description.(e.g. Instructions
                  as to how and when to use this labor operation)</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="LaborOperationComment" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"
               xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1"
            >
               <xsd:documentation source="http://www.starstandard.org/STAR/5">Free form comment regarding the labor operation.
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element ref="VehicleIdentificationGroup" minOccurs="0" maxOccurs="1" />
         <xsd:element ref="TechnicianSkillLevel" minOccurs="0" maxOccurs="1" />
         <xsd:element ref="PartsProductItem" minOccurs="0" maxOccurs="1" />
         <xsd:element ref="DamageArea" minOccurs="0" maxOccurs="unbounded" />
         <xsd:element ref="RelatedLaborOperationIdentificationGroup" minOccurs="0" maxOccurs="unbounded" />
         <xsd:element ref="FailureCodes" minOccurs="0" maxOccurs="unbounded" />
         <xsd:element ref="MarketSpecific" minOccurs="0" maxOccurs="unbounded" />
         <xsd:element name="CategoryCode" type="udt:CodeType" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"
               xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1"
            >
               <xsd:documentation source="http://www.starstandard.org/STAR/5">Manufacturer assigned code for categorizing
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element ref="ImageAttachmentExtended" minOccurs="0" maxOccurs="1" />
         <xsd:element name="LaborOperationsChangeStatus" type="udt:CodeType" minOccurs="0" maxOccurs="1">
            <xsd:annotation xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"
               xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1">
               <xsd:documentation source="http://www.starstandard.org/STAR/5">
                  Identifies if the item has been added, updated or removed from the master data set.
                  Sample values: Added, Updated, Obsolete
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="Combinations" type="LaborCombinationType" minOccurs="0" maxOccurs="unbounded"/>         
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>