schema/Star/Resources/Nouns/VehicleInitiativePaymentInvoice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:star="http://www.starstandard.org/STAR/5"
    xmlns:oacl="http://www.openapplications.org/oagis/9/codelists"
    xmlns:sqdt="http://www.starstandard.org/STAR/5/qualifieddatatypes/1.0"
    xmlns="http://www.starstandard.org/STAR/5" xmlns:ccts="urn:un:unece:uncefact:documentation:1.1"
    xmlns:sudt="http://www.starstandard.org/STAR/5/unqualifieddatatypes/1.0"
    xmlns:scl="http://www.starstandard.org/STAR/5/codelists"
    targetNamespace="http://www.starstandard.org/STAR/5" elementFormDefault="qualified"
    attributeFormDefault="unqualified" blockDefault="#all"
    xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1"
    xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"
    xmlns:oagis="http://www.openapplications.org/oagis/9">
    <xsd:annotation>
        <xsd:documentation source="http://www.starstandard.org/STAR/5">
            This schema is made available under an Eclipse Public Licenses 1.0.  This
            license may be found in the STAR/License directory as well as the STAR BOD
            Guidelines.
        </xsd:documentation>
    </xsd:annotation>
    <xsd:include schemaLocation="../Components/Common/Meta.xsd"/>
    <xsd:import namespace="http://www.starstandard.org/STAR/5/qualifieddatatypes/1.0"
        schemaLocation="../Components/Common/QualifiedDataTypes.xsd"/>
    <xsd:import namespace="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"
        schemaLocation="../Components/OAGIS/CoreComponents/UnqualifiedDataTypes.xsd"/>
    <xsd:import namespace="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1"
        schemaLocation="../Components/OAGIS/CoreComponents/QualifiedDataTypes.xsd"/>
    <xsd:import namespace="http://www.starstandard.org/STAR/5/codelists"
        schemaLocation="../Components/Common/CodeLists.xsd"/>
    <xsd:import namespace="http://www.openapplications.org/oagis/9"
        schemaLocation="../Components/OAGIS/Common/Components.xsd"/>
    <xsd:element name="VehicleInitiativePaymentInvoice" type="VehicleInitiativePaymentInvoiceType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">
                VehicleInitiativePaymentInvoice supports the transmission of Variable Marketing Dealer Rebate Payment Data to the 
                dealership. NOTE: Although this is the traditional use of the Vehicle Initiative Payment Invoice, 
                it could be used to send Vehicle Initiative Payment Invoice information between any two business parties. 
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="VehicleInitiativePaymentInvoiceHeader"
        type="VehicleInitiativePaymentInvoiceHeaderType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">
                Vehicle Invoice Header
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="VehicleInitiativePaymentInvoiceLine"
        type="VehicleInitiativePaymentInvoiceLineType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">
                Vehicle Initiative Payment Invoice Header
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="VehicleInitiativePaymentInvoiceType">
        <xsd:annotation xmlns="http://www.starstandards.org/STAR">
            <xsd:documentation>
                Vehicle Initiative Payment Invoice Type
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="VehicleInitiativePaymentInvoiceHeader" minOccurs="1" maxOccurs="1"/>
            <xsd:element ref="VehicleInitiativePaymentInvoiceLine" minOccurs="1"
                maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="VehicleInitiativePaymentInvoiceHeaderType">
        <xsd:annotation xmlns="http://www.starstandards.org/STAR">
            <xsd:documentation source="http://www.starstandard.org/STAR/5">.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="HeaderBaseType">
                <xsd:sequence>
                    <!--<xsd:element ref="DocumentID" minOccurs="0" />-->
                    <xsd:element name="InvoiceDate" type="udt:DateType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation
                            xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"
                            xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1">
                            <xsd:documentation source="http://www.starstandard.org/STAR/5">Date of
            invoice.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="CreditDebitIndicator" type="udt:IdentifierType" minOccurs="1"
                        maxOccurs="1">
                        <xsd:annotation
                            xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"
                            xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1">
                            <xsd:documentation source="http://www.starstandard.org/STAR/5">Specifies if the Invoice is a
                                Credit or a Debit. Valid values are "C" or "D".</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element ref="Pricing" minOccurs="1" maxOccurs="1"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="VehicleInitiativePaymentInvoiceLineType">
        <xsd:annotation xmlns="http://www.starstandards.org/STAR">
            <xsd:documentation source="http://www.starstandard.org/STAR/5">.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="PaymentID" type="udt:TextType" minOccurs="0">
                <xsd:annotation
                    xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"
                    xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1">
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">Programme
            ID (Campaing ID)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="PaymentCategory" type="udt:TextType" minOccurs="0">
                <xsd:annotation
                    xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"
                    xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1">
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">Payment Cattegory
            (Campaign Category)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="BatchNumber" type="udt:TextType" minOccurs="0">
                <xsd:annotation
                    xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"
                    xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1">
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">Batch Number
                (Always use "MPS2BATCH)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="PaymentType" type="udt:TextType" minOccurs="0">
                <xsd:annotation
                    xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"
                    xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1">
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">Programme
            Name</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="TotalAmountOfThisProgram" type="udt:AmountType" minOccurs="0">
                <xsd:annotation
                    xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"
                    xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1">
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">Total Line of
            Items Amounts for this program</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="VehicleInitiativePaymentInvoiceLineItem" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="VehicleInitiativePaymentInvoiceLineItem" type="VehicleInitiativePaymentInvoiceLineItemType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">
                Detail information regarding a vehicle for a particular invoice.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="VehicleInitiativePaymentInvoiceLineItemType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="EarningDealerCode" type="udt:TextType" minOccurs="0" maxOccurs="1">
                <xsd:annotation
                    xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"
                    xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1">
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">Earning Dealer -
                    Retail / Sub Dealer</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="Vehicle" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="RetailType" type="udt:IdentifierType" minOccurs="0" maxOccurs="1">
                <xsd:annotation
                    xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"
                    xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1">
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">Retail Type / Sales
                Category Code</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="VehicleRegistrationDate" type="udt:DateTimeType" minOccurs="0" maxOccurs="1">
                <xsd:annotation
                    xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"
                    xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1">
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">Retail Type / Sales
                        Category Code</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="PaymentAmount" type="udt:AmountType" minOccurs="0" maxOccurs="1">
                <xsd:annotation
                    xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"
                    xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1">
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">Payment Amount
            generared agains a VIN</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="FirstInvoiceDealer" type="udt:TextType" minOccurs="0" maxOccurs="1">
                <xsd:annotation
                    xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"
                    xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1">
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">First Invoiced
                Dealer Code</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="FirstInvoiceMarket" type="udt:TextType" minOccurs="0" maxOccurs="1">
                <xsd:annotation
                    xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"
                    xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1">
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">First Invoiced
                Market Code(3 char. ISO)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="VehicleOrderNumber" type="udt:TextType" minOccurs="0" maxOccurs="1">
                <xsd:annotation
                    xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"
                    xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1">
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">Vehicle Order
                Number (VON)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="DocumentReference" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="FleetAccount" minOccurs="0" maxOccurs="1"/>

            <xsd:element name="ContractDate" type="udt:DateTimeType" minOccurs="0" maxOccurs="1">
                <xsd:annotation
                    xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"
                    xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1">
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">Dealer
                /Customer Contract Date</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="OriginalSoldDate" type="udt:DateTimeType" minOccurs="0" maxOccurs="1">
                <xsd:annotation
                    xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"
                    xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1">
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">Date Vehicle
                was sold</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="VATDescriptor" type="qdt:StringType" minOccurs="0" maxOccurs="1">
            <xsd:annotation
                xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"
                xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1">
                <xsd:documentation source="http://www.starstandard.org/STAR/5">Detail of the VAT calculation 
                    to be applied to the corresponding  PaymentAmount field.
                </xsd:documentation>
            </xsd:annotation>
            </xsd:element>
            <xsd:element name="VATAmount" type="udt:AmountType" minOccurs="0" maxOccurs="1">
                <xsd:annotation
                    xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"
                    xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1">
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">VAT amount paid
                        in addition to the PaymentAmount field                       
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
