ModelDrivenNode/schema/Star/Resources/Nouns/RetailDeliveryReporting.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:star="http://www.starstandard.org/STAR/5"
   xmlns:oacl="http://www.openapplications.org/oagis/9/codelists" xmlns:sqdt="http://www.starstandard.org/STAR/5/qualifieddatatypes/1.0"
   xmlns="http://www.starstandard.org/STAR/5" xmlns:ccts="urn:un:unece:uncefact:documentation:1.1" xmlns:sudt="http://www.starstandard.org/STAR/5/unqualifieddatatypes/1.0"
   xmlns:scl="http://www.starstandard.org/STAR/5/codelists" targetNamespace="http://www.starstandard.org/STAR/5"
   elementFormDefault="qualified" attributeFormDefault="unqualified" blockDefault="#all"
   xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1"
   xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"   
>
    <xsd:annotation>
        <xsd:documentation source="http://www.starstandard.org/STAR/5">
            This schema is made available under an Eclipse Public Licenses 1.0.  This
            license may be found in the STAR/License directory as well as the STAR BOD
            Guidelines.
        </xsd:documentation>
    </xsd:annotation>
    <xsd:include schemaLocation="../Components/Common/Meta.xsd" />
   <xsd:import namespace="http://www.starstandard.org/STAR/5/qualifieddatatypes/1.0" schemaLocation="../Components/Common/QualifiedDataTypes.xsd"/>
   <xsd:import namespace="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1" schemaLocation="../Components/OAGIS/CoreComponents/UnqualifiedDataTypes.xsd"/>
   <xsd:import namespace="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1" schemaLocation="../Components/OAGIS/CoreComponents/QualifiedDataTypes.xsd"/>
   <xsd:import namespace="http://www.starstandard.org/STAR/5/codelists" schemaLocation="../Components/Common/CodeLists.xsd"/>
   <xsd:import namespace="http://www.openapplications.org/oagis/9" schemaLocation="../Components/OAGIS/Common/Components.xsd" />
    <xsd:element name="RetailDeliveryReporting" type="RetailDeliveryReportingType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">
                RetailDeliveryReporting reports the "sale" of a vehicle at 
                the dealership. Retail Delivery Reporting is the task of sending the Retail 
                Delivery Reporting information electronically between Dealer and OEM systems. 
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="RetailDeliveryReportingHeader" type="RetailDeliveryReportingHeaderType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">
                Retail Delivery Reporting Header
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="RetailDeliveryReportingVehicleLineItem" type="RetailDeliveryReportingVehicleLineItemType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Detail information regarding a vehicle for a particular retail delivery report.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="RetailDeliveryReportingType">
        <xsd:annotation xmlns="http://www.starstandards.org/STAR">
            <xsd:documentation source="http://www.starstandard.org/STAR/5">STAR Version 3.0 - Draft</xsd:documentation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">STAR Version 2.1, STAR approved 04/20/2005; effective date 07/04/2005</xsd:documentation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">STAR Version 2.0, STAR approved 05/07/2004; effective date 07/04/2004</xsd:documentation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">STAR Version 1.1 STAR approved 04/09/2003; OAGI approved 3/15/2003 effective date 07/04/2003</xsd:documentation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">STAR Version 1.0 STAR approved 11/22/2002; OAGI reviewed 11/08/2002; effective date 01/01/2003</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="RetailDeliveryReportingHeader"/>
            <xsd:element ref="RetailDeliveryReportingVehicleLineItem" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RetailDeliveryReportingHeaderType">
        <xsd:annotation xmlns="http://www.starstandards.org/STAR">
            <xsd:documentation source="http://www.starstandard.org/STAR/5">.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="HeaderBaseType">
                <xsd:sequence>
                    <!--<xsd:element ref="DocumentID" minOccurs="0" />-->
                    <xsd:element name="SalesDate" type="udt:DateType" minOccurs="0">
                  <xsd:annotation xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1" xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1">
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Date sales paperwork
                signed</xsd:documentation>
        </xsd:annotation>
               </xsd:element>
                    <xsd:element name="DealerTransferDate" type="udt:DateType" minOccurs="0">
                  <xsd:annotation xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1" xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1">
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Date transferred to
                retailing dealer</xsd:documentation>
        </xsd:annotation>
               </xsd:element>
                    <xsd:element name="AcquisitionMethod" type="udt:TextType" minOccurs="0">
                  <xsd:annotation xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1" xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1">
            <xsd:documentation source="http://www.starstandard.org/STAR/5">method of
            acquisition</xsd:documentation>
        </xsd:annotation>
               </xsd:element>
                    <xsd:element name="SaleCategoryString" type="qdt:StringType" minOccurs="0">
                  <xsd:annotation xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1" xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1">
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Category of
            sale</xsd:documentation>
        </xsd:annotation>
               </xsd:element>
                    <xsd:element name="SaleSubCategoryString" type="qdt:StringType" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1" xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1">
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Code to extend the
                category of sale</xsd:documentation>
        </xsd:annotation>
               </xsd:element>
                    <xsd:element ref="TransferringDealerParty" minOccurs="0"/>
                    <xsd:element ref="SalesPersonParty" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element ref="SalesManagerParty" minOccurs="0"/>
                    <xsd:element ref="FinanceInsuranceManagerParty" minOccurs="0"/>
                    <xsd:element name="SellingSourceCode" type="udt:CodeType" minOccurs="0">
                  <xsd:annotation xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1" xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1">
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Code to determine souce
                brand of sale (i.e., OEM division)</xsd:documentation>
        </xsd:annotation>
               </xsd:element>
                    <xsd:element ref="BuyerParty" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element ref="Co-BuyerParty" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element ref="PrimaryDriver" minOccurs="0"/>
                    <xsd:element ref="SecondaryPrimaryDriver" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element ref="SoldFinance" minOccurs="0"/>
                    <xsd:element ref="TradeInVehicleCredit" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element name="LocationID" type="udt:IdentifierType" minOccurs="0">
                  <xsd:annotation xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1" xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1">
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Code identifying a
                physical location</xsd:documentation>
        </xsd:annotation>
               </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="RetailDeliveryReportingVehicleLineItemType">
        <xsd:annotation xmlns="http://www.starstandards.org/STAR">
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Detail information regarding a vehicle for a particular retail delivery report.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="Vehicle" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="CommercialUsageIndicator" type="udt:IndicatorType" minOccurs="0" maxOccurs="1">
            <xsd:annotation xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1" xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1">
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Indicates that the
                planned use of the vehicle is for commercial purposes.</xsd:documentation>
        </xsd:annotation>
         </xsd:element>
            <xsd:element name="PDIDate" type="udt:DateType" minOccurs="0" maxOccurs="1">
            <xsd:annotation xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1" xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1">
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Date Pre-Delivery
                Inspection completed at dealership</xsd:documentation>
        </xsd:annotation>
         </xsd:element>
            <xsd:element name="RegistrationStateString" type="qdt:StringType" minOccurs="0" maxOccurs="1">
            <xsd:annotation xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1" xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1">
            <xsd:documentation source="http://www.starstandard.org/STAR/5">State or province of
                vehicle registration</xsd:documentation>
        </xsd:annotation>
         </xsd:element>
            <xsd:element name="SecurityCode" type="udt:CodeType" minOccurs="0" maxOccurs="1">
            <xsd:annotation xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1" xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1">
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Vehicle security code for
                entry or backup security</xsd:documentation>
        </xsd:annotation>
         </xsd:element>
            <xsd:element ref="ServiceTechnicianParty" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="Tire" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element ref="BrandedInfo" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="DeliveryDate" type="udt:DateType" minOccurs="0" maxOccurs="1">
            <xsd:annotation xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1" xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1">
            <xsd:documentation source="http://www.starstandard.org/STAR/5">The date the item, e.g.,
                a vehicle, engine, boat, part, etc. was physically delivered to the
            buyer.</xsd:documentation>
        </xsd:annotation>
         </xsd:element>
            <xsd:element name="DeliveryDistanceMeasure" type="sqdt:LengthMeasureType" minOccurs="0" maxOccurs="1">
            <xsd:annotation xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1" xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1">
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Odometer reading of
                vehicle at time of delivery</xsd:documentation>
        </xsd:annotation>
         </xsd:element>
            <xsd:element name="IgnitionKeyNumberString" type="qdt:StringType" minOccurs="0" maxOccurs="1">
            <xsd:annotation xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1" xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1">
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Vehicle Ignition Key
                Number</xsd:documentation>
        </xsd:annotation>
         </xsd:element>
            <xsd:element name="LicenseNumberString" type="qdt:StringType" minOccurs="0" maxOccurs="1">
            <xsd:annotation xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1" xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1">
            <xsd:documentation source="http://www.starstandard.org/STAR/5">State License plate
                number of vehicle</xsd:documentation>
        </xsd:annotation>
         </xsd:element>
            <xsd:element name="NonUSVehicleIndicator" type="udt:IndicatorType" minOccurs="0" maxOccurs="1">
            <xsd:annotation xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1" xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1">
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Indicates whether the
                vehicle was produced for the United States or not</xsd:documentation>
        </xsd:annotation>
         </xsd:element>
            <xsd:element name="OdometerStatus" type="udt:TextType" minOccurs="0" maxOccurs="1">
            <xsd:annotation xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1" xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1">
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Status of odometer at
                trade-in. Example:: Replaced, Tampered, Miles&gt; 90,000,
            etc.</xsd:documentation>
        </xsd:annotation>
         </xsd:element>
            <xsd:element name="RestrictionDescription" type="udt:TextType" minOccurs="0" maxOccurs="1">
            <xsd:annotation xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1" xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1">
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Description of vehicle
                use restrictions</xsd:documentation>
        </xsd:annotation>
         </xsd:element>
            <xsd:element name="RestrictionIndicator" type="udt:IndicatorType" minOccurs="0" maxOccurs="1">
            <xsd:annotation xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1" xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1">
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Indication that vehicle
                has restrictions on its use</xsd:documentation>
        </xsd:annotation>
         </xsd:element>
            <xsd:element name="TelematicsServiceIndicator" type="udt:IndicatorType" minOccurs="0" maxOccurs="1">
            <xsd:annotation xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1" xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1">
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Indication whether
                Telematics Service Subscription is turned on</xsd:documentation>
        </xsd:annotation>
         </xsd:element>
            <xsd:element name="VehicleDemoIndicator" type="udt:IndicatorType" minOccurs="0" maxOccurs="1">
            <xsd:annotation xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1" xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1">
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Indicates whether vehicle
                was ever a demo</xsd:documentation>
        </xsd:annotation>
         </xsd:element>
            <xsd:element name="VehicleStockString" type="qdt:StringType" minOccurs="0" maxOccurs="1">
            <xsd:annotation xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1" xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1">
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Dealer assigned vehicle
                stock number</xsd:documentation>
        </xsd:annotation>
         </xsd:element>
            <xsd:element ref="WarrantyAdditional" minOccurs="0" maxOccurs="unbounded"/>          
            <xsd:element ref="SoldServiceContract" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element ref="MarketingInitiatives" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element ref="ExpandedOption" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element ref="FleetAccount" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="DestinationLocation" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element ref="VehicleDeliveryStatus" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element ref="SalesPersonParty" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">
                        Note: if this field is filled in it will override the corresponding field at the
                        header level.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="SalesManagerParty" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">
                        Note: if this field is filled in it will override the corresponding field at the
                        header level.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="Pricing" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="SalesLeadID" type="udt:IdentifierType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">
                        The Sales Lead that lead associated with this vehicle.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="DealerCostPrice" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SoldFinanceType">
        <xsd:annotation xmlns="http://www.starstandards.org/STAR">
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Detail information regarding financing of the sold vehicle. </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="Financing" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="ProgramsAndRates" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element ref="LienholderParty" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="SoldFinance" type="SoldFinanceType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">
                Detail information regarding financing of the sold vehicle. 
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
</xsd:schema>
