ModelDrivenNode/schema/Star/Resources/Nouns/VehicleServiceHistory.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:star="http://www.starstandard.org/STAR/5"
    xmlns:oacl="http://www.openapplications.org/oagis/9/codelists"
    xmlns:sqdt="http://www.starstandard.org/STAR/5/qualifieddatatypes/1.0"
    xmlns="http://www.starstandard.org/STAR/5" xmlns:ccts="urn:un:unece:uncefact:documentation:1.1"
    xmlns:sudt="http://www.starstandard.org/STAR/5/unqualifieddatatypes/1.0"
    xmlns:scl="http://www.starstandard.org/STAR/5/codelists"
    targetNamespace="http://www.starstandard.org/STAR/5" elementFormDefault="qualified"
    attributeFormDefault="unqualified" blockDefault="#all"
    xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1"
    xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1">
    <xsd:annotation>
        <xsd:documentation source="http://www.starstandard.org/STAR/5">
            This schema is made available under an Eclipse Public Licenses 1.0.  This
            license may be found in the STAR/License directory as well as the STAR BOD
            Guidelines.
        </xsd:documentation>
    </xsd:annotation>
    <xsd:include schemaLocation="../Components/Common/Meta.xsd"/>
    <xsd:import namespace="http://www.starstandard.org/STAR/5/qualifieddatatypes/1.0"
        schemaLocation="../Components/Common/QualifiedDataTypes.xsd"/>
    <xsd:import namespace="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"
        schemaLocation="../Components/OAGIS/CoreComponents/UnqualifiedDataTypes.xsd"/>
    <xsd:import namespace="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1"
        schemaLocation="../Components/OAGIS/CoreComponents/QualifiedDataTypes.xsd"/>
    <xsd:import namespace="http://www.starstandard.org/STAR/5/codelists"
        schemaLocation="../Components/Common/CodeLists.xsd"/>
    <xsd:import namespace="http://www.openapplications.org/oagis/9"
        schemaLocation="../Components/OAGIS/Common/Components.xsd"/>
    <xsd:element name="VehicleServiceHistory" type="VehicleServiceHistoryType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">
                VehicleServiceHistory supports the transmission of 
                Vehicle Service History information to the dealership.  
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="VehicleServiceHistoryHeader" type="VehicleServiceHistoryHeaderType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">
                Vehicle Service History Header
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="VehicleServiceHistoryDetail" type="VehicleServiceHistoryDetailType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">
                Vehicle Service History Detail
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="VehicleServiceHistoryType">
        <xsd:annotation xmlns="http://www.starstandards.org/STAR">
            <xsd:documentation source="http://www.starstandard.org/STAR/5">STAR Version 4.0 - Draft</xsd:documentation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">STAR Version 3.0, STAR approved 04/20/2005; effective date 07/04/2005</xsd:documentation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">STAR Version 2.0, STAR approved 05/07/2004; effective date 07/04/2004</xsd:documentation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">STAR Version 1.0, STAR approved 7/31/2002; OAGI approved 8/16/2002; effective date 1/01/2003</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="VehicleServiceHistoryHeader"/>
            <xsd:element ref="VehicleServiceHistoryDetail" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="VehicleServiceHistoryHeaderType">
        <xsd:annotation xmlns="http://www.starstandards.org/STAR">
            <xsd:documentation source="http://www.starstandard.org/STAR/5">.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="HeaderBaseType">
                <xsd:sequence>
                    <xsd:element ref="ServiceDealerParty" minOccurs="0"/>
                    <xsd:element ref="OwnerParty" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element ref="Co-OwnerParty" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element ref="PrimaryDriver" minOccurs="0"/>
                    <xsd:element ref="SecondaryPrimaryDriver" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element ref="VehicleServiceHistoryVehicleLineItem"/>
                    <xsd:element ref="Warranty" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element ref="ServiceContract" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element ref="CASE" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element ref="ServiceCampaign" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element ref="ServiceBulletin" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element ref="RelatedRepairServiceBulletin" minOccurs="0"
                        maxOccurs="unbounded"/>
                    <xsd:element name="ServiceRepairWarningDescription" type="udt:TextType"
                        minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation
                            xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"
                            xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1">
                            <xsd:documentation source="http://www.starstandard.org/STAR/5">Contains instructions and
                        early warning criteria from GM engineers related to the provided complaint
                        codes.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element ref="ShipToParty" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="SoldToParty" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="InServiceDealerParty" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="DeliveryDealerParty" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="TransactionCode" type="udt:TextType" minOccurs="0" maxOccurs="1" >
                        <xsd:annotation
                            xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"
                            xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1">
                            <xsd:documentation source="http://www.starstandard.org/STAR/5">The transaction code is required to identify the process that is initiating the National 
                                Service History request. VIR = Vehicle Information Request, HVIRR = Host Vehicle Information request response, DMS = Complete request Vehicle, RO and Customer.                            
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="Requestor" type="udt:TextType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation
                            xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"
                            xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1">
                            <xsd:documentation source="http://www.starstandard.org/STAR/5">What process is requesting the NSH data. Service Write Up or Service Appointment. Nissan is limiting the data that is returned during an Appointment.
                                Specifically TSB data is not returned for an Appointment.Values: SW=Service Write up, SA=ServiceAppointment</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="VehicleServiceHistoryDetailType">
        <xsd:annotation xmlns="http://www.starstandards.org/STAR">
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Detail for each service visit requested</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <!--<xsd:element ref="DocumentID" minOccurs="0" />-->
            <xsd:element name="RepairOrderOpenedDate" type="udt:DateType" minOccurs="0">
                <xsd:annotation
                    xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"
                    xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1">
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">System date when Repair
                Order was opened</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="RepairOrderCompletedDate" type="udt:DateType">
                <xsd:annotation
                    xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"
                    xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1">
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">The date the last line
                was closed on the repair order</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="ServiceAdvisorParty" minOccurs="0"/>
            <xsd:element name="MileageInDistance" type="sqdt:DistanceType" minOccurs="0">
                <xsd:annotation
                    xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"
                    xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1">
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">Odometer reading of
                vehicle when repair order was opened</xsd:documentation>
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">Deprecated. Use:
                InDistanceMeasure</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="MileageOutDistance" type="sqdt:DistanceType" minOccurs="0">
                <xsd:annotation
                    xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"
                    xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1">
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">Odometer reading of
                vehicle when repair order was closed</xsd:documentation>
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">Deprecated. Use:
                OutDistanceMeasure</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="OrderNotes" type="udt:TextType" minOccurs="0">
                <xsd:annotation
                    xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"
                    xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1">
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">Free form text for
                general repair order comment which will be printed on the
            invoice</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="OrderInternalNotes" type="udt:TextType" minOccurs="0">
                <xsd:annotation
                    xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"
                    xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1">
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">Free form text for
                internal repair order remarks that will NOT be printed on the
            invoice</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="ServiceDealerParty" minOccurs="0"/>
            <xsd:element name="ServiceTypeCode" type="scl:ServiceTypeEnumeratedType">
                <xsd:annotation
                    xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"
                    xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1">
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">Type of service
            performed</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="Diagnostics" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element ref="RentLoaner" minOccurs="0"/>
            <xsd:element name="WarrantyClaim" type="WarrantyClaimHistoryType" minOccurs="0"
                maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        Deprecated: Use WarrantyClaimHistory.   This field is deprecated to align with the STAR 5
                        naming and design rules.   It will be removed in the next major version of STAR.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Job" type="JobHistoryType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        Deprecated: Use JobHistory.  This field is deprecated to align with the STAR 5 naming and
                        design rules.  It will be removed in the next major version of STAR.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="WarrantyClaimHistory" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element ref="JobHistory" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element ref="Sublet" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">
            			Communicates the sublet related information for the type of service performed.
            		</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="InDistanceMeasure" type="sqdt:LengthMeasureType" minOccurs="0"
                maxOccurs="1">
                <xsd:annotation
                    xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"
                    xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1">
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">
            			Odometer reading of vehicle when repair order was opened.
            			Should be used instead of MileageInDistance.
                	</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="OutDistanceMeasure" type="sqdt:LengthMeasureType" minOccurs="0"
                maxOccurs="1">
                <xsd:annotation
                    xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"
                    xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1">
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">
            			Odometer reading of vehicle when repair order was closed.
            			Should be used instead of MileageOutDistance.
                	</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="DocumentReferenceIdentificationGroup" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="VehicleServiceHistoryVehicleLineItem"
        type="VehicleServiceHistoryVehicleLineItemType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">
                Detail information regarding a vehicle for a particular service appointment.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="VehicleServiceHistoryVehicleLineItemType">
        <xsd:annotation xmlns="http://www.starstandards.org/STAR">
            <xsd:documentation source="http://www.starstandard.org/STAR/5">.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="Vehicle" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="BrandedInfo" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="DeliveryDate" type="udt:DateType" minOccurs="0" maxOccurs="1">
                <xsd:annotation
                    xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"
                    xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1">
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">The date the item, e.g.,
                a vehicle, engine, boat, part, etc. was physically delivered to the
            buyer.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="DeliveryDistanceMeasure" type="sqdt:LengthMeasureType" minOccurs="0"
                maxOccurs="1">
                <xsd:annotation
                    xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"
                    xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1">
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">Odometer reading of
                vehicle at time of delivery</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="IgnitionKeyNumberString" type="qdt:StringType" minOccurs="0"
                maxOccurs="1">
                <xsd:annotation
                    xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"
                    xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1">
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">Vehicle Ignition Key
                Number</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="NonUSVehicleIndicator" type="udt:IndicatorType" minOccurs="0"
                maxOccurs="1">
                <xsd:annotation
                    xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"
                    xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1">
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">Indicates whether the
                vehicle was produced for the United States or not</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="OdometerStatus" type="udt:TextType" minOccurs="0" maxOccurs="1">
                <xsd:annotation
                    xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"
                    xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1">
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">Status of odometer at
                trade-in. Example:: Replaced, Tampered, Miles&gt; 90,000,
            etc.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="RestrictionIndicator" type="udt:IndicatorType" minOccurs="0"
                maxOccurs="1">
                <xsd:annotation
                    xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"
                    xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1">
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">Indication that vehicle
                has restrictions on its use</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="RestrictionDescription" type="udt:TextType" minOccurs="0"
                maxOccurs="1">
                <xsd:annotation
                    xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"
                    xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1">
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">Description of vehicle
                use restrictions</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="TelematicsServiceIndicator" type="udt:IndicatorType" minOccurs="0"
                maxOccurs="1">
                <xsd:annotation
                    xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"
                    xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1">
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">Indication whether
                Telematics Service Subscription is turned on</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="VehicleDemoIndicator" type="udt:IndicatorType" minOccurs="0"
                maxOccurs="1">
                <xsd:annotation
                    xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"
                    xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1">
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">Indicates whether vehicle
                was ever a demo</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="VehicleStockString" type="qdt:StringType" minOccurs="0" maxOccurs="1">
                <xsd:annotation
                    xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"
                    xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1">
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">Dealer assigned vehicle
                stock number</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="LicenseNumberString" type="qdt:StringType" minOccurs="0"
                maxOccurs="1">
                <xsd:annotation
                    xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"
                    xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1">
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">State License plate
                number of vehicle</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="CertifiedPreownedIndicator" type="udt:IndicatorType" minOccurs="0"
                maxOccurs="1">
                <xsd:annotation
                    xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"
                    xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1">
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">Identifies as a certified
                Pre-Owned Vehicle</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="ImageAttachment" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="SoldAreaEmissionCode" type="udt:CodeType" minOccurs="0" maxOccurs="1">
                <xsd:annotation
                    xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"
                    xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1">
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">The code for the
                geographical Area that the unit is sold.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="VehicleOriginCountryCode" type="scl:CountryEnumeratedType"
                minOccurs="0" maxOccurs="1">
                <xsd:annotation
                    xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"
                    xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1">
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">The country where the
                vehicle was manufactured.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="Option" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="VehicleShipDate" type="udt:DateType" minOccurs="0" maxOccurs="1">
                <xsd:annotation
                    xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"
                    xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1">
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">Date shipped from
                warehouse or distribution center</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="VehicleBuildOrderNumberID" type="udt:IdentifierType" minOccurs="0"
                maxOccurs="1">
                <xsd:annotation
                    xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"
                    xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1">
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">The build order number of
                the vehicle.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="VehicleBuildDate" type="udt:DateType" minOccurs="0" maxOccurs="1">
                <xsd:annotation
                    xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"
                    xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1">
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">The date on which the
                vehicle was built.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="VehicleBuildPlantCode" type="udt:CodeType" minOccurs="0"
                maxOccurs="1">
                <xsd:annotation
                    xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"
                    xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1">
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">The build plant
            code.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="VehicleBuildPlantCodeDescription" type="udt:TextType" minOccurs="0"
                maxOccurs="unbounded">
                <xsd:annotation
                    xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"
                    xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1">
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">A description of the
                build plant code.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="VehicleMajorPartsProductItem" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="DeliveryTypeCode" type="sqdt:DeliveryTypeCodeType" minOccurs="0"
                maxOccurs="1">
                <xsd:annotation
                    xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"
                    xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1">
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">Transaction request
                delivery type</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="DeliveryTypeDescription" type="udt:TextType" minOccurs="0"
                maxOccurs="unbounded">
                <xsd:annotation
                    xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"
                    xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1">
                    <xsd:documentation source="http://www.starstandard.org/STAR/5"> Text description of the
                delivery type. </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="PreDeliveryInspectionStatusCode" type="udt:CodeType" minOccurs="0"
                maxOccurs="1">
                <xsd:annotation
                    xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"
                    xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1">
                    <xsd:documentation source="http://www.starstandard.org/STAR/5"> Text description of the
                delivery type. </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ServiceAgentInvoiceDate" type="udt:DateType" minOccurs="0"
                maxOccurs="1">
                <xsd:annotation
                    xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"
                    xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1">
                    <xsd:documentation source="http://www.starstandard.org/STAR/5"> Date of the invoice for
                the vehicle from the service agent. </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="InService" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="VehicleOrderTypeString" type="qdt:StringType" minOccurs="0"
                maxOccurs="1">
                <xsd:annotation
                    xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"
                    xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1">
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">Identifies vehicle order
                type</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="PDIDate" type="udt:DateType" minOccurs="0" maxOccurs="1">
                <xsd:annotation
                    xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"
                    xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1">
                    <xsd:documentation source="http://www.starstandard.org/STAR/5"> Date the Vechicle had
                        its PDI completed </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
