schema/axis/AirAvailabilityRS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:include schemaLocation="CommonTypes.xsd"/>
	<xsd:element name="AirAvailabilityRS">
		<xsd:annotation>
			<xsd:documentation>Air availability response root element</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="InfoGroup" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="OriginDestination" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="version" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation>Version number.  Example: 1.0</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="OriginDestination">
		<xsd:annotation>
			<xsd:documentation>Origin and destination group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Flight" maxOccurs="unbounded"/>
				<xsd:element ref="MoreFlightsToken" minOccurs="0"/>
				<xsd:element name="AlternateDate" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Used when an alternate date (different from request date) is being returned.
Note: Alternate dates must be requested in the RQ message</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref="RequestDate"/>
							<xsd:element ref="AlternateDate"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="DepartureCode">
				<xsd:annotation>
					<xsd:documentation>Departure airport or city code.  Example: MIA</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="3"/>
						<xsd:maxLength value="3"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="ArrivalCode">
				<xsd:annotation>
					<xsd:documentation>Arrival airport or city code.  Example: CDG</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="3"/>
						<xsd:maxLength value="3"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute ref="Source"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Departure">
		<xsd:annotation>
			<xsd:documentation>Segment departure group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="AirportCode"/>
				<xsd:element ref="AirportName"/>
				<xsd:element ref="Date"/>
				<xsd:element name="Time" type="Time">
					<xsd:annotation>
						<xsd:documentation>Departure time in ISO 8601 format (hh:mm).  Example: 14:50</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="Terminal" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="AirportCode">
		<xsd:annotation>
			<xsd:documentation>Segment departure or arrival airport code.  Example: MIA</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="3"/>
				<xsd:maxLength value="3"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="AirportName" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Segment departure or arrival airport name.  Example: JFK, NY</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Date" type="xsd:date">
		<xsd:annotation>
			<xsd:documentation>Segment departure or arrival date in ISO 8601 format (YYYY-MM-DD).  Example: 2001-11-30</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Arrival">
		<xsd:annotation>
			<xsd:documentation>Segment arrival group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="AirportCode"/>
				<xsd:element ref="AirportName"/>
				<xsd:element ref="Date"/>
				<xsd:element ref="ChangeOfDay" minOccurs="0"/>
				<xsd:element name="Time" type="Time">
					<xsd:annotation>
						<xsd:documentation>Arrival time in ISO 8601 format (hh:mm).  Example: 14:50</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="Terminal" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Flight">
		<xsd:annotation>
			<xsd:documentation>Group of different flight options</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="JourneyTime" minOccurs="0"/>
				<xsd:element ref="Segment" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="LinkType">
				<xsd:annotation>
					<xsd:documentation>Flight link type.  Possible values are: 
SDA = Sabre direct Access
SMA = Sabre multi Access
SDC = Sabre direct Connect
SAB = Sabre answerback
1A  = Amadeus (full) Access (AS + AU)
AS  = Amadeus Access Sell
AU  = Amadeus Access Update
DA  = Amadeus Direct Access
1ADA = Amadeus (full) Access and Direct Access
ASDA = Amadeus Access Sell and Direct Access
AUDA = Amadeus Access Update and Direct Access
NO  = Apollo/Galileo No sell agreement exists between host and the vendor
NS  = Apollo/Galileo Non-statusing member - flights are generally on request
ST  = Apollo/Galileo Standard AVS status sell - no      guarantees, no      last seat
FS  = Apollo/Galileo Free sale agreement
GA  = Apollo/Galileo Guaranteed against Alpha AVS status
GU  = Apollo/Galileo Guaranteed against numeric status
SA  = Apollo/Galileo Same as GA, except vendor record locator is returned sooner
SU  = Apollo/Galileo Same as GU, except vendor record locator is returned sooner
SS  = Apollo/Galileo Secured Sell
WDS = Worldspan Airline Source
WDD = Worldspan Direct Sell 
WDA = Worldspan AccessPlus
WDR = Worldspan Direct Response
DAM = Direct Access Mode
Example: SDA</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="2"/>
						<xsd:maxLength value="4"/>
						<xsd:enumeration value="SDA"/>
						<xsd:enumeration value="SMA"/>
						<xsd:enumeration value="SDC"/>
						<xsd:enumeration value="SAB"/>
						<xsd:enumeration value="1A"/>
						<xsd:enumeration value="AS"/>
						<xsd:enumeration value="AU"/>
						<xsd:enumeration value="DA"/>
						<xsd:enumeration value="1ADA"/>
						<xsd:enumeration value="ASDA"/>
						<xsd:enumeration value="AUDA"/>
						<xsd:enumeration value="NO"/>
						<xsd:enumeration value="NS"/>
						<xsd:enumeration value="ST"/>
						<xsd:enumeration value="FS"/>
						<xsd:enumeration value="GA"/>
						<xsd:enumeration value="GU"/>
						<xsd:enumeration value="SA"/>
						<xsd:enumeration value="SU"/>
						<xsd:enumeration value="SS"/>
						<xsd:enumeration value="WDS"/>
						<xsd:enumeration value="WDD"/>
						<xsd:enumeration value="WDA"/>
						<xsd:enumeration value="WDR"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute ref="Source"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="JourneyTime">
		<xsd:annotation>
			<xsd:documentation>Total journey time of the flight.  Example: 25:30</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:pattern value="[0-9][0-9]:[0-5][0-9]">
					<xsd:annotation>
						<xsd:documentation>
</xsd:documentation>
					</xsd:annotation>
				</xsd:pattern>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Segment">
		<xsd:annotation>
			<xsd:documentation>Segment Information group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Departure"/>
				<xsd:element ref="Arrival"/>
				<xsd:element ref="Carrier"/>
				<xsd:element ref="OperatingCarrier" minOccurs="0"/>
				<xsd:element ref="Equipment"/>
				<xsd:element ref="NumberOfStops" minOccurs="0"/>
				<xsd:element ref="StopInformation" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="Meals" minOccurs="0"/>
				<xsd:element ref="Frequency" minOccurs="0"/>
				<xsd:element ref="FlightDuration" minOccurs="0"/>
				<xsd:element ref="OnTimeInfo" minOccurs="0"/>
				<xsd:element ref="ElectronicTicketing" minOccurs="0"/>
				<xsd:element ref="Ticketless" minOccurs="0"/>
				<xsd:element ref="InstantPurchase" minOccurs="0"/>
				<xsd:element ref="TrafficRestrictions" minOccurs="0"/>
				<xsd:element ref="Classes"/>
			</xsd:sequence>
			<xsd:attribute name="ChangeOfAirport" default="N">
				<xsd:annotation>
					<xsd:documentation>Change of airport indicator.  Values are: Y = there is a change of airport in the connection, N = there is no change of airport in the connection.  Example: N</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="1"/>
						<xsd:enumeration value="Y"/>
						<xsd:enumeration value="N"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="Cancelled">
				<xsd:annotation>
					<xsd:documentation>Identifies if this segment was cancelled. Optional. Values are: Y - cancelled, N - active. If omitted - active. NOTE: Currently implemented for Galileo/Apollo only.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="1"/>
						<xsd:enumeration value="Y"/>
						<xsd:enumeration value="N"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute ref="Source"/>
			<xsd:attribute name="SecureFlight" use="optional">
				<xsd:annotation>
					<xsd:documentation>Indicates if Secure Flight data is required for this flight.  
Values:
Y = Secure flight data must be provided
N = (Default) flight does not require Secure Flight data</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="Y"/>
						<xsd:enumeration value="N"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Terminal" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Segment departure or arrival airport terminal.  Example: 2F</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ChangeOfDay" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Change of day information.  Example: +1</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AirlineCode">
		<xsd:annotation>
			<xsd:documentation>Airline code.  Example: DL </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="2"/>
				<xsd:maxLength value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="AirlineName" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Airline name.  Example: Delta Air</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="NumberOfStops" default="0">
		<xsd:annotation>
			<xsd:documentation>Number of stops.  Example: 1</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:integer">
				<xsd:minInclusive value="0"/>
				<xsd:maxInclusive value="9"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Meals">
		<xsd:annotation>
			<xsd:documentation>Indicates what type of meals are served. Meal codes are IATA standard and can be any combination of the following codes:
B = Breakfast
K = Continental Breakfast
V = Continental Breakfast
L = Lunch
D = Dinner
S = Snack or Brunch
O = Cold Meal
H = Hot Meal
M = Meal (Non-Specific)
R = Refreshment
C = Alcoholic Beverages Complimentary
F = Food for Purchase
P = Alcoholic Beverages for Purchase
Y = Duty Free Sales Available
G = Light Lunch
Example: B</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Frequency">
		<xsd:annotation>
			<xsd:documentation>This indicates which days of the week the flight operates on- i.e. 1234567, 123, 467
1 = Monday
2 = Tuesday
3 = Wednesday
4 = Thursday
5 = Friday
6 = Saturday
7 = Sunday
Example: 12356</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="FlightDuration">
		<xsd:annotation>
			<xsd:documentation>Segment total flying time.  Example: 12:30</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:pattern value="[0-9][0-9]:[0-5][0-9]">
					<xsd:annotation>
						<xsd:documentation>
</xsd:documentation>
					</xsd:annotation>
				</xsd:pattern>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Classes">
		<xsd:annotation>
			<xsd:documentation>Flight classes group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ClassOfService" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="COSType">
								<xsd:attribute name="Status" use="required">
									<xsd:annotation>
										<xsd:documentation>Numeric status (available seats).  Values are: A = Seats are available, L = Waitlist Open for a segment, C = Waitlist closed, R = Seats on request only to airline, S = waitlist closed, 0 - 9 = number of at least available seats, 'empty' = no information.  Example: 9</xsd:documentation>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:enumeration value="A"/>
											<xsd:enumeration value="L"/>
											<xsd:enumeration value="C"/>
											<xsd:enumeration value="R"/>
											<xsd:enumeration value="S"/>
											<xsd:enumeration value="0"/>
											<xsd:enumeration value="1"/>
											<xsd:enumeration value="2"/>
											<xsd:enumeration value="3"/>
											<xsd:enumeration value="4"/>
											<xsd:enumeration value="5"/>
											<xsd:enumeration value="6"/>
											<xsd:enumeration value="7"/>
											<xsd:enumeration value="8"/>
											<xsd:enumeration value="9"/>
											<xsd:enumeration value=""/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
								<xsd:attribute name="Cabin">
									<xsd:annotation>
										<xsd:documentation>Specifies the associated cabin.  Valid values are : 
F = First class
C = Business class
W = Premium Economy
Y = Coach class
Example: F</xsd:documentation>
									</xsd:annotation>
								</xsd:attribute>
								<xsd:attribute name="PriceClass">
									<xsd:annotation>
										<xsd:documentation>Name of PriceClass/Branded Fare.
Example: TANGO</xsd:documentation>
									</xsd:annotation>
								</xsd:attribute>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="OnTimeInfo">
		<xsd:annotation>
			<xsd:documentation>Indicates the on time performance.  Valid values are:
9 = 90-100 percent
8 = 80-89 percent
7 = 70-79 percent
6 = 60-69 percent
5 = 50-59 percent
4 = 40-49 percent
3 = 30-39 percent
2 = 20-29 percent
1 = 10-19 percent
0 = Less than 10 percent
N = New flight - no performance
U = No flight data available
X = International or city where reporting is not required.
Example: 8</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="1"/>
				<xsd:enumeration value="0"/>
				<xsd:enumeration value="1"/>
				<xsd:enumeration value="2"/>
				<xsd:enumeration value="3"/>
				<xsd:enumeration value="4"/>
				<xsd:enumeration value="5"/>
				<xsd:enumeration value="6"/>
				<xsd:enumeration value="7"/>
				<xsd:enumeration value="8"/>
				<xsd:enumeration value="9"/>
				<xsd:enumeration value="N"/>
				<xsd:enumeration value="U"/>
				<xsd:enumeration value="X"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ElectronicTicketing">
		<xsd:annotation>
			<xsd:documentation>Electronic ticketing indicator.  Values are:
Y = eticket can be issued
N = no eticket possible
Example: Y</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="1"/>
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Ticketless">
		<xsd:annotation>
			<xsd:documentation>Fare can be purchased without issuing a ticket.  Values are:
Y = Ticketless purchase possible
N = Ticketless purchase not possible
Example: Y</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="1"/>
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="InstantPurchase">
		<xsd:annotation>
			<xsd:documentation>Instant Purchase indicator.  Values are:
CC = Purchase is immediately charged to CC
AP = Purchase is using AirPass credit(s)
PP = Purchase is charged via PayPal (future use)
N = not an instant purchase (default)

Example: CC</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="2"/>
				<xsd:enumeration value="CC"/>
				<xsd:enumeration value="AP"/>
				<xsd:enumeration value="PP"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="TrafficRestrictions">
		<xsd:annotation>
			<xsd:documentation>Traffic restriction information.  Valid values are:
A = no local traffic
B = local traffic only
C = local and domestic connecting traffic only
D = qualified international online connecting or stopover traffic only
E = qualified online connecting or stopover traffic only
F = local and online connecting traffic only
G = qualified online connecting traffic only
H = segment not to be displayed
I = technical landing
J = conditional traffic
K = connecting traffic only
L = online connex traffic
M = international online stopover traffic only
N = international connecting traffic only
O = international online connecting traffic only
P = subj to govt approval 
Q = international online connecting or stopover traffic only
R = permanent request  
S = stopover traffic only 
T = online stopover traffic only
U = intl stopover traffic
V = connecting or stopover traffic only
W = international connecting or stopover traffic only
X = online connecting or stopover traffic only
Y = online connecting traffic only
Z = tr do not apply equally to passenger/cargo/mail
Example: X</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="1"/>
				<xsd:enumeration value="A"/>
				<xsd:enumeration value="B"/>
				<xsd:enumeration value="C"/>
				<xsd:enumeration value="D"/>
				<xsd:enumeration value="E"/>
				<xsd:enumeration value="F"/>
				<xsd:enumeration value="G"/>
				<xsd:enumeration value="H"/>
				<xsd:enumeration value="I"/>
				<xsd:enumeration value="J"/>
				<xsd:enumeration value="K"/>
				<xsd:enumeration value="L"/>
				<xsd:enumeration value="M"/>
				<xsd:enumeration value="N"/>
				<xsd:enumeration value="O"/>
				<xsd:enumeration value="P"/>
				<xsd:enumeration value="Q"/>
				<xsd:enumeration value="R"/>
				<xsd:enumeration value="S"/>
				<xsd:enumeration value="T"/>
				<xsd:enumeration value="U"/>
				<xsd:enumeration value="V"/>
				<xsd:enumeration value="W"/>
				<xsd:enumeration value="X"/>
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="Z"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Carrier">
		<xsd:annotation>
			<xsd:documentation>Carrier group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="AirlineCode"/>
				<xsd:element ref="AirlineName"/>
				<xsd:element ref="FlightNumber"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="OperatingCarrier">
		<xsd:annotation>
			<xsd:documentation>Operating carrier group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="AirlineCode"/>
				<xsd:element ref="AirlineName"/>
				<xsd:element ref="FlightNumber" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Equipment">
		<xsd:annotation>
			<xsd:documentation>Equipment group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Code"/>
				<xsd:element ref="Name"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Name" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Airplane type name.  Example: Boeing 747/200</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MoreFlightsToken" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Token used to request more flights in the subsequent air availability request.  Example: 124523467899</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="StopInformation">
		<xsd:annotation>
			<xsd:documentation>Stop information group

A Change of Gauge flight requires the @ChangeOfGauge attribte to be set to Y; it also requires to map the new equipment used from this stop forward.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="AirportCode"/>
				<xsd:element ref="AirportName"/>
				<xsd:element ref="ArrivalDate"/>
				<xsd:element name="ArrivalTime" type="Time">
					<xsd:annotation>
						<xsd:documentation>Stop arrival time in ISO 8601 format (hh:mm).  Example: 14:50</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="DepartureDate"/>
				<xsd:element name="DepartureTime" type="Time">
					<xsd:annotation>
						<xsd:documentation>Stop departure time in ISO 8601 format (hh:mm).  Example: 14:50</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="Equipment" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>ONLY used in case of a Change of Gauge flight the equipment for the continuation of the flight is mapped here.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="ChangeOfGauge">
				<xsd:annotation>
					<xsd:documentation>Possible Value: Y

Set if the flight is a Change of Gauge flight which will also require to map the NEW equipment (for the next leg of this flight) to the "Equipment" node</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ArrivalDate" type="xsd:date">
		<xsd:annotation>
			<xsd:documentation>Stop arrival date.  Example: 2003-12-25</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DepartureDate" type="xsd:date">
		<xsd:annotation>
			<xsd:documentation>Stop departure date.  Example: 2003-12-25</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AlternateDate" type="xsd:date">
		<xsd:annotation>
			<xsd:documentation>The results are for an alternate date (not matching request date)
Example: 2003-12-25</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="RequestDate" type="xsd:date">
		<xsd:annotation>
			<xsd:documentation>The original request date
Example: 2003-12-25</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
