schema/axis/BaggageChargesRS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="1.1">
	<xsd:include schemaLocation="CommonTypes.xsd"/>
	<xsd:element name="BaggageChargesRS">
		<xsd:annotation>
			<xsd:documentation>BaggageCharges response root element. Contain details of the price needed to checkin the set of bags.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="InfoGroup" minOccurs="0"/>
				<xsd:element ref="USDOT" minOccurs="0"/>
				<xsd:element ref="TotalPrice">
					<xsd:annotation>
						<xsd:documentation>Total price of baggage for the whole trip for all passengers</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="CurrencyCode" minOccurs="0"/>
				<xsd:element name="OriginDestination" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref="Allowance" minOccurs="0" maxOccurs="unbounded">
								<xsd:annotation>
									<xsd:documentation>This node is returned when baggage allowance exists for any of the selected flights. </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element ref="CarryOnAllowance" minOccurs="0" maxOccurs="unbounded">
								<xsd:annotation>
									<xsd:documentation>This node is returned when carry-on baggage allowance is requested and exists for any of the selected flights, </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="Bags" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>This node is returned when to return the bag charges</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="TotalPrice">
											<xsd:annotation>
												<xsd:documentation>Price for all the bags  per Baggage Travel (BT)</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element ref="Bag" maxOccurs="unbounded"/>
									</xsd:sequence>
									<xsd:attribute name="Prepaid">
										<xsd:annotation>
											<xsd:documentation>Defines price of the checked bags if prepaid.  Default is "N". </xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:enumeration value="N"/>
												<xsd:enumeration value="Y"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:attribute>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
						<xsd:attribute name="DepartureCode" use="required">
							<xsd:annotation>
								<xsd:documentation>Departure airport or city code.  Example: JFK</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:minLength value="3"/>
									<xsd:maxLength value="3"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="ArrivalCode" use="required">
							<xsd:annotation>
								<xsd:documentation>Arrival airport or city code.  Example: MIA</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:minLength value="3"/>
									<xsd:maxLength value="3"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="version" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation>Version number.  Example: 1.0</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Change">
		<xsd:annotation>
			<xsd:documentation>Change penalty group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Amount" minOccurs="0"/>
				<xsd:element ref="Text" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Cancel">
		<xsd:annotation>
			<xsd:documentation>Cancel penalty group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Amount" minOccurs="0"/>
				<xsd:element ref="Text" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TicketByDate">
		<xsd:annotation>
			<xsd:documentation>Ticket by date in ISO 8601 format (yyyy-mm-dd).  Example: 2002-12-25</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:date">
					<xsd:attribute ref="Time"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:attribute name="Time">
		<xsd:annotation>
			<xsd:documentation>Time in ISO 8601 format.  Example: 12:35 or 19:45</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:pattern value="([0-1][0-9]|2[0-4]):[0-5][0-9]">
					<xsd:annotation>
						<xsd:documentation>
</xsd:documentation>
					</xsd:annotation>
				</xsd:pattern>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:attribute>
	<xsd:element name="Amount">
		<xsd:annotation>
			<xsd:documentation>Penalty amount in currency amount or percentage.  Example: 7500</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:integer">
					<xsd:attribute name="Unit" use="required">
						<xsd:annotation>
							<xsd:documentation>Penalty amount unit.  Possible values are:
M = currency money value 
P = percentage  Example: M</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="1"/>
								<xsd:maxLength value="1"/>
								<xsd:enumeration value="M"/>
								<xsd:enumeration value="P"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ServiceDate" type="xsd:date">
		<xsd:annotation>
			<xsd:documentation>Date of service in ISO 8601 format (yyyy-mm-dd).  Example: 2001-12-25</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Penalties">
		<xsd:annotation>
			<xsd:documentation>Option Penalty group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Change" minOccurs="0"/>
				<xsd:element ref="Cancel" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="Refundable" use="optional">
				<xsd:annotation>
					<xsd:documentation>Indicates if option is refundable.  Values are:
Y = Option refundable
N = Option not refundable
Example: Y</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="Y"/>
						<xsd:enumeration value="N"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ServicePrice">
		<xsd:annotation>
			<xsd:documentation>Price for this service; not to be used for 'included' options (no charge options)

This node uses the Currency/Decimals of the FareGroup root level</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="BasePrice">
					<xsd:annotation>
						<xsd:documentation>Base (net) price of Option</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attribute name="Amount" use="required">
							<xsd:annotation>
								<xsd:documentation>Net price of option.
Example: 6750</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Taxes" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Tax Group</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Tax" minOccurs="0" maxOccurs="unbounded">
								<xsd:annotation>
									<xsd:documentation>Tax break down information group </xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence minOccurs="0">
										<xsd:element name="Designator">
											<xsd:annotation>
												<xsd:documentation>Specifies the applicable tax code. For itinerary taxes, this is an IATA-assigned tax code. For baggage and services taxes, this will be an assigned (e.g. ATPCO) code. This code is for reference only and should not be used for passenger display purposes.                  </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="Nature">
											<xsd:annotation>
												<xsd:documentation>This is the IATA ISO nation code for the applicable tax                                              Example: MX </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="Description" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Tax or surcharge description.  Example: US national transportation</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="TaxType">
											<xsd:annotation>
												<xsd:documentation>Unique tax type assigned for each business application of a tax code.                                                                   Values 001-099 are IATA assigned tax codes and 100-ZZZ are ATPCO assigned tax codes.  </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element ref="Diagnostics" minOccurs="0"/>
									</xsd:sequence>
									<xsd:attribute name="Amount" use="required">
										<xsd:annotation>
											<xsd:documentation>Individual tax amount.  Example: 250</xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
						<xsd:attribute name="Amount" use="required">
							<xsd:annotation>
								<xsd:documentation>Total taxes amount.  Example: 750</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="Total" type="xsd:integer" use="required">
				<xsd:annotation>
					<xsd:documentation>Total amount for this service based on FQTV status and chosen Price Class.

Total = base price +  total amount of taxes.

Example: 7500</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Bag">
		<xsd:annotation>
			<xsd:documentation>Service Details</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Info" minOccurs="0"/>
				<xsd:element name="SegmentIDRef" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation> ID reference passed in with the request, Example:  F1

Mandatory for flight related/associated services.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string"/>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
				<xsd:element ref="TravelerIDRef" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>The traveler's ID reference assigned by and passed in with the request, Example:  T1</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="Description" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>Title description (Commercial Name) of offered service.
From S5. Table 196

Example: "3rd Bag Fee"</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="DescriptionDetails" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Detailed description of this service. From S7 Table 196</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Text" type="xsd:string" maxOccurs="unbounded"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Amount" type="xsd:string" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Price for this option (or option differential in case of upsell).

This node is a string showing the value with decimal point (not linked to a currency code)

Sample:  25.50</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="ServicePrice" minOccurs="0"/>
				<xsd:element name="ValidatingCarrier" type="xsd:string" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Allows to override the Validating Carrier assigned to the entire FareGroup</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="Attributes" minOccurs="0"/>
				<xsd:element ref="BookingInstructions" minOccurs="0"/>
				<xsd:element name="MSCarrier" type="xsd:string" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>The carrier who governs the baggage rules. </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="S5" minOccurs="0"/>
				<xsd:element ref="S7" minOccurs="0"/>
				<xsd:element name="AllowanceInfo" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="MaxPieces" type="xsd:integer" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Maximum Pieces allowed.  </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="Piece" minOccurs="0" maxOccurs="unbounded">
								<xsd:annotation>
									<xsd:documentation>Details of Allowance</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Description" type="xsd:string">
											<xsd:annotation>
												<xsd:documentation>Title description (Commercial Name) of offered service.
From S5. Table 196

Example: "3rd Bag Fee"</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="DescriptionDetails" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Detailed description of this service. From S7. Table 196</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="FormattedText" type="xsd:string" maxOccurs="unbounded">
														<xsd:annotation>
															<xsd:documentation>Formatted Text from S5 Table 196. </xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													<xsd:element name="Text" type="xsd:string" maxOccurs="unbounded"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="MaxWeight" minOccurs="0">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:decimal">
														<xsd:attribute name="Unit" type="xsd:string" use="required">
															<xsd:annotation>
																<xsd:documentation>Measurement unit
Values are:
KG
LBS</xsd:documentation>
															</xsd:annotation>
														</xsd:attribute>
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="MaxDimensions" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Maximum Size allowed per Piece. </xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="Length" type="xsd:decimal">
														<xsd:annotation>
															<xsd:documentation>Value e.g 40 </xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													<xsd:element name="Height" type="xsd:decimal" minOccurs="0">
														<xsd:annotation>
															<xsd:documentation>Value e.g 40 </xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													<xsd:element name="Width" type="xsd:decimal" minOccurs="0">
														<xsd:annotation>
															<xsd:documentation>Value e.g 40 </xsd:documentation>
														</xsd:annotation>
													</xsd:element>
												</xsd:sequence>
												<xsd:attribute name="Units" type="xsd:string" use="required">
													<xsd:annotation>
														<xsd:documentation>Measurement unit
Values are:
IN
CM</xsd:documentation>
													</xsd:annotation>
												</xsd:attribute>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="MaxItems" type="xsd:decimal" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Maps to the parsed S5 e.g 02 from //02/0GO.
</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
									<xsd:attribute name="SubCode" type="xsd:string" use="required">
										<xsd:annotation>
											<xsd:documentation>ATPCO Subcode.
Example : 0CC  </xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="Method" use="required">
				<xsd:annotation>
					<xsd:documentation>Values are:

F = FareIntegrated
EA = EMD Associated
ES = EMD Standalone 
MA = Flight Associated but settled via MCO
MS = Standalone but settle via MCO
D = DirectSettlement
X = Not sellable </xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="F"/>
						<xsd:enumeration value="EA"/>
						<xsd:enumeration value="MA"/>
						<xsd:enumeration value="ES"/>
						<xsd:enumeration value="MS"/>
						<xsd:enumeration value="D"/>
						<xsd:enumeration value="X"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="TypeValue">
				<xsd:annotation>
					<xsd:documentation>EMD Type Value as defined by ATPCO

1 = Standalone
2 = Associated to a flight
3 = Standalone associated to  a ticket (but not flight)
4 = no EMD, carrier directed type
5 = E-Ticket </xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="ServiceType">
				<xsd:annotation>
					<xsd:documentation>The ATPCO defined code for the type of service (also referred to as 'Flight/Ticket/Merchandise Byte 21)':

F = Flight (TypeValue=2)
R = Rule Buster (Type Value = 5)
C = Charges
P = Pre Paid
T = Ticket (TypeValue=3 if EMD-S is issued, 4 if other)
M = Merchandise (TypeValue=1 if EMD-S is issued, 4 if other)</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="ReasonCode" use="required">
				<xsd:annotation>
					<xsd:documentation>IATA RFIC (ReasonFor IssuanceCode, a 1-character main code)
Example of RFIC: A  

Note: Only services of same RFIC code can be combined on an EMD-A document.  For example, if there are services of RFIC code "A" and "B", two separate EMD documents are needed, issuing all services of "A" and "B" on seperate docs.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="SubCode" use="required">
				<xsd:annotation>
					<xsd:documentation>ATPCO  Subcode.
Example : 0CC  </xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="ServiceCode">
				<xsd:annotation>
					<xsd:documentation>Additional unique ATPCO code.
Example: OC</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="FQTVCarrier">
				<xsd:annotation>
					<xsd:documentation>Specifies the carrier that owns the frequent flier program to which any bonus may be applicable. This carrier may differ from the carrier that owns the baggage policy based on processing of the ATPCO Frequent Flier Answer Table.                                   </xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="FQTVStatus">
				<xsd:annotation>
					<xsd:documentation>The status (tier level) of the traveler's FQTV account.

This is available as a query results against the airline's FQTV database.

Samples:
AA(American AAdvantage):
-- Gold
-- Platinum
-- Executive Platinum

LH (Miles and More):
-- Frequent Traveller
-- Senator
-- HON Circle

EK (Emirates Skywards):
-- Silver
-- Gold</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="FQTVNumber">
				<xsd:annotation>
					<xsd:documentation>This is the actual FrequentFlyer number associated to the FQTVStatus.  This will allow the POS GUI to associate the actual traveler with the respective option/price</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="AssociationID" use="required">
				<xsd:annotation>
					<xsd:documentation>Unique bag ID  to associate to the bag sent in the request.  Example: B1</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="ExcessBagNo" type="xsd:integer">
				<xsd:annotation>
					<xsd:documentation>Excess Bag Occurance.  Matches with the input request when supplied. </xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Attributes">
		<xsd:annotation>
			<xsd:documentation>ATPCO S5 record attributes</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Group">
					<xsd:annotation>
						<xsd:documentation>Samples:
BG = Baggage
FF = Frequent Flyer
GT = Ground Transportation
         and Non Air Services
IE = In-flight entertainment
LG = Lounge
MD = Medical
ML = Meal/Beverage
PT = Pets
RO = Rule Override
SA = Prereserved Seat
         Assignment
SB = Standby
ST = Store
TS = Travel Services
UN = Unaccompanied
         Travel (Escort)
UP = Upgrades</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Code" type="xsd:string"/>
							<xsd:element name="Text" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="SubGroup" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Samples for group "BG"
CT = Container
PP = Pre-paid excess
         baggage

Samples group "GT"
BU = Bus
LI = Limo, etc

Samples group "IE"
IT = Internet access
TV = Television, etc</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Code" type="xsd:string"/>
							<xsd:element name="Text" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Desc1" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Description codes.
Examples:
05 = up to 5 kg
1Y = One Year
AI = Aisle
B1 = First Bag
etc.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Code" type="xsd:string"/>
							<xsd:element name="Text" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Desc2" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Description codes.
Examples:
HT = Hot
KO = Kosher
etc.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Code" type="xsd:string"/>
							<xsd:element name="Text" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SSRCode" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Special service request code.  IATA standard.  Example: VGML</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BookingInstructions">
		<xsd:annotation>
			<xsd:documentation>Contains instructions how to book this service with respective source</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="SSRCode" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element name="OSIText" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element name="Method" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Allowed Values are:
SSR
API
OSI</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="UpgradeMethod" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Allowed Values:
A = AutoUpgrade
S = SSR request</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="NewClass">
									<xsd:annotation>
										<xsd:documentation>Instructs which new class to book</xsd:documentation>
									</xsd:annotation>
								</xsd:attribute>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
				<xsd:element ref="Text" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Any freeflow to instruct DC</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TotalPrice">
		<xsd:annotation>
			<xsd:documentation>Price for all the bags </xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="BasePrice">
					<xsd:annotation>
						<xsd:documentation>Total base (net) price of bags</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attribute name="Amount" use="required">
							<xsd:annotation>
								<xsd:documentation>Net price of option.
Example: 6750</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
				<xsd:element ref="FiledIn" minOccurs="0"/>
				<xsd:element name="Taxes" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Tax Group</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Tax" minOccurs="0" maxOccurs="unbounded">
								<xsd:annotation>
									<xsd:documentation>Tax break down information group </xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence minOccurs="0">
										<xsd:element name="Designator">
											<xsd:annotation>
												<xsd:documentation>Tax or surcharge designator.  Example: US</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="Description" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Tax or surcharge description.  Example: US national transportation</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
									<xsd:attribute name="Amount" use="required">
										<xsd:annotation>
											<xsd:documentation>Individual tax amount.  Example: 250</xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
						<xsd:attribute name="Amount" use="required">
							<xsd:annotation>
								<xsd:documentation>Total taxes amount.  Example: 750</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
				<xsd:element ref="DispAmount" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="Total" type="xsd:integer" use="required">
				<xsd:annotation>
					<xsd:documentation>Total amount for all the bags combined. 

Total = base price +  total amount of taxes.

Example: 7500</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="USDOT">
		<xsd:annotation>
			<xsd:documentation>Specifies whether US DOT reservations apply. Valid values include:                      
N: Not Subject to US DOT   Reservation or Disclosure
Y: Subject to US DOT Reservation and Disclosure    D: Subject to Disclosure but not US DOT Reservation </xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="Disclosure">
						<xsd:annotation>
							<xsd:documentation>Elaborates on the US DOT tag to provide a message specifying whether disclosure and/or US DOT reservations apply</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="Info">
						<xsd:annotation>
							<xsd:documentation>Gives additional information why the US DOT reservations do or do not apply (e.g. International travel to/from US)</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CarryOnAllowance">
		<xsd:annotation>
			<xsd:documentation>This node is returned when carry-on baggage allowance exists for any of the selected flights, </xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Info" minOccurs="0"/>
				<xsd:element ref="TravelerIDRef" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>This is the value passed in with the BaggaeAllowanceRQ and can be the
a) TravelerElementNumber 
of the booked PNR, Example: 1
(b) or the traveler's ID reference assigned by and passed in with the request, Example:  T1</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="SegmentIDRef" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>ID reference passed in with the request, Example:  F1

Mandatory for flight related/associated services.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string"/>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="MaxPieces" type="xsd:integer" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Maximum Pieces allowed.  </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="MaxLengthPerPiece" minOccurs="0" maxOccurs="2">
					<xsd:complexType>
						<xsd:attribute name="Unit" type="xsd:string" use="required">
							<xsd:annotation>
								<xsd:documentation>Measurement unit
Values are:
IN
CM</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="MaxWeightPerPiece" minOccurs="0" maxOccurs="2">
					<xsd:complexType>
						<xsd:attribute name="Unit" type="xsd:string" use="required">
							<xsd:annotation>
								<xsd:documentation>Measurement unit
Values are:
KG
LBS</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="TotalWeight" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Total Weight Allowed</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:decimal">
								<xsd:attribute name="Unit" type="xsd:string" use="required">
									<xsd:annotation>
										<xsd:documentation>Measurement unit
Values are:
KG
LBS</xsd:documentation>
									</xsd:annotation>
								</xsd:attribute>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
				<xsd:element ref="BookingInstructions" minOccurs="0"/>
				<xsd:element name="Piece" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Details of Allowance</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Description" type="xsd:string" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Title description (Commercial Name) of offered service.
From S5. Table 196

Example: "3rd Bag Fee"</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="DescriptionDetails" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Detailed description of this service. From S7. Table 196</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="FormattedText" maxOccurs="unbounded">
											<xsd:annotation>
												<xsd:documentation>Formatted Text from S5 Table 196. </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="Text" maxOccurs="unbounded"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="MaxWeight" minOccurs="0">
								<xsd:complexType>
									<xsd:simpleContent>
										<xsd:extension base="xsd:decimal">
											<xsd:attribute name="Unit" type="xsd:string" use="required">
												<xsd:annotation>
													<xsd:documentation>Measurement unit
Values are:
KG
LBS</xsd:documentation>
												</xsd:annotation>
											</xsd:attribute>
										</xsd:extension>
									</xsd:simpleContent>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="MaxDimensions" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Maximum Size allowed per Piece. </xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Length" type="xsd:decimal">
											<xsd:annotation>
												<xsd:documentation>Value e.g 40 </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="Height" type="xsd:decimal" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Value e.g 40 </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="Width" type="xsd:decimal" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Value e.g 40 </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
									<xsd:attribute name="Unit" type="xsd:string" use="required">
										<xsd:annotation>
											<xsd:documentation>Measurement unit
Values are:
IN
CM</xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="MaxItems" type="xsd:decimal" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Maps to the parsed S5 e.g 02 from //02/0GO.
</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element ref="Attributes" minOccurs="0"/>
							<xsd:element ref="S5" minOccurs="0"/>
						</xsd:sequence>
						<xsd:attribute name="SubCode" type="xsd:string" use="required">
							<xsd:annotation>
								<xsd:documentation>ATPCO Subcode.
Example : 0CC  </xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="MSCarrier" type="xsd:string" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>The carrier who governs the baggage rules for a this allowance. </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="Attributes" minOccurs="0"/>
				<xsd:element ref="S5" minOccurs="0"/>
				<xsd:element ref="S7" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="ServiceCode">
				<xsd:annotation>
					<xsd:documentation>Additional unique ATPCO code.
Example: OC</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="FQTVStatus">
				<xsd:annotation>
					<xsd:documentation>The status (tier level) of the traveler's FQTV account.

This is available as a query results against the airline's FQTV database.

Samples:
AA(American AAdvantage):
-- Gold
-- Platinum
-- Executive Platinum

LH (Miles and More):
-- Frequent Traveller
-- Senator
-- HON Circle

EK (Emirates Skywards):
-- Silver
-- Gold</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="FQTVNumber">
				<xsd:annotation>
					<xsd:documentation>This is the actual FrequentFlyer number associated to the FQTVStatus.  This will allow the POS GUI to associate the actual traveler with the respective option/price</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Allowance">
		<xsd:annotation>
			<xsd:documentation>This node is returned when baggage allowance exists for any of the selected flights, </xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Info" minOccurs="0"/>
				<xsd:element ref="TravelerIDRef" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>This is the value passed in with the BaggaeAllowanceRQ and can be the
a) TravelerElementNumber 
of the booked PNR, Example: 1
(b) or the traveler's ID reference assigned by and passed in with the request, Example:  T1</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="SegmentIDRef" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>ID reference passed in with the request, Example:  F1

Mandatory for flight related/associated services.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string"/>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="TicketBox" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Baggage allowance
PC = per piece
2PC = 2 pieces
nn = per weight (nn is the weight limit) 
Example: 2PC
Blank string is also allowed in this element.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="Concept">
									<xsd:annotation>
										<xsd:documentation>defined the vlaue type. It can be either "Piece" or "Weight" or "Blank"  </xsd:documentation>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:enumeration value="Piece"/>
											<xsd:enumeration value="Weight"/>
											<xsd:enumeration value="Blank"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="MaxPieces" type="xsd:integer" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Maximum Pieces allowed.  </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="MaxLengthPerPiece" minOccurs="0" maxOccurs="2">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:decimal">
								<xsd:attribute name="Unit" type="xsd:string" use="required">
									<xsd:annotation>
										<xsd:documentation>Measurement unit
Values are:
IN
CM</xsd:documentation>
									</xsd:annotation>
								</xsd:attribute>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="MaxWeightPerPiece" minOccurs="0" maxOccurs="2">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:decimal">
								<xsd:attribute name="Unit" type="xsd:string" use="required">
									<xsd:annotation>
										<xsd:documentation>Measurement unit
Values are:
KG
LBS</xsd:documentation>
									</xsd:annotation>
								</xsd:attribute>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="TotalWeight" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Total Weight Allowed</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:decimal">
								<xsd:attribute name="Unit" type="xsd:string" use="required">
									<xsd:annotation>
										<xsd:documentation>Measurement unit
Values are:
KG
LBS</xsd:documentation>
									</xsd:annotation>
								</xsd:attribute>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
				<xsd:element ref="BookingInstructions" minOccurs="0"/>
				<xsd:element name="Piece" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Details of Allowance</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Description" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>Title description (Commercial Name) of offered service.
From S5. Table 196

Example: "3rd Bag Fee"</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="DescriptionDetails" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Detailed description of this service. From S7. Table 196</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="FormattedText" type="xsd:string" maxOccurs="unbounded">
											<xsd:annotation>
												<xsd:documentation>Formatted Text from S5 Table 196. </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="Text" type="xsd:string" maxOccurs="unbounded"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element ref="Attributes" minOccurs="0"/>
							<xsd:element name="MaxWeight" minOccurs="0">
								<xsd:complexType>
									<xsd:simpleContent>
										<xsd:extension base="xsd:decimal">
											<xsd:attribute name="Unit" type="xsd:string" use="required">
												<xsd:annotation>
													<xsd:documentation>Measurement unit
Values are:
KG
LBS</xsd:documentation>
												</xsd:annotation>
											</xsd:attribute>
										</xsd:extension>
									</xsd:simpleContent>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="MaxDimensions" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Maximum Size allowed per Piece. </xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Length" type="xsd:decimal">
											<xsd:annotation>
												<xsd:documentation>Value e.g 40 </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="Height" type="xsd:decimal" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Value e.g 40 </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="Width" type="xsd:decimal" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Value e.g 40 </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
									<xsd:attribute name="Units" type="xsd:string" use="required">
										<xsd:annotation>
											<xsd:documentation>Measurement unit
Values are:
IN
CM</xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="MaxItems" type="xsd:decimal" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Maps to the parsed S7 e.g 02 from //02/0GO.
</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element ref="S5" minOccurs="0"/>
							<xsd:element ref="S7" minOccurs="0"/>
						</xsd:sequence>
						<xsd:attribute name="SubCode" type="xsd:string" use="required">
							<xsd:annotation>
								<xsd:documentation>ATPCO Subcode.
Example : 0CC  </xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="MSCarrier" type="xsd:string" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Most Significant Carrier. The carriers who governs the baggage rules for this allowance. </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="Attributes" minOccurs="0"/>
				<xsd:element ref="S5" minOccurs="0"/>
				<xsd:element ref="S7" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="ServiceCode">
				<xsd:annotation>
					<xsd:documentation>Additional unique ATPCO code.
Example: OC</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="FQTVStatus">
				<xsd:annotation>
					<xsd:documentation>The status (tier level) of the traveler's FQTV account.

This is available as a query results against the airline's FQTV database.

Samples:
AA(American AAdvantage):
-- Gold
-- Platinum
-- Executive Platinum

LH (Miles and More):
-- Frequent Traveller
-- Senator
-- HON Circle

EK (Emirates Skywards):
-- Silver
-- Gold</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="FQTVNumber">
				<xsd:annotation>
					<xsd:documentation>This is the actual FrequentFlyer number associated to the FQTVStatus.  This will allow the POS GUI to associate the actual traveler with the respective option/price</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Info">
		<xsd:annotation>
			<xsd:documentation>Shows service or bag specific fee calculation information or warnings. 
</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Text" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Service specific warnings or info text .</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="Code"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
