schema/axis/EMDIssueRQ.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="CommonTypes.xsd"/>
	<xsd:element name="EMDIssueRQ">
		<xsd:annotation>
			<xsd:documentation>Root element to issue an EMD (Electronic Miscellaneous Document).

See annotation of attribute "EMDType" for type explanation.

Note: Each EMD-A document may have up to 4 value coupons and up to 4 consecutive EMD document numbers can be issued as a conjunctive set.

An EMD-S has a single coupon number (just like a paper MCO)

As of Jan 2009 Split Form of Payment IS NOT planned to be supported for an EMD</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="RecordLocator">
					<xsd:annotation>
						<xsd:documentation>PNR record locator from where this EMD is issued from.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:choice>
					<xsd:annotation>
						<xsd:documentation>Choice of 'GroupName' or 'TravelerName'.

An EMD-S may use either node, the GroupName or TravelerName. 

An EMD-A requires the use of the TravelerName. Services to be processed are child elements of each Traveler element</xsd:documentation>
					</xsd:annotation>
					<xsd:sequence>
						<xsd:annotation>
							<xsd:documentation>Note: This choice only available for EMD-S, not allowed for EMD-A.</xsd:documentation>
						</xsd:annotation>
						<xsd:element name="GroupName">
							<xsd:annotation>
								<xsd:documentation>Used instead of a TravelerName if e.g. issued for a 'Group' deposit payment.
Example: CASTLE TOUR 23

</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType/>
						</xsd:element>
						<xsd:element name="FormOfPayment">
							<xsd:annotation>
								<xsd:documentation>The form of payment used to settle the charges of this EMD.</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:annotation>
										<xsd:documentation>Note ---
Not supported functionality:

Split FOP 
Extended CC payment</xsd:documentation>
									</xsd:annotation>
									<xsd:element ref="TravelerElementNumber">
										<xsd:annotation>
											<xsd:documentation>Element number of traveler associated to this FOP.  
Example: 1</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:choice>
										<xsd:element name="CreditCard">
											<xsd:annotation>
												<xsd:documentation>Credit card group</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="CCCode">
														<xsd:annotation>
															<xsd:documentation>Credit card code.  Example: VI</xsd:documentation>
														</xsd:annotation>
														<xsd:simpleType>
															<xsd:restriction base="xsd:string">
																<xsd:length value="2"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="CCNumber" type="xsd:string">
														<xsd:annotation>
															<xsd:documentation>Credit card number.  Example: 4011236654652341</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													<xsd:element name="CCExpiration">
														<xsd:annotation>
															<xsd:documentation>Credit card expiration group</xsd:documentation>
														</xsd:annotation>
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="Month">
																	<xsd:annotation>
																		<xsd:documentation>Credit card expiration month.  Example: 02</xsd:documentation>
																	</xsd:annotation>
																	<xsd:simpleType>
																		<xsd:restriction base="xsd:string">
																			<xsd:length value="2"/>
																			<xsd:pattern value="0[1-9]|1[012]"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element name="Year">
																	<xsd:annotation>
																		<xsd:documentation>Last two digits of the credit card expiration year.  Example: 06</xsd:documentation>
																	</xsd:annotation>
																	<xsd:simpleType>
																		<xsd:restriction base="xsd:string">
																			<xsd:length value="2"/>
																			<xsd:pattern value="[0-9][0-9]"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="SecurityID" type="xsd:string" minOccurs="0">
														<xsd:annotation>
															<xsd:documentation>Credit card security number for online transactions (referred to also as CVV2, CVC2, CSC or CID). This is a 3-digit (Visa, Master, Discover) or 4-digit (Amex) number.</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													<xsd:element name="ReportingData" minOccurs="0">
														<xsd:annotation>
															<xsd:documentation>Data  Elements required by certain card issuers for report purposes</xsd:documentation>
														</xsd:annotation>
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="AccountNumber" minOccurs="0">
																	<xsd:annotation>
																		<xsd:documentation>Corporation's account number</xsd:documentation>
																	</xsd:annotation>
																	<xsd:complexType>
																		<xsd:simpleContent>
																			<xsd:extension base="xsd:string">
																				<xsd:attribute name="Min">
																					<xsd:annotation>
																						<xsd:documentation>minimum length</xsd:documentation>
																					</xsd:annotation>
																				</xsd:attribute>
																				<xsd:attribute name="Max">
																					<xsd:annotation>
																						<xsd:documentation>maximum length</xsd:documentation>
																					</xsd:annotation>
																				</xsd:attribute>
																				<xsd:attribute name="Format">
																					<xsd:annotation>
																						<xsd:documentation>A - alphanumeric (default)
N - numeric
D - ISO date format</xsd:documentation>
																					</xsd:annotation>
																				</xsd:attribute>
																				<xsd:attribute name="Mandatory">
																					<xsd:annotation>
																						<xsd:documentation>O - optional (default)
M - mandatory</xsd:documentation>
																					</xsd:annotation>
																				</xsd:attribute>
																				<xsd:attribute name="DataElementID" use="required">
																					<xsd:annotation>
																						<xsd:documentation>Vendor code assigned to this reporting element
Example:  BK</xsd:documentation>
																					</xsd:annotation>
																				</xsd:attribute>
																				<xsd:attribute name="DataElementName" use="required">
																					<xsd:annotation>
																						<xsd:documentation>Vendor element name assigned to this reporting element
Example:  Corperate ID</xsd:documentation>
																					</xsd:annotation>
																				</xsd:attribute>
																			</xsd:extension>
																		</xsd:simpleContent>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="CostCenter" minOccurs="0">
																	<xsd:annotation>
																		<xsd:documentation>Cost center number/code</xsd:documentation>
																	</xsd:annotation>
																	<xsd:complexType>
																		<xsd:simpleContent>
																			<xsd:extension base="xsd:string">
																				<xsd:attribute name="Min">
																					<xsd:annotation>
																						<xsd:documentation>minimum length</xsd:documentation>
																					</xsd:annotation>
																				</xsd:attribute>
																				<xsd:attribute name="Max">
																					<xsd:annotation>
																						<xsd:documentation>maximum length</xsd:documentation>
																					</xsd:annotation>
																				</xsd:attribute>
																				<xsd:attribute name="Format">
																					<xsd:annotation>
																						<xsd:documentation>A - alphanumeric (default)
N - numeric
D - ISO date format</xsd:documentation>
																					</xsd:annotation>
																				</xsd:attribute>
																				<xsd:attribute name="Mandatory">
																					<xsd:annotation>
																						<xsd:documentation>O - optional (default)
M - mandatory</xsd:documentation>
																					</xsd:annotation>
																				</xsd:attribute>
																				<xsd:attribute name="DataElementID" use="required">
																					<xsd:annotation>
																						<xsd:documentation>Vendor code assigned to this reporting element
Example:  BK</xsd:documentation>
																					</xsd:annotation>
																				</xsd:attribute>
																				<xsd:attribute name="DataElementName" use="required">
																					<xsd:annotation>
																						<xsd:documentation>Vendor element name assigned to this reporting element
Example:  Corperate ID</xsd:documentation>
																					</xsd:annotation>
																				</xsd:attribute>
																			</xsd:extension>
																		</xsd:simpleContent>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="Department" minOccurs="0">
																	<xsd:annotation>
																		<xsd:documentation>Department description  for this Traveler in this association.
Example: Marketing</xsd:documentation>
																	</xsd:annotation>
																	<xsd:complexType>
																		<xsd:simpleContent>
																			<xsd:extension base="xsd:string">
																				<xsd:attribute name="Min">
																					<xsd:annotation>
																						<xsd:documentation>minimum length</xsd:documentation>
																					</xsd:annotation>
																				</xsd:attribute>
																				<xsd:attribute name="Max">
																					<xsd:annotation>
																						<xsd:documentation>maximum length</xsd:documentation>
																					</xsd:annotation>
																				</xsd:attribute>
																				<xsd:attribute name="Format">
																					<xsd:annotation>
																						<xsd:documentation>A - alphanumeric (default)
N - numeric
D - ISO date format</xsd:documentation>
																					</xsd:annotation>
																				</xsd:attribute>
																				<xsd:attribute name="Mandatory">
																					<xsd:annotation>
																						<xsd:documentation>O - optional (default)
M - mandatory</xsd:documentation>
																					</xsd:annotation>
																				</xsd:attribute>
																				<xsd:attribute name="DataElementID" use="required">
																					<xsd:annotation>
																						<xsd:documentation>Vendor code assigned to this reporting element
Example:  BK</xsd:documentation>
																					</xsd:annotation>
																				</xsd:attribute>
																				<xsd:attribute name="DataElementName" use="required">
																					<xsd:annotation>
																						<xsd:documentation>Vendor element name assigned to this reporting element
Example:  Corperate ID</xsd:documentation>
																					</xsd:annotation>
																				</xsd:attribute>
																			</xsd:extension>
																		</xsd:simpleContent>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="EmployeeID" minOccurs="0">
																	<xsd:annotation>
																		<xsd:documentation>EmployeeID of traveler for this association.
Example 476254</xsd:documentation>
																	</xsd:annotation>
																	<xsd:complexType>
																		<xsd:simpleContent>
																			<xsd:extension base="xsd:string">
																				<xsd:attribute name="Min">
																					<xsd:annotation>
																						<xsd:documentation>minimum length</xsd:documentation>
																					</xsd:annotation>
																				</xsd:attribute>
																				<xsd:attribute name="Max">
																					<xsd:annotation>
																						<xsd:documentation>maximum length</xsd:documentation>
																					</xsd:annotation>
																				</xsd:attribute>
																				<xsd:attribute name="Format">
																					<xsd:annotation>
																						<xsd:documentation>A - alphanumeric (default)
N - numeric
D - ISO date format</xsd:documentation>
																					</xsd:annotation>
																				</xsd:attribute>
																				<xsd:attribute name="Mandatory">
																					<xsd:annotation>
																						<xsd:documentation>O - optional (default)
M - mandatory</xsd:documentation>
																					</xsd:annotation>
																				</xsd:attribute>
																				<xsd:attribute name="DataElementID" use="required">
																					<xsd:annotation>
																						<xsd:documentation>Vendor code assigned to this reporting element
Example:  BK</xsd:documentation>
																					</xsd:annotation>
																				</xsd:attribute>
																				<xsd:attribute name="DataElementName" use="required">
																					<xsd:annotation>
																						<xsd:documentation>Vendor element name assigned to this reporting element
Example:  Corperate ID</xsd:documentation>
																					</xsd:annotation>
																				</xsd:attribute>
																			</xsd:extension>
																		</xsd:simpleContent>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="GenericElement" minOccurs="0" maxOccurs="unbounded">
																	<xsd:annotation>
																		<xsd:documentation>These are elements provided by CC vendor and could include elements such as
- ProjectNumber
- AccountingUnit
- ActionNumber
- DepartingDate
- FinalDestination

Above sample reflects data elements from UATP/Airplus requirements</xsd:documentation>
																	</xsd:annotation>
																	<xsd:complexType>
																		<xsd:simpleContent>
																			<xsd:extension base="xsd:string">
																				<xsd:attribute name="Min">
																					<xsd:annotation>
																						<xsd:documentation>minimum length</xsd:documentation>
																					</xsd:annotation>
																				</xsd:attribute>
																				<xsd:attribute name="Max">
																					<xsd:annotation>
																						<xsd:documentation>maximum length</xsd:documentation>
																					</xsd:annotation>
																				</xsd:attribute>
																				<xsd:attribute name="Format">
																					<xsd:annotation>
																						<xsd:documentation>A - alphanumeric (default)
N - numeric
D - ISO date format</xsd:documentation>
																					</xsd:annotation>
																				</xsd:attribute>
																				<xsd:attribute name="Mandatory">
																					<xsd:annotation>
																						<xsd:documentation>O - optional (default)
M - mandatory</xsd:documentation>
																					</xsd:annotation>
																				</xsd:attribute>
																				<xsd:attribute name="DataElementID" use="required">
																					<xsd:annotation>
																						<xsd:documentation>Vendor code assigned to this reporting element
Example:  PN</xsd:documentation>
																					</xsd:annotation>
																				</xsd:attribute>
																				<xsd:attribute name="DataElementName" use="required">
																					<xsd:annotation>
																						<xsd:documentation>Vendor element name assigned to this reporting element
Example:  Project Number</xsd:documentation>
																					</xsd:annotation>
																				</xsd:attribute>
																				<xsd:attribute name="SystemProcess">
																					<xsd:annotation>
																						<xsd:documentation>Allowed value: Y
If set this identifies that this data content for this element is system generated (not provide by user input or profiles)</xsd:documentation>
																					</xsd:annotation>
																				</xsd:attribute>
																			</xsd:extension>
																		</xsd:simpleContent>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element ref="Authorization" minOccurs="0"/>
													<xsd:element name="CardholderFullName" minOccurs="0">
														<xsd:annotation>
															<xsd:documentation>Credit cardholder full name as it appears on the card</xsd:documentation>
														</xsd:annotation>
														<xsd:simpleType>
															<xsd:restriction base="xsd:string">
																<xsd:minLength value="1"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="ApprovalCode" type="xsd:string" minOccurs="0">
														<xsd:annotation>
															<xsd:documentation>Credit card approval code.  Example: 996456</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													<xsd:element name="CCAddressGroup" minOccurs="0">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element ref="Address" maxOccurs="2"/>
																<xsd:element ref="City"/>
																<xsd:element ref="PostalCode"/>
																<xsd:element ref="StateCode" minOccurs="0"/>
																<xsd:element ref="CountryCode">
																	<xsd:annotation>
																		<xsd:documentation>ISO Country code. This element is introduced as mandatory although GDS implementation will not require its presence until 30MAR2008.

Example: US</xsd:documentation>
																	</xsd:annotation>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="Other">
											<xsd:annotation>
												<xsd:documentation>Other payment type. Possible values: CASH, CHECK.</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:enumeration value="CASH"/>
													<xsd:enumeration value="CHECK"/>
													<xsd:enumeration value=""/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
									</xsd:choice>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="TicketReference" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>The ticket reference for this EMD.  This is NOT the association mandatory for EMD-As which is to be mapped to the TicketNumber element at the ServiceElement level

13-digit ticket number.  In case of conjunctive set this is the first (primary) ticket number of the set.</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType/>
						</xsd:element>
					</xsd:sequence>
					<xsd:element name="Traveler" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Options to be issued are grouped by traveler and unique FOP</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element ref="TravelerElementNumber">
									<xsd:annotation>
										<xsd:documentation>Traveler(s) selected by their PNR element number for EMD issuance

Example: 1</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ServiceElement" maxOccurs="unbounded">
									<xsd:annotation>
										<xsd:documentation>PNR element numbers of the services/options to be issued with this EMD.

NOTE: the services listed here may have different ReasonCodes. Any EMD must be grouped by (a) Method and (b) ReasonCode and can only be issued for one traveler.</xsd:documentation>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element name="ElementNumber">
												<xsd:annotation>
													<xsd:documentation>The element number for this service in the PNR</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="TicketNumber" minOccurs="0">
												<xsd:annotation>
													<xsd:documentation>13-digit ticket number of the ASSOCIATED ticket (ONLY applicable to EMD-A).  In case of conjunctive set this is the ticket containing the coupon associated with this service</xsd:documentation>
												</xsd:annotation>
												<xsd:complexType/>
											</xsd:element>
											<xsd:element name="CouponNumber" minOccurs="0" maxOccurs="16">
												<xsd:annotation>
													<xsd:documentation>The single digit coupon number of the ticket image associated to this service.  If this service is associated to coupons of different tickets in a conjunctive set the attribute 'ConjTicketNumber' must be provided.

EMD-A: single coupon association mandatory, no multiple coupons can be associated to an EMD-A.</xsd:documentation>
												</xsd:annotation>
												<xsd:complexType>
													<xsd:attribute name="ConjTicketNumber">
														<xsd:annotation>
															<xsd:documentation>Actual ticket number within a conjunctive ticket set.

If this service is associated to coupons of different tickets in a conjunctive set the attribute 'ConjTicketNumber' must be provided.</xsd:documentation>
														</xsd:annotation>
													</xsd:attribute>
												</xsd:complexType>
											</xsd:element>
										</xsd:sequence>
										<xsd:attribute ref="Source" use="required">
											<xsd:annotation>
												<xsd:documentation>Identifies the source where this request is to be dispatched to. 

Source maybe a GDS or DC (direct connect) airline.

Example: 1A, 1V, or other AA, EK </xsd:documentation>
											</xsd:annotation>
										</xsd:attribute>
										<xsd:attribute ref="SourceRef"/>
										<xsd:attribute ref="TrxRefKey" use="required"/>
										<xsd:attribute name="Method" use="required">
											<xsd:annotation>
												<xsd:documentation>Values are:

F = FareIntegrated
EA = EMD Associated
ES = EMD Standalone 
MA = Flight Associated but settled via MCO
MS = Standalone but settle via MCO
D = DirectSettlement</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:enumeration value="F"/>
													<xsd:enumeration value="EA"/>
													<xsd:enumeration value="MA"/>
													<xsd:enumeration value="ES"/>
													<xsd:enumeration value="MS"/>
													<xsd:enumeration value="D"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:attribute>
										<xsd:attribute name="ReasonCode" use="required">
											<xsd:annotation>
												<xsd:documentation>IATA RFIC (ReasonFor IssuanceCode, a 1-character main code)
Example of RFIC: A  

Note: Only services of same RFIC code can be combined on an EMD-A document.  For example, if there are services of RFIC code "A" and "B", two separate EMD documents are needed, issuing all services of "A" and "B" on seperate docs.</xsd:documentation>
											</xsd:annotation>
										</xsd:attribute>
										<xsd:attribute name="SubCode" use="required">
											<xsd:annotation>
												<xsd:documentation>ATPCO RFIS (ReasonForIssuance  Subcode).
Example of RFIS: 0CC  </xsd:documentation>
											</xsd:annotation>
										</xsd:attribute>
									</xsd:complexType>
								</xsd:element>
								<xsd:element name="TicketReference" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>The ticket reference for this EMD.  This is NOT the association mandatory for EMD-As which is to be mapped to the TicketNumber element at the ServiceElement level

13-digit ticket number.  In case of conjunctive set this is the first (primary) ticket number of the set.</xsd:documentation>
									</xsd:annotation>
									<xsd:complexType/>
								</xsd:element>
								<xsd:element name="FormOfPayment" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Form of payment used to settle the charges of this EMD.

This element is MANDATORY when an EMD is issued to collect funds covering defined services (see also @MonetaryType = DEBIT in the EMDIssueRQ node)

It is not used for an EMD which has a value of @MonetaryType=CREDIT - e.g. when credit is issued for residual values of an exchanged or refunded ticket</xsd:documentation>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:choice>
											<xsd:annotation>
												<xsd:documentation>Note ---
Not supported functionality:

Split FOP 
Extended CC payment</xsd:documentation>
											</xsd:annotation>
											<xsd:element name="CreditCard">
												<xsd:annotation>
													<xsd:documentation>Credit card group</xsd:documentation>
												</xsd:annotation>
												<xsd:complexType>
													<xsd:sequence>
														<xsd:element name="CCCode">
															<xsd:annotation>
																<xsd:documentation>Credit card code.  Example: VI</xsd:documentation>
															</xsd:annotation>
															<xsd:simpleType>
																<xsd:restriction base="xsd:string">
																	<xsd:length value="2"/>
																</xsd:restriction>
															</xsd:simpleType>
														</xsd:element>
														<xsd:element name="CCNumber" type="xsd:string">
															<xsd:annotation>
																<xsd:documentation>Credit card number.  Example: 4011236654652341</xsd:documentation>
															</xsd:annotation>
														</xsd:element>
														<xsd:element name="CCExpiration">
															<xsd:annotation>
																<xsd:documentation>Credit card expiration group</xsd:documentation>
															</xsd:annotation>
															<xsd:complexType>
																<xsd:sequence>
																	<xsd:element name="Month">
																		<xsd:annotation>
																			<xsd:documentation>Credit card expiration month.  Example: 02</xsd:documentation>
																		</xsd:annotation>
																		<xsd:simpleType>
																			<xsd:restriction base="xsd:string">
																				<xsd:length value="2"/>
																				<xsd:pattern value="0[1-9]|1[012]|99"/>
																			</xsd:restriction>
																		</xsd:simpleType>
																	</xsd:element>
																	<xsd:element name="Year">
																		<xsd:annotation>
																			<xsd:documentation>Last two digits of the credit card expiration year.  Example: 06</xsd:documentation>
																		</xsd:annotation>
																		<xsd:simpleType>
																			<xsd:restriction base="xsd:string">
																				<xsd:length value="2"/>
																				<xsd:pattern value="[0-9][0-9]|[99]"/>
																			</xsd:restriction>
																		</xsd:simpleType>
																	</xsd:element>
																</xsd:sequence>
															</xsd:complexType>
														</xsd:element>
														<xsd:element name="SecurityID" type="xsd:string" minOccurs="0">
															<xsd:annotation>
																<xsd:documentation>Credit card security number for online transactions (referred to also as CVV2, CVC2, CSC or CID). This is a 3-digit (Visa, Master, Discover) or 4-digit (Amex) number.</xsd:documentation>
															</xsd:annotation>
														</xsd:element>
														<xsd:element ref="Authorization" minOccurs="0"/>
														<xsd:element name="CardholderFirstName" minOccurs="0">
															<xsd:annotation>
																<xsd:documentation>FirstName on card. </xsd:documentation>
															</xsd:annotation>
															<xsd:simpleType>
																<xsd:restriction base="xsd:string">
																	<xsd:minLength value="1"/>
																</xsd:restriction>
															</xsd:simpleType>
														</xsd:element>
														<xsd:element name="ReportingData" minOccurs="0">
															<xsd:annotation>
																<xsd:documentation>Data  Elements required by certain card issuers for report purposes</xsd:documentation>
															</xsd:annotation>
															<xsd:complexType>
																<xsd:sequence>
																	<xsd:element name="AccountNumber" minOccurs="0">
																		<xsd:annotation>
																			<xsd:documentation>Corporation's account number</xsd:documentation>
																		</xsd:annotation>
																		<xsd:complexType>
																			<xsd:simpleContent>
																				<xsd:extension base="xsd:string">
																					<xsd:attribute name="Min">
																						<xsd:annotation>
																							<xsd:documentation>minimum length</xsd:documentation>
																						</xsd:annotation>
																					</xsd:attribute>
																					<xsd:attribute name="Max">
																						<xsd:annotation>
																							<xsd:documentation>maximum length</xsd:documentation>
																						</xsd:annotation>
																					</xsd:attribute>
																					<xsd:attribute name="Format">
																						<xsd:annotation>
																							<xsd:documentation>A - alphanumeric (default)
N - numeric
D - ISO date format</xsd:documentation>
																						</xsd:annotation>
																					</xsd:attribute>
																					<xsd:attribute name="Mandatory">
																						<xsd:annotation>
																							<xsd:documentation>O - optional (default)
M - mandatory</xsd:documentation>
																						</xsd:annotation>
																					</xsd:attribute>
																				</xsd:extension>
																			</xsd:simpleContent>
																		</xsd:complexType>
																	</xsd:element>
																	<xsd:element name="CostCenter" minOccurs="0">
																		<xsd:annotation>
																			<xsd:documentation>Cost center number/code</xsd:documentation>
																		</xsd:annotation>
																		<xsd:complexType>
																			<xsd:attribute name="Min">
																				<xsd:annotation>
																					<xsd:documentation>minimum length</xsd:documentation>
																				</xsd:annotation>
																			</xsd:attribute>
																			<xsd:attribute name="Max">
																				<xsd:annotation>
																					<xsd:documentation>maximum length</xsd:documentation>
																				</xsd:annotation>
																			</xsd:attribute>
																			<xsd:attribute name="Format">
																				<xsd:annotation>
																					<xsd:documentation>A - alphanumeric (default)
N - numeric
D - ISO date format</xsd:documentation>
																				</xsd:annotation>
																			</xsd:attribute>
																			<xsd:attribute name="Mandatory">
																				<xsd:annotation>
																					<xsd:documentation>O - optional (default)
M - mandatory</xsd:documentation>
																				</xsd:annotation>
																			</xsd:attribute>
																		</xsd:complexType>
																	</xsd:element>
																	<xsd:element name="ProjectNumber" minOccurs="0">
																		<xsd:complexType>
																			<xsd:attribute name="Min">
																				<xsd:annotation>
																					<xsd:documentation>minimum length</xsd:documentation>
																				</xsd:annotation>
																			</xsd:attribute>
																			<xsd:attribute name="Max">
																				<xsd:annotation>
																					<xsd:documentation>maximum length</xsd:documentation>
																				</xsd:annotation>
																			</xsd:attribute>
																			<xsd:attribute name="Format">
																				<xsd:annotation>
																					<xsd:documentation>A - alphanumeric (default)
N - numeric
D - ISO date format</xsd:documentation>
																				</xsd:annotation>
																			</xsd:attribute>
																			<xsd:attribute name="Mandatory">
																				<xsd:annotation>
																					<xsd:documentation>O - optional (default)
M - mandatory</xsd:documentation>
																				</xsd:annotation>
																			</xsd:attribute>
																		</xsd:complexType>
																	</xsd:element>
																	<xsd:element name="Department" minOccurs="0">
																		<xsd:annotation>
																			<xsd:documentation>Department description  for this Traveler in this association.
Example: Marketing</xsd:documentation>
																		</xsd:annotation>
																		<xsd:complexType>
																			<xsd:attribute name="Min">
																				<xsd:annotation>
																					<xsd:documentation>minimum length</xsd:documentation>
																				</xsd:annotation>
																			</xsd:attribute>
																			<xsd:attribute name="Max">
																				<xsd:annotation>
																					<xsd:documentation>maximum length</xsd:documentation>
																				</xsd:annotation>
																			</xsd:attribute>
																			<xsd:attribute name="Format">
																				<xsd:annotation>
																					<xsd:documentation>A - alphanumeric (default)
N - numeric
D - ISO date format</xsd:documentation>
																				</xsd:annotation>
																			</xsd:attribute>
																			<xsd:attribute name="Mandatory">
																				<xsd:annotation>
																					<xsd:documentation>O - optional (default)
M - mandatory</xsd:documentation>
																				</xsd:annotation>
																			</xsd:attribute>
																		</xsd:complexType>
																	</xsd:element>
																	<xsd:element name="AccountingUnit" minOccurs="0">
																		<xsd:complexType>
																			<xsd:attribute name="Min">
																				<xsd:annotation>
																					<xsd:documentation>minimum length</xsd:documentation>
																				</xsd:annotation>
																			</xsd:attribute>
																			<xsd:attribute name="Max">
																				<xsd:annotation>
																					<xsd:documentation>maximum length</xsd:documentation>
																				</xsd:annotation>
																			</xsd:attribute>
																			<xsd:attribute name="Format">
																				<xsd:annotation>
																					<xsd:documentation>A - alphanumeric (default)
N - numeric
D - ISO date format</xsd:documentation>
																				</xsd:annotation>
																			</xsd:attribute>
																			<xsd:attribute name="Mandatory">
																				<xsd:annotation>
																					<xsd:documentation>O - optional (default)
M - mandatory</xsd:documentation>
																				</xsd:annotation>
																			</xsd:attribute>
																		</xsd:complexType>
																	</xsd:element>
																	<xsd:element name="EmployeeID" minOccurs="0">
																		<xsd:annotation>
																			<xsd:documentation>EmployeeID of traveler for this association.
Example 476254</xsd:documentation>
																		</xsd:annotation>
																		<xsd:complexType>
																			<xsd:attribute name="Min">
																				<xsd:annotation>
																					<xsd:documentation>minimum length</xsd:documentation>
																				</xsd:annotation>
																			</xsd:attribute>
																			<xsd:attribute name="Max">
																				<xsd:annotation>
																					<xsd:documentation>maximum length</xsd:documentation>
																				</xsd:annotation>
																			</xsd:attribute>
																			<xsd:attribute name="Format">
																				<xsd:annotation>
																					<xsd:documentation>A - alphanumeric (default)
N - numeric
D - ISO date format</xsd:documentation>
																				</xsd:annotation>
																			</xsd:attribute>
																			<xsd:attribute name="Mandatory">
																				<xsd:annotation>
																					<xsd:documentation>O - optional (default)
M - mandatory</xsd:documentation>
																				</xsd:annotation>
																			</xsd:attribute>
																		</xsd:complexType>
																	</xsd:element>
																	<xsd:element name="OrderNumber" minOccurs="0">
																		<xsd:complexType>
																			<xsd:attribute name="Min">
																				<xsd:annotation>
																					<xsd:documentation>minimum length</xsd:documentation>
																				</xsd:annotation>
																			</xsd:attribute>
																			<xsd:attribute name="Max">
																				<xsd:annotation>
																					<xsd:documentation>maximum length</xsd:documentation>
																				</xsd:annotation>
																			</xsd:attribute>
																			<xsd:attribute name="Format">
																				<xsd:annotation>
																					<xsd:documentation>A - alphanumeric (default)
N - numeric
D - ISO date format</xsd:documentation>
																				</xsd:annotation>
																			</xsd:attribute>
																			<xsd:attribute name="Mandatory">
																				<xsd:annotation>
																					<xsd:documentation>O - optional (default)
M - mandatory</xsd:documentation>
																				</xsd:annotation>
																			</xsd:attribute>
																		</xsd:complexType>
																	</xsd:element>
																	<xsd:element name="ActionNumber" minOccurs="0">
																		<xsd:complexType>
																			<xsd:attribute name="Min">
																				<xsd:annotation>
																					<xsd:documentation>minimum length</xsd:documentation>
																				</xsd:annotation>
																			</xsd:attribute>
																			<xsd:attribute name="Max">
																				<xsd:annotation>
																					<xsd:documentation>maximum length</xsd:documentation>
																				</xsd:annotation>
																			</xsd:attribute>
																			<xsd:attribute name="Format">
																				<xsd:annotation>
																					<xsd:documentation>A - alphanumeric (default)
N - numeric
D - ISO date format</xsd:documentation>
																				</xsd:annotation>
																			</xsd:attribute>
																			<xsd:attribute name="Mandatory">
																				<xsd:annotation>
																					<xsd:documentation>O - optional (default)
M - mandatory</xsd:documentation>
																				</xsd:annotation>
																			</xsd:attribute>
																		</xsd:complexType>
																	</xsd:element>
																	<xsd:element name="DepartureDate" minOccurs="0">
																		<xsd:annotation>
																			<xsd:documentation>Attributes to be passed thru from CCReportingDataRS.  Actual date value added during reproting process based on the ticket charged against this credit card.</xsd:documentation>
																		</xsd:annotation>
																		<xsd:complexType>
																			<xsd:attribute name="Min">
																				<xsd:annotation>
																					<xsd:documentation>minimum length</xsd:documentation>
																				</xsd:annotation>
																			</xsd:attribute>
																			<xsd:attribute name="Max">
																				<xsd:annotation>
																					<xsd:documentation>maximum length</xsd:documentation>
																				</xsd:annotation>
																			</xsd:attribute>
																			<xsd:attribute name="Format">
																				<xsd:annotation>
																					<xsd:documentation>A - alphanumeric (default)
N - numeric
D - ISO date format</xsd:documentation>
																				</xsd:annotation>
																			</xsd:attribute>
																			<xsd:attribute name="Mandatory" use="required">
																				<xsd:annotation>
																					<xsd:documentation>O - optional (default)
M - mandatory</xsd:documentation>
																				</xsd:annotation>
																			</xsd:attribute>
																		</xsd:complexType>
																	</xsd:element>
																	<xsd:element name="FinalDestination" minOccurs="0">
																		<xsd:annotation>
																			<xsd:documentation>Attributes to be passed thru from CCReportingDataRS.  Actual final destination value added during reproting process based on the ticket charged against this credit card.</xsd:documentation>
																		</xsd:annotation>
																		<xsd:complexType>
																			<xsd:attribute name="Min">
																				<xsd:annotation>
																					<xsd:documentation>minimum length</xsd:documentation>
																				</xsd:annotation>
																			</xsd:attribute>
																			<xsd:attribute name="Max">
																				<xsd:annotation>
																					<xsd:documentation>maximum length</xsd:documentation>
																				</xsd:annotation>
																			</xsd:attribute>
																			<xsd:attribute name="Format">
																				<xsd:annotation>
																					<xsd:documentation>A - alphanumeric (default)
N - numeric
D - ISO date format</xsd:documentation>
																				</xsd:annotation>
																			</xsd:attribute>
																			<xsd:attribute name="Mandatory" use="required">
																				<xsd:annotation>
																					<xsd:documentation>O - optional (default)
M - mandatory</xsd:documentation>
																				</xsd:annotation>
																			</xsd:attribute>
																		</xsd:complexType>
																	</xsd:element>
																</xsd:sequence>
															</xsd:complexType>
														</xsd:element>
														<xsd:element name="CardholderLastName">
															<xsd:annotation>
																<xsd:documentation>Name on card. </xsd:documentation>
															</xsd:annotation>
															<xsd:simpleType>
																<xsd:restriction base="xsd:string">
																	<xsd:minLength value="1"/>
																</xsd:restriction>
															</xsd:simpleType>
														</xsd:element>
														<xsd:element name="ApprovalCode" type="xsd:string" minOccurs="0">
															<xsd:annotation>
																<xsd:documentation>Credit card approval code.  Example: 996456</xsd:documentation>
															</xsd:annotation>
														</xsd:element>
														<xsd:element name="CCAddressGroup" minOccurs="0">
															<xsd:complexType>
																<xsd:sequence>
																	<xsd:element ref="Address" maxOccurs="2"/>
																	<xsd:element ref="City"/>
																	<xsd:element ref="PostalCode"/>
																	<xsd:element ref="StateCode" minOccurs="0"/>
																	<xsd:element ref="CountryCode">
																		<xsd:annotation>
																			<xsd:documentation>ISO Country code. This element is introduced as mandatory although GDS implementation will not require its presence until 30MAR2008.

Example: US</xsd:documentation>
																		</xsd:annotation>
																	</xsd:element>
																</xsd:sequence>
															</xsd:complexType>
														</xsd:element>
													</xsd:sequence>
												</xsd:complexType>
											</xsd:element>
											<xsd:element name="Other">
												<xsd:annotation>
													<xsd:documentation>Other payment type. Possible values: CASH, CHECK.</xsd:documentation>
												</xsd:annotation>
												<xsd:simpleType>
													<xsd:restriction base="xsd:string">
														<xsd:enumeration value="CASH"/>
														<xsd:enumeration value="CHECK"/>
														<xsd:enumeration value=""/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
										</xsd:choice>
									</xsd:complexType>
								</xsd:element>
								<xsd:element name="EndorsementAddOns" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Any traveler associated tax ID e.g. RUC/VAT can be provided here.  EMD processing will add these to the existing document level endorsements filed by the airline.  These 'Add Ons' will not replace existing endorsements.</xsd:documentation>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element ref="Text" maxOccurs="unbounded">
												<xsd:annotation>
													<xsd:documentation>Text to be added to existing (document level) endorsement</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:choice>
				<xsd:element name="EMDTotal" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>EMD-S use ONLY

Final amount to be charged with this EMD-S

This node exclusively used for EMD-S (includes TASF automated ServiceFee charge)</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CurrencyCode">
								<xsd:annotation>
									<xsd:documentation>Currency code of Point of Sale (POS)  

Applies to all amounts of this EMD (with the exception of any amount filed in a different currency and identified by its own CurrencyCode element)

Example: USD</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:simpleContent>
										<xsd:restriction base="CurrencyCodeType">
											<xsd:pattern value="[A-Z0-9]{3}"/>
											<xsd:attribute name="NumberOfDecimals" type="xsd:integer" use="required">
												<xsd:annotation>
													<xsd:documentation>Decimal position in fare amount.  Example: 2</xsd:documentation>
												</xsd:annotation>
											</xsd:attribute>
										</xsd:restriction>
									</xsd:simpleContent>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="BasePrice">
								<xsd:annotation>
									<xsd:documentation>Base (net) price of Option</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="FiledIn">
											<xsd:annotation>
												<xsd:documentation>This element represents the BasePrice filed in a currency different from the currency of a point of sale. </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="Surcharges" type="SurchargesType" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Surcharges group</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
									<xsd:attribute name="Amount" type="xsd:integer" use="required">
										<xsd:annotation>
											<xsd:documentation>Net price of charge.

Example: 9550</xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Taxes">
								<xsd:annotation>
									<xsd:documentation>Taxes group</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Tax" minOccurs="0" maxOccurs="unbounded">
											<xsd:annotation>
												<xsd:documentation>Tax break down information group </xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:sequence minOccurs="0">
													<xsd:element name="Designator">
														<xsd:annotation>
															<xsd:documentation>Tax or surcharge designator.  Example: US</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													<xsd:element name="Description" minOccurs="0">
														<xsd:annotation>
															<xsd:documentation>Tax or surcharge description.  Example: US national transportation</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
												</xsd:sequence>
												<xsd:attribute name="Amount" use="required">
													<xsd:annotation>
														<xsd:documentation>Individual tax amount.  Example: 250</xsd:documentation>
													</xsd:annotation>
												</xsd:attribute>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
									<xsd:attribute name="Amount" type="xsd:integer" use="required">
										<xsd:annotation>
											<xsd:documentation>Sum of all taxes

Example: 1125</xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Commission" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The TOTAL commission taken.

Example: 10</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:simpleContent>
										<xsd:extension base="xsd:string">
											<xsd:attribute name="Type" type="xsd:string" use="required">
												<xsd:annotation>
													<xsd:documentation>Whether the commission is in percent or an amount.
Possible values: P, A.
Example: A</xsd:documentation>
												</xsd:annotation>
											</xsd:attribute>
											<xsd:attribute name="NumberOfDecimals" type="xsd:int">
												<xsd:annotation>
													<xsd:documentation>If and only if the commission type is A, specify the number of decimals here.
Example: 2

Note: Need and logic NEEDS to be verified. Is the decimal needed for type 'P' or 'A'?  The node is copied over from TicketExchangeRQ </xsd:documentation>
												</xsd:annotation>
											</xsd:attribute>
										</xsd:extension>
									</xsd:simpleContent>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
						<xsd:attribute name="Total" type="xsd:integer">
							<xsd:annotation>
								<xsd:documentation>Total amount debited or credited with this EMD.

This is the sum of BasePrice .../EMDTotal/BasePrice/@Amount

plus

the sum of all taxes
.../EMDTotal/Taxes/@Amount

Example: 10675</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="QualifierGroup" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>EMD-S use ONLY

additional qualifiers to be used for an EMD-S</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref="ReasonForIssuance">
								<xsd:annotation>
									<xsd:documentation>This RFIC code is exclusively used for EMD-S (includes TASF automated ServiceFee charge)

Valid RFIC codes (IATA) are:

A = Air Transportation (used for residual value document)
B = Surface Transportation/           Non-Air Services
C = Baggage
D = Financial Impact
E = Airport Services
F = Merchandise
G = In-Flight Services
I  = Individual Airline Use
X = automated service fee (TASF)</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="Description" type="xsd:string" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Textual description of the reason of issuance or type of service of the EMD-S, i.e. HOOVER DAM TOUR</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="ValidatingCarrier">
								<xsd:annotation>
									<xsd:documentation>The 2-letter IATA carrier code of the validating carrier.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:length value="2"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="LocationCode">
								<xsd:annotation>
									<xsd:documentation>The three - letter IATA code of the location where the service is purchased/issued or provided.
Example: MIA</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:length value="3"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="Endorsements" type="xsd:string" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Endorsements that are to be printed on the EMD-S.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="Remarks" type="xsd:string" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Remarks that are to be printed on the EMD-S receipt.

Example: 
Check with tour guide upon arrival</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="TourCode" type="xsd:string" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Tour code as required (EMD-S use)</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:choice minOccurs="0">
								<xsd:element name="Operator" type="xsd:string">
									<xsd:annotation>
										<xsd:documentation>The name of the service operator providing the service charged.

Example: 
CAHTYS CARAVANS</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="CarrierCode">
									<xsd:annotation>
										<xsd:documentation>Carrier Code of airline providing the service</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
							</xsd:choice>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element ref="EMDExchangeInfo" minOccurs="0" maxOccurs="0">
					<xsd:annotation>
						<xsd:documentation>EMD information group

This node is NOT YET supported and does not have a final structure</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="Version" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Version of the message to be used.
Example: 2.2</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="MonetaryType" use="required">
				<xsd:annotation>
					<xsd:documentation>Characterizes this EMD as a DEBIT (charge to collect) or a CREDIT (i.e. credit for future air travel due to  residual value of an unused ticket) transaction

Note: 
EMD-S may be of type=CREDIT or DEBIT; 
EMD-A is always of type=DEBIT

Possible values:
DEBIT
CREDIT</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="EMDExchangeInfo">
		<xsd:annotation>
			<xsd:documentation>EMD information of previous EMD(s)</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="OriginalEMD" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Data of the original (first) EMD in case this is a subsequent exchange trx.

***DO NOT YET USE***
***NOT COMPLETED***
*** Needs review and proof of concept first  *** </xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref="OriginalIssueDate" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Issuance date in ISO 8601 format of the original EMD (yyyy-mm-dd).  

Example: 2008-12-25</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element ref="OriginalIssuePlace" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Three letter IATA code of the town where the EMD originally has been issued.
Example: MIA</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element ref="IATA" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The IATA number of the agency originally issuing the EMD.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="DocNumber">
								<xsd:annotation>
									<xsd:documentation>13-digit document number.  In case of a conjunctive set this is the FIRST (primary) document number of a multi-document set.

Example: 0015480123456</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:attribute name="ConjDocNumber">
										<xsd:annotation>
											<xsd:documentation>13-digit document number of the LAST document in a conjunctive set. 
Example: 0015480123458</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:minLength value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:attribute>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="IssueInExchangeFor" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>The 13 digit number of the document being exchanged.
Example: 0012345467891</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:length value="13"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="PreviousExchanges" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>  *** DO NOT USE ***
***NOT COMPLETED***

Placeholder Element to be build out for a list of 'previous exchanges' as needed when an EMD-S is used to refund residual values of a ticket.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TravelerElementNumber">
		<xsd:annotation>
			<xsd:documentation>Element number of traveler associated to this item.  Example: 1</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string"/>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Amount" type="xsd:integer">
		<xsd:annotation>
			<xsd:documentation>Monetary amount.  This is the real amount without the decimal point.  An amount of 7500 means 75.00 if Currency Code has 2 decimals. 

Example:  100</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Authorization">
		<xsd:annotation>
			<xsd:documentation>Credit card authorization</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Amount"/>
				<xsd:element name="MerchantCode">
					<xsd:annotation>
						<xsd:documentation>The merchant is usually the Validating Carrier collecting the funds via settlement agency.

Example: EK, AA</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="Type" use="required">
				<xsd:annotation>
					<xsd:documentation>Credit card authorization type. Values are: 
A = request authorization only
S = request authorization and store returned approval code in the PNR 
D = request authorization and verify the address associated with this credit card; store the verification status and approval code in PNR. If no address associated - error message will be returned. 

Example: A</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="1"/>
						<xsd:enumeration value="A"/>
						<xsd:enumeration value="S"/>
						<xsd:enumeration value="D"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Address">
		<xsd:annotation>
			<xsd:documentation>Street or PO Box address.  Example: 1234 Main Street</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="City">
		<xsd:annotation>
			<xsd:documentation>City name.  Example: NY</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="PostalCode">
		<xsd:annotation>
			<xsd:documentation>Postal code or zip code.  Example: 12345</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="StateCode">
		<xsd:annotation>
			<xsd:documentation>State code.  Example: NY</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CountryCode">
		<xsd:annotation>
			<xsd:documentation>Country code.  Example: US</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="2"/>
				<xsd:minLength value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ReasonForIssuance">
		<xsd:annotation>
			<xsd:documentation>Each EMD shall be issued with a single Reason Code (RFIC)

The IATA TktHandbook states that there can only by ONE Reason Code (RFIC) per EMD - see chapter 5.
This works for an EMD-S.

For an EMD-A it appears there is an absolute need to have this code available at the individual service level.

ATPCO uses this code RFIC plus a set of SubCodes describing the service/reason for issuance.

Valid RFIC codes (ATPCO) are:

A = Air Transportation (not applicable here as it can not be issued on an EMD)
B = Surface Transportation/           Non-Air Services
C = Baggage
D = Financial Impact
E = Airport Services
F = Merchandise
G = In-Flight Services
I  = Individual Airline Use

Note: There are discrepancies between the RFIC codes published and used by ATPCO (downloaded from web) and the RFIC codes published by IATA in Ticketing Handbook 40th edition</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="OriginalIssueDate" type="xsd:date">
		<xsd:annotation>
			<xsd:documentation>Date in ISO 8601 format (yyyy-mm-dd).  Example: 2001-12-25</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IATA" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>The IATA number of the agency originally issuing the ticket.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="OriginalIssuePlace" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Three letter IATA code of the town where the ticket originally has been issued.
Example: MIA</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:attribute name="TrxRefKey">
		<xsd:annotation>
			<xsd:documentation>Data binding reference key created for each supported PNR element such as "Services".

Generate standard 36 character GUID (example 540c2d5f-a9ab-4414-bd36-9999f5388773) and convert to base64 (example Xy0MVKupFES9NpmZ9TiHcw).  Result is unique 22 character key.</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
	<xsd:element name="RecordLocator" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>PNR record locator.  Example: R1A3SK</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:attribute name="DocType">
		<xsd:annotation>
			<xsd:documentation>Possible values are: "TKTT" or "CANX"</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:length value="4"/>
				<xsd:enumeration value="EMDS"/>
				<xsd:enumeration value="EMDA"/>
				<xsd:enumeration value="TASF"/>
				<xsd:enumeration value="MD50"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:attribute>
</xsd:schema>
