schema/axis/FareRulesRQ.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:include schemaLocation="CommonTypes.xsd"/>
	<xsd:element name="FareRulesRQ">
		<xsd:annotation>
			<xsd:documentation>Fare rules request root element</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="DepartureCity"/>
				<xsd:element ref="DepartureDate"/>
				<xsd:element ref="ArrivalCity"/>
				<xsd:element ref="FareBasisCode"/>
				<xsd:element ref="AirlineCode"/>
				<xsd:element ref="FareRefKey" minOccurs="0"/>
				<xsd:element ref="FareIndicator" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Fare indicator (Worldspan only).  Values are: A = MoneySaver, B = Joint.  Example: A</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="TextIndicator" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Text indicator (Worldspan only).  Values are: A = Full-text, B = Mini-rule.  Example: A </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="FareType" minOccurs="0"/>
				<xsd:element name="FareOptions" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Fare Rules options group</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref="PrivateFares" minOccurs="0"/>
							<xsd:element name="CorporateCode" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>[DEPRECATED] keeping for backward compatibility (Use PrivateFares/Corporate instead)</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:attribute name="Office" type="xsd:string" use="required">
										<xsd:annotation>
											<xsd:documentation>Pseudo city under which private (corporate) fares have been filed.  Example: 18C6</xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="FareQualifier" type="xsd:string" minOccurs="0" maxOccurs="3">
								<xsd:annotation>
									<xsd:documentation>Fare qualifier.  Example: JCB, PFA</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element ref="Rule" minOccurs="0"/>
				<xsd:element ref="DisplayLineNo" minOccurs="0"/>
				<xsd:element name="TicketedDateTime" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Used for Historical Fare Rules retreival</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Date" type="Date">
								<xsd:annotation>
									<xsd:documentation>Specifies departure or arrival date in ISO 8601 format (yyyy-mm-dd). Example: 2001-12-25</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="Time" type="Time" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Departure or arrival time in ISO 8601 twenty-four hour clock format. Example: 14:00</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="version" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation>Version number.  Example: 1.0</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="DepartureCity" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Departure city.  Example: MIA</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DepartureDate" type="xsd:date">
		<xsd:annotation>
			<xsd:documentation>Departure date in ISO 8601 format (yyyy-mm-dd).  Example: 2002-10-01</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ArrivalCity" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Arrival city.  Example: JFK</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FareBasisCode">
		<xsd:annotation>
			<xsd:documentation>Fare basis code.  Example: Y26</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute ref="Source"/>
					<xsd:attribute name="PriceClass">
						<xsd:annotation>
							<xsd:documentation>Name of PriceClass/Branded Fare.
Example: TANGO</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="AirlineCode" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Airline code.  Example: AA</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FareIndicator">
		<xsd:annotation>
			<xsd:documentation>Fare indicator.  Values are: A = MoneySaver, B = Joint.  Example: A</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="1"/>
				<xsd:enumeration value="A"/>
				<xsd:enumeration value="B"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="TextIndicator">
		<xsd:annotation>
			<xsd:documentation>Text indicator.  Values are: A = Full-text, B = Mini-rule.  Example: A </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="1"/>
				<xsd:enumeration value="A"/>
				<xsd:enumeration value="B"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="FareType" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Specifies the type of fare.  Values are: PUBL = Published fares only, NEGO = Private (negotiated) fares only, BOTH = Published and private Fares, ATPC = ATPCO private fares.  Example: PUBL</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Rule">
		<xsd:annotation>
			<xsd:documentation>Fare rule group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Category" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Fare rule category, possible values are:
ACC Accompanied Travel
ADD Add-Ons
AGT Agent Discounts
APP Rule Application
BLA Blackout Dates
BOC Booking Code
CHD Children Discounts
CMB Combinability
COT Co-Terminals
CTC Circle Trip Combinability
DAY Day and / or Time Application
DEP Deposits
DSC All Other Discounts
END Ticket Endorsements
EOE End On End Combinability
EXD Travel Restrictions (deprecated, use TVL instead)
FBR Fare By Rule
FLT Flight Application
GRP Groups
HIP Higher Intermediate Point / Mileage Exceptions
ICT International Construction
LIS List All Restrictions
MAX Maximum Stay
MIN Minimum Stay
MIS Miscellaneous Provisions
NET Negotiated Fares
OPJ Open Jaw Combinability
ORE Open Return
OTH Other
PEN Penalties
REF Refunds
RER Reroute
RES Advance Reservation / Ticketing Restrictions
ROU Routings
SEA Seasonality
SPP Special Provisions
STP Stopovers
SUR Surcharges
TCO Tour Conductor Discounts
TKT Sales Restrictions
TOU Tours
TRF Transfers
TVL Travel Restrictions
VCT Visit Another Country
VOL Voluntary Changes
WHO Eligibility

Example: PEN

</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Category">
		<xsd:annotation>
			<xsd:documentation>Rule category.  
  Example: PEN</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="3"/>
				<xsd:maxLength value="3"/>
				<xsd:enumeration value="ACC">
					<xsd:annotation>
						<xsd:documentation>ACCOMPANIED TRAVEL</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="ADD">
					<xsd:annotation>
						<xsd:documentation>ADD-ONS</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="AGT">
					<xsd:annotation>
						<xsd:documentation>AGENT DISCOUNTS</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="APP">
					<xsd:annotation>
						<xsd:documentation>RULE APPLICATION</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="BLA">
					<xsd:annotation>
						<xsd:documentation>BLACKOUT DATES</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="BOC">
					<xsd:annotation>
						<xsd:documentation>BOOKING CODE</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="CHD">
					<xsd:annotation>
						<xsd:documentation>CHILDREN DISCOUNTS</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="CMB">
					<xsd:annotation>
						<xsd:documentation>COMBINABILITY</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="COT">
					<xsd:annotation>
						<xsd:documentation>CO-TERMINALS</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="CTC">
					<xsd:annotation>
						<xsd:documentation>CIRCLE TRIP COMBINABILITY</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="DAY">
					<xsd:annotation>
						<xsd:documentation>DAY AND/OR TIME APPLICATION</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="DEP">
					<xsd:annotation>
						<xsd:documentation>DEPOSITS</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="DSC">
					<xsd:annotation>
						<xsd:documentation>ALL OTHER DISCOUNTS</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="END">
					<xsd:annotation>
						<xsd:documentation>TICKET ENDORSEMENTS</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="EOE">
					<xsd:annotation>
						<xsd:documentation>END ON END COMBINABILITY</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="EXD">
					<xsd:annotation>
						<xsd:documentation>TRAVEL RESTRICTIONS (deprecated, use TVL instead)</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="FBR">
					<xsd:annotation>
						<xsd:documentation>FARE BY RULE</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="FLT">
					<xsd:annotation>
						<xsd:documentation>FLIGHT APPLICATION</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="GRP">
					<xsd:annotation>
						<xsd:documentation>GROUPS</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="HIP">
					<xsd:annotation>
						<xsd:documentation>HIGHER INTERMEDIATE POINT / MILEAGE EXCEPTIONS</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="ICT">
					<xsd:annotation>
						<xsd:documentation>INTERNATIONAL CONSTRUCTION</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="LIS">
					<xsd:annotation>
						<xsd:documentation>ALL RESTRICTIONS LIST</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="MAX">
					<xsd:annotation>
						<xsd:documentation>MAXIMUM STAY</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="MIN">
					<xsd:annotation>
						<xsd:documentation>MINIMUM STAY</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="MIS">
					<xsd:annotation>
						<xsd:documentation>MISCELLANEOUS PROVISIONS</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="NET">
					<xsd:annotation>
						<xsd:documentation>NEGOTIATED FARES</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="OPJ">
					<xsd:annotation>
						<xsd:documentation>OPEN JAW COMBINABILITY</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="ORE">
					<xsd:annotation>
						<xsd:documentation>OPEN RETURN</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="OTH">
					<xsd:annotation>
						<xsd:documentation>OTHER</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="PEN">
					<xsd:annotation>
						<xsd:documentation>PENALTIES</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="REF">
					<xsd:annotation>
						<xsd:documentation>REFUNDS</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="RER">
					<xsd:annotation>
						<xsd:documentation>REROUTE</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="RES">
					<xsd:annotation>
						<xsd:documentation>ADVANCE RESERVATION / TICKETING RESTRICTIONS</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="ROU">
					<xsd:annotation>
						<xsd:documentation>ROUTINGS</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="SEA">
					<xsd:annotation>
						<xsd:documentation>SEASONALITY</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="SPP">
					<xsd:annotation>
						<xsd:documentation>SPECIAL PROVISIONS</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="STP">
					<xsd:annotation>
						<xsd:documentation>STOPOVERS</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="SUR">
					<xsd:annotation>
						<xsd:documentation>SURCHARGES</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="TCO">
					<xsd:annotation>
						<xsd:documentation>TOUR CONDUCTOR DISCOUNTS</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="TKT">
					<xsd:annotation>
						<xsd:documentation>SALES RESTRICTIONS</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="TOU">
					<xsd:annotation>
						<xsd:documentation>TOURS</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="TRF">
					<xsd:annotation>
						<xsd:documentation>TRANSFERS</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="TVL">
					<xsd:annotation>
						<xsd:documentation>TRAVEL RESTRICTIONS</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="VCT">
					<xsd:annotation>
						<xsd:documentation>VISIT ANOTHER COUNTRY</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="VOL">
					<xsd:annotation>
						<xsd:documentation>VOLUNTARY CHANGES</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="WHO">
					<xsd:annotation>
						<xsd:documentation>ELIGIBILITY</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DisplayLineNo">
		<xsd:annotation>
			<xsd:documentation>Fare line number from a fare display
Example: 01</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="5"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="PrivateFares">
		<xsd:annotation>
			<xsd:documentation>Negotiated fares (Private Fares) group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Office" maxOccurs="unbounded"/>
				<xsd:element ref="Corporate" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="PromoCodes" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Office" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Pseudo city under which private fares are stored.  Example: 1C1K</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Corporate">
		<xsd:annotation>
			<xsd:documentation>Corporate info group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="AirlineCode" minOccurs="0"/>
				<xsd:element ref="Account">
					<xsd:annotation>
						<xsd:documentation>Specifies the corporate account number to use to price private fares.  Example: IBM or 675124</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="Contract" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PromoCodes">
		<xsd:annotation>
			<xsd:documentation>Promo Codes</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="AirlineCode" minOccurs="0"/>
				<xsd:element name="PromoCode">
					<xsd:annotation>
						<xsd:documentation>Code ID / Number</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Account">
		<xsd:annotation>
			<xsd:documentation>Specifies the corporate account number to use to price private fares.  Example: 12345</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string"/>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Contract" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Specifies the contract code, to use to price private fares.  Example: 00001</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
