schema/axis/LoyaltyAccountViewRS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="LoyaltyAccountViewRS">
		<xsd:annotation>
			<xsd:documentation>root element</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="LoyaltyPrograms" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>returns all applicable accounts</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="LoyaltyMemberID">
								<xsd:annotation>
									<xsd:documentation>Account ID
Example: AC7890</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="ProgramName">
								<xsd:annotation>
									<xsd:documentation>The loyalty program name
Example: SME</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="GroupID" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Associates this account to a pre-defined group</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="ProgramSponsor">
								<xsd:annotation>
									<xsd:documentation>The 2-letter airline code sponsoring this program</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="AirlineCode"/>
										<xsd:element name="PhoneNumber" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Freeflow phone number field</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="EmailAddress" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Freeflow email address field</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="ContactName" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Freeflow contact name field
Example:  John Public</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="ProfileIndex">
								<xsd:annotation>
									<xsd:documentation>Profile Index of the associated corporate account
Example: ABC12T</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:simpleContent>
										<xsd:extension base="xsd:string">
											<xsd:attribute name="Type">
												<xsd:annotation>
													<xsd:documentation>Identifies the profile type, e.g. 
T = TravelerProfile, 
C = Company Profile, </xsd:documentation>
												</xsd:annotation>
											</xsd:attribute>
										</xsd:extension>
									</xsd:simpleContent>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="EnrollmentDate" type="xsd:date">
								<xsd:annotation>
									<xsd:documentation>Date in ISO 8601 format (yyyy-mm-dd).  Example: 2001-12-25</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="RevenueDataGroup" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Needed for the following events:

RevenueTreshold
Booking
</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="FutureBookingVolume">
											<xsd:annotation>
												<xsd:documentation>future unrealized revenue units </xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:attribute name="Amount" use="required">
													<xsd:annotation>
														<xsd:documentation>future unrealized revenue units </xsd:documentation>
													</xsd:annotation>
												</xsd:attribute>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="CurrentYearBalance">
											<xsd:annotation>
												<xsd:documentation>accrued FLOWN revenue units for current year</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:attribute name="Amount" use="required">
													<xsd:annotation>
														<xsd:documentation>accrued balance for the current year (flown revenue)</xsd:documentation>
													</xsd:annotation>
												</xsd:attribute>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="LifetimeBalance">
											<xsd:annotation>
												<xsd:documentation>accrued revenue over the life of this membership</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:attribute name="Amount" use="required">
													<xsd:annotation>
														<xsd:documentation>accrued balance over the flifetime of the account</xsd:documentation>
													</xsd:annotation>
												</xsd:attribute>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="RevenueUnit" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>The type of units is based on the Airline's program requirement</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:choice>
													<xsd:element ref="CurrencyCode"/>
													<xsd:element name="Miles"/>
													<xsd:element name="Points"/>
													<xsd:element name="Credits"/>
												</xsd:choice>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="OfferDataGroup">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Offer" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element ref="OfferCodeID">
														<xsd:annotation>
															<xsd:documentation>ID for this offer as filed in rules engine
Example: 0AR123</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													<xsd:element name="Description" minOccurs="0">
														<xsd:annotation>
															<xsd:documentation>Description of the offer</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													<xsd:element name="UnitControl">
														<xsd:annotation>
															<xsd:documentation>The units credited based on the request type.
Units may be number of services, cost of service in points, miles or awards

Example: 
5
2.25</xsd:documentation>
														</xsd:annotation>
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="Units" maxOccurs="unbounded">
																	<xsd:annotation>
																		<xsd:documentation>The units credited based on the request type.
Units may be number of services, cost of service in points, miles or awards

Example: 
5
2.25</xsd:documentation>
																	</xsd:annotation>
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="InitialUnits">
																				<xsd:annotation>
																					<xsd:documentation>identifies the initial allotment</xsd:documentation>
																				</xsd:annotation>
																			</xsd:element>
																			<xsd:element name="AvailableUnits">
																				<xsd:annotation>
																					<xsd:documentation>returns the number of units available for consumption</xsd:documentation>
																				</xsd:annotation>
																			</xsd:element>
																			<xsd:element name="PendingUnits">
																				<xsd:annotation>
																					<xsd:documentation>identifies the number of units booked but not yet flown</xsd:documentation>
																				</xsd:annotation>
																			</xsd:element>
																			<xsd:element name="UsedUnits">
																				<xsd:annotation>
																					<xsd:documentation>identifies the number of used units</xsd:documentation>
																				</xsd:annotation>
																			</xsd:element>
																			<xsd:element name="DiscountLevel" minOccurs="0">
																				<xsd:annotation>
																					<xsd:documentation>identifies discount level to be applied </xsd:documentation>
																				</xsd:annotation>
																				<xsd:complexType>
																					<xsd:simpleContent>
																						<xsd:extension base="xsd:string">
																							<xsd:attribute name="Type">
																								<xsd:annotation>
																									<xsd:documentation>A = DiscountAmount
P = DiscountPercentage</xsd:documentation>
																								</xsd:annotation>
																							</xsd:attribute>
																						</xsd:extension>
																					</xsd:simpleContent>
																				</xsd:complexType>
																			</xsd:element>
																			<xsd:element name="Threshold" minOccurs="0">
																				<xsd:annotation>
																					<xsd:documentation>Identifies which revenue threshold triggered this transaction</xsd:documentation>
																				</xsd:annotation>
																			</xsd:element>
																			<xsd:element name="EventType" minOccurs="0">
																				<xsd:annotation>
																					<xsd:documentation>ENR = Enrollment
ANN = Anniversary
REV = Revenue Treshold
ADM = Administartion</xsd:documentation>
																				</xsd:annotation>
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:string">
																						<xsd:enumeration value="ENR"/>
																						<xsd:enumeration value="ANN"/>
																						<xsd:enumeration value="REV"/>
																						<xsd:enumeration value="ADM"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="CreationDate" type="xsd:date" minOccurs="0">
																				<xsd:annotation>
																					<xsd:documentation>Date in ISO 8601 format (yyyy-mm-dd).  Example: 2001-12-25</xsd:documentation>
																				</xsd:annotation>
																			</xsd:element>
																			<xsd:element name="TravelDates" minOccurs="0">
																				<xsd:annotation>
																					<xsd:documentation>Travel dates for which this offer is valid</xsd:documentation>
																				</xsd:annotation>
																				<xsd:complexType>
																					<xsd:sequence>
																						<xsd:element name="EffectiveDate" minOccurs="0">
																							<xsd:annotation>
																								<xsd:documentation>Date in ISO 8601 format (yyyy-mm-dd).  Example: 2001-12-25</xsd:documentation>
																							</xsd:annotation>
																							<xsd:complexType>
																								<xsd:simpleContent>
																									<xsd:extension base="xsd:date">
																										<xsd:attribute name="Time">
																											<xsd:annotation>
																												<xsd:documentation>Date in ISO 8601 format (hh:mm).  
Example: 14:55</xsd:documentation>
																											</xsd:annotation>
																										</xsd:attribute>
																									</xsd:extension>
																								</xsd:simpleContent>
																							</xsd:complexType>
																						</xsd:element>
																						<xsd:element name="ExpirationDate" minOccurs="0">
																							<xsd:annotation>
																								<xsd:documentation>Date in ISO 8601 format (yyyy-mm-dd).  Example: 2001-12-25</xsd:documentation>
																							</xsd:annotation>
																							<xsd:complexType>
																								<xsd:simpleContent>
																									<xsd:extension base="xsd:date">
																										<xsd:attribute name="Time">
																											<xsd:annotation>
																												<xsd:documentation>Date in ISO 8601 format (hh:mm).  
Example: 14:55</xsd:documentation>
																											</xsd:annotation>
																										</xsd:attribute>
																									</xsd:extension>
																								</xsd:simpleContent>
																							</xsd:complexType>
																						</xsd:element>
																					</xsd:sequence>
																				</xsd:complexType>
																			</xsd:element>
																			<xsd:element name="BookingDates" minOccurs="0">
																				<xsd:annotation>
																					<xsd:documentation>Dates for which this offer is valid</xsd:documentation>
																				</xsd:annotation>
																				<xsd:complexType>
																					<xsd:sequence>
																						<xsd:element name="EffectiveDate" minOccurs="0">
																							<xsd:annotation>
																								<xsd:documentation>Date in ISO 8601 format (yyyy-mm-dd).  Example: 2001-12-25</xsd:documentation>
																							</xsd:annotation>
																							<xsd:complexType>
																								<xsd:simpleContent>
																									<xsd:extension base="xsd:date">
																										<xsd:attribute name="Time">
																											<xsd:annotation>
																												<xsd:documentation>Date in ISO 8601 format (hh:mm).  
Example: 14:55</xsd:documentation>
																											</xsd:annotation>
																										</xsd:attribute>
																									</xsd:extension>
																								</xsd:simpleContent>
																							</xsd:complexType>
																						</xsd:element>
																						<xsd:element name="ExpirationDate" minOccurs="0">
																							<xsd:annotation>
																								<xsd:documentation>Date in ISO 8601 format (yyyy-mm-dd).  Example: 2001-12-25</xsd:documentation>
																							</xsd:annotation>
																							<xsd:complexType>
																								<xsd:simpleContent>
																									<xsd:extension base="xsd:date">
																										<xsd:attribute name="Time">
																											<xsd:annotation>
																												<xsd:documentation>Date in ISO 8601 format (hh:mm).  
Example: 14:55</xsd:documentation>
																											</xsd:annotation>
																										</xsd:attribute>
																									</xsd:extension>
																								</xsd:simpleContent>
																							</xsd:complexType>
																						</xsd:element>
																					</xsd:sequence>
																				</xsd:complexType>
																			</xsd:element>
																		</xsd:sequence>
																		<xsd:attribute name="DateControlled">
																			<xsd:annotation>
																				<xsd:documentation>default is "N"
if set to "Y" the offer is not unit controlled and valid as per expiration date</xsd:documentation>
																			</xsd:annotation>
																		</xsd:attribute>
																		<xsd:attribute name="OfferSubCode">
																			<xsd:annotation>
																				<xsd:documentation>(Future Use) to be generated on creation by SQL</xsd:documentation>
																			</xsd:annotation>
																		</xsd:attribute>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType><![CDATA[]]></xsd:element>
							<xsd:element name="DisplayOptions" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Actions" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="EventType">
														<xsd:annotation>
															<xsd:documentation>ENR = Enrollment
BKG = Booking
TKG = Ticketing
FLN = Flown
ANN = Anniversary
REV = Revenue Treshold
ADM = Administartion
EXP = Expiration (removes expired units)</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													<xsd:element name="CreationDate" type="xsd:date">
														<xsd:annotation>
															<xsd:documentation>Specifies date in which PNR was created in ISO 8601 format (yyyy-mm-dd).  Example: 2001-12-25</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													<xsd:element name="CreationTime">
														<xsd:annotation>
															<xsd:documentation>Creation time in ISO 8601 format.  Example: 12:35</xsd:documentation>
														</xsd:annotation>
														<xsd:simpleType>
															<xsd:restriction base="xsd:string">
																<xsd:pattern value="([0-1][0-9]|2[0-4]):[0-5][0-9]">
																	<xsd:annotation>
																		<xsd:documentation>
</xsd:documentation>
																	</xsd:annotation>
																</xsd:pattern>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="CreationReference" type="xsd:string">
														<xsd:annotation>
															<xsd:documentation>Agent ID. or Robot ID  Example: RI17</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													<xsd:element ref="Remarks" minOccurs="0"/>
													<xsd:element name="UnitData" minOccurs="0" maxOccurs="unbounded">
														<xsd:annotation>
															<xsd:documentation>Unit data group</xsd:documentation>
														</xsd:annotation>
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="Units">
																	<xsd:annotation>
																		<xsd:documentation>The units credited or debited
Example: 
5
2.25</xsd:documentation>
																	</xsd:annotation>
																	<xsd:complexType/>
																</xsd:element>
																<xsd:element ref="OfferCodeID" minOccurs="0"/>
															</xsd:sequence>
															<xsd:attribute name="Type" use="required">
																<xsd:annotation>
																	<xsd:documentation>D = Debit
C = Credit
N = to be set when offer is date controlled (not unit controlled)</xsd:documentation>
																</xsd:annotation>
															</xsd:attribute>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="RevenueData" minOccurs="0">
														<xsd:annotation>
															<xsd:documentation>Earned revenue send by RoBo after segments are verified as flown; </xsd:documentation>
														</xsd:annotation>
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="CreditUnits">
																	<xsd:annotation>
																		<xsd:documentation>Revenue units to be processed in various account balances</xsd:documentation>
																	</xsd:annotation>
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="YearRev" minOccurs="0">
																				<xsd:annotation>
																					<xsd:documentation>Units of revenue debited/credited to respective balance</xsd:documentation>
																				</xsd:annotation>
																				<xsd:complexType>
																					<xsd:attribute name="Type">
																						<xsd:annotation>
																							<xsd:documentation>D = Debit
C = Credit</xsd:documentation>
																						</xsd:annotation>
																					</xsd:attribute>
																				</xsd:complexType>
																			</xsd:element>
																			<xsd:element name="LifeTimeRev" minOccurs="0">
																				<xsd:annotation>
																					<xsd:documentation>Units of revenue debited/credited to respective balance</xsd:documentation>
																				</xsd:annotation>
																				<xsd:complexType>
																					<xsd:attribute name="Type">
																						<xsd:annotation>
																							<xsd:documentation>D = Debit
C = Credit</xsd:documentation>
																						</xsd:annotation>
																					</xsd:attribute>
																				</xsd:complexType>
																			</xsd:element>
																			<xsd:element name="FutureRev" minOccurs="0">
																				<xsd:annotation>
																					<xsd:documentation>Units of revenue debited/credited to respective balance</xsd:documentation>
																				</xsd:annotation>
																				<xsd:complexType>
																					<xsd:attribute name="Type">
																						<xsd:annotation>
																							<xsd:documentation>D = Debit
C = Credit</xsd:documentation>
																						</xsd:annotation>
																					</xsd:attribute>
																				</xsd:complexType>
																			</xsd:element>
																		</xsd:sequence>
																		<xsd:attribute name="Action">
																			<xsd:annotation>
																				<xsd:documentation>This attribute becomes mandatory ONLY in conjunction with Type = FLN

Allowed values:
USED
VOID
EXCH
RFND</xsd:documentation>
																			</xsd:annotation>
																		</xsd:attribute>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="BookingReference" minOccurs="0">
														<xsd:annotation>
															<xsd:documentation>A refernece is referenced to a single traveler/ticket</xsd:documentation>
														</xsd:annotation>
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="TicketTrxID" minOccurs="0">
																	<xsd:annotation>
																		<xsd:documentation>transaction key generated by loyalty program server</xsd:documentation>
																	</xsd:annotation>
																	<xsd:complexType>
																		<xsd:simpleContent>
																			<xsd:extension base="xsd:string"/>
																		</xsd:simpleContent>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="BookingOfficeID" type="xsd:string">
																	<xsd:annotation>
																		<xsd:documentation>Booking office Identification.  Example: KLTLOB</xsd:documentation>
																	</xsd:annotation>
																</xsd:element>
																<xsd:element ref="RecordLocator">
																	<xsd:annotation>
																		<xsd:documentation>PNR record locator associated with this transaction.  Example: R1A3SK</xsd:documentation>
																	</xsd:annotation>
																</xsd:element>
																<xsd:element ref="VendorLocator"/>
																<xsd:element name="TicketNumber" minOccurs="0">
																	<xsd:annotation>
																		<xsd:documentation>13-digit ticket number 
Example: 1761233215673</xsd:documentation>
																	</xsd:annotation>
																	<xsd:complexType>
																		<xsd:simpleContent>
																			<xsd:extension base="xsd:string">
																				<xsd:attribute name="ConjTicketNumber">
																					<xsd:annotation>
																						<xsd:documentation>13-digit ticket number of the LAST ticket of an conjunctive ticket set. 
Example: 1761233215673</xsd:documentation>
																					</xsd:annotation>
																					<xsd:simpleType>
																						<xsd:restriction base="xsd:string">
																							<xsd:minLength value="1"/>
																						</xsd:restriction>
																					</xsd:simpleType>
																				</xsd:attribute>
																				<xsd:attribute name="Status" use="required">
																					<xsd:annotation>
																						<xsd:documentation>Possible Values:
"TICKETED"
"VOIDED"
"EXCHANGED"
"REFUNDED"</xsd:documentation>
																					</xsd:annotation>
																					<xsd:simpleType>
																						<xsd:restriction base="xsd:string">
																							<xsd:enumeration value="TICKETED"/>
																							<xsd:enumeration value="VOIDED"/>
																							<xsd:enumeration value="EXCHANGED"/>
																							<xsd:enumeration value="REFUNDED"/>
																						</xsd:restriction>
																					</xsd:simpleType>
																				</xsd:attribute>
																			</xsd:extension>
																		</xsd:simpleContent>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="TravelerName">
																	<xsd:annotation>
																		<xsd:documentation>Name group</xsd:documentation>
																	</xsd:annotation>
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element ref="Surname"/>
																			<xsd:element ref="GivenName"/>
																			<xsd:element ref="Initial" minOccurs="0">
																				<xsd:annotation>
																					<xsd:documentation>Traveler initial or middle name (required by US Gov). Example: G or George</xsd:documentation>
																				</xsd:annotation>
																			</xsd:element>
																			<xsd:element name="FQTVData" minOccurs="0">
																				<xsd:annotation>
																					<xsd:documentation>Frequent flyer number.  Example: 0956301007</xsd:documentation>
																				</xsd:annotation>
																				<xsd:complexType>
																					<xsd:sequence>
																						<xsd:element ref="FFCompanyCode"/>
																						<xsd:element ref="FFNumber"/>
																					</xsd:sequence>
																				</xsd:complexType>
																			</xsd:element>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="FlightReferences" maxOccurs="unbounded">
																	<xsd:annotation>
																		<xsd:documentation>Flight element associated to this transaction</xsd:documentation>
																	</xsd:annotation>
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element ref="AirlineCode"/>
																			<xsd:element ref="FlightNumber"/>
																			<xsd:element ref="ClassOfService"/>
																			<xsd:element ref="Date"/>
																			<xsd:element ref="Time"/>
																			<xsd:element ref="DepartureCode"/>
																			<xsd:element ref="ArrivalCode"/>
																		</xsd:sequence>
																		<xsd:attribute name="BookingDate" use="required">
																			<xsd:annotation>
																				<xsd:documentation>ISO format: yyyy-mm-dd</xsd:documentation>
																			</xsd:annotation>
																		</xsd:attribute>
																		<xsd:attribute name="BookingTime" use="required">
																			<xsd:annotation>
																				<xsd:documentation>ISO format: hh:mm</xsd:documentation>
																			</xsd:annotation>
																		</xsd:attribute>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CurrencyCode">
		<xsd:annotation>
			<xsd:documentation>Currency code.  Example: USD</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="CurrencyCodeType">
					<xsd:pattern value="[A-Z0-9]{3}"/>
					<xsd:attribute name="NumberOfDecimals" type="xsd:integer" use="required">
						<xsd:annotation>
							<xsd:documentation>Decimal position in fare amount.  Example: 2</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="OfferCodeID">
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="VendorLocator" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Vendor record locator identification.  Example: RAS12T</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CurrencyCodeType">
		<xsd:annotation>
			<xsd:documentation>Defines currency code (ISO 3-letter code) and optional number of decimals. Not that for request messages the NumberOfDecimals has no effect and is not needed.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="NumberOfDecimals" type="xsd:integer" use="optional">
					<xsd:annotation>
						<xsd:documentation>Decimal position in fare amount.  Example: 2</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:element name="RecordLocator" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>PNR record locator.  Example: R1A3SK</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Initial">
		<xsd:annotation>
			<xsd:documentation>Traveler middle initial (only one letter).  Example: G</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:length value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Surname" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Traveler family name.  Example: SMITH</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GivenName" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Traveler given (first) name. This field is populated by parsing the given name data returned by the GDS. Because the GDSs accept free form text for the given name (although there is a convention) this field may also contain second name, initials and/or title. NOTE: see also NativeGivenName field. Example: JANE</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ClassOfService" type="COSType">
		<xsd:annotation>
			<xsd:documentation>Class of service.  Example: B</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="COSType">
		<xsd:annotation>
			<xsd:documentation> Basic definition of air  ClassOfService. Alpha-coded. Usually single char.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
			<xsd:minLength value="1"/>
			<xsd:pattern value="[A-Z]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="Date" type="Date">
		<xsd:annotation>
			<xsd:documentation>Specifies departure or arrival date in ISO 8601 format (yyyy-mm-dd). Example: 2001-12-25</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="Date">
		<xsd:annotation>
			<xsd:documentation>Date in ISO 8601 format (yyyy-mm-dd). Example: 2001-12-25</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>
	<xsd:element name="Time" type="Time">
		<xsd:annotation>
			<xsd:documentation>Departure or arrival time in ISO 8601 twenty-four hour clock format. Example: 14:00</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="Time">
		<xsd:annotation>
			<xsd:documentation>Time in ISO 8601 twenty-four hour clock format. Example: 14:00</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:length value="5"/>
			<xsd:pattern value="([0-1][0-9]|2[0-3]):[0-5][0-9]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="DepartureCode" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Departure airport or city code.  Example: MIA</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ArrivalCode" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Arrival airport or city code.  Example: NYC</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FlightNumber" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Flight number</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AirlineCode">
		<xsd:annotation>
			<xsd:documentation>2-character airline code.  Example: AA</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:length value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="FFCompanyCode" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Frequent flyer company code.  Example: AF</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FFNumber" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Frequent flyer number.  Example: 0956301007</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Text" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Information text or error text. Example: Free flow text.  </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Remarks">
		<xsd:annotation>
			<xsd:documentation>Information group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Text" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
