schema/axis/PNRNotificationRQ.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:element name="PNRNotificationRQ">
		<xsd:annotation>
			<xsd:documentation>Comment describing your root element</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="RecordLocator"/>
				<xsd:choice>
					<xsd:element ref="DeleteNotification" maxOccurs="unbounded"/>
					<xsd:element ref="AddNotification" maxOccurs="unbounded"/>
				</xsd:choice>
				<xsd:element ref="ReceivedFrom"/>
			</xsd:sequence>
			<xsd:attribute name="version" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation>Version number.  Example: 1.0</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ElementNumber" type="xsd:integer">
		<xsd:annotation>
			<xsd:documentation>Element number to be deleted from the PNR. Example: 1.1</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="RecordLocator" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>PNR record locator to be updated.  Example: VP1256</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DeleteNotification">
		<xsd:annotation>
			<xsd:documentation>Delete PendingNotification group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ElementNumber" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="Source" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Identifies the source of this  element. In other words where the content originates from. Not limited to GDS, applicable to direct connect as well. Example: 1A, 1V, or other. </xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="AddNotification">
		<xsd:annotation>
			<xsd:documentation>Adding PendingNotification nod(s) to PNR</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Message">
					<xsd:annotation>
						<xsd:documentation>Delete PendingNotification group</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:sequence>
								<xsd:element name="PlacementReason">
									<xsd:annotation>
										<xsd:documentation>Any structured codes </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="PlacementComment" maxOccurs="unbounded">
									<xsd:annotation>
										<xsd:documentation>Any instructions/alerts </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
							<xsd:choice>
								<xsd:element name="Service">
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element name="ServiceLocation" minOccurs="0">
												<xsd:annotation>
													<xsd:documentation>This is the 3-letter IATA city- or airport code related to the service.  For example, an airport lounge pass may only be valid for one location.

Example: DFW</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element ref="ServiceDate" minOccurs="0"/>
											<xsd:element name="Description">
												<xsd:annotation>
													<xsd:documentation>Title description (Commercial Name) of offered service.

Example: "3rd Bag Fee"

UI tip: You may build a one line description to display by stringing the following values together:
"Description"+"ServiceLocation"+"ServiceDate"+"DescriptionVariable" which could be displayed as sampled here:

'Airline Lounge Pass DFW 10May'
where 'Airline Lounge Pass' is the "Description", 'DFW' the "ServiceLocation" and '10May' the "ServiceDate"

or
Premium Seat 9D

where 'Premium Seat' is the "Description" and '9D' the "DescriptionVariable"</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="DescriptionVariable" minOccurs="0">
												<xsd:annotation>
													<xsd:documentation>This value is used to provide a variable value for an selected service.

Sample: for a Premium Seat this will be a seat number; for a annual pass of onboard WiFi this will be the credentials, etc.  

Examples:
"9D"
"UID: GO8978 PW: 1234"</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element ref="ServicePrice" minOccurs="0"/>
										</xsd:sequence>
										<xsd:attribute name="Method" use="required">
											<xsd:annotation>
												<xsd:documentation>Values are:

F = FareIntegrated
EA = EMD Associated
ES = EMD Standalone 
MA = Flight Associated but settled via MCO
MS = Standalone but settle via MCO
D = DirectSettlement</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:enumeration value="F"/>
													<xsd:enumeration value="EA"/>
													<xsd:enumeration value="MA"/>
													<xsd:enumeration value="ES"/>
													<xsd:enumeration value="MS"/>
													<xsd:enumeration value="D"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:attribute>
										<xsd:attribute name="Status">
											<xsd:annotation>
												<xsd:documentation>Values are:
NN = "Requested"
HK = "Confirmed"</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:enumeration value="NN"/>
													<xsd:enumeration value="HK"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:attribute>
										<xsd:attribute name="Type" use="required">
											<xsd:annotation>
												<xsd:documentation>Indicator if this option is a discount or a surcharge;

Values are: 
"Discount"  1)
"Surcharge"
"Included"  2)

1) only applicable when using methof F, applying option directly to a fare (not used in an EMD solution)

2) This item is free of charge due to FQTV status or chosen Price Class

Sample:  Earning extra miles may only be allowed for a Top tier FQTV status and is not applicable for any other traveler.</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:enumeration value="Discount"/>
													<xsd:enumeration value="Surcharge"/>
													<xsd:enumeration value="Included"/>
													<xsd:enumeration value="Not applicable"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:attribute>
									</xsd:complexType>
								</xsd:element>
								<xsd:element name="TBD">
									<xsd:annotation>
										<xsd:documentation>reserved for other PNR related messages (future development)</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
							</xsd:choice>
						</xsd:sequence>
						<xsd:attribute name="Source" type="xsd:string">
							<xsd:annotation>
								<xsd:documentation>Identifies the source of this  element. In other words where the content originates from. Not limited to GDS, applicable to direct connect as well. Example: 1A, 1V, or other. </xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ServiceDate" type="xsd:date">
		<xsd:annotation>
			<xsd:documentation>Service date in ISO 8601 format.  Example: 2002-12-25</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ServicePrice">
		<xsd:annotation>
			<xsd:documentation>Price for this service; not to be used for 'included' options (no charge options)

This node uses the Currency/Decimals of the FareGroup root level</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="CurrencyCode"/>
				<xsd:element name="BasePrice">
					<xsd:annotation>
						<xsd:documentation>Base (net) price of Service</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attribute name="Amount" use="required">
							<xsd:annotation>
								<xsd:documentation>Net price of service
Example: 6750</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Taxes" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Tax Group</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Tax" minOccurs="0" maxOccurs="unbounded">
								<xsd:annotation>
									<xsd:documentation>Tax break down information group </xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence minOccurs="0">
										<xsd:element name="Designator">
											<xsd:annotation>
												<xsd:documentation>Tax or surcharge designator.  Example: US</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="Description" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Tax or surcharge description.  Example: US national transportation</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
									<xsd:attribute name="Amount" use="required">
										<xsd:annotation>
											<xsd:documentation>Individual tax amount.  Example: 250</xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
						<xsd:attribute name="Amount" use="required">
							<xsd:annotation>
								<xsd:documentation>Total taxes amount.  Example: 750</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="Total" type="xsd:integer" use="required">
				<xsd:annotation>
					<xsd:documentation>Total amount for this service.

Total = base price +  total amount of taxes.

Example: 7500</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CurrencyCode">
		<xsd:annotation>
			<xsd:documentation>Currency code.  Example: USD</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="CurrencyCodeType">
					<xsd:pattern value="[A-Z0-9]{3}"/>
					<xsd:attribute name="NumberOfDecimals" type="xsd:integer" use="required">
						<xsd:annotation>
							<xsd:documentation>Decimal position in fare amount.  Example: 2</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="CurrencyCodeType">
		<xsd:annotation>
			<xsd:documentation>Defines currency code (ISO 3-letter code) and optional number of decimals. Not that for request messages the NumberOfDecimals has no effect and is not needed.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="NumberOfDecimals" type="xsd:integer" use="optional">
					<xsd:annotation>
						<xsd:documentation>Decimal position in fare amount.  Example: 2</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:element name="ReceivedFrom" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Received from field.  Example: John</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
