schema/axis/TicketRefundRS.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="CommonTicketingTypes.xsd"/>
	<xsd:element name="TicketRefundRS">
		<xsd:annotation>
			<xsd:documentation>Ticket Refund Response Root Element.
The TicketRefundRS is basically a copy of the request (TicketRefundRQ) with the addition of the InfoGroup node. All nodes are optional. InfoGroup is particularly useful to report any error message during the processing of the transaction.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="InfoGroup" minOccurs="0"/>
				<xsd:element name="ESAC" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ID" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Electronic Settlement Authorization Code from the airline authorizing the void/cancel.

A single SAC/ESAC shall be sent per passenger for all coupons of a ticket/document number within a request for change of coupon status. Characters 1 through 4 of the 14 character code shall be the 3 or 4 digit airline accounting code.  When a 3- digit airline accounting code is used, position 1 shall be left blank. The remaining 10 characters (no blanks) of the SAC/ESAC are left to the discretion of the Validating Carrier.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:minLength value="13"/>
										<xsd:maxLength value="14"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="Date" type="xsd:date" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Date in ISO 8601 format (yyyy-mm-dd).  Example: 2001-12-25</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
						<xsd:attribute name="Declined" type="xsd:boolean">
							<xsd:annotation>
								<xsd:documentation>true / false</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="Manual" type="xsd:boolean">
							<xsd:annotation>
								<xsd:documentation>true / false
True if the ESAC was obtained by agent directly</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="RecordLocator" type="xsd:string" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>PNR record locator.  Example: R1A3SK</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="Traveler" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Traveler details group</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="TravelerElementNumber" type="xsd:string" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Element number of traveler associated to this item.  Example: 1</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="TravelerName">
								<xsd:annotation>
									<xsd:documentation>Name group</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Surname"/>
										<xsd:element ref="GivenName"/>
										<xsd:element name="NativeGivenName" type="xsd:string" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>This field contains the given (first) name as it is returned from the GDS (free form text which contains given name, initial and title). In addition the given name as it comes from the GDS is parsed according to the GDS convention and the content is returned in sibling elments GivenName, Initial and Title. NOTE: client applications which implement their own parsing algorithm should use the content of this field! EXAMPLE: JOHN A MR</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="OriginalIssueData" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="TktIssueDate" type="xsd:date">
								<xsd:annotation>
									<xsd:documentation>Date in ISO 8601 format (yyyy-mm-dd).  Example: 2001-12-25</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="TktIssueTime" type="xsd:time" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Time in ISO 8601 format (hh:mm).  Example: 14:00</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="IATA" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>IATA number of the agency originating the request.
Example: 123456</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="PseudoCityCode">
								<xsd:annotation>
									<xsd:documentation>Pseudo City Code of the agency requesting the void/cancel. Used to verify if it has the authority for this request.
Example: LNJ2</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:simpleContent>
										<xsd:extension base="xsd:string"/>
									</xsd:simpleContent>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Commission" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The commision that was originally collected (if any)
Example: 200</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:simpleContent>
										<xsd:extension base="xsd:string">
											<xsd:attribute name="Type" type="xsd:string" use="required">
												<xsd:annotation>
													<xsd:documentation>The type of commission: Percentage (P) or Amount (A).
Example: A</xsd:documentation>
												</xsd:annotation>
											</xsd:attribute>
											<xsd:attribute name="NumberOfDecimals" type="xsd:int">
												<xsd:annotation>
													<xsd:documentation>The number of decimals if the commission type is A.
Example: 2</xsd:documentation>
												</xsd:annotation>
											</xsd:attribute>
										</xsd:extension>
									</xsd:simpleContent>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="TicketData" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Ticket Data</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Ticket" maxOccurs="4">
								<xsd:annotation>
									<xsd:documentation>Data of the ticket. In case of a conjunctive ticket, all ticket numbers must be supplied with the coupon numbers that are to be refunded.
NOTE: Sabre does automatically refund all unused segments when using automated refunds.</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="CouponNumber" type="xsd:int" maxOccurs="4">
											<xsd:annotation>
												<xsd:documentation>The number of the coupoun to be refunded.
Example: 1</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
									<xsd:attribute name="Number" type="xsd:string" use="required">
										<xsd:annotation>
											<xsd:documentation>The 13 digt ticket number of the ticket to be refunded.
Example: 0012345467891</xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="FormOfPayment">
								<xsd:annotation>
									<xsd:documentation>Form of payment group</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:choice>
										<xsd:sequence>
											<xsd:element name="CreditCard" minOccurs="0" maxOccurs="unbounded">
												<xsd:annotation>
													<xsd:documentation>Credit card group</xsd:documentation>
												</xsd:annotation>
												<xsd:complexType>
													<xsd:sequence>
														<xsd:element ref="CCCode"/>
														<xsd:element ref="CCNumber"/>
														<xsd:element ref="CCExpiration"/>
														<xsd:sequence minOccurs="0">
															<xsd:element ref="CardholderFirstName" minOccurs="0"/>
															<xsd:element ref="CardholderLastName"/>
														</xsd:sequence>
													</xsd:sequence>
													<xsd:attribute name="PartialPayment" type="xsd:positiveInteger">
														<xsd:annotation>
															<xsd:documentation>(Partial) Amount allocated to this FOP in case of a split payment.  This is not to be confused with the amount requested for authorization - see ...CreditCard/ Authorization/Amount.  Example: 75000</xsd:documentation>
														</xsd:annotation>
													</xsd:attribute>
												</xsd:complexType>
											</xsd:element>
											<xsd:element name="Other" minOccurs="0" maxOccurs="unbounded">
												<xsd:annotation>
													<xsd:documentation>Other payment information.  Example: CHECK 113</xsd:documentation>
												</xsd:annotation>
												<xsd:complexType>
													<xsd:simpleContent>
														<xsd:extension base="xsd:string">
															<xsd:attribute name="PartialPayment" type="xsd:positiveInteger">
																<xsd:annotation>
																	<xsd:documentation>(Partial) Amount allocated to this FOP in case of a split payment.  This is not to be confused with the amount requested for authorization - see ...CreditCard/ Authorization/Amount.  Example: 75000</xsd:documentation>
																</xsd:annotation>
															</xsd:attribute>
														</xsd:extension>
													</xsd:simpleContent>
												</xsd:complexType>
											</xsd:element>
										</xsd:sequence>
										<xsd:element name="NativeElementText" type="xsd:string"/>
									</xsd:choice>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="FareData">
								<xsd:annotation>
									<xsd:documentation>Base Fare, Taxes, and Total Fare data to be refunded</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="CurrencyCode">
											<xsd:annotation>
												<xsd:documentation>Currency code.  Example: USD</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string">
														<xsd:attribute name="NumberOfDecimals" type="xsd:positiveInteger" use="required">
															<xsd:annotation>
																<xsd:documentation>Decimal position in fare amount.  Example: 2</xsd:documentation>
															</xsd:annotation>
														</xsd:attribute>
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="Price">
											<xsd:annotation>
												<xsd:documentation>Price group</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="BaseFare">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="Surcharges" minOccurs="0">
																	<xsd:annotation>
																		<xsd:documentation>Sourcharges group</xsd:documentation>
																	</xsd:annotation>
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="Surcharge" type="SurchargeTypeBasic" maxOccurs="unbounded">
																				<xsd:annotation>
																					<xsd:documentation>Surcharges break down information.</xsd:documentation>
																				</xsd:annotation>
																			</xsd:element>
																		</xsd:sequence>
																		<xsd:attribute name="Amount" type="xsd:integer" use="required">
																			<xsd:annotation>
																				<xsd:documentation>Total surcharges amount.  Example: 2000</xsd:documentation>
																			</xsd:annotation>
																		</xsd:attribute>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
															<xsd:attribute name="Amount" type="xsd:integer" use="required">
																<xsd:annotation>
																	<xsd:documentation>Total base fare amount that includes surcharges (if any).  Example: 200000</xsd:documentation>
																</xsd:annotation>
															</xsd:attribute>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="Taxes">
														<xsd:annotation>
															<xsd:documentation>Tax break down information group </xsd:documentation>
														</xsd:annotation>
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="Tax" maxOccurs="unbounded">
																	<xsd:annotation>
																		<xsd:documentation>Tax break down information group </xsd:documentation>
																	</xsd:annotation>
																	<xsd:complexType>
																		<xsd:complexContent>
																			<xsd:extension base="TaxType">
																				<xsd:attribute name="Refundable" use="optional">
																					<xsd:annotation>
																						<xsd:documentation>Indicates if tax is refundable.  Values are:
Y = Tax refundable (default)
N = Tax not refundable
Example: N</xsd:documentation>
																					</xsd:annotation>
																					<xsd:simpleType>
																						<xsd:restriction base="xsd:string">
																							<xsd:enumeration value="Y"/>
																							<xsd:enumeration value="N"/>
																						</xsd:restriction>
																					</xsd:simpleType>
																				</xsd:attribute>
																			</xsd:extension>
																		</xsd:complexContent>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
															<xsd:attribute name="Amount" type="xsd:integer" use="required">
																<xsd:annotation>
																	<xsd:documentation>Total taxes amount.  Example: 30000</xsd:documentation>
																</xsd:annotation>
															</xsd:attribute>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
												<xsd:attribute name="Total" type="xsd:positiveInteger" use="required">
													<xsd:annotation>
														<xsd:documentation>Total fare amount for one traveler of the specified passenger type.  Total price = base fare amount + taxes amount.  Example: 230000</xsd:documentation>
													</xsd:annotation>
												</xsd:attribute>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="FareRules">
											<xsd:annotation>
												<xsd:documentation>Fare rules information</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="FareCalculation" type="xsd:string">
														<xsd:annotation>
															<xsd:documentation>Fare Calculation line</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													<xsd:element name="Remark" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
														<xsd:annotation>
															<xsd:documentation>Free form text remark. 
FUTURE USE.</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													<xsd:element name="TourCode" type="xsd:string" minOccurs="0">
														<xsd:annotation>
															<xsd:documentation>Tour code identifier. Example: ITGF12
(Galileo / Apollo)</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="Commission" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Represents the commission to be returned to airline</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string">
														<xsd:attribute name="Type" type="xsd:string" use="required">
															<xsd:annotation>
																<xsd:documentation>The type of commission: Percentage (P) or Amount (A).
Example: A</xsd:documentation>
															</xsd:annotation>
														</xsd:attribute>
														<xsd:attribute name="NumberOfDecimals" type="xsd:int">
															<xsd:annotation>
																<xsd:documentation>The number of decimals if the commission type is A.
Example: 2</xsd:documentation>
															</xsd:annotation>
														</xsd:attribute>
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="TicketRemark" minOccurs="0" maxOccurs="unbounded">
								<xsd:annotation>
									<xsd:documentation>Ticket remark group</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Text" type="xsd:string" maxOccurs="unbounded">
											<xsd:annotation>
												<xsd:documentation>Information text.  Example: Free flow text</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
						<xsd:attribute name="Origin" type="xsd:string">
							<xsd:annotation>
								<xsd:documentation>Trip's overall Origin - may not match this ticket's first segment's Departure airport if this is not the first coupon in a Conjunctive set.</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="Destination" type="xsd:string">
							<xsd:annotation>
								<xsd:documentation>Trip's overall Destination - may not match this ticket's last segment's Arrival airport if this is not the last coupon in a Conjunctive set.</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="RefundData" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Data specific to the monetary refund</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CurrencyCode">
								<xsd:annotation>
									<xsd:documentation>Currency code.  Example: USD</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:simpleContent>
										<xsd:extension base="xsd:string">
											<xsd:attribute name="NumberOfDecimals" type="xsd:positiveInteger" use="required">
												<xsd:annotation>
													<xsd:documentation>Decimal position in fare amount.  Example: 2</xsd:documentation>
												</xsd:annotation>
											</xsd:attribute>
										</xsd:extension>
									</xsd:simpleContent>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="FeesAndPenalties" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Tax" type="TaxType" minOccurs="0" maxOccurs="unbounded">
											<xsd:annotation>
												<xsd:documentation>Tax break down information group. Non-refundable taxes (treated as a penalty).  Tax break-down needed for some settlement authorities such as BSP </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="CancellationCommission" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>The amount of commission taken on the cancellation penalty.
Example: 100</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string">
														<xsd:attribute name="Type" use="required">
															<xsd:annotation>
																<xsd:documentation>The type of commission: Percentage (P) or Amount (A).
Example: A</xsd:documentation>
															</xsd:annotation>
															<xsd:simpleType>
																<xsd:restriction base="xsd:string">
																	<xsd:enumeration value="A"/>
																	<xsd:enumeration value="P"/>
																</xsd:restriction>
															</xsd:simpleType>
														</xsd:attribute>
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="CancellationPenalty" type="xsd:nonNegativeInteger" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>The amount that is to be paid as cancellation penalty.
Example: 100</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="AdminFee" type="xsd:nonNegativeInteger" minOccurs="0"/>
										<xsd:element name="PenaltyFee" type="xsd:nonNegativeInteger" minOccurs="0"/>
										<xsd:element name="CommFee" type="xsd:nonNegativeInteger" minOccurs="0"/>
									</xsd:sequence>
									<xsd:attribute name="Amount" type="xsd:integer" use="required">
										<xsd:annotation>
											<xsd:documentation>Total fees and penalties amount.  Example: 30000</xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="TotalRefund">
								<xsd:annotation>
									<xsd:documentation>Taxes group</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:attribute name="Amount" type="xsd:integer" use="required">
										<xsd:annotation>
											<xsd:documentation>Total taxes amount.  Example: 30000</xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
								</xsd:complexType>
							</xsd:element>
							<xsd:element ref="WaiverCode" minOccurs="0"/>
							<xsd:element ref="RefundAuthNumber" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="RefundDocumentNumber" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>A unique document Number used in certain BSP countries to report Refund Transaction.  </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="Type">
				<xsd:annotation>
					<xsd:documentation>Possible values are: "Full" or "Partial"</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="Full"/>
						<xsd:enumeration value="Partial"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CreditCard">
		<xsd:annotation>
			<xsd:documentation>Credit card group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="CCCode"/>
				<xsd:element ref="CCNumber"/>
				<xsd:element ref="CCExpiration"/>
				<xsd:sequence minOccurs="0">
					<xsd:element ref="CardholderFirstName" minOccurs="0"/>
					<xsd:element ref="CardholderLastName"/>
				</xsd:sequence>
			</xsd:sequence>
			<xsd:attribute name="InhibitPrint">
				<xsd:annotation>
					<xsd:documentation>Option to print on invoice.  Values are:
Y = Inhibit remark print on invoice
N = Print remark on invoice  Example: Y

Note that this indicator is only supprted by Sabre GDS currently. In general this means that absence of this attribute means that CC FOP will be printed on invoice unless changed during ticketing override commands.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="1"/>
						<xsd:enumeration value="Y"/>
						<xsd:enumeration value="N"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="PartialAmount" type="xsd:positiveInteger">
				<xsd:annotation>
					<xsd:documentation>(Partial) amount allocated to this form of payment. Used for so called split payment. Not to be confused w/ amount entered for authorization in PNRCreateRQ.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CCCode">
		<xsd:annotation>
			<xsd:documentation>Credit card code.  Example: VI</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CCNumber" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Credit card number.  Example: 4011236654652341</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CCExpiration">
		<xsd:annotation>
			<xsd:documentation>Credit card expiration group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Month">
					<xsd:annotation>
						<xsd:documentation>Credit card expiration month as found on card.
Example: 08</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:integer">
							<xsd:minInclusive value="01"/>
							<xsd:maxInclusive value="12"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="Year">
					<xsd:annotation>
						<xsd:documentation>Credit card expiration year as found on card.
Example: 09</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:integer">
							<xsd:maxInclusive value="9999"/>
							<xsd:minInclusive value="1950"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CardholderFirstName">
		<xsd:annotation>
			<xsd:documentation>Credit card holder's first name.  Example: JOHN</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CardholderLastName" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Credit card holder's last name.  This is only required for Sabre.  Example: SMITH</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
