schema/axis/TicketIssueRQ.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:element name="TicketIssueRQ">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:choice>
					<xsd:annotation>
						<xsd:documentation>Every single branch in this choice has to clearly identify a particular FareGroup in the PNR. Ticketing without a matching FareGroup is not supported.</xsd:documentation>
					</xsd:annotation>
					<xsd:element ref="FlightReq"/>
					<xsd:element ref="TravelerReq"/>
					<xsd:element name="ExchangeReq">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="TktExchangeRequest">
									<xsd:complexType>
										<xsd:attribute name="ExchangeReqNumber" type="xsd:string" use="required">
											<xsd:annotation>
												<xsd:documentation>The number of the exchange request to be ticketed as returned by TicketExchangeRS</xsd:documentation>
											</xsd:annotation>
										</xsd:attribute>
										<xsd:attribute name="OriginalTicketNumber" type="xsd:string" use="required">
											<xsd:annotation>
												<xsd:documentation>The 13 digt ticket number of the ticket to be refunded.
Example: 0012345467891</xsd:documentation>
											</xsd:annotation>
										</xsd:attribute>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
							<xsd:attribute ref="Source">
								<xsd:annotation>
									<xsd:documentation>Identifies the source to process this request.  

Example: AA, LH, or other. </xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="StoredFareReq">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="TktStoredFare">
									<xsd:complexType>
										<xsd:attribute name="FareNumber" type="xsd:string" use="required">
											<xsd:annotation>
												<xsd:documentation>Number of FareGroup in PNR to be used for ticketing. Example: 2</xsd:documentation>
											</xsd:annotation>
										</xsd:attribute>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:choice>
				<xsd:element ref="RecordLocator">
					<xsd:annotation>
						<xsd:documentation>The record locator of the PNR for which the ticket(s) are to be issued.
Example: XQ23AX</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="QualifierGroup" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Data sent in the QualifierGroup supplements or overwrites the content of the PNR, depending on the PNR already containing the respective data or not.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Commission" minOccurs="0">
								<xsd:complexType>
									<xsd:simpleContent>
										<xsd:extension base="xsd:string">
											<xsd:attribute name="Type" type="xsd:string" use="required">
												<xsd:annotation>
													<xsd:documentation>Commission type.  Values are: P = Percent, A = Amount  Example: A</xsd:documentation>
												</xsd:annotation>
											</xsd:attribute>
											<xsd:attribute name="NumberOfDecimals" type="xsd:nonNegativeInteger">
												<xsd:annotation>
													<xsd:documentation>Number of decimals for amount value.</xsd:documentation>
												</xsd:annotation>
											</xsd:attribute>
										</xsd:extension>
									</xsd:simpleContent>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="ValidatingCarrier" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:minLength value="1"/>
										<xsd:maxLength value="2"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="FormOfPayment" minOccurs="0" maxOccurs="unbounded">
								<xsd:annotation>
									<xsd:documentation>Form of Payment Group
Noe: If provided all requested travelers and faregroups must be covered by this/these element(s)</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:choice>
											<xsd:sequence>
												<xsd:element name="CreditCard" minOccurs="0" maxOccurs="unbounded">
													<xsd:annotation>
														<xsd:documentation>Note: ONLY BSP market true Split FOPs can have multiplicity here.</xsd:documentation>
													</xsd:annotation>
													<xsd:complexType>
														<xsd:sequence>
															<xsd:element name="CCCode" type="xsd:string">
																<xsd:annotation>
																	<xsd:documentation>Credit card code.  Example: VI</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
															<xsd:element name="CCNumber" type="xsd:long">
																<xsd:annotation>
																	<xsd:documentation>Credit card number.  Example: 4444333322221111</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
															<xsd:element name="CCExpiration">
																<xsd:annotation>
																	<xsd:documentation>Credit card expiration group</xsd:documentation>
																</xsd:annotation>
																<xsd:complexType>
																	<xsd:sequence>
																		<xsd:element name="Month" type="xsd:int">
																			<xsd:annotation>
																				<xsd:documentation>Month in format MM</xsd:documentation>
																			</xsd:annotation>
																		</xsd:element>
																		<xsd:element name="Year" type="xsd:int">
																			<xsd:annotation>
																				<xsd:documentation>Year in format YY</xsd:documentation>
																			</xsd:annotation>
																		</xsd:element>
																	</xsd:sequence>
																</xsd:complexType>
															</xsd:element>
															<xsd:element name="SecurityID" type="xsd:string" minOccurs="0">
																<xsd:annotation>
																	<xsd:documentation>This Credit Card Security ID (aka CCID, CVV, CVC) can not be stored and is entered at the transaction level.</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
															<xsd:element name="ApprovalCode" type="xsd:string" minOccurs="0">
																<xsd:annotation>
																	<xsd:documentation>Creditcard approval code.
Example: 12345</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
															<xsd:element name="AuthorizationData" minOccurs="0">
																<xsd:annotation>
																	<xsd:documentation>Data  Elements which are returned from the CC Provider which are reported to ARC and BSP.   
Internal use only. </xsd:documentation>
																</xsd:annotation>
																<xsd:complexType>
																	<xsd:sequence>
																		<xsd:element name="TransactionIdentifier" minOccurs="0">
																			<xsd:annotation>
																				<xsd:documentation>A valued returned from Credit card provider and used for ARC and BSP reporting. For Visa and AMEX. </xsd:documentation>
																			</xsd:annotation>
																		</xsd:element>
																		<xsd:element name="AuthResCode" minOccurs="0">
																			<xsd:annotation>
																				<xsd:documentation>Authorization Response Code. A valued returned from Credit card provider and used for ARC and BSP reporting. Visa only. </xsd:documentation>
																			</xsd:annotation>
																		</xsd:element>
																		<xsd:element name="ValidationCode" minOccurs="0">
																			<xsd:annotation>
																				<xsd:documentation>Validation Code. A valued returned from Credit card provider and used for ARC and BSP reporting. Visa only. </xsd:documentation>
																			</xsd:annotation>
																		</xsd:element>
																		<xsd:element name="AuthCharInd" minOccurs="0">
																			<xsd:annotation>
																				<xsd:documentation>Authorization Character Indicator. A valued returned from Credit card provider and used for ARC and BSP reporting. Visa only.  </xsd:documentation>
																			</xsd:annotation>
																		</xsd:element>
																		<xsd:element name="EcommerceInd" minOccurs="0">
																			<xsd:annotation>
																				<xsd:documentation>E-Commerce Indicator. A valued returned from Credit card provider and used for ARC and BSP reporting. Visa and MasterCard. </xsd:documentation>
																			</xsd:annotation>
																		</xsd:element>
																		<xsd:element name="BankNetRefDate" minOccurs="0">
																			<xsd:annotation>
																				<xsd:documentation>bankNet Reference Date. A valued returned from Credit card provider and used for ARC and BSP reporting. MasterCard only. </xsd:documentation>
																			</xsd:annotation>
																		</xsd:element>
																		<xsd:element name="BanknetReferenceNumber" minOccurs="0">
																			<xsd:annotation>
																				<xsd:documentation>Banknet reference number. A valued returned from Credit card provider and used for ARC and BSP reporting. Mastercard only. </xsd:documentation>
																			</xsd:annotation>
																		</xsd:element>
																		<xsd:element name="PaymentID" minOccurs="0">
																			<xsd:annotation>
																				<xsd:documentation>The Code identifies the type of VISA credit card( e.g signature card, reward card etc..)   </xsd:documentation>
																			</xsd:annotation>
																		</xsd:element>
																		<xsd:element name="AddVerfCode" minOccurs="0">
																			<xsd:annotation>
																				<xsd:documentation>Address Verification Code; When CC company Address Verification Service( AVS) is utilized, this field will contain the address verification response code. </xsd:documentation>
																			</xsd:annotation>
																		</xsd:element>
																	</xsd:sequence>
																</xsd:complexType>
															</xsd:element>
															<xsd:element name="ReportingData" minOccurs="0">
																<xsd:annotation>
																	<xsd:documentation>Data  Elements required by certain card issuers for report purposes</xsd:documentation>
																</xsd:annotation>
																<xsd:complexType>
																	<xsd:sequence>
																		<xsd:element name="AccountNumber" minOccurs="0">
																			<xsd:annotation>
																				<xsd:documentation>Corporation's account number</xsd:documentation>
																			</xsd:annotation>
																			<xsd:complexType>
																				<xsd:simpleContent>
																					<xsd:extension base="xsd:string">
																						<xsd:attribute name="Min">
																							<xsd:annotation>
																								<xsd:documentation>minimum length</xsd:documentation>
																							</xsd:annotation>
																						</xsd:attribute>
																						<xsd:attribute name="Max">
																							<xsd:annotation>
																								<xsd:documentation>maximum length</xsd:documentation>
																							</xsd:annotation>
																						</xsd:attribute>
																						<xsd:attribute name="Format">
																							<xsd:annotation>
																								<xsd:documentation>A - alphanumeric (default)
N - numeric
D - ISO date format</xsd:documentation>
																							</xsd:annotation>
																						</xsd:attribute>
																						<xsd:attribute name="Mandatory">
																							<xsd:annotation>
																								<xsd:documentation>O - optional (default)
M - mandatory</xsd:documentation>
																							</xsd:annotation>
																						</xsd:attribute>
																						<xsd:attribute name="DataElementID" use="required">
																							<xsd:annotation>
																								<xsd:documentation>Vendor code assigned to this reporting element
Example:  BK</xsd:documentation>
																							</xsd:annotation>
																						</xsd:attribute>
																						<xsd:attribute name="DataElementName" use="required">
																							<xsd:annotation>
																								<xsd:documentation>Vendor element name assigned to this reporting element
Example:  Corperate ID</xsd:documentation>
																							</xsd:annotation>
																						</xsd:attribute>
																					</xsd:extension>
																				</xsd:simpleContent>
																			</xsd:complexType>
																		</xsd:element>
																		<xsd:element name="CostCenter" minOccurs="0">
																			<xsd:annotation>
																				<xsd:documentation>Cost center number/code</xsd:documentation>
																			</xsd:annotation>
																			<xsd:complexType>
																				<xsd:simpleContent>
																					<xsd:extension base="xsd:string">
																						<xsd:attribute name="Min">
																							<xsd:annotation>
																								<xsd:documentation>minimum length</xsd:documentation>
																							</xsd:annotation>
																						</xsd:attribute>
																						<xsd:attribute name="Max">
																							<xsd:annotation>
																								<xsd:documentation>maximum length</xsd:documentation>
																							</xsd:annotation>
																						</xsd:attribute>
																						<xsd:attribute name="Format">
																							<xsd:annotation>
																								<xsd:documentation>A - alphanumeric (default)
N - numeric
D - ISO date format</xsd:documentation>
																							</xsd:annotation>
																						</xsd:attribute>
																						<xsd:attribute name="Mandatory">
																							<xsd:annotation>
																								<xsd:documentation>O - optional (default)
M - mandatory</xsd:documentation>
																							</xsd:annotation>
																						</xsd:attribute>
																						<xsd:attribute name="DataElementID" use="required">
																							<xsd:annotation>
																								<xsd:documentation>Vendor code assigned to this reporting element
Example:  BK</xsd:documentation>
																							</xsd:annotation>
																						</xsd:attribute>
																						<xsd:attribute name="DataElementName" use="required">
																							<xsd:annotation>
																								<xsd:documentation>Vendor element name assigned to this reporting element
Example:  Corperate ID</xsd:documentation>
																							</xsd:annotation>
																						</xsd:attribute>
																					</xsd:extension>
																				</xsd:simpleContent>
																			</xsd:complexType>
																		</xsd:element>
																		<xsd:element name="Department" minOccurs="0">
																			<xsd:annotation>
																				<xsd:documentation>Department description  for this Traveler in this association.
Example: Marketing</xsd:documentation>
																			</xsd:annotation>
																			<xsd:complexType>
																				<xsd:simpleContent>
																					<xsd:extension base="xsd:string">
																						<xsd:attribute name="Min">
																							<xsd:annotation>
																								<xsd:documentation>minimum length</xsd:documentation>
																							</xsd:annotation>
																						</xsd:attribute>
																						<xsd:attribute name="Max">
																							<xsd:annotation>
																								<xsd:documentation>maximum length</xsd:documentation>
																							</xsd:annotation>
																						</xsd:attribute>
																						<xsd:attribute name="Format">
																							<xsd:annotation>
																								<xsd:documentation>A - alphanumeric (default)
N - numeric
D - ISO date format</xsd:documentation>
																							</xsd:annotation>
																						</xsd:attribute>
																						<xsd:attribute name="Mandatory">
																							<xsd:annotation>
																								<xsd:documentation>O - optional (default)
M - mandatory</xsd:documentation>
																							</xsd:annotation>
																						</xsd:attribute>
																						<xsd:attribute name="DataElementID" use="required">
																							<xsd:annotation>
																								<xsd:documentation>Vendor code assigned to this reporting element
Example:  BK</xsd:documentation>
																							</xsd:annotation>
																						</xsd:attribute>
																						<xsd:attribute name="DataElementName" use="required">
																							<xsd:annotation>
																								<xsd:documentation>Vendor element name assigned to this reporting element
Example:  Corperate ID</xsd:documentation>
																							</xsd:annotation>
																						</xsd:attribute>
																					</xsd:extension>
																				</xsd:simpleContent>
																			</xsd:complexType>
																		</xsd:element>
																		<xsd:element name="EmployeeID" minOccurs="0">
																			<xsd:annotation>
																				<xsd:documentation>EmployeeID of traveler for this association.
Example 476254</xsd:documentation>
																			</xsd:annotation>
																			<xsd:complexType>
																				<xsd:simpleContent>
																					<xsd:extension base="xsd:string">
																						<xsd:attribute name="Min">
																							<xsd:annotation>
																								<xsd:documentation>minimum length</xsd:documentation>
																							</xsd:annotation>
																						</xsd:attribute>
																						<xsd:attribute name="Max">
																							<xsd:annotation>
																								<xsd:documentation>maximum length</xsd:documentation>
																							</xsd:annotation>
																						</xsd:attribute>
																						<xsd:attribute name="Format">
																							<xsd:annotation>
																								<xsd:documentation>A - alphanumeric (default)
N - numeric
D - ISO date format</xsd:documentation>
																							</xsd:annotation>
																						</xsd:attribute>
																						<xsd:attribute name="Mandatory">
																							<xsd:annotation>
																								<xsd:documentation>O - optional (default)
M - mandatory</xsd:documentation>
																							</xsd:annotation>
																						</xsd:attribute>
																						<xsd:attribute name="DataElementID" use="required">
																							<xsd:annotation>
																								<xsd:documentation>Vendor code assigned to this reporting element
Example:  BK</xsd:documentation>
																							</xsd:annotation>
																						</xsd:attribute>
																						<xsd:attribute name="DataElementName" use="required">
																							<xsd:annotation>
																								<xsd:documentation>Vendor element name assigned to this reporting element
Example:  Corperate ID</xsd:documentation>
																							</xsd:annotation>
																						</xsd:attribute>
																					</xsd:extension>
																				</xsd:simpleContent>
																			</xsd:complexType>
																		</xsd:element>
																		<xsd:element name="GenericElement" minOccurs="0" maxOccurs="unbounded">
																			<xsd:annotation>
																				<xsd:documentation>These are elements provided by CC vendor and could include elements such as
- ProjectNumber
- AccountingUnit
- ActionNumber
- DepartingDate
- FinalDestination

Above sample reflects data elements from UATP/Airplus requirements</xsd:documentation>
																			</xsd:annotation>
																			<xsd:complexType>
																				<xsd:simpleContent>
																					<xsd:extension base="xsd:string">
																						<xsd:attribute name="Min">
																							<xsd:annotation>
																								<xsd:documentation>minimum length</xsd:documentation>
																							</xsd:annotation>
																						</xsd:attribute>
																						<xsd:attribute name="Max">
																							<xsd:annotation>
																								<xsd:documentation>maximum length</xsd:documentation>
																							</xsd:annotation>
																						</xsd:attribute>
																						<xsd:attribute name="Format">
																							<xsd:annotation>
																								<xsd:documentation>A - alphanumeric (default)
N - numeric
D - ISO date format</xsd:documentation>
																							</xsd:annotation>
																						</xsd:attribute>
																						<xsd:attribute name="Mandatory">
																							<xsd:annotation>
																								<xsd:documentation>O - optional (default)
M - mandatory</xsd:documentation>
																							</xsd:annotation>
																						</xsd:attribute>
																						<xsd:attribute name="DataElementID" use="required">
																							<xsd:annotation>
																								<xsd:documentation>Vendor code assigned to this reporting element
Example:  PN</xsd:documentation>
																							</xsd:annotation>
																						</xsd:attribute>
																						<xsd:attribute name="DataElementName" use="required">
																							<xsd:annotation>
																								<xsd:documentation>Vendor element name assigned to this reporting element
Example:  Project Number</xsd:documentation>
																							</xsd:annotation>
																						</xsd:attribute>
																						<xsd:attribute name="SystemProcess">
																							<xsd:annotation>
																								<xsd:documentation>Allowed value: Y
If set this identifies that this data content for this element is system generated (not provide by user input or profiles)</xsd:documentation>
																							</xsd:annotation>
																						</xsd:attribute>
																					</xsd:extension>
																				</xsd:simpleContent>
																			</xsd:complexType>
																		</xsd:element>
																	</xsd:sequence>
																</xsd:complexType>
															</xsd:element>
															<xsd:sequence minOccurs="0">
																<xsd:element ref="CardholderFirstName" minOccurs="0"/>
																<xsd:element ref="CardholderLastName"/>
															</xsd:sequence>
															<xsd:element ref="Authorization" minOccurs="0"/>
															<xsd:element name="PaymentPlanInfo" minOccurs="0">
																<xsd:annotation>
																	<xsd:documentation>Detailed information about an applied payment plan (example: pagos parcelados)</xsd:documentation>
																</xsd:annotation>
																<xsd:complexType>
																	<xsd:sequence>
																		<xsd:element name="PlanCode">
																			<xsd:annotation>
																				<xsd:documentation>as defined by the participating airline
(3-6 AN)
Example: AA008</xsd:documentation>
																			</xsd:annotation>
																		</xsd:element>
																		<xsd:element name="NbrOfInstallments">
																			<xsd:annotation>
																				<xsd:documentation>Example: 4</xsd:documentation>
																			</xsd:annotation>
																		</xsd:element>
																		<xsd:element name="InstallmentAmount">
																			<xsd:annotation>
																				<xsd:documentation>the total installment (based on all tickets covered by this payment plan entry)

Example 
125025 (no decimal)</xsd:documentation>
																			</xsd:annotation>
																		</xsd:element>
																		<xsd:element name="NetBalance" maxOccurs="unbounded">
																			<xsd:annotation>
																				<xsd:documentation>Net Balance (after first installment) of the base fare of the individual ticket 

Example: 
2550.50 (with decimal)</xsd:documentation>
																			</xsd:annotation>
																			<xsd:complexType>
																				<xsd:sequence>
																					<xsd:element ref="Amount"/>
																				</xsd:sequence>
																				<xsd:attribute name="PassengerTypeCode" use="required">
																					<xsd:annotation>
																						<xsd:documentation>Passenger Type Code associated to this entry

Example:  ADT</xsd:documentation>
																					</xsd:annotation>
																				</xsd:attribute>
																			</xsd:complexType>
																		</xsd:element>
																		<xsd:element name="PaymentExtension" minOccurs="0">
																			<xsd:annotation>
																				<xsd:documentation>Valid value: E</xsd:documentation>
																			</xsd:annotation>
																		</xsd:element>
																	</xsd:sequence>
																</xsd:complexType>
															</xsd:element>
															<xsd:element ref="ExtendedPayment" minOccurs="0">
																<xsd:annotation>
																	<xsd:documentation>Credit card extended payment (example: AX plans).  
Values are:
Y = Add extended payment
N = Do not add extended payment
Example: N</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
															<xsd:element name="CCAddressGroup" minOccurs="0">
																<xsd:complexType>
																	<xsd:sequence>
																		<xsd:element name="Address" type="xsd:string" maxOccurs="2">
																			<xsd:annotation>
																				<xsd:documentation>Street or PO Box address.  Example: 1234 Main Street</xsd:documentation>
																			</xsd:annotation>
																		</xsd:element>
																		<xsd:element name="City" type="xsd:string">
																			<xsd:annotation>
																				<xsd:documentation>City name.  Example: NY</xsd:documentation>
																			</xsd:annotation>
																		</xsd:element>
																		<xsd:element name="PostalCode" type="xsd:string">
																			<xsd:annotation>
																				<xsd:documentation>Postal code or zip code.  Example: 12345</xsd:documentation>
																			</xsd:annotation>
																		</xsd:element>
																		<xsd:element name="StateCode" type="xsd:string" minOccurs="0">
																			<xsd:annotation>
																				<xsd:documentation>State code.  Example: NY</xsd:documentation>
																			</xsd:annotation>
																		</xsd:element>
																		<xsd:element name="CountryCode" type="xsd:string">
																			<xsd:annotation>
																				<xsd:documentation>Country code.  Example: US</xsd:documentation>
																			</xsd:annotation>
																		</xsd:element>
																	</xsd:sequence>
																</xsd:complexType>
															</xsd:element>
														</xsd:sequence>
														<xsd:attribute name="PartialAmount" type="xsd:positiveInteger">
															<xsd:annotation>
																<xsd:documentation>(Partial) amount allocated to this form of payment. Used for so called split payment. Not to be confused w/ amount entered for authorization in PNRCreateRQ.</xsd:documentation>
															</xsd:annotation>
														</xsd:attribute>
													</xsd:complexType>
												</xsd:element>
												<xsd:element name="Other" minOccurs="0" maxOccurs="unbounded">
													<xsd:annotation>
														<xsd:documentation>Other payment information. 
Note: ONLY BSP market true Split FOPs can have multiplicity here.
Example: CHECK, CASH</xsd:documentation>
													</xsd:annotation>
													<xsd:complexType>
														<xsd:simpleContent>
															<xsd:extension base="xsd:string">
																<xsd:attribute name="PartialAmount" type="xsd:positiveInteger">
																	<xsd:annotation>
																		<xsd:documentation>(Partial) amount allocated to this form of payment. Used for so called split payment. Not to be confused w/ amount entered for authorization in PNRCreateRQ.</xsd:documentation>
																	</xsd:annotation>
																</xsd:attribute>
															</xsd:extension>
														</xsd:simpleContent>
													</xsd:complexType>
												</xsd:element>
											</xsd:sequence>
										</xsd:choice>
										<xsd:element name="Traveler" maxOccurs="unbounded">
											<xsd:annotation>
												<xsd:documentation>Tickets covered by this FOP  and grouped by traveler.</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:sequence minOccurs="0">
													<xsd:element ref="TravelerElementNumber"/>
													<xsd:element name="FareGroupNumber" minOccurs="0" maxOccurs="unbounded">
														<xsd:annotation>
															<xsd:documentation>Reference of the FareGroup number in the PNR. if NONE selected the FOP covers all fare groups of this ticket request. Example: 1</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="ExchangeDocuments" minOccurs="0" maxOccurs="unbounded">
								<xsd:annotation>
									<xsd:documentation>Data for exchange document(s) to 
(a) be applied as partial or full FOP or 
(b) be applied for services such as upgrades, priority boarding, etc. 
(c) be applied to support discounted fare
and to be processed as an "Exchange transaction".  Typical document types: 
-- (residual value) MCO
-- (residual value) EMD-S
-- Airline Voucher
-- Paper or eCertificates
-- Creditshells from PNR</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="TravelerElementNumber">
											<xsd:annotation>
												<xsd:documentation>PNR traveler element number.
Example: 1</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:choice minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>One of these references are  needed in case more than one fare group is requested for ticketing</xsd:documentation>
											</xsd:annotation>
											<xsd:element name="SegmentElementNumber" maxOccurs="unbounded">
												<xsd:annotation>
													<xsd:documentation>PNR segment (flight) element number.  
Example: 1</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="StoredFareNumber">
												<xsd:annotation>
													<xsd:documentation>Number of FareGroup in PNR to be used for ticketing. Example: 2</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
										</xsd:choice>
										<xsd:element name="DocumentDetails" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="CreditAmount" minOccurs="0">
														<xsd:annotation>
															<xsd:documentation>MANDATORY if document is to be applied as a credit towards the ticket total amount.

Not applicable for any other type of documents such as certificates to grant an upgrade, priority boarding, lounge access or to support a discount applied to the ticketed fare.</xsd:documentation>
														</xsd:annotation>
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element ref="CurrencyCode"/>
																<xsd:element name="DocAmount">
																	<xsd:annotation>
																		<xsd:documentation>The current CREDIT balance of this document</xsd:documentation>
																	</xsd:annotation>
																</xsd:element>
																<xsd:element name="DocAmountUsed">
																	<xsd:annotation>
																		<xsd:documentation>The actual amount applied as credit towards this transaction</xsd:documentation>
																	</xsd:annotation>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:choice>
														<xsd:sequence>
															<xsd:element name="DocNumber">
																<xsd:annotation>
																	<xsd:documentation>The 13-digit document number (no check digit) of an 'accountable' document such as eCert, voucher, MCO, EMD, etc
Example: 0061234567890</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
															<xsd:element name="DocIssuePlace" type="xsd:string">
																<xsd:annotation>
																	<xsd:documentation>Three letter IATA code of the town where the ticket originally has been issued.
Example: MIA</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
															<xsd:element name="DocIssueDate" type="xsd:date">
																<xsd:annotation>
																	<xsd:documentation>Date in ISO 8601 format (yyyy-mm-dd).  Example: 2001-12-25</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
														</xsd:sequence>
														<xsd:element name="OtherReference">
															<xsd:annotation>
																<xsd:documentation>This may be a "credit shell"  reference, booking or PNR reference based on what the airline supports
Sample: 
HG5TYH
078945613</xsd:documentation>
															</xsd:annotation>
														</xsd:element>
													</xsd:choice>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="DocumentGroup" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>If not specified, the GDS specific standard documents are issued. 
On Apollo that are: MIR, Itinerary, Ticket, BoardingPass (if possible).</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Invoice" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>If 'Y', prints Invoice (MIR in Apollo / Galileo) only. Values are: Y = Yes, N = No. </xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:length value="1"/>
										<xsd:enumeration value="Y"/>
										<xsd:enumeration value="N"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:choice minOccurs="0">
								<xsd:element name="Itinerary" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>If 'Y', prints Itinerary only. Values are: Y = Yes, N = No. </xsd:documentation>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:length value="1"/>
											<xsd:enumeration value="Y"/>
											<xsd:enumeration value="N"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="MiniItinerary" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>If 'Y', prints Mini Itinerary only.
TEMP NOTE: according to doc, galileo only supports either or</xsd:documentation>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:length value="1"/>
											<xsd:enumeration value="Y"/>
											<xsd:enumeration value="N"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
							</xsd:choice>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="PrinterGroup" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>The PrinterGroup specifies the printer(s) to print to.

NOTE: The PrinterGroup is mandatory for all GDS, although it may not be required on other CRS!</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="PrinterDestination" maxOccurs="5">
								<xsd:annotation>
									<xsd:documentation>Documents are printed on this destination. If not given, the default printer is used.
</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:simpleContent>
										<xsd:extension base="xsd:string">
											<xsd:attribute name="Type" use="required">
												<xsd:annotation>
													<xsd:documentation>The type of printer. Can be boarding pass (B), invoice / itinerary (I), mini itinerary (M),  ticket (T) printer or hardcopy / accounting (H) printer.
Example: T.</xsd:documentation>
												</xsd:annotation>
												<xsd:simpleType>
													<xsd:restriction base="xsd:string">
														<xsd:length value="1"/>
														<xsd:enumeration value="B"/>
														<xsd:enumeration value="I"/>
														<xsd:enumeration value="M"/>
														<xsd:enumeration value="T"/>
														<xsd:enumeration value="H"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:attribute>
											<xsd:attribute name="CountryCode" type="xsd:string">
												<xsd:annotation>
													<xsd:documentation>The ticket printer country code. Needed by Sabre.
Example: AB</xsd:documentation>
												</xsd:annotation>
											</xsd:attribute>
										</xsd:extension>
									</xsd:simpleContent>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="Version" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Version number.
Example: 2.0</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="ReValidate" type="xsd:string" use="optional" default="N">
				<xsd:annotation>
					<xsd:documentation>If 'Y', revalidates the Fares before Issuing a Ticket, otherwise ignore.
Default: N.
</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="RePrice" type="xsd:string" default="N">
				<xsd:annotation>
					<xsd:documentation>Automatically re-price the itinerary in case the stored fare should not be valid any more.
Possible values: Y, N
Default: N</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="FlightReq">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="TktFlight" maxOccurs="16">
					<xsd:annotation>
						<xsd:documentation>Flight to be ticketed.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TravelerReq">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="TktTraveler" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TktFlight">
		<xsd:annotation>
			<xsd:documentation>Flight to be ticketed. If ommited, request applies to all flights for the traveler.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="Element" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation>PNR flight element number. Example: 1</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TktTraveler">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="TktFlight" minOccurs="0" maxOccurs="16"/>
			</xsd:sequence>
			<xsd:attribute name="Element" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation>PNR traveler element number.Example: 1</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="ManualPricingInd" use="optional">
				<xsd:annotation>
					<xsd:documentation>In case of a manual fare, fare validation will not succeed and is omitted / the system response is ignored and ticket issued anyway.
Possible values: Y / N.
Example: N.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"/>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:attribute name="Source">
		<xsd:annotation>
			<xsd:documentation>Identifies the source of this  element. In other words where the content originates from. Not limited to GDS, applicable to direct connect as well. Example: 1A, 1V, or other. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:attribute>
	<xsd:element name="RecordLocator" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>PNR record locator.  Example: R1A3SK</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CurrencyCodeType">
		<xsd:annotation>
			<xsd:documentation>Defines currency code (ISO 3-letter code) and optional number of decimals. Not that for request messages the NumberOfDecimals has no effect and is not needed.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="NumberOfDecimals" type="xsd:integer" use="optional">
					<xsd:annotation>
						<xsd:documentation>Decimal position in fare amount.  Example: 2</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:element name="CurrencyCode">
		<xsd:annotation>
			<xsd:documentation>Currency code.  Example: USD</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="CurrencyCodeType">
					<xsd:pattern value="[A-Z0-9]{3}"/>
					<xsd:attribute name="NumberOfDecimals" type="xsd:integer" use="required">
						<xsd:annotation>
							<xsd:documentation>Decimal position in fare amount.  Example: 2</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TravelerElementNumber">
		<xsd:annotation>
			<xsd:documentation>Element number of traveler associated to this item.  Example: 1</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string"/>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ExtendedPayment">
		<xsd:annotation>
			<xsd:documentation>Credit card extended payment.  Values are:
Y = Add extended payment
N = Do not add extended payment
Example: N</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="NumberOfMonths" type="xsd:positiveInteger">
						<xsd:annotation>
							<xsd:documentation>If and only if the value of the ExtendedPayment is set to Y.
Identifies the period of extended payment in months. Usually credit card systems allows a payment to be extended over a certain number of months. The actual timeframe will vary depending on the credit card system.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="PlanCode">
						<xsd:annotation>
							<xsd:documentation>A promotional code offered by Airline/CreditCard company to allow extended payments with or without deposit requirements</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="DepositAmount">
						<xsd:annotation>
							<xsd:documentation>If dictated by the entered PlanCode this is the amount of the initial payment (deposit).  The amount is goverend by the POS currency as defined in the Fare group.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Authorization">
		<xsd:annotation>
			<xsd:documentation>Credit card authorization.  Values are:
Y = Obtain credit card authorization and approval code
S = Obtain credit card authorization and approval code and store approval code in the PNR 
N = Do not obtain credit card authorization 
Example: N</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="Amount" type="xsd:positiveInteger">
						<xsd:annotation>
							<xsd:documentation>Amount approved for this credit card. 
Example: 1200</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="AirlineCode">
						<xsd:annotation>
							<xsd:documentation>Airline Code. 
Example: AA</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="2"/>
								<xsd:maxLength value="3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CardholderFirstName">
		<xsd:annotation>
			<xsd:documentation>Credit card holder's first name.  Example: JOHN</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CardholderLastName" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Credit card holder's last name.  This is only required for Sabre.  Example: SMITH</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Amount" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Amount.  Example: 7500</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
