schema/axis/TimeTableRS.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:include schemaLocation="CommonTypes.xsd"/>
	<xsd:element name="TimeTableRS">
		<xsd:annotation>
			<xsd:documentation>Time table response root element</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="InfoGroup" minOccurs="0"/>
				<xsd:element ref="TimeTable" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="version" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation>Version number.  Example: 1.0</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TimeTable">
		<xsd:annotation>
			<xsd:documentation>Time table group used by both General and Specific time table</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="OriginDestination"/>
			</xsd:sequence>
			<xsd:attribute name="Type" use="required">
				<xsd:annotation>
					<xsd:documentation>Type of time table response.  Values are:
GENERAL
SPECIFIC
Example: GENERAL</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="GENERAL"/>
						<xsd:enumeration value="SPECIFIC"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="OriginDestination">
		<xsd:annotation>
			<xsd:documentation>Origin destination group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Flight" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="DepartureCode" use="optional">
				<xsd:annotation>
					<xsd:documentation>Departure airport or city code.  Example: LHR</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="3"/>
						<xsd:maxLength value="3"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="ArrivalCode" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation>Arrival airport or city code.  Example: MIA</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute ref="Source"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Flight">
		<xsd:annotation>
			<xsd:documentation>Flight group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="JourneyTime" minOccurs="0"/>
				<xsd:element ref="FlyingTime" minOccurs="0"/>
				<xsd:element ref="GroundTime" minOccurs="0"/>
				<xsd:element ref="NumberOfSegments" minOccurs="0"/>
				<xsd:element ref="Segment" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute ref="Source"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="JourneyTime">
		<xsd:annotation>
			<xsd:documentation>Total journey time of the flight.  Example: 09:45</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:pattern value="[0-9][0-9]:[0-5][0-9]">
					<xsd:annotation>
						<xsd:documentation>
</xsd:documentation>
					</xsd:annotation>
				</xsd:pattern>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="GroundTime" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Total ground time of the flight in.  Example: 00:25</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FlyingTime">
		<xsd:annotation>
			<xsd:documentation>Total flying time of the flight.  Example: 09:00</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:pattern value="[0-9][0-9]:[0-5][0-9]">
					<xsd:annotation>
						<xsd:documentation>
</xsd:documentation>
					</xsd:annotation>
				</xsd:pattern>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="NumberOfSegments" type="xsd:integer">
		<xsd:annotation>
			<xsd:documentation>Total number of segments in this flight.  Example: 1</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Segment">
		<xsd:annotation>
			<xsd:documentation>Segment information group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Departure"/>
				<xsd:element ref="Arrival"/>
				<xsd:element ref="DateOfService"/>
				<xsd:element ref="Carrier"/>
				<xsd:element ref="OperatingCarrier" minOccurs="0"/>
				<xsd:element ref="Equipment"/>
				<xsd:element ref="NumberOfStops"/>
				<xsd:element ref="Meals" minOccurs="0"/>
				<xsd:element ref="Frequency"/>
				<xsd:element ref="FlightDuration" minOccurs="0"/>
				<xsd:element ref="OnTimeInfo" minOccurs="0"/>
				<xsd:element ref="ElectronicTicketing" minOccurs="0"/>
				<xsd:element ref="TrafficRestrictions" minOccurs="0"/>
				<xsd:element ref="Classes" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="ChangeOfAirport" default="N">
				<xsd:annotation>
					<xsd:documentation>Change of airport indicator.  Values are:
Y = there is a change of airport in the connection
N = there is no change of airport in the connection
Example: N</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="1"/>
						<xsd:enumeration value="Y"/>
						<xsd:enumeration value="N"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute ref="Source"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Departure">
		<xsd:annotation>
			<xsd:documentation>Segment departure group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="AirportCode"/>
				<xsd:element ref="AirportName" minOccurs="0"/>
				<xsd:element ref="Time"/>
				<xsd:element ref="Terminal" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="AirportCode">
		<xsd:annotation>
			<xsd:documentation>Airport code.  Example: LHR</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="3"/>
				<xsd:minLength value="3"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="AirportName" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Airport name.  Example: London-Heathrow</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Time">
		<xsd:annotation>
			<xsd:documentation>Time in ISO 8601 format (hh:mm).  Example: 13:30</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:pattern value="([0-1][0-9]|2[0-4]):[0-5][0-9]">
					<xsd:annotation>
						<xsd:documentation>
</xsd:documentation>
					</xsd:annotation>
				</xsd:pattern>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Terminal" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Airport terminal.  Example: 3</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Arrival">
		<xsd:annotation>
			<xsd:documentation>Segment Arrival group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="AirportCode"/>
				<xsd:element ref="AirportName" minOccurs="0"/>
				<xsd:element ref="ChangeOfDay" minOccurs="0"/>
				<xsd:element ref="Time"/>
				<xsd:element ref="Terminal" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ChangeOfDay">
		<xsd:annotation>
			<xsd:documentation>Change of day information.  Example: 1</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:integer"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Carrier">
		<xsd:annotation>
			<xsd:documentation>Carrier group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="AirlineCode"/>
				<xsd:element ref="AirlineName"/>
				<xsd:element ref="FlightNumber"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="AirlineCode">
		<xsd:annotation>
			<xsd:documentation>Airline code.  Example: BA</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="2"/>
				<xsd:maxLength value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="AirlineName" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Airline name.  Example: British Airways</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="OperatingCarrier">
		<xsd:annotation>
			<xsd:documentation>Operating carrier group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="AirlineCode"/>
				<xsd:element ref="AirlineName"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Equipment">
		<xsd:annotation>
			<xsd:documentation>Equipment group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Code"/>
				<xsd:element ref="Name"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Name" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Equipment type name.  Example: Boeing 747-400 Passenger</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="NumberOfStops" type="xsd:integer">
		<xsd:annotation>
			<xsd:documentation>Number of stops.  Example: 0</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Meals">
		<xsd:annotation>
			<xsd:documentation>Indicates what type of meals are served.  Meal codes are IATA standard and can be any combination of the following codes:
B = Breakfast
K = Continental Breakfast
V = Continental Breakfast
L = Lunch
D = Dinner
S = snack or Brunch
O = Cold Meal
H = Hot Meal
M = Meal (Non-Specific)
R = Refreshment
C = Alcoholic Beverages Complimentary
F = Food for Purchase
P = Alcoholic Beverages for Purchase
Y = Duty Free Sales Available
G = Light Lunch
Example: B</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="B"/>
				<xsd:enumeration value="K"/>
				<xsd:enumeration value="V"/>
				<xsd:enumeration value="L"/>
				<xsd:enumeration value="D"/>
				<xsd:enumeration value="S"/>
				<xsd:enumeration value="O"/>
				<xsd:enumeration value="H"/>
				<xsd:enumeration value="M"/>
				<xsd:enumeration value="R"/>
				<xsd:enumeration value="C"/>
				<xsd:enumeration value="F"/>
				<xsd:enumeration value="P"/>
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="G"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Frequency" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>This indicates which days of the week the flight operates on.  Values are:
1 = Monday
2 = Tuesday
3 = Wednesday
4 = Thursday
5 = Friday
6 = Saturday
7 = Sunday
Example: 1257</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FlightDuration">
		<xsd:annotation>
			<xsd:documentation>Segment total flying time.  Example: 09:45</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:pattern value="[0-9][0-9]:[0-5][0-9]">
					<xsd:annotation>
						<xsd:documentation>
</xsd:documentation>
					</xsd:annotation>
				</xsd:pattern>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="OnTimeInfo">
		<xsd:annotation>
			<xsd:documentation>Indicates the on time performance.  Values are:
9 = 90-100 percent
8 = 80-89 percent
7 = 70-79 percent
6 = 60-69 percent
5 = 50-59 percent
4 = 40-49 percent
3 = 30-39 percent
2 = 20-29 percent
1 = 10-19 percent
0 = Less than 10 percent
N = New flight - no performance
U = No flight data available
X = International or city where reporting is not required.
Example: 8</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="1"/>
				<xsd:enumeration value="0"/>
				<xsd:enumeration value="1"/>
				<xsd:enumeration value="2"/>
				<xsd:enumeration value="3"/>
				<xsd:enumeration value="4"/>
				<xsd:enumeration value="5"/>
				<xsd:enumeration value="6"/>
				<xsd:enumeration value="7"/>
				<xsd:enumeration value="8"/>
				<xsd:enumeration value="9"/>
				<xsd:enumeration value="N"/>
				<xsd:enumeration value="U"/>
				<xsd:enumeration value="X"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ElectronicTicketing">
		<xsd:annotation>
			<xsd:documentation>Electronic ticketing indicator.  Values are:
Y = eticket can be issued
N = no eticket possible
Example: Y</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="1"/>
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="TrafficRestrictions">
		<xsd:annotation>
			<xsd:documentation>Traffic restriction information.  Valid values are:
A = no local traffic
B = local traffic only
C = local and domestic connecting traffic only
D = qualified international online connecting or stopover traffic only
E = qualified online connecting or stopover traffic only
F = local and online connecting traffic only
G = qualified online connecting traffic only
H = segment not to be displayed
I = technical landing
J = conditional traffic
K = connecting traffic only
L = online connex traffic
M = international online stopover traffic only
N = international connecting traffic only
O = international online connecting traffic only
P = subj to govt approval 
Q = international online connecting or stopover traffic only
R = permanent request  
S = stopover traffic only 
T = online stopover traffic only
U = intl stopover traffic
V = connecting or stopover traffic only
W = international connecting or stopover traffic only
X = online connecting or stopover traffic only
Y = online connecting traffic only
Z = tr do not apply equally to passenger/cargo/mail
Example: X</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="1"/>
				<xsd:enumeration value="A"/>
				<xsd:enumeration value="B"/>
				<xsd:enumeration value="C"/>
				<xsd:enumeration value="D"/>
				<xsd:enumeration value="E"/>
				<xsd:enumeration value="F"/>
				<xsd:enumeration value="G"/>
				<xsd:enumeration value="H"/>
				<xsd:enumeration value="I"/>
				<xsd:enumeration value="J"/>
				<xsd:enumeration value="K"/>
				<xsd:enumeration value="L"/>
				<xsd:enumeration value="M"/>
				<xsd:enumeration value="N"/>
				<xsd:enumeration value="O"/>
				<xsd:enumeration value="P"/>
				<xsd:enumeration value="Q"/>
				<xsd:enumeration value="R"/>
				<xsd:enumeration value="S"/>
				<xsd:enumeration value="T"/>
				<xsd:enumeration value="U"/>
				<xsd:enumeration value="V"/>
				<xsd:enumeration value="W"/>
				<xsd:enumeration value="X"/>
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="Z"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Classes">
		<xsd:annotation>
			<xsd:documentation>Flight classes group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ClassOfService" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="COSType">
								<xsd:attribute name="Status" use="optional">
									<xsd:annotation>
										<xsd:documentation>Numeric status (available seats).  Values are:
A = Seats are available
L = Waitlist Open for a segment
C = Waitlist closed
R = Seats on request only to airline
S = waitlist closed
0 - 9 = number of at least available seats
empty = no information
Example: 9</xsd:documentation>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:minLength value="1"/>
											<xsd:maxLength value="1"/>
											<xsd:enumeration value="A"/>
											<xsd:enumeration value="L"/>
											<xsd:enumeration value="C"/>
											<xsd:enumeration value="R"/>
											<xsd:enumeration value="S"/>
											<xsd:enumeration value="0"/>
											<xsd:enumeration value="1"/>
											<xsd:enumeration value="2"/>
											<xsd:enumeration value="3"/>
											<xsd:enumeration value="4"/>
											<xsd:enumeration value="5"/>
											<xsd:enumeration value="6"/>
											<xsd:enumeration value="7"/>
											<xsd:enumeration value="8"/>
											<xsd:enumeration value="9"/>
											<xsd:enumeration value="empty"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="DateOfService">
		<xsd:annotation>
			<xsd:documentation>Date range for which the flight operates</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="EffectiveDate"/>
				<xsd:element ref="DiscontinuationDate"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="EffectiveDate" type="xsd:date">
		<xsd:annotation>
			<xsd:documentation>Effective date in ISO 8601 format (yyyy-mm-dd).  Example: 2002-05-28</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DiscontinuationDate" type="xsd:date">
		<xsd:annotation>
			<xsd:documentation>Discontinuation date in ISO 8601 format (yyyy-mm-dd).  Example: 2002-10-01</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
