xsd/Mdn.xsd


<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" elementFormDefault="qualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="EntryPoint" type="xs:string">
		<xs:sequence>
			<xs:element name="type" type="EntryType" value="REST" />
			<xs:attribute name="url" value="/annotation"/>
		</xs:sequence>
	</xs:element>

	<xs:simpleType name="EntryType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="REST" />
			<xs:enumeration value="Soap" />
			<xs:enumeration value="Queue" />
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
			
