ModelDrivenNode/schema/axis/BaggageAllowanceRQ.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="1.1">
	<xsd:include schemaLocation="CommonFareTypes.xsd"/>
	<xsd:element name="BaggageAllowanceRQ">
		<xsd:annotation>
			<xsd:documentation>BaggageAllowanceRQ root element</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:choice>
				<xsd:sequence>
					<xsd:element name="SaleInfo" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Allows the requestor to override the default currency for conversion and/or further define where the sale is taking place.          </xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element ref="CurrencyCode" minOccurs="0"/>
								<xsd:element name="CityCode" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Used to define where the sale of any baggage fees are taking place. </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="TravelerIDs" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>References created from POS apps cache</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="FQTVInfo" minOccurs="0" maxOccurs="unbounded">
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element name="FFNumber" type="xsd:string" minOccurs="0">
												<xsd:annotation>
													<xsd:documentation>Frequent flyer number.  Example: 0956301007</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="FFCompanyCode" type="xsd:string">
												<xsd:annotation>
													<xsd:documentation>Frequent flyer company code.  Example: AF</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="FFStatus" minOccurs="0">
												<xsd:annotation>
													<xsd:documentation>The individual loyalty status of the traveler.  This value is typically provided when message is used in airline applications</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
								<xsd:element name="TicketIdentification">
									<xsd:annotation>
										<xsd:documentation>PNR information group</xsd:documentation>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element name="Ownership">
												<xsd:complexType>
													<xsd:sequence>
														<xsd:element name="CRSID" type="xsd:string" minOccurs="0">
															<xsd:annotation>
																<xsd:documentation>CRS/Carrier Department code.
Example: 1G</xsd:documentation>
															</xsd:annotation>
														</xsd:element>
														<xsd:element name="GDS" type="xsd:string" minOccurs="0">
															<xsd:annotation>
																<xsd:documentation>GDS which issues the ticket and hence its an Agency that issued the ticket.</xsd:documentation>
															</xsd:annotation>
														</xsd:element>
														<xsd:element ref="AirlineCode" minOccurs="0"/>
													</xsd:sequence>
												</xsd:complexType>
											</xsd:element>
											<xsd:element ref="Security">
												<xsd:annotation>
													<xsd:documentation>Contain details of security: viewing (display)/booking/sales location(s).</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="TktIssueDate" type="xsd:date">
												<xsd:annotation>
													<xsd:documentation>Date in ISO 8601 format (yyyy-mm-dd).  Example: 2001-12-25</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="TktIssueTime" type="Time" minOccurs="0">
												<xsd:annotation>
													<xsd:documentation>Time in ISO 8601 format (hh:mm).  Example: 14:00</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="TktIssuePlace" minOccurs="0">
												<xsd:annotation>
													<xsd:documentation>Identifies location where ticket was issued. Normally a 3-letter airport/city code.
This value can/should be used in TicketExchangeRQ for element TicketExchangeRQ/OriginalTicket/OriginalIssuePlace</xsd:documentation>
												</xsd:annotation>
												<xsd:simpleType>
													<xsd:restriction base="xsd:string">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element name="TktIssueCountry" minOccurs="0">
												<xsd:annotation>
													<xsd:documentation>Identifies country where ticket was issued by a two letter country code.
Example: CA</xsd:documentation>
												</xsd:annotation>
												<xsd:simpleType>
													<xsd:restriction base="xsd:string">
														<xsd:length value="2"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
								<xsd:element name="Age" type="xsd:positiveInteger" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Traveler age.  Example: 01</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
							<xsd:attribute name="AssociationID">
								<xsd:annotation>
									<xsd:documentation>Traveler ID reference

Example: 
T1 (no PNR - arbitrary value)
1  (TravelerElementNumber of booked PNR)</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
							<xsd:attribute name="PaxType" type="xsd:string" use="required">
								<xsd:annotation>
									<xsd:documentation>Passenger type requested for pricing. 
ALL ATPCO defined PTCs are supported.  

Some IATA values are :
ADT= Adult
CNN = Child
INF = Infant</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:complexType>
					</xsd:element>
					<xsd:choice>
						<xsd:element ref="OriginDestination" maxOccurs="unbounded"/>
						<xsd:element ref="Flight" maxOccurs="unbounded"/>
					</xsd:choice>
					<xsd:element name="PricingInfo" minOccurs="0">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element ref="Restrictions" minOccurs="0"/>
								<xsd:element name="PrivateFares" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Qualifying IDs for negotiated services</xsd:documentation>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element ref="Corporate" minOccurs="0" maxOccurs="unbounded"/>
											<xsd:element name="TicketDesignator" type="xsd:string" minOccurs="0">
												<xsd:annotation>
													<xsd:documentation>Ticket designator code. Example: ATM1
(Apollo)</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="TourCode" minOccurs="0">
												<xsd:annotation>
													<xsd:documentation>Tour code if applicable and associated with the priced fare. Alpha-numeric.
Example: ITGF12</xsd:documentation>
												</xsd:annotation>
												<xsd:simpleType>
													<xsd:restriction base="xsd:string">
														<xsd:minLength value="1"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
								<xsd:element ref="Security" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Contain details of security: viewing (display)/booking/sales location(s).</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="Ownership" minOccurs="0">
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element name="CRSID" type="xsd:string" minOccurs="0">
												<xsd:annotation>
													<xsd:documentation>CRS/Carrier Department code.
Example: 1G</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="GDS" type="xsd:string" minOccurs="0">
												<xsd:annotation>
													<xsd:documentation>GDS which issues the ticket and hence its an Agency that issued the ticket.</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element ref="AirlineCode" minOccurs="0"/>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
								<xsd:element name="TktIssuePlace" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Identifies location where ticket was issued. Normally a 3-letter airport/city code.
This value can/should be used in TicketExchangeRQ for element TicketExchangeRQ/OriginalTicket/OriginalIssuePlace</xsd:documentation>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:length value="3"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="TktIssueCountry" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Identifies country where ticket was issued by a two letter country code.
Example: CA</xsd:documentation>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:length value="2"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
							</xsd:sequence>
							<xsd:attribute name="OptionalCharges" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>Indicates if catalog of charges or Services are requested along with Allowance. 
C = Catalog only  
S = Service Charge details</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
							<xsd:attribute name="Pooling">
								<xsd:annotation>
									<xsd:documentation>Y = Pool baggage across passengers when multiple passengers exist.          Blank = Do not pool baggage across passengers.                                     </xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value=""/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:attribute>
							<xsd:attribute name="Action">
								<xsd:annotation>
									<xsd:documentation>D = Display Only (this is the default if omitted).             B = Book                           T = Ticket                          P = Purchase (or book + ticket)                                                                    This indicates whether the request is for the purposes of display, booking, ticketing or booking + ticketing.    </xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string"/>
								</xsd:simpleType>
							</xsd:attribute>
							<xsd:attribute name="PrepaidOption">
								<xsd:annotation>
									<xsd:documentation>Y =  Include prepaid Fee along with regular fee.  
N = Do not return PrePaid fee. This is default. 
O = Only return prepaid bag fee.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="Y"/>
										<xsd:enumeration value="N"/>
										<xsd:enumeration value="O"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:attribute>
							<xsd:attribute name="SpcecialItems">
								<xsd:annotation>
									<xsd:documentation>Can be set to filter out special items from the response. 
"N" = will not return any special items in response. 
"Y" = Deafult value. special items will be returned.  </xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="N"/>
										<xsd:enumeration value="Y"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:attribute>
							<xsd:attribute name="CarryOn">
								<xsd:annotation>
									<xsd:documentation>Indicates if CarryOn options are requested.
Y = return CarryOnAllowance elements (B-0LN) and Charges (C -BG/CY)
In addition to normal allowance
O = return only Carry-On data
N = (default if omitted) do not process carry-on records</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="Y"/>
										<xsd:enumeration value="N"/>
										<xsd:enumeration value="O"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:attribute>
							<xsd:attribute name="Taxes">
								<xsd:annotation>
									<xsd:documentation>Indicates whether or not to calculate any applicable taxes.                                 Y = Return Tax                 Blank = (default if omitted)          </xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string"/>
								</xsd:simpleType>
							</xsd:attribute>
						</xsd:complexType>
					</xsd:element>
					<xsd:element ref="FareGroup" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Ticketed Fare</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
				<xsd:element ref="AirlineCode">
					<xsd:annotation>
						<xsd:documentation>This is a used to get the Catalog of services. Where the only input parameter needed is carrier code.  </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<xsd:attribute name="version" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Version number.  Example: 1.0</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TravelerInfo">
		<xsd:annotation>
			<xsd:documentation>Number of passengers of the specified type. 

Example: 2</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:integer">
					<xsd:attribute name="Type" type="xsd:string" use="required">
						<xsd:annotation>
							<xsd:documentation>Passenger type requested for pricing. If the passenger type sent to the GDS is not in the below predefined list, then it is passed as is to the GDS.
Predefined values are :
ADT= Adult
CHD = Child
INF = Infant
GOV = Government
MIL = Military
SRC = Senior citizen
STD = Student
YTH = Youth
Example: CHD</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Flight">
		<xsd:annotation>
			<xsd:documentation>Flight Info group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="AirlineCode"/>
				<xsd:element ref="FlightNumber"/>
				<xsd:element ref="OperatingCarrier" minOccurs="0"/>
				<xsd:element name="Equipment" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Flight equipment group</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref="Code"/>
							<xsd:element name="Name" type="xsd:string" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Equipment name.  Example: Boeing 747 series</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="ActionCode" minOccurs="0">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="Status">
									<xsd:annotation>
										<xsd:documentation>Identifies for HK codes if the sell is confirmed (sold in carrier system). Values are:
K - confirmed
U - unknown</xsd:documentation>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:length value="1"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
				<xsd:element ref="Cabin" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Cabin code.  Possible values are:
F = First class
C = Business class
Y = Economy class
R = Premium First
J = Premium Business
P = Premium Economy
Example: Y</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="ClassOfService"/>
				<xsd:element name="FareBasisCode" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Fare basis code and/or FareBrand (PriceClass) - see attribute.

Example: 
Y26CH</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="PriceClass">
									<xsd:annotation>
										<xsd:documentation>Name of PriceClass/Branded Fare.
Example: SUPERSAVER</xsd:documentation>
									</xsd:annotation>
								</xsd:attribute>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
				<xsd:element ref="Departure"/>
				<xsd:element ref="Arrival"/>
				<xsd:element name="FareTariff" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>The ATPCO Tariff for which the Baggage Allowance and/or Charges apply.                                                   Often used for private baggage allowances/charges. </xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="FareType" type="xsd:integer" use="required">
									<xsd:annotation>
										<xsd:documentation>Type of fare being returned.  Values are:
PUBL = published fare
NEGO = negotiated/private fare
CA25 = CAT25 ATPCO NEGOTIATED
CA35 = CAT35 CORPORATE ATPCO NEGOTIATED
CA15 = CAT15 CORPORATE ATPCO PRIVATE
CA19 = CAT 19-22 Fare
* = Mixed Fare Type per fare Component </xsd:documentation>
									</xsd:annotation>
								</xsd:attribute>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="FareRule" type="xsd:string" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>The ATPCO Rule for which the Baggage Allowance and/or Charges apply                                                    Often used for private baggage allowances/charges</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="FareCat" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>The ATPCO Fare Category for which the Baggage Allowance and Charges apply                                                                          Often used for private baggage allowances/charges</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="AssociationID" use="optional">
				<xsd:annotation>
					<xsd:documentation>Unique flight ID (can be set arbitrary) to associate "PricingInformation" data to this flight element.  Example: F1</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="MarriedSegment" use="optional">
				<xsd:annotation>
					<xsd:documentation>Married connection indicator.  Values:
B = Beginning of a group of married segments
E = End of a group of married segments</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="B"/>
						<xsd:enumeration value="E"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="Type" use="optional">
				<xsd:annotation>
					<xsd:documentation>Optional flight type.  This is used to specify passive or open segments, and in the case of flown the segment is only added for historical pricing purposes.  
Values are:
P = Passive
O = Open
F = Flown
Example: P</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="P"/>
						<xsd:enumeration value="O"/>
						<xsd:enumeration value="F"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Departure">
		<xsd:annotation>
			<xsd:documentation>Departure Information group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="AirportCode"/>
				<xsd:element name="Date" type="Date">
					<xsd:annotation>
						<xsd:documentation>Specifies departure date in ISO 8601 format (yyyy-mm-dd). Example: 2001-12-25</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="Time" type="Time" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Departure time in ISO 8601 twenty-four hour clock format. Example: 14:00</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Arrival">
		<xsd:annotation>
			<xsd:documentation>Arrival Information group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="AirportCode"/>
				<xsd:element name="Date" type="Date" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Specifies arrival date in ISO 8601 format (yyyy-mm-dd). Example: 2001-12-25</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="Time" type="Time" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Arrival time in ISO 8601 twenty-four hour clock format. Example: 14:00</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="OriginDestination">
		<xsd:annotation>
			<xsd:documentation>Origin and Destination group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Flight" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CountryCode">
		<xsd:annotation>
			<xsd:documentation>Country where sale takes place or Ticket issuing country. Example: US</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="2"/>
				<xsd:minLength value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Restrictions">
		<xsd:annotation>
			<xsd:documentation>Pricing Restriction group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="MinimumStay" use="optional" default="Y">
				<xsd:annotation>
					<xsd:documentation>Y = Allow Minimum stay with fare 
N = Don't Allow Minimum stay with fare 
Default: Y</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="Y"/>
						<xsd:enumeration value="N"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="MaximumStay" use="optional" default="Y">
				<xsd:annotation>
					<xsd:documentation>Y = Allow Maximum stay with fare
N = Don't Allow Maximum stay with fare
Default: Y</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="Y"/>
						<xsd:enumeration value="N"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="Advance" use="optional" default="Y">
				<xsd:annotation>
					<xsd:documentation>Y = Allow advance Purchase with fare
N = Don't Allow advance Purchase with fare
Default: Y</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="Y"/>
						<xsd:enumeration value="N"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="Penalty" use="optional" default="Y">
				<xsd:annotation>
					<xsd:documentation>Y = Allow penalties with fare
N = Don't Allow penalties with fare
Default: Y</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="Y"/>
						<xsd:enumeration value="N"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PromoCodes">
		<xsd:annotation>
			<xsd:documentation>Corporate info group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="AirlineCode" minOccurs="0"/>
				<xsd:element name="PromoCode">
					<xsd:annotation>
						<xsd:documentation>Code ID / Number</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Corporate">
		<xsd:annotation>
			<xsd:documentation>Corporate info group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="AirlineCode" minOccurs="0"/>
				<xsd:element ref="Account">
					<xsd:annotation>
						<xsd:documentation>Specifies the corporate account number to use to price seat premiums.  Example: IBM or 675124</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Account">
		<xsd:annotation>
			<xsd:documentation>Specifies the corporate account number to use to price private fares.  Example: 12345</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string"/>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Contract" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Specifies the contract code, to use to price private fares.  Example: 00001</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Office">
		<xsd:annotation>
			<xsd:documentation>Pseudo city under which private fares are stored.  Example: 18C6</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="Type">
						<xsd:annotation>
							<xsd:documentation>Future use.
Identifies if Office value is a PCC or IATA agency code/ID. Default is PCC.
Example: PCC</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="PCC"/>
								<xsd:enumeration value="IATA"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="OperatingCarrier">
		<xsd:annotation>
			<xsd:documentation>Flight operating carrier group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="AirlineCode">
					<xsd:annotation>
						<xsd:documentation>Airline code. The AirlineCode is defined optional as there are cases, where only the full AirlineName is provided, but not the code.

Example: AA</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="FlightNumber" minOccurs="0"/>
				<xsd:element ref="ClassOfService" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Security">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="DutyCode" type="xsd:string" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Agent duty code</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="IATA" type="xsd:string" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Agency IATA number</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="PseudoCityCode" type="xsd:string" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Agency PCC. 
Example: AX49</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="LNIATA" type="xsd:string" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>LNIATA Number – CRT Address/Terminal ID</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="ERSP" type="xsd:string" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>ERSP Number: The eight digit IATA
assigned ERSP code.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="Department" type="xsd:string" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Department/Identifier</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="DepartmentCode" type="xsd:string" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Carrier/GDS Department Code</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="AirlineSpecificCodes" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Airline specific codes applicable for the Services record owner or the carrier specified in bytes 23-25, defined as follows:
Code Definition
RES = all reservation centers
ATO = all airline ticket offices
CTO = all city ticket offices
WEB = website</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:enumeration value="RES"/>
							<xsd:enumeration value="ATO"/>
							<xsd:enumeration value="CTO"/>
							<xsd:enumeration value="WEB"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
