ModelDrivenNode/schema/axis/CommonTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="qualified">
	<xsd:element name="AltTicketingDate">
		<xsd:annotation>
			<xsd:documentation>This date stamp specifies a future or historic alternative date validation for ticketing.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Date" type="Date">
					<xsd:annotation>
						<xsd:documentation>Specifies date in ISO 8601 format (yyyy-mm-dd). Example: 2001-12-25</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="BaseFareType">
		<xsd:all>
			<xsd:element ref="FiledIn" minOccurs="0"/>
			<xsd:element name="Surcharges" type="SurchargesType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Surcharges group</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
		<xsd:attribute name="Amount" type="xsd:integer" use="required">
			<xsd:annotation>
				<xsd:documentation>Total base fare amount that includes surcharges (if any).  Example: 200000</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="BasicCreditCardType">
		<xsd:sequence>
			<xsd:element name="CCCode">
				<xsd:annotation>
					<xsd:documentation>Credit card vendor code.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="2"/>
						<xsd:pattern value="[A-Z0-9]{2}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CCNumber">
				<xsd:annotation>
					<xsd:documentation>Credit card number.  Example: 4011236654652341

Can be returned encrypted by GDS/CRS.
Example: XXXXXXXXXXXXXXXX</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CCExpiration">
				<xsd:annotation>
					<xsd:documentation>Credit card expiration group</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Month">
							<xsd:annotation>
								<xsd:documentation>Credit card expiration month.  Example: 02

Can be returned encrypted by GDS/CRS.
Example: XX</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:pattern value="0[1-9]|1[0-2]|[^0-9]*"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="Year">
							<xsd:annotation>
								<xsd:documentation>Last two digits of the credit card expiration year.  Example: 06

Can be returned encrypted by GDS/CRS.
Example: XX</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:pattern value="[0-9][0-9]|[^0-9]*"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BasicEndorsement">
		<xsd:annotation>
			<xsd:documentation>Represents an endorsement line - automatic or manual. The actual text is displayed in the child element Text. </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Text" type="FreeFormTextField" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Endorsement text.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="BookingSource" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Agency booking source number.  Example: 99199</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CarHotelSupplementalInformationType">
		<xsd:sequence>
			<xsd:element ref="BookingSource" minOccurs="0"/>
			<xsd:element name="CorporateRateOverride" type="xsd:integer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Corporate rate override.  Example: 25900</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CorporateDiscountNumber" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Corporate discount number.  Example: 5643356</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="PaymentGuarantee" minOccurs="0">
				<xsd:complexType>
					<xsd:choice>
						<xsd:element name="CreditCard">
							<xsd:complexType>
								<xsd:complexContent>
									<xsd:extension base="BasicCreditCardType">
										<xsd:sequence minOccurs="0">
											<xsd:element name="CardholderFirstName" minOccurs="0">
												<xsd:annotation>
													<xsd:documentation>FirstName on card. </xsd:documentation>
												</xsd:annotation>
												<xsd:simpleType>
													<xsd:restriction base="xsd:string">
														<xsd:minLength value="1"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element name="CardholderLastName">
												<xsd:annotation>
													<xsd:documentation>Name on card. </xsd:documentation>
												</xsd:annotation>
												<xsd:simpleType>
													<xsd:restriction base="xsd:string">
														<xsd:minLength value="1"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
										</xsd:sequence>
									</xsd:extension>
								</xsd:complexContent>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="Other">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:minLength value="1"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:choice>
					<xsd:attribute name="Type" use="optional" default="G">
						<xsd:annotation>
							<xsd:documentation>Type of payment.  Values are:
G = Guarantee
D = Deposit
Example: G</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="G">
									<xsd:annotation>
										<xsd:documentation>Guarantee</xsd:documentation>
									</xsd:annotation>
								</xsd:enumeration>
								<xsd:enumeration value="D">
									<xsd:annotation>
										<xsd:documentation>Deposit</xsd:documentation>
									</xsd:annotation>
								</xsd:enumeration>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="FrequentGuest" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Frequent Guest Group</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="FGCode" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Frequent guest code.  Example: MC</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:length value="2"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FGNumber">
							<xsd:annotation>
								<xsd:documentation>Frequent guest number.  Example: 123456</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:minLength value="1"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="FrequentFlyer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Frequent Flyer Group</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="FFCode" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Frequent flyer code.  Example: DL</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:length value="2"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FFNumber">
							<xsd:annotation>
								<xsd:documentation>Frequent flyer number.  Example: 0956301007</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:minLength value="1"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AdditionalInformation" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Optional additional information.  Example: Traveler on wheelchair</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CarLocation">
		<xsd:annotation>
			<xsd:documentation>Type definition for particular car location (for particular car vendor).</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="CityCode">
				<xsd:annotation>
					<xsd:documentation>IATA 3-letter city/airport code for location. In case of non-airport location Category and Number need to be present. Example: NYC</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="3"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:sequence minOccurs="0">
				<xsd:element name="Category">
					<xsd:annotation>
						<xsd:documentation>Location category:
T = Airport terminal
O = Off-airport
C = City location 
P = Port 
X = Rail
N = North suburban
E = East suburban
S = South suburban
W = West suburban
A = All suburban locations 
R = Resort location
Example: C</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:length value="1"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="Number" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>Location number used to identify specific rental location within a location category.  Example: 001</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Children">
		<xsd:annotation>
			<xsd:documentation>Group of child elements defining age and bedding type (optional) for each child. Used in hotel requests.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Child" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Child elements - one per requested child.</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Age">
							<xsd:annotation>
								<xsd:documentation>Age of child in years (allowed values are 0-17).</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:int">
									<xsd:minInclusive value="0"/>
									<xsd:maxInclusive value="17"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="ExtraBed" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Defines if child will need its own bed ('Y') or sleep in parents bed ('N'). If omitted no extra bed is required.</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:enumeration value="Y"/>
									<xsd:enumeration value="N"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="ClassOfService" type="COSType">
		<xsd:annotation>
			<xsd:documentation>Class of service.  Example: B</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Code" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Error code or equipment type code.  Example: 0104 (error code), 747 (equipment code)</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CommissionType">
		<xsd:simpleContent>
			<xsd:extension base="positiveDecimal">
				<xsd:attribute name="Type" use="required">
					<xsd:annotation>
						<xsd:documentation>Commission type.  Values are: P = Percent, A = Amount  Example: A</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:minLength value="1"/>
							<xsd:maxLength value="1"/>
							<xsd:enumeration value="P"/>
							<xsd:enumeration value="A"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:element name="Control">
		<xsd:annotation>
			<xsd:documentation>The control(s) needed for this pop-up.a) Textbox

Possible types are:
a) TextBox
b) DropDown w/values
c) OptionGroup</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Value" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Applicable to these control types:

ListBox
DropDown
ComboBox
OptionGroup
CheckBox

The provided values are used to provide a dynamically built list and/or single choice (OptionGroup) or multi-choice (CheckBox) labels.

In case of 'OptionGroup' and 'CheckBox' the value is the description/label for each checkbox or radio button.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="Type" use="required">
				<xsd:annotation>
					<xsd:documentation>Possible Values:

TextBox
ListBox
DropDown w/values
ComboBox
OptionGroup(radio)
CheckBox
DateInput
TimeInput
TextArea</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="GUILabel" use="required">
				<xsd:annotation>
					<xsd:documentation>Label to describe this control. 
This label is usually placed in front or above the respective control. In case of a 'Button' it is the name of the button.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="PNRLabel" use="required">
				<xsd:annotation>
					<xsd:documentation>Description to be used to enter the returned value into a PNR General Remark element, if needed or desired.

This label is usually placed in front of the returned value as remark text.

Example:
"ProjectID: 105514"</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="MouseOverText">
				<xsd:annotation>
					<xsd:documentation>Freeflow informational text designed to use as a 'mouseover' text or similar</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="Mandatory">
				<xsd:annotation>
					<xsd:documentation>Allowed Values: Y or N

If 'Y' the UI needs to identify the control as mandatory input/selection, e.g. with an asteriks or different colored background</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="Width">
				<xsd:annotation>
					<xsd:documentation>Width in pixels</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="SameLine">
				<xsd:annotation>
					<xsd:documentation>Allowed Values: Y or N

If 'Y' the UI needs to position this control to the right of and on the same line as the preceding control.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="Pattern">
				<xsd:annotation>
					<xsd:documentation>use a regular expression string</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="MinChar">
				<xsd:annotation>
					<xsd:documentation>Minimum characters</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="MaxChar">
				<xsd:annotation>
					<xsd:documentation>Maximum characters</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:simpleType name="COSType">
		<xsd:annotation>
			<xsd:documentation> Basic definition of air  ClassOfService. Alpha-coded. Usually single char.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
			<xsd:minLength value="1"/>
			<xsd:pattern value="[A-Z]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CountryCodeAlpha2">
		<xsd:annotation>
			<xsd:documentation>2 character country code as defined in ISO3166, restricted to upper case.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[A-Z]{2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="CurrencyCode">
		<xsd:annotation>
			<xsd:documentation>Currency code.  Example: USD</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="CurrencyCodeType">
					<xsd:pattern value="[A-Z0-9]{3}"/>
					<xsd:attribute name="NumberOfDecimals" type="xsd:integer" use="required">
						<xsd:annotation>
							<xsd:documentation>Decimal position in fare amount.  Example: 2</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="CurrencyCodeType">
		<xsd:annotation>
			<xsd:documentation>Defines currency code (ISO 3-letter code) and optional number of decimals. Not that for request messages the NumberOfDecimals has no effect and is not needed.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="NumberOfDecimals" type="xsd:integer" use="optional">
					<xsd:annotation>
						<xsd:documentation>Decimal position in fare amount.  Example: 2</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="Rate">
					<xsd:annotation>
						<xsd:documentation>Exchange rate used for the conversion</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="Table" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>Table reference for the exchange rate.
Sample: BSR</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:element name="CustomRequest">
		<xsd:annotation>
			<xsd:documentation> Mostly used when source specific additional input is needed and/or when QC (Quality Control) edits are processed and the POS needs instructions/options how to proceed.

Multiple sources may return a separate 'Error' node with their own CustomRequest request.

the UI must display one screen at a time and respond to each with a separate message.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="DialogTitle">
					<xsd:annotation>
						<xsd:documentation>Freeflow Text to be displayed in the Title Bar of the pop-up window</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="Instructions" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Freeflow lines of text to be displayed inside of the pop-up window to explain or instruct the user of the necessary action(s)</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Text" maxOccurs="unbounded">
								<xsd:annotation>
									<xsd:documentation>Individual line of freeflow text</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element ref="Control" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Control(s) needed for this pop-up.

Important: The UI is asked to build the Pop-Up controls in sequential order.

Possible types are:
TextBox
ListBox
DropDown w/values
ComboBox
OptionGroup
CheckBox
DateInput
TimeInput
TextArea</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="Button" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>The 1st button defined will be the default button for the window.

All buttons will be positioned at the bottom of the forms and arranged from left to right (centered)</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attribute name="ButtonLabel" use="required">
							<xsd:annotation>
								<xsd:documentation>The label to be used for the button.

Example: Submit</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="Validate">
							<xsd:annotation>
								<xsd:documentation>Possible values Y or N (default)

If "Y" this button will trigger the validation needed by the GUI prior to processing the screen.

Note:  Only a single button can have this attribute set to "Y".  If multiple, the first instance will be used.</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="MouseOverText">
							<xsd:annotation>
								<xsd:documentation>Freeflow informational text designed to use as a 'mouseover' text or similar</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="Width">
							<xsd:annotation>
								<xsd:documentation>GUI normally autosizes based on width of label.  A certain width may be defined here in pixels.</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="OrigMsg" type="MessageStructure">
					<xsd:annotation>
						<xsd:documentation>This is the message originally received by Company</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="Reference" type="MessageStructure" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Reference node to be returned with CustomResponse node - mostly used as a linking reference between CustomRequest and CustomResponse</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CustomResponse">
		<xsd:annotation>
			<xsd:documentation>This node is used to return custom data previously requested via an error response using the InfoGroup/Error/ CustomRequest node of any supporting RS message.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Response" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Custom response to each control sent to the GUI in the "CustomRequest" request.

If Control is of type 'Button' only the control which was clicked is returned with the @PNRLabel value provided or mapped from the associated @GUILabel.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="Button">
					<xsd:annotation>
						<xsd:documentation>This node represents the button clicked by the user.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attribute name="PNRLabel" use="required">
							<xsd:annotation>
								<xsd:documentation>Description to be used to enter the returned value into a PNR General Remark element. Value is passed thru from the request - if provided.</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Reference" type="MessageStructure" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Custom parameter node received in the CustomRequest node</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute ref="Source" use="required">
				<xsd:annotation>
					<xsd:documentation>Identifies the source where this custom response needs to be dispatched to (as identified in the InforGroup/ Error/CustomRequest request.

Example: AA </xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:simpleType name="Date">
		<xsd:annotation>
			<xsd:documentation>Date in ISO 8601 format (yyyy-mm-dd). Example: 2001-12-25</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>
	<xsd:element name="Diagnostics">
		<xsd:complexType>
			<xsd:attribute name="ID" type="xsd:integer" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="DispAmount" type="xsd:decimal">
		<xsd:annotation>
			<xsd:documentation>Formated Display amount with decimals. e.g 75.00 </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:attribute name="DistanceUnit">
		<xsd:annotation>
			<xsd:documentation>Unit of distance.
Values:
M = Miles
K = Kilometers
Example: K</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="1"/>
				<xsd:enumeration value="M"/>
				<xsd:enumeration value="K"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:attribute>
	<xsd:element name="Error">
		<xsd:annotation>
			<xsd:documentation>Error group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Code" minOccurs="0"/>
				<xsd:element ref="Text" maxOccurs="unbounded"/>
				<xsd:element ref="CustomRequest" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="ErrorType" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation>Type of error.  Example: Air</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute ref="Source"/>
			<xsd:attribute ref="SourceRef"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="FareRefKey">
		<xsd:annotation>
			<xsd:documentation>Unique fare reference key. If present in pricing response messages, must be included in FareRulesRQ.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="FiledAmount">
		<xsd:annotation>
			<xsd:documentation>Base Fare Amount as originally filed.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:integer"/>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="FiledCurrencyCode">
		<xsd:annotation>
			<xsd:documentation>Currency code.  Example: USD</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="CurrencyCodeType">
					<xsd:pattern value="[A-Z0-9]{3}"/>
					<xsd:attribute name="NumberOfDecimals" type="xsd:integer" use="required">
						<xsd:annotation>
							<xsd:documentation>Decimal position in fare amount.  Example: 2</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="FiledIn">
		<xsd:annotation>
			<xsd:documentation>This group represents fares filed in a currency different from the currency of a point of sale. The content elements represent the original currency and amount as filed.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:all>
				<xsd:element ref="CurrencyCode"/>
				<xsd:element name="Amount">
					<xsd:annotation>
						<xsd:documentation>Base Fare Amount as originally filed.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:integer">
								<xsd:attribute name="BulkMask">
									<xsd:annotation>
										<xsd:documentation>This mask applies to IT/BT tickets where the masked value may be "BT" or "IT" instead of the true amount.

Note: this mask is ALWAYS used for the passenger ticket image. </xsd:documentation>
									</xsd:annotation>
								</xsd:attribute>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="NUCAmount">
					<xsd:annotation>
						<xsd:documentation>Base Fare Amount as originally filed.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:integer">
								<xsd:attribute name="ROE">
									<xsd:annotation>
										<xsd:documentation>Applicable rate of exhange</xsd:documentation>
									</xsd:annotation>
								</xsd:attribute>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="FlightNumber" type="FlightNumberWithSuffixType">
		<xsd:annotation>
			<xsd:documentation>Flight number - an integer value within the range of [0,9999].

Example: 1234</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="FlightNumberType">
		<xsd:annotation>
			<xsd:documentation>A flight number. Flight numbers are integer values within the range of [0-9999]. Example: 1234</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="9999"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="FlightNumberWithSuffixType">
		<xsd:annotation>
			<xsd:documentation>A flight number with optional suffix letter. Flight numbers are integer values within the range of [0,9999]. 

Example: 1234</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="FlightNumberType">
				<xsd:attribute name="Suffix" use="optional">
					<xsd:annotation>
						<xsd:documentation>Flight number alpha qualifier.  
Values are:
A
B
C
D

Example: A</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:enumeration value="A"/>
							<xsd:enumeration value="B"/>
							<xsd:enumeration value="C"/>
							<xsd:enumeration value="D"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:element name="ForInfo">
		<xsd:annotation>
			<xsd:documentation>Information group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Text" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Information text or error text. Example: Free flow text.  Example: Invalid flight number</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute ref="Source" use="optional">
				<xsd:annotation>
					<xsd:documentation>Identifies the source of this  element. In other words where the content originates from. Not limited to GDS, applicable to direct connect as well. Example: 1A, 1V, or other. </xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute ref="SourceRef" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:simpleType name="FreeFormTextField">
		<xsd:annotation>
			<xsd:documentation>any type of freeform text - basic type</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="GeoCoded">
		<xsd:annotation>
			<xsd:documentation>Geographical position information. 
Allows search by geographical longitude and latitude and to define a search radius around the specified geo location.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:all>
				<xsd:element ref="Longitude"/>
				<xsd:element ref="Latitude"/>
			</xsd:all>
			<xsd:attribute ref="Radius"/>
			<xsd:attribute ref="DistanceUnit" default="K">
				<xsd:annotation>
					<xsd:documentation>Unit of distance in which Radius is specified.
Values:
M = Miles
K = Kilometers

Defaults to kilometers, if left out.

Example: M</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="HistoricalPricingInfo">
		<xsd:annotation>
			<xsd:documentation>DEPRECATED.
Please use definitions in PricingInfo: ReservationsDateTime, HistoricPricingDate, AltTicketingDate.

Historical pricing group. Required if OriginDestination group includes past date segments.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:choice>
				<xsd:sequence>
					<xsd:element name="ReservationDateTime" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>This timestamp indetifies when PNR was created client application requests historical pricing for.</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="Date" type="Date">
									<xsd:annotation>
										<xsd:documentation>Specifies departure or arrival date in ISO 8601 format (yyyy-mm-dd). Example: 2001-12-25</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="Time" type="Time" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Departure or arrival time in ISO 8601 twenty-four hour clock format. Example: 14:00</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="TicketedDateTime">
						<xsd:annotation>
							<xsd:documentation>Timestamp of ticket issuance  for past date segments in OriginDestination section.</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="Date" type="Date">
									<xsd:annotation>
										<xsd:documentation>Specifies departure or arrival date in ISO 8601 format (yyyy-mm-dd). Example: 2001-12-25</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="Time" type="Time" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Departure or arrival time in ISO 8601 twenty-four hour clock format. Example: 14:00</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
				<xsd:element name="RecordLocator" type="xsd:string" minOccurs="0" maxOccurs="0">
					<xsd:annotation>
						<xsd:documentation>FUTURE USE.
	NOT SUPPORTED.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="HistoricPricingDate">
		<xsd:annotation>
			<xsd:documentation>Date for which a historical pricing is requested.  When used for ticket reissue in BSP markets this is commonly the issuance date of the original ticket.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Date" type="Date">
					<xsd:annotation>
						<xsd:documentation>Specifies the date in ISO 8601 format (yyyy-mm-dd). Example: 2008-05-02</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="HotelRating">
		<xsd:annotation>
			<xsd:documentation>Rating of this hotel. Note that this element will eventually supercede the AAARating element definition. The latter will be deprecated soon.
Example: NTM3  CROWN</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="RatingSystem">
						<xsd:annotation>
							<xsd:documentation>Identifies the rating system used to rate the hotel. Values are: 
AAA - AAA in US
GUESTS - Guest rating
HRS - Hotel Reservation System 'stars' rating
NTM - North Star Media 'crown' rating.
HBC - Booking.com rating
UNK - unknown.</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="AAA"/>
								<xsd:enumeration value="GUESTS"/>
								<xsd:enumeration value="HRS"/>
								<xsd:enumeration value="NTM"/>
								<xsd:enumeration value="UNK"/>
								<xsd:enumeration value="HBC"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Identification">
		<xsd:annotation>
			<xsd:documentation>Identification values for requestor, aggregator and airline</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="RequestorInfo">
					<xsd:annotation>
						<xsd:documentation>Requestor identification values </xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence minOccurs="0">
							<xsd:element name="UserInfo" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>User Info</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:attribute name="UserID" use="required">
										<xsd:annotation>
											<xsd:documentation>In case of an agency this is typically the Agent's ID </xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
									<xsd:attribute name="UserRole">
										<xsd:annotation>
											<xsd:documentation>User's role as set in system provider's requestor profile</xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
									<xsd:attribute name="UserPW">
										<xsd:annotation>
											<xsd:documentation>User's password</xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="AccountInfo" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Account info as it relates to a (customer) account of the requestor such as a corporate booking tool</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence minOccurs="0">
										<xsd:element name="AccountUserInfo">
											<xsd:annotation>
												<xsd:documentation>Account User Info</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:attribute name="AccountUserID" use="required">
													<xsd:annotation>
														<xsd:documentation>User ID of the account</xsd:documentation>
													</xsd:annotation>
												</xsd:attribute>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
									<xsd:attribute name="AccountID" use="required">
										<xsd:annotation>
											<xsd:documentation>In case of an agency this is typically the Account ID as set up between requestor and client, such as a corporate booking tool </xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
						<xsd:attribute name="RequestorID" use="required">
							<xsd:annotation>
								<xsd:documentation>In case of an agency this is typically the PCC of the POS agency (PseudoCityCode)</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="RequestorIATA">
							<xsd:annotation>
								<xsd:documentation>Requestor's IATA number (if applicable)</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="AggregatorInfo" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Aggregator identification values </xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attribute name="AggregatorID" type="xsd:string" use="required">
							<xsd:annotation>
								<xsd:documentation>ID of the aggregating entity, such as GDS, OTA, MetaSearch, etc.</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="AggregatorPW" type="xsd:string">
							<xsd:annotation>
								<xsd:documentation>Aggregator's password</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="AggregatorType">
							<xsd:annotation>
								<xsd:documentation>Values as per IATA's AIRIMP are as follows:
A - Airline
E - ERSP (Electronic Reservation System Provider)
N - Requestor has no identification
T - Requestor has a user identification number assigned by IATA/ARC other than ERSP</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="InfoGroup">
		<xsd:annotation>
			<xsd:documentation>Error and information group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ForInfo" minOccurs="0"/>
				<xsd:element ref="Error" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:simpleType name="Lang">
		<xsd:annotation>
			<xsd:documentation>ISO language code. A two letter code as defined by ISO-639-1. This code specifies the requested language for text content. Default value is 'en'.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:length value="2"/>
			<xsd:pattern value="[a-z][a-z]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="Latitude">
		<xsd:annotation>
			<xsd:documentation>Geographical information for latitude. If sign attribute is missing, positive values stand for North, negative values for South. Example: 49.9856</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:decimal">
					<xsd:attribute name="Sign">
						<xsd:annotation>
							<xsd:documentation>Latitude Indicator.  Values are: N = North of Equator S = South of Equator  Example: S</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="S"/>
								<xsd:enumeration value="N"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Longitude">
		<xsd:annotation>
			<xsd:documentation>Geographical information for longitude. If sign attribute is missing, positive values stand for East, negative values for West. Example: 9.1220</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:decimal">
					<xsd:attribute name="Sign">
						<xsd:annotation>
							<xsd:documentation>Longitude indicator.  Values are: E = East of Meridian, W = West of Meridian  Example: E</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="E"/>
								<xsd:enumeration value="W"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="Media">
		<xsd:annotation>
			<xsd:documentation>Holds reference to multi media content such as pictures, videos, etc. for this hotel property.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="MediaType">
				<xsd:sequence>
					<xsd:element name="Preview" type="MediaType" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Preview of the referenced media content (e.g. thumbnail of the picture).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Description" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Media content description (e.g. exterior view).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="MediaSizeUnitType">
		<xsd:annotation>
			<xsd:documentation>Unit used to specify dimensions of media content.

Example:
mm (millimeter) 
px (pixel)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="px"/>
			<xsd:enumeration value="mm"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="MediaType">
		<xsd:sequence>
			<xsd:element name="Url" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Hyperlink defining the location of the referenced media (e.g. location of a JPG file).</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:sequence minOccurs="0">
				<xsd:element name="Width">
					<xsd:annotation>
						<xsd:documentation>Width of media content in specified units.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:int">
								<xsd:attribute name="Unit" type="MediaSizeUnitType" use="required">
									<xsd:annotation>
										<xsd:documentation>Unit used to specify dimensions of media content.

Example:
mm (millimeter) 
px (pixel)</xsd:documentation>
									</xsd:annotation>
								</xsd:attribute>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Height">
					<xsd:annotation>
						<xsd:documentation>Height of media content in specified units.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:int">
								<xsd:attribute name="Unit" type="MediaSizeUnitType" use="required">
									<xsd:annotation>
										<xsd:documentation>Unit used to specify dimensions of media content.

Example:
mm (millimeter) 
px (pixel)</xsd:documentation>
									</xsd:annotation>
								</xsd:attribute>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:element name="Type" type="MediaTypeType">
				<xsd:annotation>
					<xsd:documentation>Type of media content. 

Example:
image
webcam
video 
360 (panorama view)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="MediaTypeType">
		<xsd:annotation>
			<xsd:documentation>Type of media content. 

Example:
image
webcam
video 
360 (panorama view)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="image"/>
			<xsd:enumeration value="webcam"/>
			<xsd:enumeration value="360"/>
			<xsd:enumeration value="video"/>
			<xsd:enumeration value="logo"/>
			<xsd:enumeration value="map"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="MessageStructure">
		<xsd:complexContent>
			<xsd:extension base="xsd:anyType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="NegoRateCode">
		<xsd:annotation>
			<xsd:documentation>Negotiated rate code.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="NVA" type="xsd:date">
		<xsd:annotation>
			<xsd:documentation>Identifies "not valid after" date for a fare.Date in ISO 8601 format (yyyy-mm-dd).  Example: 2001-12-25</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="NVB" type="xsd:date">
		<xsd:annotation>
			<xsd:documentation>Identifies "not valid befoe" date for a fare. Date in ISO 8601 format (yyyy-mm-dd).  Example: 2001-12-25</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:attribute name="OFFPoint">
		<xsd:annotation>
			<xsd:documentation>Identifies the OFF point of each slice of a flight (direct flight w/stop(s) and/or COG flights) using 3-character airport codes.
Example:  LHR</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
	<xsd:attribute name="ONPoint">
		<xsd:annotation>
			<xsd:documentation>Identifies the ON point of each slice of a flight (direct flight w/stop(s) and/or COG flights) using 3-character airport codes.
Example:  ORD</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
	<xsd:simpleType name="PNRRecordLocator">
		<xsd:annotation>
			<xsd:documentation>Defines PNR record locator format in accordance with industry standard. [A-Z0-9]{6}.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:length value="6"/>
			<xsd:pattern value="[A-Z0-9]{6}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="POIDistance">
		<xsd:annotation>
			<xsd:documentation>Distance to a point of interest. Will somewhen replace DistanceToAirport. Example: 5.5</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:decimal">
					<xsd:attribute name="POIType" use="required">
						<xsd:annotation>
							<xsd:documentation>Point of interest type. Example: AIRPORT</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="AIRPORT"/>
								<xsd:enumeration value="TRAIN STATION"/>
								<xsd:enumeration value="CITY CENTER"/>
								<xsd:enumeration value="HIGHWAY"/>
								<xsd:enumeration value="SHOPPING"/>
								<xsd:enumeration value="PETROL STATION"/>
								<xsd:enumeration value="THEATER"/>
								<xsd:enumeration value="CINEMA"/>
								<xsd:enumeration value="CAR RENTAL STATION"/>
								<xsd:enumeration value="UNKNOWN"/>
								<xsd:enumeration value="LOCATION"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="POIName" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>Point of interest name.
Example: FRANKFURT/MAIN </xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:simpleType name="positiveDecimal">
		<xsd:annotation>
			<xsd:documentation>A restriction of the built-in decimal type to positive values (excluding 0). Defined as a type of its own, because this type of restriction cannot be stated direcetly for a derived type, which is at the same time extended by attributes.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:minExclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="positiveIntegerOrEmpty">
		<xsd:annotation>
			<xsd:documentation>Either a positive integer value (without leading zeros) or the empty string.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[1-9][0-9]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="PriceRefKey">
		<xsd:annotation>
			<xsd:documentation>Unique price reference key. Key must be included in request message if present in previous offer (response) message, </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:attribute name="Radius">
		<xsd:annotation>
			<xsd:documentation>Radius around the specified location, within which results should be included.
Example: 0.5</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:unsignedLong"/>
		</xsd:simpleType>
	</xsd:attribute>
	<xsd:element name="ReferenceData">
		<xsd:annotation>
			<xsd:documentation>Displays generic refence data such as aiport code, GEO coordinates, names, car, hotel other.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Airport">
					<xsd:annotation>
						<xsd:documentation>Aiport code and associated GEO coordinates (latitude and longitude).</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attribute name="Code" use="required">
							<xsd:annotation>
								<xsd:documentation>IATA 3-letter airport code.
Example: MIA</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:length value="3"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="Long" type="xsd:double" use="required">
							<xsd:annotation>
								<xsd:documentation>Longitude.
Example: -80.277922</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="Lat" type="xsd:double" use="required">
							<xsd:annotation>
								<xsd:documentation>Latitude.
Example: 25.795343</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="Name" type="xsd:string">
							<xsd:annotation>
								<xsd:documentation>Airport name</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="RequestForCarLocation">
		<xsd:annotation>
			<xsd:documentation>Type definition for one or more (if only citycode and category is specified) car locations for one or more car vendors.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="CityCode">
				<xsd:annotation>
					<xsd:documentation>IATA 3-letter city/airport code for location. In case of non-airport location Category need to be present (Number for particular locaction). Example: NYC</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="3"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:sequence minOccurs="0">
				<xsd:element name="Category">
					<xsd:annotation>
						<xsd:documentation>Location category:
T = Airport terminal
O = Off-airport
C = City location 
P = Port 
X = Rail
N = North suburban
E = East suburban
S = South suburban
W = West suburban 
D = default location for the city.
R = Resort location
Example: C</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:length value="1"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="Number" type="xsd:string" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Location number used to identify specific rental location within a location category.  Example: 001</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="ReservationsDateTime">
		<xsd:annotation>
			<xsd:documentation>Date/time when the entire booking was reserved.  Alternatively this date/time may be set independently for each flight - see ReservationsDateTime element in the Flight element of the OriginDestination element(s).</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Date" type="Date">
					<xsd:annotation>
						<xsd:documentation>Specifies date in ISO 8601 format (yyyy-mm-dd). Example: 2001-12-25</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="Time" type="Time" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Specifies time in ISO 8601 twenty-four hour clock format. Example: 14:00</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Response">
		<xsd:annotation>
			<xsd:documentation>Custom response to each control sent to the GUI in the "CustomRequest" request.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Value" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Value(s) entered or selected by the user.

The value(s) are always the "GUILabel(s)" as selected.

In case of a textbox or combobox entry it is the value entered by the user.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="PNRLabel" use="required">
				<xsd:annotation>
					<xsd:documentation>Description to be used to enter the returned value into a PNR General Remark element. Value is passed thru from the request - if provided.

This label can be used by the DM rule or the DC adaptor to create a PNR remark storing the returned value.  If e.g. the value here is "ProjectID" then a remark may be added to the PNR like this:

"ProjectID: 105514"</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="S5">
		<xsd:annotation>
			<xsd:documentation>Shows ATPCO record S5 diagnostic infromation </xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="uid" type="xsd:integer"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="S7">
		<xsd:annotation>
			<xsd:documentation>Shows ATPCO record S7 diagnostic infromation </xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="uid" type="xsd:integer"/>
			<xsd:attribute name="seq" type="xsd:integer">
				<xsd:annotation>
					<xsd:documentation>ATPCO table seq number </xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="excess_first" type="xsd:integer">
				<xsd:annotation>
					<xsd:documentation>represent the first occurrence of the excess bag.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="excess_last" type="xsd:integer">
				<xsd:annotation>
					<xsd:documentation>represent the last occurrence of the excess bag.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SegmentIDRef">
		<xsd:annotation>
			<xsd:documentation>ID reference used to asscociate this item to a segment.  No comma separeted lists and no ranges supported.    Example: F1</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute ref="ONPoint">
						<xsd:annotation>
							<xsd:documentation>Identifies the ON point of each slice of a flight (direct flight w/stop(s) and/or COG flights) using 3-character airport codes.
Example:  ORD</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute ref="OFFPoint">
						<xsd:annotation>
							<xsd:documentation>Identifies the OFF point of each slice of a flight (direct flight w/stop(s) and/or COG flights) using 3-character airport codes.
Example:  LHR</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:attribute name="Source">
		<xsd:annotation>
			<xsd:documentation>Identifies the source of this  element. In other words where the content originates from. Not limited to GDS, applicable to direct connect as well. Example: 1A, 1V, or other. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:attribute>
	<xsd:attribute name="SourceRef">
		<xsd:annotation>
			<xsd:documentation>PNR Record Locator associated to Source attribute.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:attribute>
	<xsd:simpleType name="stringLength4">
		<xsd:annotation>
			<xsd:documentation>4 character string.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:length value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="SurchargesType">
		<xsd:sequence>
			<xsd:element name="Surcharge" type="SurchargeType" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Surcharges break down information.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="Amount" type="xsd:integer" use="required">
			<xsd:annotation>
				<xsd:documentation>Total surcharges amount.  Example: 2000</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="SurchargeType">
		<xsd:complexContent>
			<xsd:extension base="SurchargeTypeBasic">
				<xsd:attribute name="Segment" type="xsd:integer">
					<xsd:annotation>
						<xsd:documentation>Segment number to which the surcharge applies.  Example: 1</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute ref="ONPoint">
					<xsd:annotation>
						<xsd:documentation>Identifies the ON point of a flight/leg using the 3-character airport code (can be used in lieu of the Segment attribute)
Example:  ORD</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute ref="OFFPoint">
					<xsd:annotation>
						<xsd:documentation>Identifies the OFF point of a flight/leg using the 3-character airport code (can be used in lieu of the Segment attribute)
Example:  LHR</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SurchargeTypeBasic">
		<xsd:sequence>
			<xsd:element name="Designator">
				<xsd:annotation>
					<xsd:documentation>Surcharge designator.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Description" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Surcharge descriptions as free form text.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element ref="FiledCurrencyCode" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Currency for this FareComponent may not be the same as POS Currency Code.  Example: HKD</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="FiledAmount" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Fare Amount as filed in the currency defined in FiledCurrencyCode</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="Amount" type="xsd:integer" use="required">
			<xsd:annotation>
				<xsd:documentation>Individual surcharge amount.  Example: 270</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:element name="Text" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Information text or error text. Example: Free flow text.  </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="Time">
		<xsd:annotation>
			<xsd:documentation>Time in ISO 8601 twenty-four hour clock format. Example: 14:00</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:length value="5"/>
			<xsd:pattern value="([0-1][0-9]|2[0-3]):[0-5][0-9]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TimeDurationHoursMinutes">
		<xsd:annotation>
			<xsd:documentation>A duration of time specified in hours and minutes (HH:MM) with a maximum value of 99:59.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9][0-9]:[0-5][0-9]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="TravelerIDRef" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Unique association ID reference of the traveler associated to this item. No comma separeted lists and no ranges allowed.        Example: T1</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
