ModelDrivenNode/schema/axis/FareRulesRS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="FareRulesRS">
		<xsd:annotation>
			<xsd:documentation>Fare rules response root element</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="InfoGroup" minOccurs="0"/>
				<xsd:sequence minOccurs="0">
					<xsd:element ref="DepartureCity"/>
					<xsd:element ref="ArrivalCity"/>
					<xsd:element ref="DepartureDate"/>
					<xsd:element ref="AirlineCode"/>
					<xsd:element ref="FareBasisCode"/>
					<xsd:element ref="FareType" minOccurs="0"/>
					<xsd:choice>
						<xsd:element ref="Rule" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element ref="ProviderURL"/>
					</xsd:choice>
				</xsd:sequence>
			</xsd:sequence>
			<xsd:attribute name="version" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation>Version number.  Example: 1.0</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="DepartureCity">
		<xsd:annotation>
			<xsd:documentation>Departure city.  Example: MIA</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="3"/>
				<xsd:maxLength value="3"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ArrivalCity">
		<xsd:annotation>
			<xsd:documentation>Arrival city.  Example: JFK</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="3"/>
				<xsd:maxLength value="3"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="AirlineCode">
		<xsd:annotation>
			<xsd:documentation>Airline code.  Example: AA</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="2"/>
				<xsd:maxLength value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DepartureDate" type="xsd:date">
		<xsd:annotation>
			<xsd:documentation>Departure date in ISO 8601 format (yyyy-mm-dd).  Example: 2001-10-01</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FareBasisCode" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Fare basis code.  Example: Y26</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FareType" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Fare type.  Example: Normal</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Rule">
		<xsd:annotation>
			<xsd:documentation>Rule group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Text" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="Category" use="required">
				<xsd:annotation>
					<xsd:documentation>Fare rule category associated with the fare basis code. 
Possible values are:
ACC Accompanied Travel
ADD Add-Ons
AGT Agent Discounts
APP Rule Application
BLA Blackout Dates
BOC Booking Code
CHD Children Discounts
CMB Combinability
COT Co-Terminals
CTC Circle Trip Combinability
DAY Day and / or Time Application
DEP Deposits
DSC All Other Discounts
END Ticket Endorsements
EOE End On End Combinability
FBR Fare By Rule
FLT Flight Application
FTR First Travel
GRP Groups
HEA Rules Header
HIP Higher Intermediate Point / Mileage Exceptions
ICT International Construction
LIS List All Restrictions
MAX Maximum Stay
MIN Minimum Stay
MIS Miscellaneous Provisions
NET Negotiated Fares
OPJ Open Jaw Combinability
ORE Open Return
OTH Other
PEN Penalties
REF Refunds
RER Reroute
RES Advance Reservation / Ticketing Restrictions
ROU Routings
SEA Seasonality
SPP Special Provisions
STP Stopovers
SUR Surcharges
TCO Tour Conductor Discounts
TKT Sales Restrictions
TOU Tours
TRF Transfers
TVL Travel Restrictions
VCT Visit Another Country
VOL Voluntary Changes
WHO Eligibility

Example: PEN</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="3"/>
						<xsd:maxLength value="3"/>
						<xsd:enumeration value="ACC">
							<xsd:annotation>
								<xsd:documentation>ACCOMPANIED TRAVEL</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="ADD">
							<xsd:annotation>
								<xsd:documentation>ADD-ONS</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="AGT">
							<xsd:annotation>
								<xsd:documentation>AGENT DISCOUNTS</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="APP">
							<xsd:annotation>
								<xsd:documentation>RULE APPLICATION</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="BLA">
							<xsd:annotation>
								<xsd:documentation>BLACKOUT DATES</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="BOC">
							<xsd:annotation>
								<xsd:documentation>BOOKING CODE</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="CHD">
							<xsd:annotation>
								<xsd:documentation>CHILDREN DISCOUNTS</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="CMB">
							<xsd:annotation>
								<xsd:documentation>COMBINABILITY</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="COT">
							<xsd:annotation>
								<xsd:documentation>CO-TERMINALS</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="CTC">
							<xsd:annotation>
								<xsd:documentation>CIRCLE TRIP COMBINABILITY</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="DAY">
							<xsd:annotation>
								<xsd:documentation>DAY AND/OR TIME APPLICATION</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="DEP">
							<xsd:annotation>
								<xsd:documentation>DEPOSITS</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="DSC">
							<xsd:annotation>
								<xsd:documentation>ALL OTHER DISCOUNTS</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="END">
							<xsd:annotation>
								<xsd:documentation>TICKET ENDORSEMENTS</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="EOE">
							<xsd:annotation>
								<xsd:documentation>END ON END COMBINABILITY</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="FBR">
							<xsd:annotation>
								<xsd:documentation>FARE BY RULE</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="FLT">
							<xsd:annotation>
								<xsd:documentation>FLIGHT APPLICATION</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="FTR">
							<xsd:annotation>
								<xsd:documentation>FIRST TRAVEL</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="GRP">
							<xsd:annotation>
								<xsd:documentation>GROUPS</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="HEA">
							<xsd:annotation>
								<xsd:documentation>RULES HEADER</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="HIP">
							<xsd:annotation>
								<xsd:documentation>HIGHER INTERMEDIATE POINT / MILEAGE EXCEPTIONS</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="ICT">
							<xsd:annotation>
								<xsd:documentation>INTERNATIONAL CONSTRUCTION</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="LIS">
							<xsd:annotation>
								<xsd:documentation>ALL RESTRICTIONS LIST</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="MAX">
							<xsd:annotation>
								<xsd:documentation>MAXIMUM STAY</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="MIN">
							<xsd:annotation>
								<xsd:documentation>MINIMUM STAY</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="MIS">
							<xsd:annotation>
								<xsd:documentation>MISCELLANEOUS PROVISIONS</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="NET">
							<xsd:annotation>
								<xsd:documentation>NEGOTIATED FARES</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="OPJ">
							<xsd:annotation>
								<xsd:documentation>OPEN JAW COMBINABILITY</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="ORE">
							<xsd:annotation>
								<xsd:documentation>OPEN RETURN</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="OTH">
							<xsd:annotation>
								<xsd:documentation>OTHER</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="PEN">
							<xsd:annotation>
								<xsd:documentation>PENALTIES</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="REF">
							<xsd:annotation>
								<xsd:documentation>REFUNDS</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="RER">
							<xsd:annotation>
								<xsd:documentation>REROUTE</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="RES">
							<xsd:annotation>
								<xsd:documentation>ADVANCE RESERVATIONS / TICKETING RESTRICTIONS</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="ROU">
							<xsd:annotation>
								<xsd:documentation>ROUTINGS</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="SEA">
							<xsd:annotation>
								<xsd:documentation>SEASONALITY</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="SPP">
							<xsd:annotation>
								<xsd:documentation>SPECIAL PROVISIONS</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="STP">
							<xsd:annotation>
								<xsd:documentation>STOPOVERS</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="SUR">
							<xsd:annotation>
								<xsd:documentation>SURCHARGES</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="TCO">
							<xsd:annotation>
								<xsd:documentation>TOUR CONDUCTOR DISCOUNTS</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="TKT">
							<xsd:annotation>
								<xsd:documentation>SALES RESTRICTIONS</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="TOU">
							<xsd:annotation>
								<xsd:documentation>TOURS</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="TRF">
							<xsd:annotation>
								<xsd:documentation>TRANSFERS</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="TVL">
							<xsd:annotation>
								<xsd:documentation>TRAVEL RESTRICTIONS</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="VCT">
							<xsd:annotation>
								<xsd:documentation>VISIT ANOTHER COUNTRY</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="VOL">
							<xsd:annotation>
								<xsd:documentation>VOLUNTARY CHANGES</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="WHO">
							<xsd:annotation>
								<xsd:documentation>ELIGIBILITY</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Text" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Information or error text.  Example:  No Flight Restrictions Apply</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="InfoGroup">
		<xsd:annotation>
			<xsd:documentation>Error and information group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ForInfo" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="Error" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ForInfo">
		<xsd:annotation>
			<xsd:documentation>Information group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Text" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Error">
		<xsd:annotation>
			<xsd:documentation>Error group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Code"/>
				<xsd:element ref="Text" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="ErrorType" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation>Type of error.  Example: Fare Rules</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Code" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Error code.  Example: 0201</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ProviderURL" type="xsd:anyURI">
		<xsd:annotation>
			<xsd:documentation>Link to provider website which displays terms and conditions for this carrier (only for low cost carrier so far).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
