ModelDrivenNode/schema/axis/PNRDeleteRQ.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:include schemaLocation="CommonTypes.xsd"/>
	<xsd:element name="PNRDeleteRQ">
		<xsd:annotation>
			<xsd:documentation>PNR delete request root element</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="RecordLocator" minOccurs="0"/>
				<xsd:element ref="SaleInfo" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Point of Sale information</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="TicketingInfo" minOccurs="0"/>
				<xsd:element ref="DeleteTraveler" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="DeleteSegment" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="DeleteSeat" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="DeleteOtherElements" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="DeleteStoredPrice" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Delete one or more stored prices from PNR. Please note that if more than one DeleteStoredPrice element is present in the request, all of them must have attribute FareNumber specified. One element without attribute will result in deletion of all stored prices (FareGroups). Values are: 
Y = Yes 
N = No
Example: Y</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="EndTransaction" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="version" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation>Version number.  Example: 1.0</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="IgnoreWarnings" use="optional" default="N">
				<xsd:annotation>
					<xsd:documentation>Option to ignore warning for change of segments with restricted class of service.  Values are:  Y = Yes, N = No.  Example: N</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="Y"/>
						<xsd:enumeration value="N"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="UpdateFareGroups" use="optional" default="Y">
				<xsd:annotation>
					<xsd:documentation>Switch to disable fare validation and update functionality. This includes deletion of fares with invalid segment references (occurs on Apollo, Sabre and Worldspan) and (in the future) attempt to reprice and restore fares which have been rendered invalid by segment reordering. Values are: Y = Yes, N = No (Default is Yes). Example: Y</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="1"/>
						<xsd:enumeration value="Y"/>
						<xsd:enumeration value="N"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ElementNumber">
		<xsd:annotation>
			<xsd:documentation>Element number to be deleted from the PNR. Example: 1.1</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:integer"/>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="DeleteSegment">
		<xsd:annotation>
			<xsd:documentation>Delete segment group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:choice>
				<xsd:element ref="ElementNumber"/>
				<xsd:element ref="FlightReferences">
					<xsd:annotation>
						<xsd:documentation>If @Type attribute is "A" (air element) this data set can be used instead of the ElementNumber</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<xsd:attribute name="Type" use="required">
				<xsd:annotation>
					<xsd:documentation>Type of segment to delete. Values are: 
A = Air (includes passive),
C = Car,
H = Hotel,
P = Passive (car and hotel),
O = OtherSegment,
X = no type specified, TattooNumber used instead.
Example: A</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="1"/>
						<xsd:enumeration value="A"/>
						<xsd:enumeration value="C"/>
						<xsd:enumeration value="H"/>
						<xsd:enumeration value="P"/>
						<xsd:enumeration value="O"/>
						<xsd:enumeration value="X"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute ref="Source"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="AirlineCode">
		<xsd:annotation>
			<xsd:documentation>Airline code.  Example: AA</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="2"/>
				<xsd:minLength value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DeleteTraveler">
		<xsd:annotation>
			<xsd:documentation>Delete traveler group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:choice>
				<xsd:element ref="ElementNumber">
					<xsd:annotation>
						<xsd:documentation>Element number to be deleted from the PNR. Example: 1 or 1.1 for an infant removal</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="TravelerReferences" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Traveler name details</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<xsd:attribute name="Type" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation>Passenger type.  Values are:
ADT = Adult
CHD = Child
YTH = Youth
MIL = Military
GOV = Government
SRC = Senior Citizen
STD = Student
Example: ADT</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Title" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Traveler title.  Example: MISS</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GivenName" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Traveler given (first) name.  Example: JANE</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Initial" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Traveler middle initial.  Example: G</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Surname" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Traveler family (last) name.  Example: SMITH</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Age" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Traveler age.  Age is not supported by Galileo.  Example: 01</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DateOfBirth" type="xsd:date">
		<xsd:annotation>
			<xsd:documentation>Traveler birth date in ISO 8601 format (yyyy-mm-dd).  Date of birth is not supported in Galileo.  Example: 1978-06-09</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ReceivedFrom" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Received from.  Example: John</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="QueueNumber">
		<xsd:annotation>
			<xsd:documentation>Queue number.  Example: 08</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:integer">
				<xsd:maxInclusive value="500"/>
				<xsd:minInclusive value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="EndTransaction">
		<xsd:annotation>
			<xsd:documentation>End transaction group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ReceivedFrom"/>
				<xsd:element ref="PNRName" minOccurs="0"/>
				<xsd:element ref="PseudoCityCode" minOccurs="0"/>
				<xsd:element ref="Queue" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="TransactionType" use="required">
				<xsd:annotation>
					<xsd:documentation>End of transaction type.  Values are:
ET = End transaction
ER = End transaction and retrieve pnr
IG = Ignore transaction
IR = Ignore transaction and retrieve pnr
RD = Redisplay 
QT = End transaction and queue
QR = End transaction, queue and retrieve pnr
Example: ET</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="ET"/>
						<xsd:enumeration value="ER"/>
						<xsd:enumeration value="IG"/>
						<xsd:enumeration value="IR"/>
						<xsd:enumeration value="RD"/>
						<xsd:enumeration value="QT"/>
						<xsd:enumeration value="QR"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Queue">
		<xsd:annotation>
			<xsd:documentation>Queue group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="PseudoCityCode" minOccurs="0"/>
				<xsd:element ref="Date" minOccurs="0"/>
				<xsd:element ref="QueueNumber" minOccurs="0"/>
				<xsd:element ref="QueueCategory" minOccurs="0"/>
				<xsd:element ref="QueueName" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RecordLocator" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>PNR record locator to be updated.  Example: VP1256</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PNRName" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Free text entered by the user to identify the PNR easily by this text instead of the record locator.  Example: Houston Trip</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="QueueCategory" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Queue category.  Example: 10</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PseudoCityCode" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Agency's pseudo city code.  Example: LNJ2</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SaleInfo">
		<xsd:annotation>
			<xsd:documentation>Sale information group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="CityCode" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Point of Sale City Code 
Example: BOS</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="CountryCode" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Point of Sale Country Code 
Example: US</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="CurrencyCode" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Point of Sale Currency Code
Example: USD</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="Identification" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CityCode" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>City code.  Example: MIA</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CountryCode" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Country code.  Example: US</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TicketingInfo">
		<xsd:annotation>
			<xsd:documentation>Ticketing information group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="CityCode" minOccurs="0"/>
				<xsd:element ref="CountryCode" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="DeleteSeat">
		<xsd:annotation>
			<xsd:documentation>Delete seat group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:choice>
					<xsd:annotation>
						<xsd:documentation>Must provide either the ElementNumber matching the value in the PNRViewRS/Seat or the traveler and segment references</xsd:documentation>
					</xsd:annotation>
					<xsd:element ref="ElementNumber"/>
					<xsd:sequence>
						<xsd:annotation>
							<xsd:documentation>This data sets can be used instead of the ElementNumber (Flight references as well as traveler references are mandatory if used as an alternative to ElementNumber)</xsd:documentation>
						</xsd:annotation>
						<xsd:element name="FlightReferences">
							<xsd:annotation>
								<xsd:documentation>This data set can be used instead of the ElementNumber</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element ref="AirlineCode"/>
									<xsd:element ref="FlightNumber"/>
									<xsd:element ref="ClassOfService"/>
									<xsd:element ref="Date"/>
									<xsd:element ref="Time"/>
									<xsd:element ref="DepartureCode"/>
									<xsd:element ref="ArrivalCode"/>
								</xsd:sequence>
								<xsd:attribute name="BookingDate" use="required">
									<xsd:annotation>
										<xsd:documentation>ISO format: yyyy-mm-dd</xsd:documentation>
									</xsd:annotation>
								</xsd:attribute>
								<xsd:attribute name="BookingTime" use="required">
									<xsd:annotation>
										<xsd:documentation>ISO format: hh:mm</xsd:documentation>
									</xsd:annotation>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
						<xsd:element ref="TravelerReferences">
							<xsd:annotation>
								<xsd:documentation>This data set can be used instead of the ElementNumber </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:choice>
				<xsd:element name="ServiceReferences" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>This reference data must be provided when there is an associated ancillary service element (charge for premium seat) to be deleted </xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref="PriceRefKey" minOccurs="0"/>
						</xsd:sequence>
						<xsd:attribute name="ServiceType">
							<xsd:annotation>
								<xsd:documentation>The ATPCO defined code for the type of service (also referred to as 'Flight/Ticket/Merchandise Byte 21)':

F = Flight (TypeValue=2)
R = Rule Buster (Type Value = 5)
T = Ticket (TypeValue=3 if EMD-S is issued, 4 if other)
M = Merchandise (TypeValue=1 if EMD-S is issued, 4 if other)</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="ServiceCode">
							<xsd:annotation>
								<xsd:documentation>Additional unique ATPCO code.
Example: OC</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="SubCode">
							<xsd:annotation>
								<xsd:documentation>ATPCO RFISC (ReasonForIssuance  SubCode).
Example of RFISC: 0CC  </xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Time">
		<xsd:annotation>
			<xsd:documentation>Time in ISO 8601 format (hh:mm).  Example: 14:00</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:pattern value="([0-1][0-9]|2[0-4]):[0-5][0-9]">
					<xsd:annotation>
						<xsd:documentation>
</xsd:documentation>
					</xsd:annotation>
				</xsd:pattern>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DepartureCode" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Departure airport or city code.  Example: MIA</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ArrivalCode" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Arrival airport or city code.  Example: NYC</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DeleteStoredPrice" default="N">
		<xsd:annotation>
			<xsd:documentation>Delete stored price from PNR.  Values are: 
Y = Yes 
N = No
Example: Y</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="delPrice">
					<xsd:length value="1"/>
					<xsd:enumeration value="Y"/>
					<xsd:enumeration value="N"/>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="DeleteOtherElements">
		<xsd:annotation>
			<xsd:documentation>Delete other elements group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:choice>
				<xsd:element ref="ElementNumber" maxOccurs="unbounded"/>
				<xsd:element name="ServiceReferences" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>If @Type attribute is "SI" (service element) this data set can be used instead of the ElementNumber</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref="PriceRefKey" minOccurs="0"/>
						</xsd:sequence>
						<xsd:attribute name="ServiceType">
							<xsd:annotation>
								<xsd:documentation>The ATPCO defined code for the type of service (also referred to as 'Flight/Ticket/Merchandise Byte 21)':

F = Flight (TypeValue=2)
R = Rule Buster (Type Value = 5)
T = Ticket (TypeValue=3 if EMD-S is issued, 4 if other)
M = Merchandise (TypeValue=1 if EMD-S is issued, 4 if other)</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="ServiceCode">
							<xsd:annotation>
								<xsd:documentation>Additional unique ATPCO code.
Example: OC</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="SubCode">
							<xsd:annotation>
								<xsd:documentation>ATPCO RFISC (ReasonForIssuance  SubCode).
Example of RFISC: 0CC  </xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
			</xsd:choice>
			<xsd:attribute name="Type" use="required">
				<xsd:annotation>
					<xsd:documentation>Description of the type of element to delete.  Possible values are:
PH = Phone
AD = Address,
AC = AccountingLine (Sabre)
EM = Email address
FF = Frequent traveler 
FP = Form of payment
CI = Customer Identification field
DA = Delivery address
GR = General remark
OS = Other service information (OSI)
SR = Special service request (SSR)
AP = APIS SSR
TK = Ticketing arrangement field.
TR = Ticketing remark
AR = Air itinerary remark
CR = Car itinerary remark
HR = Hotel itinerary remark
NR = Non-itinerary remark
QM = Queue minder
DR = Doc invoice remark
DP = Due/paid/text
MC= MCO 
HI = Historical remark
QU = Qualifier element
SI = Service Item (Optional/Ancillary Services)
XX = no type specified, TattooNumber used instead
Example: AD </xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="QueueName" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Used to queue pnr.  Example: Schedule Changes</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Date" type="xsd:date">
		<xsd:annotation>
			<xsd:documentation>Date in ISO 8601 format (yyyy-mm-dd).  Example: 2005-12-25</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="delPrice">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="FareNumber" use="optional">
					<xsd:annotation>
						<xsd:documentation>FareNumber of FareGroup to be deleted from PNR. Absence of attribute will result in deletion of all FareGroups. Only if DeleteStoredPrice has a value of "Y" then the number entered here will be considered.   Example: 2</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:minLength value="1"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:element name="TravelerReferences">
		<xsd:annotation>
			<xsd:documentation>Name group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Surname"/>
				<xsd:element ref="GivenName"/>
				<xsd:element ref="Initial" minOccurs="0"/>
				<xsd:element ref="Title" minOccurs="0"/>
				<xsd:choice minOccurs="0">
					<xsd:element ref="Age" minOccurs="0"/>
					<xsd:element ref="DateOfBirth" minOccurs="0"/>
				</xsd:choice>
				<xsd:element name="Gender" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Traveler gender.  Values are: F = Female M = Male.  Example: M</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:enumeration value="F"/>
							<xsd:enumeration value="M"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element ref="InfantData" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="Type" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation>Passenger type. Values are: ADT = Adult, INS = Infant occupying seat, CHD = Child, YTH = Youth, MIL = Military, GOV = Government, SRC = Senior Citizen, STD = Student (Example: ADT)</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Gender">
		<xsd:annotation>
			<xsd:documentation>Traveler gender.  Values are: F = Female M = Male.  Example: M</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="2"/>
				<xsd:enumeration value="F"/>
				<xsd:enumeration value="M"/>
				<xsd:enumeration value="MI"/>
				<xsd:enumeration value="FI"/>
				<xsd:enumeration value="U"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="InfantData">
		<xsd:annotation>
			<xsd:documentation>Infant traveler group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Surname"/>
				<xsd:element name="GivenName" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>Infant Traveler given (first) name.  </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="DateOfBirth"/>
				<xsd:element ref="Gender" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="Type" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation>Infant PAX type. Although regular INF type will be automatically set, this optional attribute would show if present a different PTC for infants. Particularly useful for bulk contracts - JNF pax type. 
Example: JNF</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="FlightReferences">
		<xsd:annotation>
			<xsd:documentation>Flight/Segment element associated to this item</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="AirlineCode"/>
				<xsd:element ref="FlightNumber"/>
				<xsd:element ref="ClassOfService"/>
				<xsd:element ref="Date"/>
				<xsd:element ref="Time"/>
				<xsd:element ref="DepartureCode"/>
				<xsd:element ref="ArrivalCode"/>
			</xsd:sequence>
			<xsd:attribute name="BookingDate" use="required">
				<xsd:annotation>
					<xsd:documentation>ISO format: yyyy-mm-dd</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="BookingTime" use="required">
				<xsd:annotation>
					<xsd:documentation>ISO format: hh:mm</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
