ModelDrivenNode/schema/axis/PNRExternalUpdateRQ.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="PNRExternalUpdateRQ">
		<xsd:annotation>
			<xsd:documentation>Message to be used by vendors who are sending an individual reference segment/booking for an existing Super PNR.  Upon authentication this segment will be merged into an existing PNR.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="GUID">
					<xsd:annotation>
						<xsd:documentation>This GUID is used to authenticate the booking.  Content pattern must be agreed upon by Res System and vendor. 

Example: F22UJTZUMDIECK</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="ReferenceSegment" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Segment information for a sale made outside the Res System and included in Super System for display purposes only.  These segments cannot be serviced within the Res System Platform.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="NumberInParty" type="xsd:integer">
		<xsd:annotation>
			<xsd:documentation>Number of passengers.  Example: 1</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Text" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Information text.  Example: Free flow text</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CityCode">
		<xsd:annotation>
			<xsd:documentation>City code.  Example: MIA</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ActionCode" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Action code.  Example: HK</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CityName" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>City name.  Example: NY</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="VendorCode">
		<xsd:annotation>
			<xsd:documentation>Vendor code.  Example: AA</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ConfirmationNumber" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Confirmation number.  Example: 1234567890 </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SegmentNumber" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Segment number related to this vendor record locator.  Example: 3</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ElementNumber">
		<xsd:annotation>
			<xsd:documentation>PNR element number.  Example: 1</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string"/>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ReferenceSegment">
		<xsd:annotation>
			<xsd:documentation>Segment information for a sale made outside the Res System and included in Super System for display purposes only</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ElementNumber"/>
				<xsd:element name="TravelerName" maxOccurs="8">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref="Surname"/>
							<xsd:element ref="GivenName">
								<xsd:annotation>
									<xsd:documentation>Traveler given (first) name. Example: JANE</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="SegmentElementNumber" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Segment element number(s) if associated to this item.  Example: 1</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="ServiceType">
					<xsd:annotation>
						<xsd:documentation>Possible Values:

ADM - Admission
AIR - Air
BSD - Bus service on departure
BSD - Bus service on arrival
BUS - Bus
CAR - Car
CDD - Chauffeur drive on departure
CDA - Chauffeur drive on arrival
DIN - Dining
ENT - Entertainment
EVT - Event 
HTL - Hotel
INS - Insurance
LIM - Limousine
OTH - Other
SIG - Sightseeing
TOR - Tour
TRF - Transfer
TRN - Train/Rail</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:minLength value="3"/>
							<xsd:maxLength value="3"/>
							<xsd:enumeration value="ADM"/>
							<xsd:enumeration value="AIR"/>
							<xsd:enumeration value="BUS"/>
							<xsd:enumeration value="BSD"/>
							<xsd:enumeration value="BSA"/>
							<xsd:enumeration value="CAR"/>
							<xsd:enumeration value="CDD"/>
							<xsd:enumeration value="CDA"/>
							<xsd:enumeration value="DIN"/>
							<xsd:enumeration value="ENT"/>
							<xsd:enumeration value="EVT"/>
							<xsd:enumeration value="HTL"/>
							<xsd:enumeration value="INS"/>
							<xsd:enumeration value="LIM"/>
							<xsd:enumeration value="OTH"/>
							<xsd:enumeration value="SIG"/>
							<xsd:enumeration value="TOR"/>
							<xsd:enumeration value="TRF"/>
							<xsd:enumeration value="TRN"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element ref="ConfirmationNumber"/>
				<xsd:element name="NumberOfServices" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Number of purchased services, e.g. 4 tickets, 3 cabins, 3 berths, 2 transfers, 2 hotel rooms, 1 car</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="NumberInParty" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Number of guests
Example: 4</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="ProviderInformation">
					<xsd:annotation>
						<xsd:documentation>Service provider information group</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="VendorCode" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Vendor code.  Example: UR</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="VendorName" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Vendor name.  
Example: Unaira</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="ServiceDates">
					<xsd:annotation>
						<xsd:documentation>Starting and ending date/time for the service provided</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:sequence>
								<xsd:annotation>
									<xsd:documentation>Starting date/time of the service provided</xsd:documentation>
								</xsd:annotation>
								<xsd:element ref="StartDate"/>
								<xsd:element ref="StartTime" minOccurs="0"/>
							</xsd:sequence>
							<xsd:sequence minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Ending date/time of the service provided</xsd:documentation>
								</xsd:annotation>
								<xsd:element ref="EndDate" minOccurs="0"/>
								<xsd:element ref="EndTime" minOccurs="0"/>
							</xsd:sequence>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="ServiceLocations">
					<xsd:annotation>
						<xsd:documentation>Locations (start/departure and end/arrival) where the service is being provided.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:sequence>
								<xsd:annotation>
									<xsd:documentation>Departure/starting/pick-up/check-in location of service provided</xsd:documentation>
								</xsd:annotation>
								<xsd:element ref="DepartureCode" minOccurs="0"/>
								<xsd:element ref="DepartureCity" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Departure city name.  Example: YYZ</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element ref="DeparturePoint" minOccurs="0"/>
							</xsd:sequence>
							<xsd:sequence minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Arrival/ending/drop-off/check-out loaction of service provided</xsd:documentation>
								</xsd:annotation>
								<xsd:element ref="ArrivalCode" minOccurs="0"/>
								<xsd:element ref="ArrivalCity" minOccurs="0"/>
								<xsd:element ref="ArrivalPoint" minOccurs="0"/>
							</xsd:sequence>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Description">
					<xsd:annotation>
						<xsd:documentation>Title description (Commercial Name) of offered service.

Example: "StarLight City Tour"
</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="ProductCode">
									<xsd:annotation>
										<xsd:documentation>If provided, a product code</xsd:documentation>
									</xsd:annotation>
								</xsd:attribute>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="DescriptionDetails" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Detailed description of this service</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Text" maxOccurs="unbounded"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element ref="CurrencyCode"/>
				<xsd:element ref="ServicePrice">
					<xsd:annotation>
						<xsd:documentation>Price for this service</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="Status">
					<xsd:annotation>
						<xsd:documentation>Possible Values:

"Confirmed"
"Requested"
"Not Available"</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="ActionNotes" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Notes/comments for actions taken or to be taken</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Text" maxOccurs="unbounded">
								<xsd:annotation>
									<xsd:documentation>e.g. "Pick up at Will Call Box"; "Tickets mailed on 01Oct"; "Check with tour director upon arrival"</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element ref="ActionCode" minOccurs="0"/>
				<xsd:element ref="RoomCode" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Room type code for tour or hotel segment.  Possible values are: SGLB = Single accomodation, DBLB = Double accomodation, TRPB = Triple accomodation.  Example: SGLB</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="RoomDescription" minOccurs="0"/>
				<xsd:element ref="TourCode" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Tour code where applicable.  Example: T201132</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="CarType" minOccurs="0"/>
				<xsd:element ref="CarTypeDescription" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="Source">
				<xsd:annotation>
					<xsd:documentation>ex: MI</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="SourceRef"/>
			<xsd:attribute name="BookingType">
				<xsd:annotation>
					<xsd:documentation>A = Agency driven
T = Traveler (self-service) driven</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="StartDate" type="xsd:date">
		<xsd:annotation>
			<xsd:documentation>Start date in ISO 8601 format (yyyy-mm-dd).  Example: 2002-12-01</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EndDate" type="xsd:date">
		<xsd:annotation>
			<xsd:documentation>End date in ISO 8601 format (yyyy-mm-dd).  Example: 2002-12-01</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ServicePrice">
		<xsd:annotation>
			<xsd:documentation>Price for this service; not to be used for 'included' options (no charge options)

This node uses the Currency/Decimals of the FareGroup root level</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="BasePrice">
					<xsd:annotation>
						<xsd:documentation>Base (net) price of Service</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attribute name="Amount" use="required">
							<xsd:annotation>
								<xsd:documentation>Net price of service
Example: 6750</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Taxes" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Tax Group</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Tax" minOccurs="0" maxOccurs="unbounded">
								<xsd:annotation>
									<xsd:documentation>Tax break down information group </xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence minOccurs="0">
										<xsd:element name="Designator">
											<xsd:annotation>
												<xsd:documentation>Tax or surcharge designator.  Example: US</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="Description" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Tax or surcharge description.  Example: US national transportation</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
									<xsd:attribute name="Amount" use="required">
										<xsd:annotation>
											<xsd:documentation>Individual tax amount.  Example: 250</xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
						<xsd:attribute name="Amount" use="required">
							<xsd:annotation>
								<xsd:documentation>Total taxes amount.  Example: 750</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="Total" type="xsd:integer" use="required">
				<xsd:annotation>
					<xsd:documentation>Total amount for this service.

Total = base price +  total amount of taxes.

Example: 7500</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ServiceDate" type="xsd:date">
		<xsd:annotation>
			<xsd:documentation>Service date in ISO 8601 format.  Example: 2002-12-25</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ProviderInformation">
		<xsd:annotation>
			<xsd:documentation>Hotel information group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:sequence>
					<xsd:element name="ProviderID" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Unique Provider ID, e.g. property code of the hotel or car location code.</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:simpleContent>
								<xsd:extension base="xsd:string">
									<xsd:attribute name="Source">
										<xsd:annotation>
											<xsd:documentation>Identifies the ID for the specified database source

E.g. a property ID for a specific hotel in the ARN property DB is different from the property ID in a Pegasus DB.

Example: ARN</xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
								</xsd:extension>
							</xsd:simpleContent>
						</xsd:complexType>
					</xsd:element>
					<xsd:element ref="ProviderName" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Name of the vendor delivering the service.  

Example: Gray Line Tours</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
				<xsd:element name="ProviderVenue" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>If not covered by "ProviderName", this may accommodate a service venue and may be the name of
(a) a ship - "Sensation"
(b) a train - "Silver Star"
(c) a bus - "Greyhound"
(d) a Hotel Name
(e) a Performing Center</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="Address" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="City" minOccurs="0"/>
				<xsd:element ref="StateCode" minOccurs="0"/>
				<xsd:element ref="Country" minOccurs="0"/>
				<xsd:element ref="PostalCode" minOccurs="0"/>
				<xsd:element ref="TelephoneNumber" minOccurs="0"/>
				<xsd:element ref="FaxNumber" minOccurs="0"/>
				<xsd:element name="URL" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>The reference URL for this booking.  This is where the user can go for post booking activities.
Example: 
https://www.unaira.com</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="StartTime">
		<xsd:annotation>
			<xsd:documentation>Start time in ISO 8601 format (hh:mm).  Example: 12:45</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:pattern value="([0-1][0-9]|2[0-4]):[0-5][0-9]">
					<xsd:annotation>
						<xsd:documentation>
</xsd:documentation>
					</xsd:annotation>
				</xsd:pattern>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="EndTime">
		<xsd:annotation>
			<xsd:documentation>End time in ISO 8601 format (hh:mm).  Example: 12:45</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:pattern value="([0-1][0-9]|2[0-4]):[0-5][0-9]">
					<xsd:annotation>
						<xsd:documentation>
</xsd:documentation>
					</xsd:annotation>
				</xsd:pattern>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DepartureDate" type="xsd:date">
		<xsd:annotation>
			<xsd:documentation>Segment departure date in ISO 8601 format (yyyy-mm-dd).  Example: 2002-12-25</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DepartureCode" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Departure airport or city code.  Example: MIA</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ArrivalCode" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Arrival airport or city code.  Example: NYC</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ProviderName" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Name of the vendor delivering the service.  

Example: Gary Line Tours</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Address" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Street or PO Box address.  Example: 1234 Main Street</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="City" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>City.  Example: NY</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Country" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Country.  Example: USA</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PostalCode" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Postal code or zip code.  Example: 12345</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CountryCode" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Country code.  Example: US</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TelephoneNumber" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Telephone number.  Example: 305-269-6975</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FaxNumber" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Fax telephone number.  Example: 305-264-6575</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DeparturePoint" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Departure point.  Example: Terminal 1</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ArrivalPoint" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Arrival point.  Example: Terminal 3</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DepartureCity">
		<xsd:annotation>
			<xsd:documentation>Departure city code or city name.  If Type is R (refund) or C (change) the departure city can be empty.   Example: YYZ</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ArrivalCity">
		<xsd:annotation>
			<xsd:documentation>Departure city code or city name.  If Type is R (refund) or C (change) the departure city can be empty.   Example: YYZ</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Source" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Source code.  Example: Super PNR</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SourceRef" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Conf number or reservation system rec loc  Example: ABCDEF</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="StateCode" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>State code.  Example: NY</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="VendorName" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Vendor name.  Example: Air Miles</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="RoomCode" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Room type code for tour segment.  Possible values are: SGLB = Single accomodation, DBLB = Double accomodation, TRPB = Triple accomodation.  Example: SGLB</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="RoomDescription" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Room description.  Example: Double Bed</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TourCode" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Tour code.  Example: T201132</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CarType" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Car type.  Example: ECAR</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CarTypeDescription" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Car type description.  Example: Economy</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Surname" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Traveler family name.  Example: SMITH</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GivenName" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Traveler given (first) name. This field is populated by parsing the given name data returned by the GDS. Because the GDSs accept free form text for the given name (although there is a convention) this field may also contain second name, initials and/or title. NOTE: see also NativeGivenName field. Example: JANE</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CurrencyCode">
		<xsd:annotation>
			<xsd:documentation>Currency code.  Example: USD</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="CurrencyCodeType">
					<xsd:pattern value="[A-Z0-9]{3}"/>
					<xsd:attribute name="NumberOfDecimals" type="xsd:integer" use="required">
						<xsd:annotation>
							<xsd:documentation>Decimal position in fare amount.  Example: 2</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="CurrencyCodeType">
		<xsd:annotation>
			<xsd:documentation>Defines currency code (ISO 3-letter code) and optional number of decimals. Not that for request messages the NumberOfDecimals has no effect and is not needed.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="NumberOfDecimals" type="xsd:integer" use="optional">
					<xsd:annotation>
						<xsd:documentation>Decimal position in fare amount.  Example: 2</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
</xsd:schema>
