ModelDrivenNode/schema/axis/PNRRetrieveRQ.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:include schemaLocation="CommonTypes.xsd"/>
	<xsd:element name="PNRRetrieveRQ">
		<xsd:annotation>
			<xsd:documentation>PNR retrieve request root element</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:choice minOccurs="0">
					<xsd:sequence>
						<xsd:element ref="RecordLocator"/>
						<xsd:element ref="Surname" minOccurs="0"/>
						<xsd:element ref="GivenName" minOccurs="0"/>
						<xsd:element ref="AirportCode" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Airport code of the departure city.  Example: MIA</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
					<xsd:element ref="NameListReference">
						<xsd:annotation>
							<xsd:documentation>Reference information to an item in a NameList response (only relevant for Sabre as in other GDS a RecordLocator will be returned).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:choice>
				<xsd:element ref="PseudoCityCode" minOccurs="0"/>
				<xsd:element ref="Display" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="version" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation>Version number.  Example: 1.0</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="PNR" use="optional" default="Y">
				<xsd:annotation>
					<xsd:documentation>Retreive whole PNR.  Values are: Y = Yes, N = No  Example: Y</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="1"/>
						<xsd:enumeration value="Y"/>
						<xsd:enumeration value="N"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="Itinerary" use="optional" default="N">
				<xsd:annotation>
					<xsd:documentation>Retrieve itinerary only.  Values are: Y = Yes, N = No  Example: Y</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="1"/>
						<xsd:enumeration value="Y"/>
						<xsd:enumeration value="N"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="AirSegments" use="optional" default="N">
				<xsd:annotation>
					<xsd:documentation>Retrieve air segments only.  Values are: Y = Yes, N = No  Example: Y</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="1"/>
						<xsd:enumeration value="Y"/>
						<xsd:enumeration value="N"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="CarSegments" use="optional" default="N">
				<xsd:annotation>
					<xsd:documentation>Retrieve car segments only.  Values are: Y = Yes, N = No  Example: Y</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="1"/>
						<xsd:enumeration value="Y"/>
						<xsd:enumeration value="N"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="HotelSegments" use="optional" default="N">
				<xsd:annotation>
					<xsd:documentation>Retrieve hotel segments only.  Values are: Y = Yes, N = No  Example: Y</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="1"/>
						<xsd:enumeration value="Y"/>
						<xsd:enumeration value="N"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="FormOfPayment" use="optional" default="N">
				<xsd:annotation>
					<xsd:documentation>Retrieve form of payment only.  Values are: Y = Yes, N = No  Example: Y</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="1"/>
						<xsd:enumeration value="Y"/>
						<xsd:enumeration value="N"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="Ticket" use="optional" default="N">
				<xsd:annotation>
					<xsd:documentation>Retrieve ticketing only.  Values are: Y = Yes, N = No  Example: Y</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="1"/>
						<xsd:enumeration value="Y"/>
						<xsd:enumeration value="N"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="Names" use="optional" default="N">
				<xsd:annotation>
					<xsd:documentation>Retrieve names only.  Values are: Y = Yes, N = No  Example: Y</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="1"/>
						<xsd:enumeration value="Y"/>
						<xsd:enumeration value="N"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="GeneralInformation" use="optional" default="N">
				<xsd:annotation>
					<xsd:documentation>Retrieve general information only.  Values are: Y = Yes, N = No  Example: Y</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="1"/>
						<xsd:enumeration value="Y"/>
						<xsd:enumeration value="N"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="GeneralRemarks" use="optional" default="N">
				<xsd:annotation>
					<xsd:documentation>Retrieve general remarks only.  Values are: Y = Yes, N = No  Example: Y</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="1"/>
						<xsd:enumeration value="Y"/>
						<xsd:enumeration value="N"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="VendorRecordLocators" use="optional" default="N">
				<xsd:annotation>
					<xsd:documentation>Retrieve vendor record locators only.  Values are: Y = Yes, N = No  Example: Y</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="1"/>
						<xsd:enumeration value="Y"/>
						<xsd:enumeration value="N"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RecordLocator">
		<xsd:annotation>
			<xsd:documentation>Record locator reference of the PNR to retrieve.  Example: XDFWSE</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute ref="Source"/>
					<xsd:attribute name="RetrieveOnly">
						<xsd:annotation>
							<xsd:documentation>Determines if an airline record is retrieved for display purposes only or if retrieval is also for synchronization/claim purposes (default).

Allowed Values: Y/N
Default is "N" </xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PseudoCityCode">
		<xsd:annotation>
			<xsd:documentation>Pseudo city code for branch agreement retrieval.  Example: 1C1K</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="Provider" use="required">
						<xsd:annotation>
							<xsd:documentation>Code of the provider system that owns the PNR. Possibles values are:
1A = Amadeus
1B = Abacus
1V = Apollo
1G = Galileo
1S = Sabre (also 1W)
1P = Worldspan
Example: 1V</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:length value="2"/>
								<xsd:enumeration value="1A"/>
								<xsd:enumeration value="1P"/>
								<xsd:enumeration value="1S"/>
								<xsd:enumeration value="1V"/>
								<xsd:enumeration value="1G"/>
								<xsd:enumeration value="1B"/>
								<xsd:enumeration value="1W"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Display">
		<xsd:annotation>
			<xsd:documentation>Display group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="History" minOccurs="0"/>
				<xsd:element ref="HistoricalFares" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="History" default="N">
		<xsd:annotation>
			<xsd:documentation>Display PNR history.  Values are: Y = Yes, N = No.  Example: Y</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="hist">
					<xsd:length value="1"/>
					<xsd:enumeration value="Y"/>
					<xsd:enumeration value="N"/>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="hist">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="Category" use="optional">
					<xsd:annotation>
						<xsd:documentation>Category of PNR history to be displayed.  Values are: 
ADR - address changes
AIR - air segment changes
PRI - stored fare changes
CAR - car segment changes
REM - general remarks history
HTL - hotel segments history
ITN - itinerary changes (includes car, hotel, air)
OSI - other service information history
TVL - passenger data changes/history
SSR - special service request history
Example: SSR</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:length value="3"/>
							<xsd:enumeration value="ADR"/>
							<xsd:enumeration value="AIR"/>
							<xsd:enumeration value="PRI"/>
							<xsd:enumeration value="CAR"/>
							<xsd:enumeration value="REM"/>
							<xsd:enumeration value="HTL"/>
							<xsd:enumeration value="ITN"/>
							<xsd:enumeration value="OSI"/>
							<xsd:enumeration value="TVL"/>
							<xsd:enumeration value="SSR"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:element name="HistoricalFares" default="N">
		<xsd:annotation>
			<xsd:documentation>Display history of fares.  Values are: Y = Yes, N = No.  Example: Y</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:length value="1"/>
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Surname" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Traveler family (last) name.  Example: SMITH</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GivenName" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Traveler given (first) name.  Example: JANE</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AirportCode">
		<xsd:annotation>
			<xsd:documentation>Airport code of the daparture city.  Example: MIA</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Date">
		<xsd:annotation>
			<xsd:documentation>Date in ISO 8601format (yyyy-mm-dd).  Example: 2001-12-15</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Day" minOccurs="0"/>
				<xsd:element ref="Month"/>
				<xsd:element ref="Year"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Day" type="xsd:string"/>
	<xsd:element name="Month" type="xsd:string"/>
	<xsd:element name="Year" type="xsd:string"/>
	<xsd:element name="CRS" type="xsd:string"/>
	<xsd:element name="OfficeCode" type="xsd:string"/>
	<xsd:element name="ListHeader">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Surname"/>
				<xsd:element ref="GivenName" minOccurs="0"/>
				<xsd:element ref="Date" minOccurs="0"/>
				<xsd:element ref="CRS" minOccurs="0"/>
				<xsd:element ref="OfficeCode" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="ActiveOnly" use="optional">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="1"/>
						<xsd:enumeration value="Y"/>
						<xsd:enumeration value="N"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ItemIDRef" type="xsd:integer"/>
	<xsd:element name="NameListReference">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ItemIDRef">
					<xsd:annotation>
						<xsd:documentation>Reference number for item in  a NameListRS (will be filled with the content of a single NameListRS/ListRS/Index/Item/Number element).</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="ListHeader">
					<xsd:annotation>
						<xsd:documentation>Request data of corresponding NameListRQ (required only for Sabre).</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
