ModelDrivenNode/schema/axis/ProcessPaymentRQ.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="CommonTypes.xsd"/>
	<xsd:element name="ProcessPaymentRQ">
		<xsd:annotation>
			<xsd:documentation>Root element to issue a request to either charge or refund any item(s) listed in this request.

Such items may be services and/or flights for a single or multiple traveler PNR.

This request supports multiple FOPs to be provided.

This request can be sent to charge towards a provided FOP(s) or to request a refund to the provided FOP(s).  The attribute @ProcessType identifies if it is used as a CHARGE or REFUND request. </xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="SaleInfo" minOccurs="0"/>
				<xsd:element ref="RecordLocator">
					<xsd:annotation>
						<xsd:documentation>PNR record locator from where this EMD is issued from.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="Traveler" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Items per traveler (services, air segments) for which charge or refund applies

MANDATORY for charges, optional for refunds</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:choice>
								<xsd:element ref="TravelerElementNumber">
									<xsd:annotation>
										<xsd:documentation>Reference to a Traveler element number.

Example: 1</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element ref="TravelerReferences"/>
							</xsd:choice>
							<xsd:sequence>
								<xsd:choice minOccurs="0">
									<xsd:element ref="ServiceElementNumber" maxOccurs="unbounded">
										<xsd:annotation>
											<xsd:documentation>Element number of the service from the referenced PNR.  Example: 1</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element ref="ServiceReferences" maxOccurs="unbounded">
										<xsd:annotation>
											<xsd:documentation>This set of data values to be used instead of element number references.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:choice>
								<xsd:choice minOccurs="0">
									<xsd:element ref="SegmentElementNumber" maxOccurs="unbounded"/>
									<xsd:element ref="FlightReferences" maxOccurs="unbounded"/>
								</xsd:choice>
							</xsd:sequence>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="CurrencyCode">
					<xsd:annotation>
						<xsd:documentation>Currency code of Point of Sale (POS)  

Example: USD</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:restriction base="CurrencyCodeType">
								<xsd:pattern value="[A-Z0-9]{3}"/>
								<xsd:attribute name="NumberOfDecimals" type="xsd:integer" use="required">
									<xsd:annotation>
										<xsd:documentation>Decimal position in fare amount.  Example: 2</xsd:documentation>
									</xsd:annotation>
								</xsd:attribute>
							</xsd:restriction>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="FormOfPayment" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>The form of payment(s) to be used for this payment ot refund request</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:annotation>
								<xsd:documentation>Not supported functionality:

Split FOP 
Extended CC payment</xsd:documentation>
							</xsd:annotation>
							<xsd:element name="FOPTotal">
								<xsd:annotation>
									<xsd:documentation>Total amount to be charged or refunded (negative amount) with this request against this FOP</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:attribute name="Total" type="xsd:integer" use="required">
										<xsd:annotation>
											<xsd:documentation>Total amount to be debited or credited (negative amount) with this request against this FOP.

Example: 10675</xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="PaymentReference" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>ONLY used if this request is a REFUND request.

This is a reference back to the original payment made (and required by some airlines)</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:minLength value="1"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:choice minOccurs="0">
								<xsd:element ref="ServiceElementNumber" maxOccurs="unbounded">
									<xsd:annotation>
										<xsd:documentation>Element number of the service from the referenced PNR may be referenced directly to this FOP as well.  Note that any items mapped here must also be mapped under Traveler/ServiceElementNumber.

Example: 1</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element ref="ServiceReferences" maxOccurs="unbounded">
									<xsd:annotation>
										<xsd:documentation>This set of data values to be used instead of element number references.</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
							</xsd:choice>
							<xsd:choice minOccurs="0">
								<xsd:element ref="SegmentElementNumber" maxOccurs="unbounded"/>
								<xsd:element ref="FlightReferences" maxOccurs="unbounded"/>
							</xsd:choice>
							<xsd:element name="PreviousCredits" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Reference to any credit available and to be applied to the payment requested with this transaction.

Any credit identified here is applied first, any remaining balance is then charged to credit card provided</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="CreditReference" maxOccurs="unbounded">
											<xsd:annotation>
												<xsd:documentation>This can be a voucher, payment ID, credit reference or confirmation number associated to the amount listed under FOPTotal

Example: 
3665341</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string">
														<xsd:attribute name="CreditAmount">
															<xsd:annotation>
																<xsd:documentation>The amount of credit available.  If entered, the amount is passed to vendor.  An error response is possible if amount does not match amount of record</xsd:documentation>
															</xsd:annotation>
														</xsd:attribute>
														<xsd:attribute name="BookingReference">
															<xsd:annotation>
																<xsd:documentation>This could be an additional reference, e.g. RecLoc or confirmation number associated to this credit</xsd:documentation>
															</xsd:annotation>
														</xsd:attribute>
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:choice minOccurs="0">
								<xsd:element name="CreditCard">
									<xsd:annotation>
										<xsd:documentation>Credit card group</xsd:documentation>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element name="CCCode">
												<xsd:annotation>
													<xsd:documentation>Credit card code.  Example: VI</xsd:documentation>
												</xsd:annotation>
												<xsd:simpleType>
													<xsd:restriction base="xsd:string">
														<xsd:length value="2"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element name="CCNumber" type="xsd:string">
												<xsd:annotation>
													<xsd:documentation>Credit card number.  Example: 4011236654652341</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="CCExpiration">
												<xsd:annotation>
													<xsd:documentation>Credit card expiration group</xsd:documentation>
												</xsd:annotation>
												<xsd:complexType>
													<xsd:sequence>
														<xsd:element name="Month">
															<xsd:annotation>
																<xsd:documentation>Credit card expiration month.  Example: 02</xsd:documentation>
															</xsd:annotation>
															<xsd:simpleType>
																<xsd:restriction base="xsd:string">
																	<xsd:length value="2"/>
																</xsd:restriction>
															</xsd:simpleType>
														</xsd:element>
														<xsd:element name="Year">
															<xsd:annotation>
																<xsd:documentation>Last two digits of the credit card expiration year.  Example: 06</xsd:documentation>
															</xsd:annotation>
															<xsd:simpleType>
																<xsd:restriction base="xsd:string">
																	<xsd:length value="2"/>
																	<xsd:pattern value="[0-9][0-9]"/>
																</xsd:restriction>
															</xsd:simpleType>
														</xsd:element>
													</xsd:sequence>
												</xsd:complexType>
											</xsd:element>
											<xsd:element name="SecurityID" type="xsd:string" minOccurs="0">
												<xsd:annotation>
													<xsd:documentation>Credit card security number for online transactions (referred to also as CVV2, CVC2, CSC or CID). This is a 3-digit (Visa, Master, Discover) or 4-digit (Amex) number.</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element ref="Authorization" minOccurs="0"/>
											<xsd:element name="ApprovalCode" type="xsd:string" minOccurs="0">
												<xsd:annotation>
													<xsd:documentation>MANUAL credit card approval code.  

If a code exists here no authorization request will be performed.

Example: 996456</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:choice minOccurs="0">
												<xsd:sequence>
													<xsd:element ref="CardholderFirstName" minOccurs="0"/>
													<xsd:element ref="CardholderLastName"/>
												</xsd:sequence>
												<xsd:element name="CardholderFullName">
													<xsd:annotation>
														<xsd:documentation>Credit cardholder full name as it appears on the card</xsd:documentation>
													</xsd:annotation>
													<xsd:simpleType>
														<xsd:restriction base="xsd:string">
															<xsd:minLength value="1"/>
														</xsd:restriction>
													</xsd:simpleType>
												</xsd:element>
											</xsd:choice>
											<xsd:element name="CCAddressGroup" minOccurs="0">
												<xsd:annotation>
													<xsd:documentation>Card holders address</xsd:documentation>
												</xsd:annotation>
												<xsd:complexType>
													<xsd:sequence>
														<xsd:element ref="Address" maxOccurs="2"/>
														<xsd:element ref="City"/>
														<xsd:element ref="PostalCode"/>
														<xsd:element ref="StateCode" minOccurs="0"/>
														<xsd:element ref="CountryCode">
															<xsd:annotation>
																<xsd:documentation>ISO Country code. This element is introduced as mandatory although GDS implementation will not require its presence until 30MAR2008.

Example: US</xsd:documentation>
															</xsd:annotation>
														</xsd:element>
													</xsd:sequence>
												</xsd:complexType>
											</xsd:element>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
								<xsd:element name="Other">
									<xsd:annotation>
										<xsd:documentation>Other payment type. Possible values: CASH, CHECK.</xsd:documentation>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:enumeration value="CASH"/>
											<xsd:enumeration value="CHECK"/>
											<xsd:enumeration value=""/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
							</xsd:choice>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="PymtTotal" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Total amount to be charged or refunded with this request (sum of all FOPs)</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attribute name="Total" type="xsd:integer">
							<xsd:annotation>
								<xsd:documentation>Total amount to be debited or credited with this request.

Example: 10675</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="Version" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Version of the message to be used.
Example: 2.2</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SaleInfo">
		<xsd:annotation>
			<xsd:documentation>Point of Sale information</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="CityCode" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Point of Sale City Code 
Example: BOS</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="CountryCode" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Point of Sale Country Code 
Example: US</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="CurrencyCode" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Point of Sale Currency Code
Example: USD</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="Identification" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CityCode">
		<xsd:annotation>
			<xsd:documentation>City code.  Example: MIA</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="TravelerElementNumber">
		<xsd:annotation>
			<xsd:documentation>Reference to a Traveler element number.

Example: T1</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string"/>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SegmentElementNumber">
		<xsd:annotation>
			<xsd:documentation>Element number of the flight associated to this item.  Example: 1</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string"/>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Amount" type="xsd:integer">
		<xsd:annotation>
			<xsd:documentation>Monetary amount.  This is the real amount without the decimal point.  An amount of 7500 means 75.00 if Currency Code has 2 decimals. 

Example:  100</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Authorization">
		<xsd:annotation>
			<xsd:documentation>Credit card authorization</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="MerchantCode">
					<xsd:annotation>
						<xsd:documentation>Merchant ID.  This is the merchant ID needed when authorization/card verification is incolved.

This can be an airline, agency or 3rd party merchant ID/number

Note: not needed if the merchant processes authprization.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="Type" use="required">
				<xsd:annotation>
					<xsd:documentation>Credit card authorization type. Values are: 
A = request authorization only
S = request authorization and store returned approval code in the PNR 
D = request authorization and verify the address associated with this credit card; store the verification status and approval code in PNR. If no address associated - error message will be returned. 

Example: A</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="1"/>
						<xsd:enumeration value="A"/>
						<xsd:enumeration value="S"/>
						<xsd:enumeration value="D"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Address">
		<xsd:annotation>
			<xsd:documentation>Street or PO Box address.  Example: 1234 Main Street</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="City">
		<xsd:annotation>
			<xsd:documentation>City name.  Example: NY</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="PostalCode">
		<xsd:annotation>
			<xsd:documentation>Postal code or zip code.  Example: 12345</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="StateCode">
		<xsd:annotation>
			<xsd:documentation>State code.  Example: NY</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CountryCode">
		<xsd:annotation>
			<xsd:documentation>Country code.  Example: US</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="2"/>
				<xsd:minLength value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="RecordLocator" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>PNR record locator.  Example: R1A3SK</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CardholderLastName">
		<xsd:annotation>
			<xsd:documentation>Credit card holder's last name.  This is only required for Sabre.  Example: SMITH</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CardholderFirstName">
		<xsd:annotation>
			<xsd:documentation>Credit card holder's first name.  Example: JOHN</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ServiceElementNumber">
		<xsd:annotation>
			<xsd:documentation>Element number of the service from the referenced PNR.  Example: 1</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ServiceReferences">
		<xsd:annotation>
			<xsd:documentation>This set of data values to be used instead of element number references.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="PriceRefKey" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="ServiceType">
				<xsd:annotation>
					<xsd:documentation>The ATPCO defined code for the type of service (also referred to as 'Flight/Ticket/Merchandise Byte 21)':

F = Flight (TypeValue=2)
R = Rule Buster (Type Value = 5)
T = Ticket (TypeValue=3 if EMD-S is issued, 4 if other)
M = Merchandise (TypeValue=1 if EMD-S is issued, 4 if other)</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="ServiceCode">
				<xsd:annotation>
					<xsd:documentation>Additional unique ATPCO code.
Example: OC</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="SubCode">
				<xsd:annotation>
					<xsd:documentation>ATPCO RFISC (ReasonForIssuance  SubCode).
Example of RFISC: 0CC  </xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="FlightReferences">
		<xsd:annotation>
			<xsd:documentation>Flight/Segment element associated to this item</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="AirlineCode"/>
				<xsd:element ref="FlightNumber"/>
				<xsd:element ref="ClassOfService"/>
				<xsd:element ref="Date"/>
				<xsd:element ref="Time"/>
				<xsd:element ref="DepartureCode"/>
				<xsd:element ref="ArrivalCode"/>
			</xsd:sequence>
			<xsd:attribute name="BookingDate" use="required">
				<xsd:annotation>
					<xsd:documentation>ISO format: yyyy-mm-dd</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="BookingTime" use="required">
				<xsd:annotation>
					<xsd:documentation>ISO format: hh:mm</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="DepartureCode" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Departure airport or city code.  Example: MIA</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ArrivalCode" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Arrival airport or city code.  Example: NYC</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AirlineCode">
		<xsd:annotation>
			<xsd:documentation>Airline code.  Example: AA</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Date" type="xsd:date">
		<xsd:annotation>
			<xsd:documentation>Date in ISO 8601 format (yyyy-mm-dd).  Example: 2001-12-25</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Time">
		<xsd:annotation>
			<xsd:documentation>Time in ISO 8601 format (hh:mm).  Example: 14:30</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:pattern value="([0-1][0-9]|2[0-4]):[0-5][0-9]">
					<xsd:annotation>
						<xsd:documentation>
</xsd:documentation>
					</xsd:annotation>
				</xsd:pattern>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="TravelerReferences">
		<xsd:annotation>
			<xsd:documentation>Name group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Surname"/>
				<xsd:element ref="GivenName"/>
				<xsd:element ref="Initial" minOccurs="0"/>
				<xsd:element ref="Title" minOccurs="0"/>
				<xsd:choice minOccurs="0">
					<xsd:element ref="Age" minOccurs="0"/>
					<xsd:element ref="DateOfBirth" minOccurs="0"/>
				</xsd:choice>
				<xsd:element name="Gender" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Traveler gender.  Values are: F = Female M = Male.  Example: M</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:enumeration value="F"/>
							<xsd:enumeration value="M"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element ref="InfantData" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="Type" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation>Passenger type. Values are: ADT = Adult, INS = Infant occupying seat, CHD = Child, YTH = Youth, MIL = Military, GOV = Government, SRC = Senior Citizen, STD = Student (Example: ADT)</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Surname" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Traveler family (last) name.  Example: SMITH</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GivenName" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Traveler given (first) name.  Example: JANE</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Initial" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Traveler middle initial.  Example: G</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Title" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Traveler title.  Example: MISS</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Age" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Traveler age.  Age is not supported in Galileo.  Example: 01</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DateOfBirth" type="xsd:date">
		<xsd:annotation>
			<xsd:documentation>Traveler birth date in ISO 8601 format (yyyy-mm-dd).  Date of birth is not supported in Galileo.  Example: 2001-12-25</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Gender">
		<xsd:annotation>
			<xsd:documentation>Traveler gender.  Values are: F = Female M = Male.  Example: M</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="2"/>
				<xsd:enumeration value="F"/>
				<xsd:enumeration value="M"/>
				<xsd:enumeration value="MI"/>
				<xsd:enumeration value="FI"/>
				<xsd:enumeration value="U"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="InfantData">
		<xsd:annotation>
			<xsd:documentation>Infant traveler group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Surname"/>
				<xsd:element name="GivenName" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>Infant Traveler given (first) name.  </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="DateOfBirth"/>
				<xsd:element ref="Gender" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="Type" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation>Infant PAX type. Although regular INF type will be automatically set, this optional attribute would show if present a different PTC for infants. Particularly useful for bulk contracts - JNF pax type. 
Example: JNF</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
