ModelDrivenNode/schema/axis/SeatAvailabilityRS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:include schemaLocation="CommonTypes.xsd"/>
	<xsd:element name="SeatAvailabilityRS">
		<xsd:annotation>
			<xsd:documentation>Seat availability response root element</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="FlightPassGroup" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>FlightPass info group</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="FlightPass" maxOccurs="unbounded">
								<xsd:annotation>
									<xsd:documentation>FlightPass info</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="SessionID"/>
										<xsd:element name="FlightPassID">
											<xsd:annotation>
												<xsd:documentation>FlightPassID element</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:attribute name="Owner">
													<xsd:annotation>
														<xsd:documentation>FlightPass Owner ID. For AC FlightPass, Aeroplan number</xsd:documentation>
													</xsd:annotation>
												</xsd:attribute>
											</xsd:complexType>
										</xsd:element>
										<xsd:element ref="AirlineCode">
											<xsd:annotation>
												<xsd:documentation>Airline code.  Example: AC</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
						<xsd:attribute ref="Source"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element ref="InfoGroup" minOccurs="0"/>
				<xsd:element ref="Screen" minOccurs="0"/>
				<xsd:element ref="FlightGroup" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="SeatDetails" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="SeatDisplay" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element name="OptionalServices" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Seat Merchandising Options</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref="CurrencyCode"/>
							<xsd:element ref="Service" maxOccurs="unbounded"/>
						</xsd:sequence>
						<xsd:attribute name="SegmentIDRef">
							<xsd:annotation>
								<xsd:documentation>Segment number if more than 1 flight returned</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute ref="Source"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Images" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>contains any images or URL video links used for the services offered</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:choice>
								<xsd:element name="Image" maxOccurs="unbounded">
									<xsd:annotation>
										<xsd:documentation>Image in base64 code</xsd:documentation>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:simpleContent>
											<xsd:extension base="xsd:string">
												<xsd:attribute name="ServiceType">
													<xsd:annotation>
														<xsd:documentation>The ATPCO defined code for the type of service (also referred to as 'Flight/Ticket/Merchandise Byte 21)':

F = Flight (TypeValue=2)
R = Rule Buster (Type Value = 5)
T = Ticket (TypeValue=3 if EMD-S is issued, 4 if other)
M = Merchandise (TypeValue=1 if EMD-S is issued, 4 if other)</xsd:documentation>
													</xsd:annotation>
												</xsd:attribute>
												<xsd:attribute name="ServiceCode" use="required">
													<xsd:annotation>
														<xsd:documentation>Additional unique ATPCO code.
Example: OC</xsd:documentation>
													</xsd:annotation>
												</xsd:attribute>
												<xsd:attribute name="SubCode" use="required">
													<xsd:annotation>
														<xsd:documentation>ATPCO RFISC (ReasonForIssuance  SubCode).
Example of RFISC: 0CC  </xsd:documentation>
													</xsd:annotation>
												</xsd:attribute>
												<xsd:attribute name="Caption">
													<xsd:annotation>
														<xsd:documentation>The caption used for this image</xsd:documentation>
													</xsd:annotation>
												</xsd:attribute>
											</xsd:extension>
										</xsd:simpleContent>
									</xsd:complexType>
								</xsd:element>
								<xsd:element name="ImageID" minOccurs="0" maxOccurs="unbounded">
									<xsd:annotation>
										<xsd:documentation>ImageID provides an unique ID for any available image related to the services included in this response.
(ImageRQ/RS will utilize these IDs to retrieve the full image as needed)</xsd:documentation>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:simpleContent>
											<xsd:extension base="xsd:string">
												<xsd:attribute name="ServiceType">
													<xsd:annotation>
														<xsd:documentation>The ATPCO defined code for the type of service (also referred to as 'Flight/Ticket/Merchandise Byte 21)':

F = Flight (TypeValue=2)
R = Rule Buster (Type Value = 5)
T = Ticket (TypeValue=3 if EMD-S is issued, 4 if other)
M = Merchandise (TypeValue=1 if EMD-S is issued, 4 if other)</xsd:documentation>
													</xsd:annotation>
												</xsd:attribute>
												<xsd:attribute name="ServiceCode" use="required">
													<xsd:annotation>
														<xsd:documentation>Additional unique ATPCO code.
Example: OC</xsd:documentation>
													</xsd:annotation>
												</xsd:attribute>
												<xsd:attribute name="SubCode" use="required">
													<xsd:annotation>
														<xsd:documentation>ATPCO RFISC (ReasonForIssuance  SubCode).
Example of RFISC: 0CC  </xsd:documentation>
													</xsd:annotation>
												</xsd:attribute>
												<xsd:attribute name="Caption">
													<xsd:annotation>
														<xsd:documentation>The caption used for this image (and can be displayed if retrieval of an image fails)</xsd:documentation>
													</xsd:annotation>
												</xsd:attribute>
											</xsd:extension>
										</xsd:simpleContent>
									</xsd:complexType>
								</xsd:element>
							</xsd:choice>
							<xsd:element name="Video" minOccurs="0" maxOccurs="unbounded">
								<xsd:annotation>
									<xsd:documentation>Add link or object to access a video</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:simpleContent>
										<xsd:extension base="xsd:string">
											<xsd:attribute name="ServiceType">
												<xsd:annotation>
													<xsd:documentation>The ATPCO defined code for the type of service (also referred to as 'Flight/Ticket/Merchandise Byte 21)':

F = Flight (TypeValue=2)
R = Rule Buster (Type Value = 5)
T = Ticket (TypeValue=3 if EMD-S is issued, 4 if other)
M = Merchandise (TypeValue=1 if EMD-S is issued, 4 if other)</xsd:documentation>
												</xsd:annotation>
											</xsd:attribute>
											<xsd:attribute name="ServiceCode" use="required">
												<xsd:annotation>
													<xsd:documentation>Additional unique ATPCO code.
Example: OC</xsd:documentation>
												</xsd:annotation>
											</xsd:attribute>
											<xsd:attribute name="SubCode" use="required">
												<xsd:annotation>
													<xsd:documentation>ATPCO RFISC (ReasonForIssuance  SubCode).
Example of RFISC: 0CC  </xsd:documentation>
												</xsd:annotation>
											</xsd:attribute>
											<xsd:attribute name="Caption">
												<xsd:annotation>
													<xsd:documentation>The caption used for this image (and can be displayed if retrieval of an image fails)</xsd:documentation>
												</xsd:annotation>
											</xsd:attribute>
										</xsd:extension>
									</xsd:simpleContent>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="FlightGroup">
		<xsd:annotation>
			<xsd:documentation>Flight group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Carrier" minOccurs="0"/>
				<xsd:element ref="Departure" minOccurs="0"/>
				<xsd:element ref="Arrival" minOccurs="0"/>
				<xsd:element ref="Equipment" minOccurs="0"/>
				<xsd:element ref="Text" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="SegmentIDRef" type="xsd:integer">
				<xsd:annotation>
					<xsd:documentation>Segment number if more than 1 flight returned</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute ref="Source"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SeatDisplay">
		<xsd:annotation>
			<xsd:documentation>Seat display.  Example: Unknown</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Columns" maxOccurs="unbounded"/>
				<xsd:element ref="Rows"/>
			</xsd:sequence>
			<xsd:attribute name="CabinClass" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Cabin class of service, Example: Y</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="SegmentIDRef" type="xsd:integer">
				<xsd:annotation>
					<xsd:documentation>Segement number if more than 1 flight returned</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute ref="Source"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SeatDetails">
		<xsd:annotation>
			<xsd:documentation>Seat details group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Column" minOccurs="0"/>
				<xsd:element ref="Row" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="SegmentIDRef" type="xsd:integer">
				<xsd:annotation>
					<xsd:documentation>Segment number if more than 1 flight returned</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute ref="Source"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="AirlineCode">
		<xsd:annotation>
			<xsd:documentation>Airline code.  Example: AA</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="2"/>
				<xsd:maxLength value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Date" type="xsd:date">
		<xsd:annotation>
			<xsd:documentation>Date in ISO 8601 format (yyyy-mm-dd).  Example: 2002-02-22</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Row">
		<xsd:annotation>
			<xsd:documentation>Row group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Number" minOccurs="0"/>
				<xsd:element ref="Characteristic" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Seat Characteristic. EDIFACT standard. Possible values:
1 = Restricted Seat- General 
2 = Leg rest available 
3 =  Individual video screen - Choice of movies  
4 =  Not a window seat  
5 =  Not an aisle seat  
6 =  Near galley seat  
7 = Near toilet seat  
8 =  No seat at this location 
9 = Center seat (not window, not aisle) 
10 =  Seat designated for RBD "A"  
11 =  Seat designated for RBD "B"  
12 = Seat designated for RBD "C" 
13 = Seat designated for RBD "D" 
14 =  Seat designated for RBD "F"  
15 =  Seat designated for RBD "H"  
16 = Seat designated for RBD "J"  
17 =  Seat designated for RBD "K"  
18 =  Seat designated for RBD "L"  
19 =  Seat designated for RBD "M" 
20 =  Seat designated for RBD "P" 
21 =   Seat designated for RBD "Q"  
22 = Seat designated for RBD "R"  
23 =  Seat designated for RBD "S"  
24 =  Seat designated for RBD "T"  
25 =  Seat designated for RBD "V"  
26 =   Seat designated for RBD "W" 
27 = Seat designated for RBD "Y" 
A =   Aisle seat  
AA =   All available aisle seats  
AB =  Seat adjacent to bar 
AC = Seat adjacent to closet 
AG =  Seat adjacent to galley  
 AJ = Adjacent aisle seats  
AL = Seat adjacent to lavatory  
AM =   Individual movie screen - No choice of movie selection  
AR =   No seat - airphone 
AS =  Individual airphone 
AT = Seat adjacent to table 
AU =   Seat adjacent to stairs to upper deck  
AV =   Only available seats  
AW =   All available window seats  
B =   Seat with bassinet facility  
BA =  No seat - bar  
BK =   Blocked Seat for preferred passenger in adjacent seat 
C = Crew seat 
CC =   Center section seat(s) 
CL =  No seat - closet  
CS =Conditional seat - contact airline
D =  No seat - exit door
DE =   Deportee  
 E =  Exit row seat  
EA = S Not an exit seat 
EC =  Electronic connection for lap top or FAX machine 
EX =   No seat - emergency Exit  
F =   Added seat 
FC =   Front of cabin class/compartment 
G =   Seat at forward end of cabin  
GF = General facility  
GN =  No seat - galley  
GR =  Group seat - offered to travellers belonging to a group  
H =  Seat with facilities for handicapped/incapacitated passenger  
I =    Seat suitable for adult with an infant 
IA = Inside aisle seats 
IE = Seat not suitable for child 
J =  Rear facing seat 
K =  Bulkhead seat 
KA =  Bulkhead seat with movie screen 
KN =   Bulkhead, no seat  
L =   Leg space seat  
LA =  No seat - lavatory  
LG =  No seat - luggage storage 
LH = Restricted seat - offered on long-haul segments 
LS =   Left side of aircraft  
M =   Seat without a movie view  
MA =  Medically OK to travel 
N =  No smoking seat 
O =  Preferential seat  
OW =  Over wing seat(s)
P = Priority seat (Worldspan)
PC =  Pet cabin  
PP = Power Port
Q =  Seat in a quiet zone  
RS =  Right side of aircraft 
S =  Smoking seat 
SO =  No seat - storage space 
ST =   No seat - stairs to upper deck 
T = Rear/Tail section of aircraft  
TA =  No seat - table  
U =   Seat suitable for unaccompanied minors  
UP =  Upper deck  
V =   Seat to be left vacant or offered last :
W = Window seat 
WA = Window and aisle together 
X =   No facility seat (indifferent seat) 
Z =  Buffer zone seat  
1A = Seat not allowed for infant  
1B =  Seat not allowed for medical 
1C =  Seat not allowed for unaccompanied minor  
1D =  Restricted recline seat 
1M = Seat with movie view 
1W =  Window seat without window  
3A =  Individual video screen - No choice of movie  
3B = Individual video screen - Choice of movies, games, information, etc. 
6A =In front of galley seat 
6B =  Behind galley seat  
7A =  In front of toilet seat  
7B =  Behind toilet seat  
700 =  Individual video screen - services unspecified  
701 =   No seat - access to handicapped lavatory  
 Example: 1W</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="Status" use="required">
				<xsd:annotation>
					<xsd:documentation>Seat status.  Values are:
A = Available
T = Taken
U = Unknown
N = No seat at this place
R = Restricted
Example: A</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="1"/>
						<xsd:enumeration value="A"/>
						<xsd:enumeration value="T"/>
						<xsd:enumeration value="U"/>
						<xsd:enumeration value="N"/>
						<xsd:enumeration value="R"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Number" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Row number.  Example: 2</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Characteristic" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Seat Characteristic. EDIFACT standard. Possible values:
1 = Restricted Seat- General 
2 = Leg rest available 
3 =  Individual video screen - Choice of movies  
4 =  Not a window seat  
5 =  Not an aisle seat  
6 =  Near galley seat  
7 = Near toilet seat  
8 =  No seat at this location 
9 = Center seat (not window, not aisle) 
10 =  Seat designated for RBD "A"  
11 =  Seat designated for RBD "B"  
12 = Seat designated for RBD "C" 
13 = Seat designated for RBD "D" 
14 =  Seat designated for RBD "F"  
15 =  Seat designated for RBD "H"  
16 = Seat designated for RBD "J"  
17 =  Seat designated for RBD "K"  
18 =  Seat designated for RBD "L"  
19 =  Seat designated for RBD "M" 
20 =  Seat designated for RBD "P" 
21 =   Seat designated for RBD "Q"  
22 = Seat designated for RBD "R"  
23 =  Seat designated for RBD "S"  
24 =  Seat designated for RBD "T"  
25 =  Seat designated for RBD "V"  
26 =   Seat designated for RBD "W" 
27 = Seat designated for RBD "Y" 
A =   Aisle seat  
AA =   All available aisle seats  
AB =  Seat adjacent to bar 
AC = Seat adjacent to closet 
AG =  Seat adjacent to galley  
 AJ = Adjacent aisle seats  
AL = Seat adjacent to lavatory  
AM =   Individual movie screen - No choice of movie selection  
AR =   No seat - airphone 
AS =  Individual airphone 
AT = Seat adjacent to table 
AU =   Seat adjacent to stairs to upper deck  
AV =   Only available seats  
AW =   All available window seats  
B =   Seat with bassinet facility  
BA =  No seat - bar  
BK =   Blocked Seat for preferred passenger in adjacent seat 
C = Crew seat 
CC =   Center section seat(s) 
CL =  No seat - closet  
CS =Conditional seat - contact airline
D =  No seat - exit door
DE =   Deportee  
 E =  Exit row seat  
EA = S Not an exit seat 
EC =  Electronic connection for lap top or FAX machine 
EX =   No seat - emergency Exit  
F =   Added seat 
FC =   Front of cabin class/compartment 
G =   Seat at forward end of cabin  
GF = General facility  
GN =  No seat - galley  
GR =  Group seat - offered to travellers belonging to a group  
H =  Seat with facilities for handicapped/incapacitated passenger  
I =    Seat suitable for adult with an infant 
IA = Inside aisle seats 
IE = Seat not suitable for child 
J =  Rear facing seat 
K =  Bulkhead seat 
KA =  Bulkhead seat with movie screen 
KN =   Bulkhead, no seat  
L =   Leg space seat  
LA =  No seat - lavatory  
LG =  No seat - luggage storage 
LH = Restricted seat - offered on long-haul segments 
LS =   Left side of aircraft  
M =   Seat without a movie view  
MA =  Medically OK to travel 
N =  No smoking seat 
O =  Preferential seat  
OW =  Over wing seat(s)  
PC =  Pet cabin  
Q =  Seat in a quiet zone  
RS =  Right side of aircraft 
S =  Smoking seat 
SO =  No seat - storage space 
ST =   No seat - stairs to upper deck 
T = Rear/Tail section of aircraft  
TA =  No seat - table  
U =   Seat suitable for unaccompanied minors  
UP =  Upper deck  
V =   Seat to be left vacant or offered last :
W = Window seat 
WA = Window and aisle together 
X =   No facility seat (indifferent seat) 
Z =  Buffer zone seat  
1A = Seat not allowed for infant  
1B =  Seat not allowed for medical 
1C =  Seat not allowed for unaccompanied minor  
1D =  Restricted recline seat 
1M = Seat with movie view 
1W =  Window seat without window  
3A =  Individual video screen - No choice of movie  
3B = Individual video screen - Choice of movies, games, information, etc. 
6A =In front of galley seat 
6B =  Behind galley seat  
7A =  In front of toilet seat  
7B =  Behind toilet seat  
700 =  Individual video screen - services unspecified  
701 =   No seat - access to handicapped lavatory  
 Example: 1W</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AirlineName" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Airline name.  Example: American Airlines</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Carrier">
		<xsd:annotation>
			<xsd:documentation>Carrier group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="AirlineCode" minOccurs="0"/>
				<xsd:element ref="AirlineName" minOccurs="0"/>
				<xsd:element ref="FlightNumber" minOccurs="0"/>
				<xsd:element name="ClassOfService" type="COSType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Class of service.  Example: B</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Departure">
		<xsd:annotation>
			<xsd:documentation>Departure group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="CityCode" minOccurs="0"/>
				<xsd:element ref="CityName" minOccurs="0"/>
				<xsd:element ref="Date" minOccurs="0"/>
				<xsd:element ref="Time" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CityCode">
		<xsd:annotation>
			<xsd:documentation>City code.  Example: MIA</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="3"/>
				<xsd:maxLength value="3"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CityName" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>City name.  Example: NY</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Arrival">
		<xsd:annotation>
			<xsd:documentation>Arrival group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="CityCode" minOccurs="0"/>
				<xsd:element ref="CityName" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Column" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Seat column.  Example: A</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Equipment">
		<xsd:annotation>
			<xsd:documentation>Equipment group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Code"/>
				<xsd:element ref="Name"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Name" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Equipment name.  Example: Boeing 747 series</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Columns">
		<xsd:annotation>
			<xsd:documentation>Column code description.  Example: B</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="Position" use="required">
						<xsd:annotation>
							<xsd:documentation>Column position in the plane. Possible values are:
W = Window
A = Aisle
C = Center (between two seats)
WA = Window on one side and aisle on the other side
AW = Aisle on one side and window on the other side
Example: W</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="1"/>
								<xsd:maxLength value="2"/>
								<xsd:enumeration value="W"/>
								<xsd:enumeration value="A"/>
								<xsd:enumeration value="C"/>
								<xsd:enumeration value="WA"/>
								<xsd:enumeration value="AW"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Rows">
		<xsd:annotation>
			<xsd:documentation>Row information group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="First"/>
				<xsd:element ref="Last"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="First">
		<xsd:annotation>
			<xsd:documentation>First row number.  Example: 08</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:integer">
				<xsd:minInclusive value="01"/>
				<xsd:maxInclusive value="99"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Last">
		<xsd:annotation>
			<xsd:documentation>Last row number.  Example: 44</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:integer">
				<xsd:minInclusive value="01"/>
				<xsd:maxInclusive value="99"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Screen" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>For the airlines that are not supported through Sabre formatted interface, the response screens will be displayed here.  Example: Any Seat Map post response screen</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Change">
		<xsd:annotation>
			<xsd:documentation>Change penalty group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Amount" minOccurs="0"/>
				<xsd:element ref="Text" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Cancel">
		<xsd:annotation>
			<xsd:documentation>Cancel penalty group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Amount" minOccurs="0"/>
				<xsd:element ref="Text" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Amount">
		<xsd:annotation>
			<xsd:documentation>Penalty amount in currency amount or percentage.  Example: 7500</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:integer">
					<xsd:attribute name="Unit" use="required">
						<xsd:annotation>
							<xsd:documentation>Penalty amount unit.  Possible values are:
M = currency money value 
P = percentage  Example: M</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="1"/>
								<xsd:maxLength value="1"/>
								<xsd:enumeration value="M"/>
								<xsd:enumeration value="P"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Penalties">
		<xsd:annotation>
			<xsd:documentation>Option Penalty group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Change" minOccurs="0"/>
				<xsd:element ref="Cancel" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="Refundable" use="optional">
				<xsd:annotation>
					<xsd:documentation>Indicates if option is refundable.  Values are:
Y = Option refundable
N = Option not refundable
Example: Y</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="Y"/>
						<xsd:enumeration value="N"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TicketByDate">
		<xsd:annotation>
			<xsd:documentation>Ticket by date in ISO 8601 format (yyyy-mm-dd).  Example: 2002-12-25</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:date">
					<xsd:attribute ref="Time"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:attribute name="Time">
		<xsd:annotation>
			<xsd:documentation>Time in ISO 8601 format.  Example: 12:35 or 19:45</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:pattern value="([0-1][0-9]|2[0-4]):[0-5][0-9]">
					<xsd:annotation>
						<xsd:documentation>
</xsd:documentation>
					</xsd:annotation>
				</xsd:pattern>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:attribute>
	<xsd:element name="ServicePrice">
		<xsd:annotation>
			<xsd:documentation>Price for this service; not to be used for 'included' options (no charge options)

This node uses the Currency/Decimals of the FareGroup root level</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="BasePrice">
					<xsd:annotation>
						<xsd:documentation>Base (net) price of Option</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attribute name="Amount" use="required">
							<xsd:annotation>
								<xsd:documentation>Net price of option.
Example: 6750</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Taxes" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Tax Group</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Tax" minOccurs="0" maxOccurs="unbounded">
								<xsd:annotation>
									<xsd:documentation>Tax break down information group </xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence minOccurs="0">
										<xsd:element name="Designator">
											<xsd:annotation>
												<xsd:documentation>Tax or surcharge designator.  Example: US</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="Description" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Tax or surcharge description.  Example: US national transportation</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
									<xsd:attribute name="Amount" use="required">
										<xsd:annotation>
											<xsd:documentation>Individual tax amount.  Example: 250</xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
						<xsd:attribute name="Amount" use="required">
							<xsd:annotation>
								<xsd:documentation>Total taxes amount.  Example: 750</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="Total" type="xsd:integer" use="required">
				<xsd:annotation>
					<xsd:documentation>Total amount for this service based on FQTV status and chosen Price Class.

Total = base price +  total amount of taxes.

Example: 7500</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="Reprice">
				<xsd:annotation>
					<xsd:documentation>Indicates if repricing is needed upon selection of this service.  Allowed values:

Y = will trigger reprice
N = (default) no repricing
</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Service">
		<xsd:annotation>
			<xsd:documentation>Service Details</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="SegmentIDRef" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>For a flight related service, this is the value of the SegmentIDRef element is the flight/segment position of the corresponding OriginDestination groups in document order.

Mandatory only for flight related/associated services.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string"/>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
				<xsd:element ref="TravelerIDRef" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>If available in the FlightPriceRQ, this unique traveler ID will be returned to identify the traveler associated with this option.

Example: T1</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="Amount" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Price for this option (or option differential in case of upsell).

This node is a string showing the value with decimal point (not linked to a currency code)

Sample:  25.50</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="ServicePrice" minOccurs="0"/>
				<xsd:element name="Description">
					<xsd:annotation>
						<xsd:documentation>Title description (Commercial Name) of offered service.

Example: "3rd Bag Fee"

UI tip: You may build a one line description to display by stringing the following values together:
"Description"+"ServiceLocation"+"ServiceDate"+"DescriptionVariable" which could be displayed as sampled here:

'Airline Lounge Pass DFW 10May'
where 'Airline Lounge Pass' is the "Description", 'DFW' the "ServiceLocation" and '10May' the "ServiceDate"

or
Premium Seat 9D

where 'Premium Seat' is the "Description" and '9D' the "DescriptionVariable"

</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="DescriptionDetails" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Detailed description of this service</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Text" maxOccurs="unbounded"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="WebLinks" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Links to associated promotional material</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="WebLink" maxOccurs="unbounded"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element ref="TicketByDate" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Date (in ISO 8601 format: (yyyy-mm-dd) by which this service must be issued.

Example: 2010-05-07</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="InstantPurchase" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Instant Purchase indicator.  Values are:
TT = EMD at ticketing time
CC = Purchase is immediately charged to CC
PP = Purchase is charged via PayPal (future use)
N = not an instant purchase (default)

Example: CC</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="Penalties" minOccurs="0"/>
				<xsd:element name="Commission" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Commission amount or percentage for this option</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:complexContent>
							<xsd:extension base="CommissionType"/>
						</xsd:complexContent>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Endorsement" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Endorsements for this service.

Example: NONREF</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref="Text">
								<xsd:annotation>
									<xsd:documentation>Freeflow text.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="ValidatingCarrier" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Allows to override the Validating Carrier assigned to the entire FareGroup</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="ReferenceKey" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Unique reference key. If present in pricing response messages, must be included.</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:minLength value="1"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element ref="Attributes" minOccurs="0"/>
				<xsd:element ref="BookingInstructions" minOccurs="0"/>
				<xsd:element name="SeatChange" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>This node to be returned ONLY if a seat has been previously paid.  </xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="PremiumDifference" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The premium difference if this option is selected.</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:attribute name="Amount" use="required">
										<xsd:annotation>
											<xsd:documentation>Actual amount. Currency Code of the Service/Price element applies
Example: 450</xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
						<xsd:attribute name="Allowed">
							<xsd:annotation>
								<xsd:documentation>Allowed value: Y/N
Indicates if the chang of a seat on same flight is allowed</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Seats" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Identifies all applicable seats for this service item (premium)</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Seat" minOccurs="0" maxOccurs="unbounded">
								<xsd:annotation>
									<xsd:documentation>Identifies individual seats</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:attribute name="Row" use="required">
										<xsd:annotation>
											<xsd:documentation>Row position in plane</xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
									<xsd:attribute name="Column" use="required">
										<xsd:annotation>
											<xsd:documentation>Column position in plane</xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Row" minOccurs="0" maxOccurs="unbounded">
								<xsd:annotation>
									<xsd:documentation>Identifies entire row(s)</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Diagnostics" minOccurs="0">
					<xsd:complexType>
						<xsd:attribute name="ID" use="required">
							<xsd:annotation>
								<xsd:documentation>Diagnstic ID to track this offer.

Example: 0D4E58C8</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="Method" use="required">
				<xsd:annotation>
					<xsd:documentation>Values are:

F = FareIntegrated
EA = EMD Associated
ES = EMD Standalone 
MA = Flight Associated but settled via MCO
MS = Standalone but settle via MCO
D = DirectSettlement</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="F"/>
						<xsd:enumeration value="EA"/>
						<xsd:enumeration value="MA"/>
						<xsd:enumeration value="ES"/>
						<xsd:enumeration value="MS"/>
						<xsd:enumeration value="D"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="ServiceType">
				<xsd:annotation>
					<xsd:documentation>The ATPCO defined code for the type of service (also referred to as 'Flight/Ticket/Merchandise Byte 21)':

F = Flight (TypeValue=2)
R = Rule Buster (Type Value = 5)
T = Ticket (TypeValue=3 if EMD-S is issued, 4 if other)
M = Merchandise (TypeValue=1 if EMD-S is issued, 4 if other)</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="ReasonCode" use="required">
				<xsd:annotation>
					<xsd:documentation>IATA RFIC (ReasonFor IssuanceCode, a 1-character main code)
Example of RFIC: A  

Note: Only services of same RFIC code can be combined on an EMD-A document.  For example, if there are services of RFIC code "A" and "B", two separate EMD documents are needed, issuing all services of "A" and "B" on seperate docs.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="SubCode" use="required">
				<xsd:annotation>
					<xsd:documentation>ATPCO RFIS (ReasonForIssuance  Subcode).
Example of RFIS: 0CC  </xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="ServiceCode">
				<xsd:annotation>
					<xsd:documentation>Additional unique ATPCO code.
Example: OC</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="FareBrand">
				<xsd:annotation>
					<xsd:documentation>Service is part of a bundle associated to this fare brand</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="Status">
				<xsd:annotation>
					<xsd:documentation>Values are:
NN = "Requested"
HK = "Confirmed"</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="NN"/>
						<xsd:enumeration value="HK"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="DealID">
				<xsd:annotation>
					<xsd:documentation>This ID represents an airline  promotion for a special target market and applies only for FQTV numbers identified for this promotion</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="Type" use="required">
				<xsd:annotation>
					<xsd:documentation>Indicator if this option is a discount or a surcharge;

Values are: 
"Discount"  1)
"Surcharge"
"Included"  2)
"Not applicable" 3)

1) only applicable when using method F, applying option directly to a fare (not used in an EMD solution)

2) This item is free of charge due to FQTV status or chosen Price Class

3) This item is not available/applicable due to FQTV status or chosen Price Class.

Sample:  Earning extra miles may only be allowed for a Top tier FQTV status and is not applicable for any other traveler.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="Discount"/>
						<xsd:enumeration value="Surcharge"/>
						<xsd:enumeration value="Included"/>
						<xsd:enumeration value="Not applicable"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="FQTVStatus">
				<xsd:annotation>
					<xsd:documentation>The status (tier level) of the traveler's FQTV account.

This is available as a query results against the airline's FQTV database.

Samples:
AA(American AAdvantage):
-- Gold
-- Platinum
-- Executive Platinum

LH (Miles and More):
-- Frequent Traveller
-- Senator
-- HON Circle

EK (Emirates Skywards):
-- Silver
-- Gold</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="FQTVNumber">
				<xsd:annotation>
					<xsd:documentation>This is the actual FrequentFlyer number associated to the FQTVStatus.  This will allow the POS GUI to associate the actual traveler with the respective option/price</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="NotValidBefore" type="xsd:date" use="optional">
				<xsd:annotation>
					<xsd:documentation>Option is not available/usable until the date entered</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="NotValidAfter" type="xsd:date" use="optional">
				<xsd:annotation>
					<xsd:documentation>Option is not available/usable after the date entered</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="ProviderIDRef">
				<xsd:annotation>
					<xsd:documentation>Allows to associate this service to a unique provider tag/id/ref</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SSRCode" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Special service request code.  IATA standard.  Example: VGML</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BookingInstructions">
		<xsd:annotation>
			<xsd:documentation>Contains instructions how to book this service with respective source</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="SSRCode" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element name="OSIText" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element name="Method" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Allowed Values are:
SSR
API
OSI</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="UpgradeMethod" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Allowed Values:
A = AutoUpgrade
S = SSR request</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="NewClass">
									<xsd:annotation>
										<xsd:documentation>Instructs which new class to book</xsd:documentation>
									</xsd:annotation>
								</xsd:attribute>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
				<xsd:element ref="Text" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Any freeflow to instruct DC</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Attributes">
		<xsd:annotation>
			<xsd:documentation>ATPCO S5 record attributes</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Group">
					<xsd:annotation>
						<xsd:documentation>Samples:
BG = Baggage
FF = Frequent Flyer
GT = Ground Transportation
         and Non Air Services
IE = In-flight entertainment
LG = Lounge
MD = Medical
ML = Meal/Beverage
PT = Pets
RO = Rule Override
SA = Prereserved Seat
         Assignment
SB = Standby
ST = Store
TS = Travel Services
UN = Unaccompanied
         Travel (Escort)
UP = Upgrades</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Code"/>
							<xsd:element name="Text" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="SubGroup">
					<xsd:annotation>
						<xsd:documentation>Samples for group "BG"
CT = Container
PP = Pre-paid excess
         baggage

Samples group "GT"
BU = Bus
LI = Limo, etc

Samples group "IE"
IT = Internet access
TV = Television, etc</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Code"/>
							<xsd:element name="Text" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Desc1">
					<xsd:annotation>
						<xsd:documentation>Description codes.
Examples:
05 = up to 5 kg
1Y = One Year
AI = Aisle
B1 = First Bag
etc.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Code"/>
							<xsd:element name="Text" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Desc2" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Description codes.
Examples:
HT = Hot
KO = Kosher
etc.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Code"/>
							<xsd:element name="Text" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="InstantPurchase">
		<xsd:annotation>
			<xsd:documentation>Instant Purchase indicator.  Values are:
CC = Purchase is immediately charged to CC
AP = Purchase is using AirPass credit(s)
PP = Purchase is charged via PayPal (future use)
N = not an instant purchase (default)

Example: CC</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="2"/>
				<xsd:enumeration value="TT"/>
				<xsd:enumeration value="CC"/>
				<xsd:enumeration value="PP"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Time">
		<xsd:annotation>
			<xsd:documentation>Time in ISO 8601 format (hh:mm).  Example: 14:00</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:pattern value="([0-1][0-9]|2[0-4]):[0-5][0-9]">
					<xsd:annotation>
						<xsd:documentation>
</xsd:documentation>
					</xsd:annotation>
				</xsd:pattern>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
</xsd:schema>
