ModelDrivenNode/schema/axis/SeatAvailabilityRQ.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:include schemaLocation="CommonTypes.xsd"/>
	<xsd:element name="SeatAvailabilityRQ">
		<xsd:annotation>
			<xsd:documentation>Seat availability request root element</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="SaleInfo" minOccurs="0"/>
				<xsd:element name="RecordLocator" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Record locator to get seat map from (only supported by some airlines - check with airline if needed/supported)</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:choice>
					<xsd:sequence>
						<xsd:annotation>
							<xsd:documentation>Deprecated as it only supported single request.  Keeping got backward compatibility</xsd:documentation>
						</xsd:annotation>
						<xsd:element ref="AirlineCode"/>
						<xsd:element ref="FlightNumber"/>
						<xsd:element name="ClassOfService" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Class of service.  Example: B</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element ref="Cabin" minOccurs="0"/>
						<xsd:element ref="NumberOfStops" minOccurs="0"/>
						<xsd:element name="StopInfo" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Ground and Flight information for the intermediate stop(s) of this flight.</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="Stop" maxOccurs="unbounded">
										<xsd:annotation>
											<xsd:documentation>Each Stop element represents information about a single intermediate stop point on the way from origin to the destination.</xsd:documentation>
										</xsd:annotation>
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="ArrivingInfo">
													<xsd:annotation>
														<xsd:documentation>This section describes the inbound flight information into this intermediate point.</xsd:documentation>
													</xsd:annotation>
													<xsd:complexType>
														<xsd:sequence>
															<xsd:element name="StopAirportCode">
																<xsd:annotation>
																	<xsd:documentation>AirportCode of this stop.
Example: ORD</xsd:documentation>
																</xsd:annotation>
																<xsd:simpleType>
																	<xsd:restriction base="xsd:string">
																		<xsd:length value="3"/>
																	</xsd:restriction>
																</xsd:simpleType>
															</xsd:element>
															<xsd:element name="Date" type="Date">
																<xsd:annotation>
																	<xsd:documentation>Date in ISO 8601 format (yyyy-mm-dd).  Example: 2001-12-25</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
															<xsd:element name="Time" type="Time" minOccurs="0"/>
															<xsd:element ref="Terminal" minOccurs="0"/>
														</xsd:sequence>
													</xsd:complexType>
												</xsd:element>
												<xsd:element name="DepartingInfo">
													<xsd:annotation>
														<xsd:documentation>This section describes the outbound flight from this intermediate point onward.</xsd:documentation>
													</xsd:annotation>
													<xsd:complexType>
														<xsd:sequence>
															<xsd:element name="DestinationAirportCode">
																<xsd:annotation>
																	<xsd:documentation>Airport Code of the next destination airport.
Example: CDG</xsd:documentation>
																</xsd:annotation>
																<xsd:simpleType>
																	<xsd:restriction base="xsd:string">
																		<xsd:length value="3"/>
																	</xsd:restriction>
																</xsd:simpleType>
															</xsd:element>
															<xsd:element name="Date" type="Date">
																<xsd:annotation>
																	<xsd:documentation>Date in ISO 8601 format (yyyy-mm-dd).  Example: 2001-12-25</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
															<xsd:element name="Time" type="Time" minOccurs="0"/>
															<xsd:element ref="Terminal" minOccurs="0"/>
															<xsd:element ref="Meals" minOccurs="0"/>
															<xsd:element name="FlightDuration" type="TimeDurationHoursMinutes" minOccurs="0">
																<xsd:annotation>
																	<xsd:documentation>Flying time from this stop city to destination.  
Example: 12:30</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
														</xsd:sequence>
													</xsd:complexType>
												</xsd:element>
												<xsd:element name="NewEquipment" minOccurs="0">
													<xsd:annotation>
														<xsd:documentation>Equipment information for onward flight in case of an equipment change at this stop (Change of Gauge).  This will only be present if ChangeOfGauge attribute is set to "Y".</xsd:documentation>
													</xsd:annotation>
													<xsd:complexType>
														<xsd:sequence>
															<xsd:element ref="Code">
																<xsd:annotation>
																	<xsd:documentation>Equipment Code</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
															<xsd:element ref="Name"/>
														</xsd:sequence>
													</xsd:complexType>
												</xsd:element>
												<xsd:element name="GroundTime" type="TimeDurationHoursMinutes" minOccurs="0">
													<xsd:annotation>
														<xsd:documentation>The ground time between arrival and departure in a 'Stop' or 'ChangeOfGauge' airport.
Example: 1:30</xsd:documentation>
													</xsd:annotation>
												</xsd:element>
											</xsd:sequence>
											<xsd:attribute name="ChangeOfGauge" use="optional">
												<xsd:annotation>
													<xsd:documentation>ChangeOfGauge indicator. 
If set to "Y" there has to also be a "NewEquipment" node.

Example: Y = Yes, N = No (default)</xsd:documentation>
												</xsd:annotation>
												<xsd:simpleType>
													<xsd:restriction base="xsd:string"/>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="FareBasisCode" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Fare basis code and/or FareBrand (PriceClass) - see attribute.

Example: 
Y26CH</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:simpleContent>
									<xsd:extension base="xsd:string">
										<xsd:attribute name="PriceClass">
											<xsd:annotation>
												<xsd:documentation>Name of PriceClass/Branded Fare.
Example: SUPERSAVER</xsd:documentation>
											</xsd:annotation>
										</xsd:attribute>
									</xsd:extension>
								</xsd:simpleContent>
							</xsd:complexType>
						</xsd:element>
						<xsd:element ref="DepartureDate"/>
						<xsd:element ref="DepartureTime" minOccurs="0"/>
						<xsd:element ref="DepartureCityCode"/>
						<xsd:element ref="ArrivalCityCode"/>
						<xsd:element ref="NumberInParty" minOccurs="0"/>
					</xsd:sequence>
					<xsd:element name="SeatMapRequest">
						<xsd:annotation>
							<xsd:documentation>Allows for multiple seatmap requests</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element ref="Flight" maxOccurs="unbounded"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:choice>
				<xsd:element ref="TravelerName" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element name="TravelerIDs" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>If no PNR exists (shopping), this provides traveler types as well as FQTV information for each traveler.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="FQTVInfo" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="FFNumber" type="xsd:string">
											<xsd:annotation>
												<xsd:documentation>Frequent flyer number.  Example: 0956301007</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="FFCompanyCode" type="xsd:string">
											<xsd:annotation>
												<xsd:documentation>Frequent flyer company code.  Example: AF</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="LoyaltyProgramRef" minOccurs="0" maxOccurs="unbounded">
								<xsd:annotation>
									<xsd:documentation>Loyalty Program data</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="LoyaltyMemberID">
											<xsd:annotation>
												<xsd:documentation>Membership number </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="Name">
											<xsd:annotation>
												<xsd:documentation>Individual Program name</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element ref="AirlineCode">
											<xsd:annotation>
												<xsd:documentation>Airline code of the airline offering this Loyaty Program</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="ProgramStatus" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Traveler Status related to Program
Example: VP, DIR</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
									<xsd:attribute name="ProgramGroup">
										<xsd:annotation>
											<xsd:documentation>Group association within program</xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
						<xsd:attribute name="AssociationID">
							<xsd:annotation>
								<xsd:documentation>A unique traveler reference if an association to individual travelers is needed, such as for optional services.

Example: T1</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="PaxType" type="xsd:string" use="required">
							<xsd:annotation>
								<xsd:documentation>Passenger type requested for pricing. 

Some IATA values are :
ADT= Adult
CHD = Child
INF = Infant
GOV = Government
MIL = Military
SRC = Senior citizen
STD = Student
YTH = Youth
Example: CHD</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Qualifiers" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>DEPRECATED - use "PricingInfo/PrivateFares" instead

If no PNR exists (shopping), this provides other qualifying IDs, such as Corporate IDs, etc. - see enumeration list for attribute @Type</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Value" type="xsd:string" maxOccurs="unbounded">
								<xsd:annotation>
									<xsd:documentation>Corresponding ID to selected Type attribute.

Example: 
567124 (Corporate ID)
AAL0 (Pcc)
MIA (Point Of Sale)</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
						<xsd:attribute name="AssociationID">
							<xsd:annotation>
								<xsd:documentation>A unique traveler reference if an association to individual travelers is needed, such as for optional services.

Example: T1</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="Type" use="required">
							<xsd:annotation>
								<xsd:documentation>Currently supported qualifiers:

CorporateCode
DealId
PromotionCode</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:enumeration value="CorporateCode"/>
									<xsd:enumeration value="DealId"/>
									<xsd:enumeration value="PromotionCode"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
				<xsd:element ref="JourneyControlData" minOccurs="0"/>
				<xsd:element ref="PricingInfo" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="version" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation>Version number.  Example: 1.0</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="AirlineCode">
		<xsd:annotation>
			<xsd:documentation>Airline code.  Example: AA</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute ref="Source"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="DepartureDate" type="xsd:date">
		<xsd:annotation>
			<xsd:documentation>Date in ISO 8601 format (yyyy-mm-dd).  Example: 2002-02-22</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DepartureCityCode">
		<xsd:annotation>
			<xsd:documentation>Departure city code.  Example: MIA</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="3"/>
				<xsd:maxLength value="3"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DepartureTime">
		<xsd:annotation>
			<xsd:documentation>Time in ISO 8601 format (hh:mm).  Example: 14:00</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:pattern value="([0-1][0-9]|2[0-4]):[0-5][0-9]">
					<xsd:annotation>
						<xsd:documentation>
</xsd:documentation>
					</xsd:annotation>
				</xsd:pattern>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ArrivalCityCode">
		<xsd:annotation>
			<xsd:documentation>Arrival city code.  Example: JFK</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="3"/>
				<xsd:maxLength value="3"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="NumberInParty" type="xsd:integer">
		<xsd:annotation>
			<xsd:documentation>Number of passengers.  Example: 2</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TravelerName">
		<xsd:annotation>
			<xsd:documentation>Traveler name group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Surname" minOccurs="0"/>
				<xsd:element ref="GivenName" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="Type">
				<xsd:annotation>
					<xsd:documentation>****** NEW ******
Passenger type requested for pricing.  If the passenger type sent to the GDS is not in the below predefined list, then it is passed as is to the GDS.
 Predefined values are :
ADT= Adult
CHD = Child
INF = Infant
GOV = Government
MIL = Military
SRC = Senior citizen
STD = Student
YTH = Youth
 Example: ADT</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Surname" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Traveler family (last) name.  Example: SMITH</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GivenName" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Traveler given (first) name.  Example: JANE </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FrequentTravelerGroup">
		<xsd:annotation>
			<xsd:documentation>Frequent traveler group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ProgramInformation" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ProgramInformation">
		<xsd:annotation>
			<xsd:documentation>Program information group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="FFCompanyCode"/>
				<xsd:element ref="FFProgramName" minOccurs="0"/>
				<xsd:element ref="FFNumber"/>
				<xsd:element ref="FFSharedProgramName" minOccurs="0"/>
				<xsd:element ref="FFLoyaltyLevel" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="FFCompanyCode" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Frequent flyer company code.  Example: AF</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FFProgramName" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Frequent flyer program name.  Example: Frequence Plus</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FFNumber" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Frequent flyer number.  Example: 0956301007</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FFSharedProgramName" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Frequent flyer shared program name.  Example: Delta Miles</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FFLoyaltyLevel" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Frequent flyer loyalty level.  Example: Blue</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Cabin">
		<xsd:annotation>
			<xsd:documentation>Specifies cabin preference. Valid values are: 
F = First class, 
C = Business class, 
Y = Coach class. 
W = Economy Plus class
ALL = All cabins

Example: F</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="3"/>
				<xsd:enumeration value="F"/>
				<xsd:enumeration value="C"/>
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="W"/>
				<xsd:enumeration value="ALL"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Flight">
		<xsd:complexType>
			<xsd:all>
				<xsd:element ref="AirlineCode"/>
				<xsd:element ref="FlightNumber"/>
				<xsd:element name="ClassOfService" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Class of service.  Example: B</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="Cabin" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Specifies cabin preference. Valid values are : F = First class, C = Business class, Y = Coach class, W = premium economy/coach. 
Example: F</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="NumberOfStops" minOccurs="0"/>
				<xsd:element name="FareBasisCode" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Fare basis code and/or FareBrand (PriceClass) - see attribute.

Example: 
Y26CH</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="PriceClass">
									<xsd:annotation>
										<xsd:documentation>Name of PriceClass/Branded Fare.
Example: SUPERSAVER</xsd:documentation>
									</xsd:annotation>
								</xsd:attribute>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
				<xsd:element ref="DepartureDate"/>
				<xsd:element ref="DepartureTime" minOccurs="0"/>
				<xsd:element ref="DepartureCityCode"/>
				<xsd:element ref="ArrivalCityCode"/>
				<xsd:element ref="NumberInParty" minOccurs="0"/>
			</xsd:all>
			<xsd:attribute ref="Source"/>
			<xsd:attribute name="MarriedSegment" use="optional">
				<xsd:annotation>
					<xsd:documentation>Married connection indicator.  Values:
B = Beginning of a group of married segments
E = End of a group of married segments</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="B"/>
						<xsd:enumeration value="E"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="CnxxIndicator" use="optional">
				<xsd:annotation>
					<xsd:documentation>Connection indicator.  Example: Y = Yes, N = No</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="Y"/>
						<xsd:enumeration value="N"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Terminal" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Airport terminal.  Example: 2B</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Meals">
		<xsd:annotation>
			<xsd:documentation>Indicates what types of meals are served.  Meal codes are IATA standard.  Values are:
B = Breakfast
K = Continental breakfast
V = Continental breakfast
L = Lunch
D = Dinner
S = Snack or brunch
O = Cold meal
H = Hot meal 
M = Meal (non-specific)
R = Refreshment
C = Alcoholic beverages complimentary
F = Food for purchase
P = Alcoholic beverages for purchase
Y = Duty free sales available
G = Light lunch
Example: B</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="B"/>
				<xsd:enumeration value="K"/>
				<xsd:enumeration value="V"/>
				<xsd:enumeration value="L"/>
				<xsd:enumeration value="D"/>
				<xsd:enumeration value="S"/>
				<xsd:enumeration value="O"/>
				<xsd:enumeration value="H"/>
				<xsd:enumeration value="M"/>
				<xsd:enumeration value="R"/>
				<xsd:enumeration value="C"/>
				<xsd:enumeration value="F"/>
				<xsd:enumeration value="P"/>
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="G"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Name" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Equipment name.  Example: Boeing 747 series</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="NumberOfStops">
		<xsd:annotation>
			<xsd:documentation>Number of stops.  Example: 0</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:integer">
				<xsd:maxInclusive value="9"/>
				<xsd:minInclusive value="0"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ActionCode">
		<xsd:annotation>
			<xsd:documentation>Action code for the sell of a segment.  This a standard defined action code used by different airlines and reservation systems.  If omitted the default value is NN.  Example: GK</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="2"/>
				<xsd:maxLength value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Carrier">
		<xsd:annotation>
			<xsd:documentation>Flight carrier group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="AirlineCode"/>
				<xsd:element ref="FlightNumber"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="JourneyControlData">
		<xsd:annotation>
			<xsd:documentation>Flights from an existing itinerary (active PNR) to allow journey control</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="JCDFlight" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="JCDFlight">
		<xsd:annotation>
			<xsd:documentation>Flight group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="JCDDeparture"/>
				<xsd:element ref="JCDArrival"/>
				<xsd:element ref="JCDDate"/>
				<xsd:element ref="Carrier"/>
				<xsd:element ref="ClassOfService"/>
				<xsd:element ref="ActionCode" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>This a standard defined action code used by different airlines and reservation systems.   
Example: HK</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="NumberOfStops" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute ref="Source"/>
			<xsd:attribute name="Type" use="optional">
				<xsd:annotation>
					<xsd:documentation>Optional flight type.  This is used to specify passive or open segments.  Values are:
P = Passive
O = Open
S = Service (passive info segment, supported on Worldspan as TVL and Amadeus as service segment).

If tyoe is set to O(Open segment) then departure date/time, arrival date/time and flight number don't have to be set.

Example: P</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="P"/>
						<xsd:enumeration value="O"/>
						<xsd:enumeration value="S"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="CnxxIndicator" use="optional">
				<xsd:annotation>
					<xsd:documentation>Connection indicator.  Example: Y = Yes, N = No</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="Y"/>
						<xsd:enumeration value="N"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="MarriedSegment" use="optional">
				<xsd:annotation>
					<xsd:documentation>Married connection indicator.  Values:
B = Start of a group of married segments
E = End of a group of married segments</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="B"/>
						<xsd:enumeration value="E"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="JCDDeparture">
		<xsd:annotation>
			<xsd:documentation>Origin departure group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="CityCode">
					<xsd:annotation>
						<xsd:documentation>Origin or destination city code.  </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="JCDArrival">
		<xsd:annotation>
			<xsd:documentation>Destination group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="CityCode">
					<xsd:annotation>
						<xsd:documentation>Origin or destination city code.  </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CityCode">
		<xsd:annotation>
			<xsd:documentation>Origin or destination city code.  City where sale takes place or city where ticket will be issued.  Example: PAR</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="3"/>
				<xsd:maxLength value="3"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="JCDDate">
		<xsd:annotation>
			<xsd:documentation>Specifies departure date in ISO 8601 format (yyyy-mm-dd).  Example: 2001-12-25</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:date">
					<xsd:attribute name="Qualifier" use="optional" default="DEPARTURE">
						<xsd:annotation>
							<xsd:documentation>Specifies whether the entered date represents a departure or arrival date.

Values:
"ARRIVAL" "DEPARTURE"</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="DEPARTURE"/>
								<xsd:enumeration value="ARRIVAL"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Restrictions">
		<xsd:annotation>
			<xsd:documentation>Pricing Restriction group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="Advance" use="optional" default="Y">
				<xsd:annotation>
					<xsd:documentation>Y = Allow advance Purchase with fare
N = Don't Allow advance Purchase with fare
Default: Y</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="Y"/>
						<xsd:enumeration value="N"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="Penalty" use="optional" default="Y">
				<xsd:annotation>
					<xsd:documentation>Y = Allow penalties with fare
N = Don't Allow penalties with fare
Default: Y</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="Y"/>
						<xsd:enumeration value="N"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CountryCode">
		<xsd:annotation>
			<xsd:documentation>Country where sale takes place or Ticket issuing country. Example: US</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="2"/>
				<xsd:minLength value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ValidatingCarrier">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:length value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="PricingInfo">
		<xsd:annotation>
			<xsd:documentation>Fare Qualifier group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Restrictions" minOccurs="0"/>
				<xsd:element ref="ValidatingCarrier" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Allows to specify the validating carrier for pricing. Example: DL</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="TaxExemption" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Allows to exempt tax(es) by different criteria</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="TaxCode" minOccurs="0" maxOccurs="unbounded">
								<xsd:annotation>
									<xsd:documentation>Exemption is based on identified tax codes plus (optional) tax types within a tax code</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Designator">
											<xsd:annotation>
												<xsd:documentation>Identifies the Tax Code to be exempt, e.g. AY</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string">
														<xsd:attribute name="CollectionPoint">
															<xsd:annotation>
																<xsd:documentation>3-letter airport code to identify the exemption of a  ZP or XF tax for this location</xsd:documentation>
															</xsd:annotation>
														</xsd:attribute>
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="TaxType" minOccurs="0" maxOccurs="unbounded">
											<xsd:annotation>
												<xsd:documentation>Identifies the tax type(s) within the tax code

Example: SE, TR</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element ref="CountryCode" minOccurs="0" maxOccurs="unbounded">
								<xsd:annotation>
									<xsd:documentation>Exemption based on country code(s).</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="ProvinceCode" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Used in Canadian market.  Exemption is based on provinces</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="GovernmentBody" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Used in Canadian market.  Freeflow entity name must be provided for ceratin exemptions</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
						<xsd:attribute name="ExemptALL">
							<xsd:annotation>
								<xsd:documentation>Exempt from all taxes

Values allowed:
N = (default)
Y = exempt of all taxes</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="PrivateFares" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Qualifying IDs for negotiated services</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref="Office" maxOccurs="unbounded"/>
							<xsd:element ref="Corporate" minOccurs="0" maxOccurs="unbounded"/>
							<xsd:element ref="PromoCodes" minOccurs="0" maxOccurs="unbounded"/>
							<xsd:element name="LoyaltyPrograms" minOccurs="0" maxOccurs="unbounded">
								<xsd:annotation>
									<xsd:documentation>Loyalty Program data</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="LoyaltyMemberID">
											<xsd:annotation>
												<xsd:documentation>Membership number </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="Name">
											<xsd:annotation>
												<xsd:documentation>Individual Program name</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element ref="AirlineCode">
											<xsd:annotation>
												<xsd:documentation>Airline code of the airline offering this Loyaty Program</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="ImageSupport">
				<xsd:annotation>
					<xsd:documentation>Client application must indicate if application supports full images or image ids for this request.

Possible values:
IMG = client request the return of full images (in base64 code) in the response message.
ID = client requests only the image ID(s) in the response (and is utilizing the message ImageRQ/RS for subsequent retrieval of the image(s) itself.
BLANK (default) - if left blank no images nor image ids are returned

Example: ID</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PromoCodes">
		<xsd:annotation>
			<xsd:documentation>Corporate info group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="AirlineCode" minOccurs="0"/>
				<xsd:element name="PromoCode">
					<xsd:annotation>
						<xsd:documentation>Code ID / Number</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Account">
		<xsd:annotation>
			<xsd:documentation>Specifies the corporate account number to use to price private fares.  Example: 12345</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string"/>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Contract" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Specifies the contract code, to use to price private fares.  Example: 00001</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Office">
		<xsd:annotation>
			<xsd:documentation>Pseudo city under which private fares are stored.  Example: 18C6</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="Type">
						<xsd:annotation>
							<xsd:documentation>Future use.
Identifies if Office value is a PCC or IATA agency code/ID. Default is PCC.
Example: PCC</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="PCC"/>
								<xsd:enumeration value="IATA"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Corporate">
		<xsd:annotation>
			<xsd:documentation>Corporate info group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="AirlineCode" minOccurs="0"/>
				<xsd:element ref="Account" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Specifies the corporate account number to use to price seat premiums.  Example: IBM or 675124</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="Contract" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Specifies the contract code, to use to price seat premiums.  Example: 00001</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SaleInfo">
		<xsd:annotation>
			<xsd:documentation>Point of Sale information</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="CityCode" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Point of Sale City Code 
Example: BOS</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="CountryCode" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Point of Sale Country Code 
Example: US</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="CurrencyCode" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Point of Sale Currency Code
Example: USD</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="Identification" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
