ModelDrivenNode/schema/axis/TicketEMDIssueRQ.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:element name="TicketEMDIssueRQ">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="TicketIssueRQ">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:choice>
								<xsd:annotation>
									<xsd:documentation>Every single branch in this choice has to clearly identify a particular FareGroup in the PNR. Ticketing without a matching FareGroup is not supported.</xsd:documentation>
								</xsd:annotation>
								<xsd:element ref="TravelerReq"/>
								<xsd:element name="ExchangeReq">
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element name="TktExchangeRequest">
												<xsd:complexType>
													<xsd:attribute name="ExchangeReqNumber" type="xsd:string" use="required">
														<xsd:annotation>
															<xsd:documentation>The number of the exchange request to be ticketed as returned by TicketExchangeRS</xsd:documentation>
														</xsd:annotation>
													</xsd:attribute>
													<xsd:attribute name="OriginalTicketNumber" type="xsd:string" use="required">
														<xsd:annotation>
															<xsd:documentation>The 13 digt ticket number of the ticket to be refunded.
Example: 0012345467891</xsd:documentation>
														</xsd:annotation>
													</xsd:attribute>
												</xsd:complexType>
											</xsd:element>
										</xsd:sequence>
										<xsd:attribute ref="Source">
											<xsd:annotation>
												<xsd:documentation>Identifies the source to process this request.  

Example: AA, LH, or other. </xsd:documentation>
											</xsd:annotation>
										</xsd:attribute>
									</xsd:complexType>
								</xsd:element>
							</xsd:choice>
							<xsd:element ref="RecordLocator">
								<xsd:annotation>
									<xsd:documentation>The record locator of the PNR for which the ticket(s) are to be issued.
Example: XQ23AX</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="QualifierGroup" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Data sent in the QualifierGroup supplements or overwrites the content of the PNR, depending on the PNR already containing the respective data or not.</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Commission" minOccurs="0">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string">
														<xsd:attribute name="Type" type="xsd:string" use="required">
															<xsd:annotation>
																<xsd:documentation>Commission type.  Values are: P = Percent, A = Amount  Example: A</xsd:documentation>
															</xsd:annotation>
														</xsd:attribute>
														<xsd:attribute name="NumberOfDecimals" type="xsd:nonNegativeInteger">
															<xsd:annotation>
																<xsd:documentation>Number of decimals for amount value.</xsd:documentation>
															</xsd:annotation>
														</xsd:attribute>
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="ValidatingCarrier" minOccurs="0">
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:minLength value="1"/>
													<xsd:maxLength value="2"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="FormOfPayment" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Form of Payment Group</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:choice>
													<xsd:element name="CreditCard">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="CCCode" type="xsd:string">
																	<xsd:annotation>
																		<xsd:documentation>Credit card code.  Example: VI</xsd:documentation>
																	</xsd:annotation>
																</xsd:element>
																<xsd:element name="CCNumber" type="xsd:long">
																	<xsd:annotation>
																		<xsd:documentation>Credit card number.  Example: 4444333322221111</xsd:documentation>
																	</xsd:annotation>
																</xsd:element>
																<xsd:element name="CCExpiration">
																	<xsd:annotation>
																		<xsd:documentation>Credit card expiration group</xsd:documentation>
																	</xsd:annotation>
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="Month" type="xsd:int">
																				<xsd:annotation>
																					<xsd:documentation>Month in format MM</xsd:documentation>
																				</xsd:annotation>
																			</xsd:element>
																			<xsd:element name="Year" type="xsd:int">
																				<xsd:annotation>
																					<xsd:documentation>Year in format YY</xsd:documentation>
																				</xsd:annotation>
																			</xsd:element>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="ReportingData" minOccurs="0">
																	<xsd:annotation>
																		<xsd:documentation>Data  Elements required by certain card issuers for report purposes</xsd:documentation>
																	</xsd:annotation>
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="AccountNumber" minOccurs="0">
																				<xsd:annotation>
																					<xsd:documentation>Corporation's account number</xsd:documentation>
																				</xsd:annotation>
																				<xsd:complexType>
																					<xsd:simpleContent>
																						<xsd:extension base="xsd:string">
																							<xsd:attribute name="Min">
																								<xsd:annotation>
																									<xsd:documentation>minimum length</xsd:documentation>
																								</xsd:annotation>
																							</xsd:attribute>
																							<xsd:attribute name="Max">
																								<xsd:annotation>
																									<xsd:documentation>maximum length</xsd:documentation>
																								</xsd:annotation>
																							</xsd:attribute>
																							<xsd:attribute name="Format">
																								<xsd:annotation>
																									<xsd:documentation>A - alphanumeric (default)
N - numeric
D - ISO date format</xsd:documentation>
																								</xsd:annotation>
																							</xsd:attribute>
																							<xsd:attribute name="Mandatory">
																								<xsd:annotation>
																									<xsd:documentation>O - optional (default)
M - mandatory</xsd:documentation>
																								</xsd:annotation>
																							</xsd:attribute>
																							<xsd:attribute name="DataElementID" use="required">
																								<xsd:annotation>
																									<xsd:documentation>Vendor code assigned to this reporting element
Example:  BK</xsd:documentation>
																								</xsd:annotation>
																							</xsd:attribute>
																							<xsd:attribute name="DataElementName" use="required">
																								<xsd:annotation>
																									<xsd:documentation>Vendor element name assigned to this reporting element
Example:  Corperate ID</xsd:documentation>
																								</xsd:annotation>
																							</xsd:attribute>
																						</xsd:extension>
																					</xsd:simpleContent>
																				</xsd:complexType>
																			</xsd:element>
																			<xsd:element name="CostCenter" minOccurs="0">
																				<xsd:annotation>
																					<xsd:documentation>Cost center number/code</xsd:documentation>
																				</xsd:annotation>
																				<xsd:complexType>
																					<xsd:simpleContent>
																						<xsd:extension base="xsd:string">
																							<xsd:attribute name="Min">
																								<xsd:annotation>
																									<xsd:documentation>minimum length</xsd:documentation>
																								</xsd:annotation>
																							</xsd:attribute>
																							<xsd:attribute name="Max">
																								<xsd:annotation>
																									<xsd:documentation>maximum length</xsd:documentation>
																								</xsd:annotation>
																							</xsd:attribute>
																							<xsd:attribute name="Format">
																								<xsd:annotation>
																									<xsd:documentation>A - alphanumeric (default)
N - numeric
D - ISO date format</xsd:documentation>
																								</xsd:annotation>
																							</xsd:attribute>
																							<xsd:attribute name="Mandatory">
																								<xsd:annotation>
																									<xsd:documentation>O - optional (default)
M - mandatory</xsd:documentation>
																								</xsd:annotation>
																							</xsd:attribute>
																							<xsd:attribute name="DataElementID" use="required">
																								<xsd:annotation>
																									<xsd:documentation>Vendor code assigned to this reporting element
Example:  BK</xsd:documentation>
																								</xsd:annotation>
																							</xsd:attribute>
																							<xsd:attribute name="DataElementName" use="required">
																								<xsd:annotation>
																									<xsd:documentation>Vendor element name assigned to this reporting element
Example:  Corperate ID</xsd:documentation>
																								</xsd:annotation>
																							</xsd:attribute>
																						</xsd:extension>
																					</xsd:simpleContent>
																				</xsd:complexType>
																			</xsd:element>
																			<xsd:element name="Department" minOccurs="0">
																				<xsd:annotation>
																					<xsd:documentation>Department description  for this Traveler in this association.
Example: Marketing</xsd:documentation>
																				</xsd:annotation>
																				<xsd:complexType>
																					<xsd:simpleContent>
																						<xsd:extension base="xsd:string">
																							<xsd:attribute name="Min">
																								<xsd:annotation>
																									<xsd:documentation>minimum length</xsd:documentation>
																								</xsd:annotation>
																							</xsd:attribute>
																							<xsd:attribute name="Max">
																								<xsd:annotation>
																									<xsd:documentation>maximum length</xsd:documentation>
																								</xsd:annotation>
																							</xsd:attribute>
																							<xsd:attribute name="Format">
																								<xsd:annotation>
																									<xsd:documentation>A - alphanumeric (default)
N - numeric
D - ISO date format</xsd:documentation>
																								</xsd:annotation>
																							</xsd:attribute>
																							<xsd:attribute name="Mandatory">
																								<xsd:annotation>
																									<xsd:documentation>O - optional (default)
M - mandatory</xsd:documentation>
																								</xsd:annotation>
																							</xsd:attribute>
																							<xsd:attribute name="DataElementID" use="required">
																								<xsd:annotation>
																									<xsd:documentation>Vendor code assigned to this reporting element
Example:  BK</xsd:documentation>
																								</xsd:annotation>
																							</xsd:attribute>
																							<xsd:attribute name="DataElementName" use="required">
																								<xsd:annotation>
																									<xsd:documentation>Vendor element name assigned to this reporting element
Example:  Corperate ID</xsd:documentation>
																								</xsd:annotation>
																							</xsd:attribute>
																						</xsd:extension>
																					</xsd:simpleContent>
																				</xsd:complexType>
																			</xsd:element>
																			<xsd:element name="EmployeeID" minOccurs="0">
																				<xsd:annotation>
																					<xsd:documentation>EmployeeID of traveler for this association.
Example 476254</xsd:documentation>
																				</xsd:annotation>
																				<xsd:complexType>
																					<xsd:simpleContent>
																						<xsd:extension base="xsd:string">
																							<xsd:attribute name="Min">
																								<xsd:annotation>
																									<xsd:documentation>minimum length</xsd:documentation>
																								</xsd:annotation>
																							</xsd:attribute>
																							<xsd:attribute name="Max">
																								<xsd:annotation>
																									<xsd:documentation>maximum length</xsd:documentation>
																								</xsd:annotation>
																							</xsd:attribute>
																							<xsd:attribute name="Format">
																								<xsd:annotation>
																									<xsd:documentation>A - alphanumeric (default)
N - numeric
D - ISO date format</xsd:documentation>
																								</xsd:annotation>
																							</xsd:attribute>
																							<xsd:attribute name="Mandatory">
																								<xsd:annotation>
																									<xsd:documentation>O - optional (default)
M - mandatory</xsd:documentation>
																								</xsd:annotation>
																							</xsd:attribute>
																							<xsd:attribute name="DataElementID" use="required">
																								<xsd:annotation>
																									<xsd:documentation>Vendor code assigned to this reporting element
Example:  BK</xsd:documentation>
																								</xsd:annotation>
																							</xsd:attribute>
																							<xsd:attribute name="DataElementName" use="required">
																								<xsd:annotation>
																									<xsd:documentation>Vendor element name assigned to this reporting element
Example:  Corperate ID</xsd:documentation>
																								</xsd:annotation>
																							</xsd:attribute>
																						</xsd:extension>
																					</xsd:simpleContent>
																				</xsd:complexType>
																			</xsd:element>
																			<xsd:element name="GenericElement" minOccurs="0" maxOccurs="unbounded">
																				<xsd:annotation>
																					<xsd:documentation>These are elements provided by CC vendor and could include elements such as
- ProjectNumber
- AccountingUnit
- ActionNumber
- DepartingDate
- FinalDestination

Above sample reflects data elements from UATP/Airplus requirements</xsd:documentation>
																				</xsd:annotation>
																				<xsd:complexType>
																					<xsd:simpleContent>
																						<xsd:extension base="xsd:string">
																							<xsd:attribute name="Min">
																								<xsd:annotation>
																									<xsd:documentation>minimum length</xsd:documentation>
																								</xsd:annotation>
																							</xsd:attribute>
																							<xsd:attribute name="Max">
																								<xsd:annotation>
																									<xsd:documentation>maximum length</xsd:documentation>
																								</xsd:annotation>
																							</xsd:attribute>
																							<xsd:attribute name="Format">
																								<xsd:annotation>
																									<xsd:documentation>A - alphanumeric (default)
N - numeric
D - ISO date format</xsd:documentation>
																								</xsd:annotation>
																							</xsd:attribute>
																							<xsd:attribute name="Mandatory">
																								<xsd:annotation>
																									<xsd:documentation>O - optional (default)
M - mandatory</xsd:documentation>
																								</xsd:annotation>
																							</xsd:attribute>
																							<xsd:attribute name="DataElementID" use="required">
																								<xsd:annotation>
																									<xsd:documentation>Vendor code assigned to this reporting element
Example:  PN</xsd:documentation>
																								</xsd:annotation>
																							</xsd:attribute>
																							<xsd:attribute name="DataElementName" use="required">
																								<xsd:annotation>
																									<xsd:documentation>Vendor element name assigned to this reporting element
Example:  Project Number</xsd:documentation>
																								</xsd:annotation>
																							</xsd:attribute>
																							<xsd:attribute name="SystemProcess">
																								<xsd:annotation>
																									<xsd:documentation>Allowed value: Y
If set this identifies that this data content for this element is system generated (not provide by user input or profiles)</xsd:documentation>
																								</xsd:annotation>
																							</xsd:attribute>
																						</xsd:extension>
																					</xsd:simpleContent>
																				</xsd:complexType>
																			</xsd:element>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="ApprovalCode" type="xsd:string" minOccurs="0">
																	<xsd:annotation>
																		<xsd:documentation>Creditcard approval code.
Example: 12345</xsd:documentation>
																	</xsd:annotation>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="Other" type="xsd:string">
														<xsd:annotation>
															<xsd:documentation>Other payment information.  Example: CHECK, CASH</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
												</xsd:choice>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="ExchangeDocuments" minOccurs="0" maxOccurs="unbounded">
											<xsd:annotation>
												<xsd:documentation>Data for exchange document(s) to 
(a) be applied as partial or full FOP or 
(b) be applied for services such as upgrades, priority boarding, etc. 
(c) be applied to support discounted fare
and to be processed as an "Exchange transaction".  Typical document types: 
-- (residual value) MCO
-- (residual value) EMD-S
-- Airline Voucher
-- Paper or eCertificates
-- Creditshells from PNR</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="TravelerElementNumber">
														<xsd:annotation>
															<xsd:documentation>PNR traveler element number.
Example: 1</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													<xsd:choice minOccurs="0">
														<xsd:annotation>
															<xsd:documentation>One of these references are  needed in case more than one fare group is requested for ticketing</xsd:documentation>
														</xsd:annotation>
														<xsd:element name="SegmentElementNumber" maxOccurs="unbounded">
															<xsd:annotation>
																<xsd:documentation>PNR segment (flight) element number.  
Example: 1</xsd:documentation>
															</xsd:annotation>
														</xsd:element>
														<xsd:element name="StoredFareNumber">
															<xsd:annotation>
																<xsd:documentation>Number of FareGroup in PNR to be used for ticketing. Example: 2</xsd:documentation>
															</xsd:annotation>
														</xsd:element>
													</xsd:choice>
													<xsd:element name="DocumentDetails" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="CreditAmount" minOccurs="0">
																	<xsd:annotation>
																		<xsd:documentation>MANDATORY if document is to be applied as a credit towards the ticket total amount.

Not applicable for any other type of documents such as certificates to grant an upgrade, priority boarding, lounge access or to support a discount applied to the ticketed fare.</xsd:documentation>
																	</xsd:annotation>
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element ref="CurrencyCode"/>
																			<xsd:element name="DocAmount">
																				<xsd:annotation>
																					<xsd:documentation>The current CREDIT balance of this document</xsd:documentation>
																				</xsd:annotation>
																			</xsd:element>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
																<xsd:choice>
																	<xsd:sequence>
																		<xsd:element name="DocNumber">
																			<xsd:annotation>
																				<xsd:documentation>The 13-digit document number (no check digit) of an 'accountable' document such as eCert, voucher, MCO, EMD, etc
Example: 0061234567890</xsd:documentation>
																			</xsd:annotation>
																		</xsd:element>
																		<xsd:element name="DocIssuePlace" type="xsd:string">
																			<xsd:annotation>
																				<xsd:documentation>Three letter IATA code of the town where the ticket originally has been issued.
Example: MIA</xsd:documentation>
																			</xsd:annotation>
																		</xsd:element>
																		<xsd:element name="DocIssueDate" type="xsd:date">
																			<xsd:annotation>
																				<xsd:documentation>Date in ISO 8601 format (yyyy-mm-dd).  Example: 2001-12-25</xsd:documentation>
																			</xsd:annotation>
																		</xsd:element>
																	</xsd:sequence>
																	<xsd:element name="OtherReference">
																		<xsd:annotation>
																			<xsd:documentation>This may be a "credit shell"  reference, booking or PNR reference based on what the airline supports
Sample: 
HG5TYH
078945613</xsd:documentation>
																		</xsd:annotation>
																	</xsd:element>
																</xsd:choice>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="EMDIssueRQ">
					<xsd:annotation>
						<xsd:documentation>Root element to issue an EMD (Electronic Miscellaneous Document).

See annotation of attribute "EMDType" for type explanation.

Note: Each EMD-A document may have up to 4 value coupons and up to 4 consecutive EMD document numbers can be issued as a conjunctive set.

An EMD-S has a single coupon number (just like a paper MCO)

As of Jan 2009 Split Form of Payment IS NOT planned to be supported for an EMD</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref="RecordLocator">
								<xsd:annotation>
									<xsd:documentation>PNR record locator from where this EMD is issued from.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="SettlementAuthority" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Settlement Information, this data has to come from the ACL data of issuing PCC</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Entity">
											<xsd:annotation>
												<xsd:documentation>Settlement authority this EMD is to be reported to. 

Allowed values:
ARC
BSP
DIR - requires Airline
OTH - for unique other

Note: Value 'OTH' may be used in non-BSP/non-ARC markets

Example: ARC</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="Airline" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>The 2-character airline code of the carrier this EMD is directly settled with.  

This is NOT necessarily identical to the 'ValidatingCarrier'. 

This option is used when 'Entity' value = DIR.

Example: AA</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Traveler" maxOccurs="unbounded">
								<xsd:annotation>
									<xsd:documentation>Options to be issued are grouped by traveler and unique FOP</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="TravelerElementNumber">
											<xsd:annotation>
												<xsd:documentation>Traveler(s) selected by their PNR element number for EMD issuance

Example: 1</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="ServiceElement" maxOccurs="unbounded">
											<xsd:annotation>
												<xsd:documentation>PNR element numbers of the services/options to be issued with this EMD.

NOTE: the services listed here may have different ReasonCodes. Any EMD must be grouped by (a) Method and (b) ReasonCode and can only be issued for one traveler.</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="ElementNumber">
														<xsd:annotation>
															<xsd:documentation>The element number for this service in the PNR</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													<xsd:element name="TicketNumber" minOccurs="0">
														<xsd:annotation>
															<xsd:documentation>13-digit ticket number.  If part of a conjunctive set this is the actual number within the set.

EMD-S: can be associated 
EMD-A: must be assocaited

In this API this value can not be provided by the client application and must be augmented by backend processing prior to issuing the EMD(s)</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													<xsd:element name="CouponNumber" minOccurs="0" maxOccurs="4">
														<xsd:annotation>
															<xsd:documentation>The single digit coupon number of the ticket image associated to this service.

EMD-A: single coupon association mandatory, no multiple coupons can be associated to an EMD-A.

Depending on the service, the EMD-S may not have any association to a coupon, may have a single association or may even have multiple coupon associations.

In this API this value can not be provided by the client application and must be augmented by backend processing prior to issuing the EMD(s)</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
												</xsd:sequence>
												<xsd:attribute ref="Source" use="required">
													<xsd:annotation>
														<xsd:documentation>Identifies the source where this request is to be dispatched to. 

Source maybe a GDS or DC (direct connect) airline.

Example: 1A, 1V, or other AA, EK </xsd:documentation>
													</xsd:annotation>
												</xsd:attribute>
												<xsd:attribute ref="SourceRef" use="required"/>
												<xsd:attribute ref="TrxRefKey" use="required"/>
												<xsd:attribute name="Method" use="required">
													<xsd:annotation>
														<xsd:documentation>Values are:

F = FareIntegrated
EA = EMD Associated
ES = EMD Standalone 
MA = Flight Associated but settled via MCO
MS = Standalone but settle via MCO
D = DirectSettlement</xsd:documentation>
													</xsd:annotation>
													<xsd:simpleType>
														<xsd:restriction base="xsd:string">
															<xsd:enumeration value="F"/>
															<xsd:enumeration value="EA"/>
															<xsd:enumeration value="MA"/>
															<xsd:enumeration value="ES"/>
															<xsd:enumeration value="MS"/>
															<xsd:enumeration value="D"/>
														</xsd:restriction>
													</xsd:simpleType>
												</xsd:attribute>
												<xsd:attribute name="ReasonCode" use="required">
													<xsd:annotation>
														<xsd:documentation>IATA RFIC (ReasonFor IssuanceCode, a 1-character main code)
Example of RFIC: A  

Note: Only services of same RFIC code can be combined on an EMD-A document.  For example, if there are services of RFIC code "A" and "B", two separate EMD documents are needed, issuing all services of "A" and "B" on seperate docs.</xsd:documentation>
													</xsd:annotation>
												</xsd:attribute>
												<xsd:attribute name="SubCode" use="required">
													<xsd:annotation>
														<xsd:documentation>ATPCO RFIS (ReasonForIssuance  Subcode).
Example of RFIS: 0CC  </xsd:documentation>
													</xsd:annotation>
												</xsd:attribute>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="TicketReference" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>The ticket reference for this EMD.  This is NOT the association mandatory for EMD-As which is to be mapped to the TicketNumber element at the ServiceElement level

13-digit ticket number.  In case of conjunctive set this is the first (primary) ticket number of the set.</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType/>
										</xsd:element>
										<xsd:element name="FormOfPayment" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Note: Form of Payment is mandatory when @MonetaryType value = "DEBIT" (settling charges)</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:sequence>
													<xsd:annotation>
														<xsd:documentation>Note ---
Not supported functionality:
Split FOP 
Extended CC payment</xsd:documentation>
													</xsd:annotation>
													<xsd:choice>
														<xsd:element name="CreditCard">
															<xsd:annotation>
																<xsd:documentation>Credit card group</xsd:documentation>
															</xsd:annotation>
															<xsd:complexType>
																<xsd:sequence>
																	<xsd:element name="CCCode">
																		<xsd:annotation>
																			<xsd:documentation>Credit card code.  Example: VI</xsd:documentation>
																		</xsd:annotation>
																		<xsd:simpleType>
																			<xsd:restriction base="xsd:string">
																				<xsd:length value="2"/>
																			</xsd:restriction>
																		</xsd:simpleType>
																	</xsd:element>
																	<xsd:element name="CCNumber" type="xsd:string">
																		<xsd:annotation>
																			<xsd:documentation>Credit card number.  Example: 4011236654652341</xsd:documentation>
																		</xsd:annotation>
																	</xsd:element>
																	<xsd:element name="CCExpiration">
																		<xsd:annotation>
																			<xsd:documentation>Credit card expiration group</xsd:documentation>
																		</xsd:annotation>
																		<xsd:complexType>
																			<xsd:sequence>
																				<xsd:element name="Month">
																					<xsd:annotation>
																						<xsd:documentation>Credit card expiration month.  Example: 02</xsd:documentation>
																					</xsd:annotation>
																					<xsd:simpleType>
																						<xsd:restriction base="xsd:string">
																							<xsd:length value="2"/>
																							<xsd:pattern value="0[1-9]|1[012]"/>
																						</xsd:restriction>
																					</xsd:simpleType>
																				</xsd:element>
																				<xsd:element name="Year">
																					<xsd:annotation>
																						<xsd:documentation>Last two digits of the credit card expiration year.  Example: 06</xsd:documentation>
																					</xsd:annotation>
																					<xsd:simpleType>
																						<xsd:restriction base="xsd:string">
																							<xsd:length value="2"/>
																							<xsd:pattern value="[0-9][0-9]"/>
																						</xsd:restriction>
																					</xsd:simpleType>
																				</xsd:element>
																			</xsd:sequence>
																		</xsd:complexType>
																	</xsd:element>
																	<xsd:element name="SecurityID" type="xsd:string" minOccurs="0">
																		<xsd:annotation>
																			<xsd:documentation>Credit card security number for online transactions (referred to also as CVV2, CVC2, CSC or CID). This is a 3-digit (Visa, Master, Discover) or 4-digit (Amex) number.</xsd:documentation>
																		</xsd:annotation>
																	</xsd:element>
																	<xsd:element name="ReportingData" minOccurs="0">
																		<xsd:annotation>
																			<xsd:documentation>Data  Elements required by certain card issuers for report purposes</xsd:documentation>
																		</xsd:annotation>
																		<xsd:complexType>
																			<xsd:sequence>
																				<xsd:element name="AccountNumber" minOccurs="0">
																					<xsd:annotation>
																						<xsd:documentation>Corporation's account number</xsd:documentation>
																					</xsd:annotation>
																					<xsd:complexType>
																						<xsd:simpleContent>
																							<xsd:extension base="xsd:string">
																								<xsd:attribute name="Min">
																									<xsd:annotation>
																										<xsd:documentation>minimum length</xsd:documentation>
																									</xsd:annotation>
																								</xsd:attribute>
																								<xsd:attribute name="Max">
																									<xsd:annotation>
																										<xsd:documentation>maximum length</xsd:documentation>
																									</xsd:annotation>
																								</xsd:attribute>
																								<xsd:attribute name="Format">
																									<xsd:annotation>
																										<xsd:documentation>A - alphanumeric (default)
N - numeric
D - ISO date format</xsd:documentation>
																									</xsd:annotation>
																								</xsd:attribute>
																								<xsd:attribute name="Mandatory">
																									<xsd:annotation>
																										<xsd:documentation>O - optional (default)
M - mandatory</xsd:documentation>
																									</xsd:annotation>
																								</xsd:attribute>
																								<xsd:attribute name="DataElementID" use="required">
																									<xsd:annotation>
																										<xsd:documentation>Vendor code assigned to this reporting element
Example:  BK</xsd:documentation>
																									</xsd:annotation>
																								</xsd:attribute>
																								<xsd:attribute name="DataElementName" use="required">
																									<xsd:annotation>
																										<xsd:documentation>Vendor element name assigned to this reporting element
Example:  Corperate ID</xsd:documentation>
																									</xsd:annotation>
																								</xsd:attribute>
																							</xsd:extension>
																						</xsd:simpleContent>
																					</xsd:complexType>
																				</xsd:element>
																				<xsd:element name="CostCenter" minOccurs="0">
																					<xsd:annotation>
																						<xsd:documentation>Cost center number/code</xsd:documentation>
																					</xsd:annotation>
																					<xsd:complexType>
																						<xsd:simpleContent>
																							<xsd:extension base="xsd:string">
																								<xsd:attribute name="Min">
																									<xsd:annotation>
																										<xsd:documentation>minimum length</xsd:documentation>
																									</xsd:annotation>
																								</xsd:attribute>
																								<xsd:attribute name="Max">
																									<xsd:annotation>
																										<xsd:documentation>maximum length</xsd:documentation>
																									</xsd:annotation>
																								</xsd:attribute>
																								<xsd:attribute name="Format">
																									<xsd:annotation>
																										<xsd:documentation>A - alphanumeric (default)
N - numeric
D - ISO date format</xsd:documentation>
																									</xsd:annotation>
																								</xsd:attribute>
																								<xsd:attribute name="Mandatory">
																									<xsd:annotation>
																										<xsd:documentation>O - optional (default)
M - mandatory</xsd:documentation>
																									</xsd:annotation>
																								</xsd:attribute>
																								<xsd:attribute name="DataElementID" use="required">
																									<xsd:annotation>
																										<xsd:documentation>Vendor code assigned to this reporting element
Example:  BK</xsd:documentation>
																									</xsd:annotation>
																								</xsd:attribute>
																								<xsd:attribute name="DataElementName" use="required">
																									<xsd:annotation>
																										<xsd:documentation>Vendor element name assigned to this reporting element
Example:  Corperate ID</xsd:documentation>
																									</xsd:annotation>
																								</xsd:attribute>
																							</xsd:extension>
																						</xsd:simpleContent>
																					</xsd:complexType>
																				</xsd:element>
																				<xsd:element name="Department" minOccurs="0">
																					<xsd:annotation>
																						<xsd:documentation>Department description  for this Traveler in this association.
Example: Marketing</xsd:documentation>
																					</xsd:annotation>
																					<xsd:complexType>
																						<xsd:simpleContent>
																							<xsd:extension base="xsd:string">
																								<xsd:attribute name="Min">
																									<xsd:annotation>
																										<xsd:documentation>minimum length</xsd:documentation>
																									</xsd:annotation>
																								</xsd:attribute>
																								<xsd:attribute name="Max">
																									<xsd:annotation>
																										<xsd:documentation>maximum length</xsd:documentation>
																									</xsd:annotation>
																								</xsd:attribute>
																								<xsd:attribute name="Format">
																									<xsd:annotation>
																										<xsd:documentation>A - alphanumeric (default)
N - numeric
D - ISO date format</xsd:documentation>
																									</xsd:annotation>
																								</xsd:attribute>
																								<xsd:attribute name="Mandatory">
																									<xsd:annotation>
																										<xsd:documentation>O - optional (default)
M - mandatory</xsd:documentation>
																									</xsd:annotation>
																								</xsd:attribute>
																								<xsd:attribute name="DataElementID" use="required">
																									<xsd:annotation>
																										<xsd:documentation>Vendor code assigned to this reporting element
Example:  BK</xsd:documentation>
																									</xsd:annotation>
																								</xsd:attribute>
																								<xsd:attribute name="DataElementName" use="required">
																									<xsd:annotation>
																										<xsd:documentation>Vendor element name assigned to this reporting element
Example:  Corperate ID</xsd:documentation>
																									</xsd:annotation>
																								</xsd:attribute>
																							</xsd:extension>
																						</xsd:simpleContent>
																					</xsd:complexType>
																				</xsd:element>
																				<xsd:element name="EmployeeID" minOccurs="0">
																					<xsd:annotation>
																						<xsd:documentation>EmployeeID of traveler for this association.
Example 476254</xsd:documentation>
																					</xsd:annotation>
																					<xsd:complexType>
																						<xsd:simpleContent>
																							<xsd:extension base="xsd:string">
																								<xsd:attribute name="Min">
																									<xsd:annotation>
																										<xsd:documentation>minimum length</xsd:documentation>
																									</xsd:annotation>
																								</xsd:attribute>
																								<xsd:attribute name="Max">
																									<xsd:annotation>
																										<xsd:documentation>maximum length</xsd:documentation>
																									</xsd:annotation>
																								</xsd:attribute>
																								<xsd:attribute name="Format">
																									<xsd:annotation>
																										<xsd:documentation>A - alphanumeric (default)
N - numeric
D - ISO date format</xsd:documentation>
																									</xsd:annotation>
																								</xsd:attribute>
																								<xsd:attribute name="Mandatory">
																									<xsd:annotation>
																										<xsd:documentation>O - optional (default)
M - mandatory</xsd:documentation>
																									</xsd:annotation>
																								</xsd:attribute>
																								<xsd:attribute name="DataElementID" use="required">
																									<xsd:annotation>
																										<xsd:documentation>Vendor code assigned to this reporting element
Example:  BK</xsd:documentation>
																									</xsd:annotation>
																								</xsd:attribute>
																								<xsd:attribute name="DataElementName" use="required">
																									<xsd:annotation>
																										<xsd:documentation>Vendor element name assigned to this reporting element
Example:  Corperate ID</xsd:documentation>
																									</xsd:annotation>
																								</xsd:attribute>
																							</xsd:extension>
																						</xsd:simpleContent>
																					</xsd:complexType>
																				</xsd:element>
																				<xsd:element name="GenericElement" minOccurs="0" maxOccurs="unbounded">
																					<xsd:annotation>
																						<xsd:documentation>These are elements provided by CC vendor and could include elements such as
- ProjectNumber
- AccountingUnit
- ActionNumber
- DepartingDate
- FinalDestination

Above sample reflects data elements from UATP/Airplus requirements</xsd:documentation>
																					</xsd:annotation>
																					<xsd:complexType>
																						<xsd:simpleContent>
																							<xsd:extension base="xsd:string">
																								<xsd:attribute name="Min">
																									<xsd:annotation>
																										<xsd:documentation>minimum length</xsd:documentation>
																									</xsd:annotation>
																								</xsd:attribute>
																								<xsd:attribute name="Max">
																									<xsd:annotation>
																										<xsd:documentation>maximum length</xsd:documentation>
																									</xsd:annotation>
																								</xsd:attribute>
																								<xsd:attribute name="Format">
																									<xsd:annotation>
																										<xsd:documentation>A - alphanumeric (default)
N - numeric
D - ISO date format</xsd:documentation>
																									</xsd:annotation>
																								</xsd:attribute>
																								<xsd:attribute name="Mandatory">
																									<xsd:annotation>
																										<xsd:documentation>O - optional (default)
M - mandatory</xsd:documentation>
																									</xsd:annotation>
																								</xsd:attribute>
																								<xsd:attribute name="DataElementID" use="required">
																									<xsd:annotation>
																										<xsd:documentation>Vendor code assigned to this reporting element
Example:  PN</xsd:documentation>
																									</xsd:annotation>
																								</xsd:attribute>
																								<xsd:attribute name="DataElementName" use="required">
																									<xsd:annotation>
																										<xsd:documentation>Vendor element name assigned to this reporting element
Example:  Project Number</xsd:documentation>
																									</xsd:annotation>
																								</xsd:attribute>
																								<xsd:attribute name="SystemProcess">
																									<xsd:annotation>
																										<xsd:documentation>Allowed value: Y
If set this identifies that this data content for this element is system generated (not provide by user input or profiles)</xsd:documentation>
																									</xsd:annotation>
																								</xsd:attribute>
																							</xsd:extension>
																						</xsd:simpleContent>
																					</xsd:complexType>
																				</xsd:element>
																			</xsd:sequence>
																		</xsd:complexType>
																	</xsd:element>
																	<xsd:element ref="Authorization" minOccurs="0"/>
																	<xsd:element name="CardholderFullName" minOccurs="0">
																		<xsd:annotation>
																			<xsd:documentation>Credit cardholder full name as it appears on the card</xsd:documentation>
																		</xsd:annotation>
																		<xsd:simpleType>
																			<xsd:restriction base="xsd:string">
																				<xsd:minLength value="1"/>
																			</xsd:restriction>
																		</xsd:simpleType>
																	</xsd:element>
																	<xsd:element name="ApprovalCode" type="xsd:string" minOccurs="0">
																		<xsd:annotation>
																			<xsd:documentation>Credit card approval code.  Example: 996456</xsd:documentation>
																		</xsd:annotation>
																	</xsd:element>
																	<xsd:element name="CCAddressGroup" minOccurs="0">
																		<xsd:complexType>
																			<xsd:sequence>
																				<xsd:element ref="Address" maxOccurs="2"/>
																				<xsd:element ref="City"/>
																				<xsd:element ref="PostalCode"/>
																				<xsd:element ref="StateCode" minOccurs="0"/>
																				<xsd:element ref="CountryCode">
																					<xsd:annotation>
																						<xsd:documentation>ISO Country code. This element is introduced as mandatory although GDS implementation will not require its presence until 30MAR2008.

Example: US</xsd:documentation>
																					</xsd:annotation>
																				</xsd:element>
																			</xsd:sequence>
																		</xsd:complexType>
																	</xsd:element>
																</xsd:sequence>
															</xsd:complexType>
														</xsd:element>
														<xsd:element name="Other">
															<xsd:annotation>
																<xsd:documentation>Other payment type. Possible values: CASH, CHECK.</xsd:documentation>
															</xsd:annotation>
															<xsd:simpleType>
																<xsd:restriction base="xsd:string">
																	<xsd:enumeration value="CASH"/>
																	<xsd:enumeration value="CHECK"/>
																	<xsd:enumeration value=""/>
																</xsd:restriction>
															</xsd:simpleType>
														</xsd:element>
													</xsd:choice>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="EndorsementAddOns" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Any traveler associated tax ID e.g. RUC/VAT can be provided here.  EMD processing will add these to the existing document level endorsements filed by the airline.  These 'Add Ons' will not replace existing endorsements.</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="Text" maxOccurs="unbounded">
														<xsd:annotation>
															<xsd:documentation>Text to be added to existing (document level) endorsement</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
						<xsd:attribute name="Version" type="xsd:string">
							<xsd:annotation>
								<xsd:documentation>Version of the message to be used.
Example: 2.2</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="MonetaryType" use="required">
							<xsd:annotation>
								<xsd:documentation>Characterizes this EMD as a DEBIT (charge to collect) or a CREDIT (i.e. credit for future air travel due to  residual value of an unused ticket) transaction

Note: 
EMD-S may be of type=CREDIT or DEBIT; 
EMD-A is always of type=DEBIT

Possible values:
DEBIT
CREDIT</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="Version" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Version number.
Example: 2.0</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:attribute name="TrxRefKey">
		<xsd:annotation>
			<xsd:documentation>Data binding reference key created for each supported PNR element such as "Services".

Generate standard 36 character GUID (example 540c2d5f-a9ab-4414-bd36-9999f5388773) and convert to base64 (example Xy0MVKupFES9NpmZ9TiHcw).  Result is unique 22 character key.</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
	<xsd:element name="FlightReq">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="TktFlight" maxOccurs="16">
					<xsd:annotation>
						<xsd:documentation>Flight to be ticketed.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TravelerReq">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="TktTraveler" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TktFlight">
		<xsd:annotation>
			<xsd:documentation>Flight to be ticketed. If ommited, request applies to all flights for the traveler.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="Element" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation>PNR flight element number. Example: 1</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TktTraveler">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="TktFlight" minOccurs="0" maxOccurs="16"/>
			</xsd:sequence>
			<xsd:attribute name="Element" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation>PNR traveler element number.Example: 1</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="ManualPricingInd" use="optional">
				<xsd:annotation>
					<xsd:documentation>In case of a manual fare, fare validation will not succeed and is omitted / the system response is ignored and ticket issued anyway.
Possible values: Y / N.
Example: N.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"/>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TravelerElementNumber">
		<xsd:annotation>
			<xsd:documentation>Element number of traveler associated to this item.  Example: 1</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string"/>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:attribute name="SourceRef">
		<xsd:annotation>
			<xsd:documentation>PNR Record Locator associated to Source attribute.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:attribute>
	<xsd:attribute name="Source">
		<xsd:annotation>
			<xsd:documentation>Identifies the source of this  element. In other words where the content originates from. Not limited to GDS, applicable to direct connect as well. Example: 1A, 1V, or other. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:attribute>
	<xsd:element name="RecordLocator" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>PNR record locator.  Example: R1A3SK</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Authorization">
		<xsd:annotation>
			<xsd:documentation>Credit card authorization.  Values are:
Y = Obtain credit card authorization and approval code
S = Obtain credit card authorization and approval code and store approval code in the PNR 
N = Do not obtain credit card authorization 
Example: N</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="Amount" type="xsd:positiveInteger">
						<xsd:annotation>
							<xsd:documentation>Amount approved for this credit card. 
Example: 1200</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="AirlineCode">
						<xsd:annotation>
							<xsd:documentation>Airline Code. 
Example: AA</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="2"/>
								<xsd:maxLength value="3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Address">
		<xsd:annotation>
			<xsd:documentation>Street or PO Box address.  Example: 1234 Main Street</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="City">
		<xsd:annotation>
			<xsd:documentation>City name.  Example: NY</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="PostalCode">
		<xsd:annotation>
			<xsd:documentation>Postal code or zip code.  Example: 12345</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="StateCode">
		<xsd:annotation>
			<xsd:documentation>State code.  Example: NY</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CountryCode">
		<xsd:annotation>
			<xsd:documentation>Country code.  Example: US</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="2"/>
				<xsd:minLength value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CurrencyCode">
		<xsd:annotation>
			<xsd:documentation>Currency code.  Example: USD</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="CurrencyCodeType">
					<xsd:pattern value="[A-Z0-9]{3}"/>
					<xsd:attribute name="NumberOfDecimals" type="xsd:integer" use="required">
						<xsd:annotation>
							<xsd:documentation>Decimal position in fare amount.  Example: 2</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="CurrencyCodeType">
		<xsd:annotation>
			<xsd:documentation>Defines currency code (ISO 3-letter code) and optional number of decimals. Not that for request messages the NumberOfDecimals has no effect and is not needed.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="NumberOfDecimals" type="xsd:integer" use="optional">
					<xsd:annotation>
						<xsd:documentation>Decimal position in fare amount.  Example: 2</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
</xsd:schema>
